<% title t("vendors.vendors") %>

<div id="enabled_vendors">
  <h3><%= t("vendors.enabled_vendors") %></h3>
  <%= @vendors.size.to_s %>
    <table>
      <tr>
        <th><%= t("general.name") %></th>
        <th><%= t("general.enable") %></th>
        <th></th>
        <th></th>
      </tr>

    <%= paginate @vendors %>
    <% @vendors.each do |vendor| %>
      <tr id='<%= vendor.id %>'>
        <td><%= link_to vendor.name, vendor %></td>
        <td><%= render "administrator/shared/toggle_fields", :item => vendor, :field => :enabled %></td>
        <td><%= link_to "", edit_vendor_path(vendor), :class => "modify_btn" %></td>
        <td><%= link_to "", vendor, :confirm => t("general.are_you_sure_to_delete"), :method => :delete, :class => "delete_btn" %></td>
      </tr>
    <% end %>
    </table>
</div>
<br />

<%= link_to t("general.new"),new_vendor_path, :class => "button" %>