<% title t("authentication.login")  %>
<% hide_quick_auth %>

<%= form_tag sessions_path do %>
    <div class="fl">
    <table>
        <tr>
            <th/>
            <th/>
        </tr>
        <tr>
            <td><%= label_tag t("authentication.email") %></td>
            <td><%= email_field_tag :email, params[:email] %></td>
        </tr>
        <tr>
            <td><%= label_tag t("authentication.password") %></td>
            <td><%= password_field_tag :password %></td>
        </tr>
        <tr>
            <td><%= check_box_tag "remember_me", 1, true %><%= t("authentication.remember_me") %></td>
        </tr>
        <tr>
            <td><%= submit_tag t("authentication.login"), :class => "button" %></td>
        </tr>
        <tr>
            <td><%= link_to t("authentication.sign_up"), sign_up_path %> | <%= link_to t("authentication.forgot_password"), new_password_reset_path %></td>
        </tr>
    </table>
     </div>
    <div class ="fr">
      <td><%= label_tag t("authentication.other_logins") %><br/></td>
      <div class="fl">

        <div class=" m5" ><%= link_to image_tag("third_party/sina_big.png", :border => 0, :alt => t("syncs.sites.sina")), "syncs/sina/new", :id => "login_via_sinablog" %></div>
        <div class=" m5" ><%= link_to image_tag("third_party/taobao_big.png", :border => 0, :alt => t("syncs.sites.taobao")), "syncs/taobao/new", :id => "login_via_taobao" %><br/></div>

        <div class=" m5" ><%= link_to image_tag("third_party/qq_big.png", :border => 0, :alt => t("syncs.sites.qq")), "syncs/qq/new", :id => "login_via_qqblog" %><br/></div>
        <div class=" m5" ><%= link_to image_tag("third_party/netease_big.png", :border => 0, :alt => t("syncs.sites.netease")), "syncs/netease/new", :id => "login_via_neteaseblog" %><br/></div>
      </div>
      <div class="fr">
        <div class=" m5" ><%= link_to image_tag("third_party/renren_big.png", :border => 0, :alt => t("syncs.sites.renren")), "syncs/renren/new", :id => "login_via_renren" %><br/></div>

        <div class=" m5" ><%= link_to image_tag("third_party/douban_big.png", :border => 0, :alt => t("syncs.sites.douban")), "syncs/douban/new", :id => "login_via_douban" %><br/></div>
        <div class=" m5" ><%= link_to image_tag("third_party/sohu_big.png", :border => 0, :alt => t("syncs.sites.sohu")), "syncs/sohu/new", :id => "login_via_sohublog" %><br/></div>
    </div>
    </div>

<% end %>
