<% title t("authentication.login"), false  %>
<% hide_quick_auth %>

<div class="grid_7">
    <%= form_tag sessions_path, id: "login_form" do %>
        <div>
            <%= label_tag :email, t_with_colon("authentication.email"), class: "trivial" %><br/>
            <%= email_field_tag :email, params[:email] %>
        </div>

        <div class="mt5">
            <%= label_tag :password, t_with_colon("authentication.password"), class: "trivial" %><br/>
            <%= password_field_tag :password %>
        </div>

        <div class="mt10">
            <%= check_box_tag "remember_me", 1, true %><span class="trivial"><%= t("authentication.remember_me") %></span>
        </div>

        <div class="mt5">
            <%= submit_tag t("authentication.login"), :class => "btn btn_login" %>
        </div>
        <div class="mt5">
            <%= link_to t("authentication.sign_up"), sign_up_path %> | <%= link_to t("authentication.forgot_password"), new_password_reset_path %>
        </div>
        </table>
    <% end %>
</div>


<div class="grid_5">
    <%= render "shared/third_party_login" %>
</div>
