<div class="clearfix">
  <div class="fl mr10">
    <%= link_to image_tag(feed.author.get_avatar(:thumb), width: "48", height: "48"), feed.author %>
  </div>
  <div class="fl">
    <p class="trivial">
      <%= time_ago_in_words(feed.created_at) + t("general.ago") %>
      <%= link_to feed.author.login_name, feed.author %> <%= t("feeds.operations.#{feed.target_operation}") %><%= t("feeds.types.#{feed.target_type}") %>:</p>
    <p><%= feed.content %></p>
    <% thumb_url = feed.picture_url(:thumb) %>
    <% if thumb_url.present? %>
        <p>
            <%= link_to image_tag(thumb_url, class: "img_frame"), feed.picture_url, rel: "facebox" %>
        </p>
    <% end %>
    <%= render "comments/mini_comment_fields", item_id: feed.target_id, item_type: feed.target_type %>
  </div>
</div>
<hr/>