<div class="clearfix">
  <div class="fl mr10">
    <%= link_to image_tag(feed.author.get_avatar(:thumb), border: 0, width: AVATAR_THUMB_WIDTH, height: AVATAR_THUMB_HEIGHT), feed.author %>
  </div>
  <div class="fl">
    <p class="trivial">
      <%= time_ago_in_words(feed.created_at) + t("general.ago") %>
      <%= link_to feed.author.screen_name, feed.author %> <%= t("feeds.operations.#{feed.target_operation}") %><%= t("feeds.types.#{feed.target_type}") %>:</p>
    <p><%= feed.content %></p>
    <p>
        <%= link_to (image_tag feed.picture_url(true), width: IMAGE_THUMB_WIDTH, height: IMAGE_THUMB_HEIGHT, class: "img_frame"), feed.picture_url(false), rel: "facebox" %>
    </p>
    <% if feed.author != current_user %>
        <p>
            <%= link_to t("comments.comment"), "/comments/new?item_id=#{feed.target_id}&item_type=#{feed.target_type}", class: "reply_comment_link" %>
            <div class="new_reply_comment" style="display:none">
                <%= form_tag url_for(:controller => "comments", :method => :post), :remote => true do %>
                    <%= hidden_field_tag :item_id, feed.target_id %>
                    <%= hidden_field_tag :item_type, feed.target_type %>
                    <%= text_area_tag :content, "", :maxlength => get_max_length(Comment, :content), :rows => 5, :class => "char_aware",
                    'data-comment_max_len' => get_max_length(Comment, :content) %>
                    <%= content_tag :span, "", :class => "char_counter" %>
                    <%= submit_tag t("comments.new"), :class => "button" %>
                <% end %>
            </div>
        </p>
    <% end %>
  </div>
</div>
<hr/>