<% title t("authentication.update_password") %>

<%= form_for @user, :url => password_reset_path(params[:id]) do |f| %>
  <%= render "shared/error_messages", :target => @user %>
  <table>
    <tr>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <td><%= f.label :password, t("authentication.password") %></td>
        <td><%= f.password_field :password %></td>
    </tr>
    <tr>
        <td><%= f.label :password_confirmation, t("authentication.password_confirmation") %></td>
        <td><%= f.password_field :password_confirmation %></td>
    </tr>
    <tr>
      <td><%= f.submit t("authentication.update_password"), :class => "button" %></td>
    </tr>
  </table>
<% end %>

