<% title t("tags.all") %>

<p>Total: <%= @tags.size %> tags.</p>
<div>
    <table>
      <tr>
        <th><%= t("general.name") %></th>
        <th></th>
        <th></th>
      </tr>

    <% @tags.each do |tag_with_weight| %>
      <tr>
        <td><%= link_to tag_with_weight[0], tag_search_index_path(:tags => tag_with_weight[0]) %></td>
        <td><%= tag_with_weight[1] %></td>
        <td><%= link_to t("general.delete"), administrator_tag_path(tag_with_weight[0]), :confirm => t("general.are_you_sure_to_delete"), :method => :delete %></td>
      </tr>
    <% end %>
    </table>
</div>