<h3><%= t("comments.all") %></h3>
<div id="comments">
    <%= nested_comments(item, patch_ancestry(item.comments.arrange(:order => :created_at))) %>
</div>

<% if current_user %>
    <b><%= t("comments.new") %></b><span class="trivial"><%= mark_required_length(Comment, :content) %></span><br/>
    <%= render "comments/new_comment", :item => item%>
<% end %>
