<div class="new_comment">
    <%= form_tag url_for(:controller => "comments", :method => :post), :remote => true do %>
      <%= hidden_field_tag :item_id, item.id %>
      <%= hidden_field_tag :item_type, item.class.name %>
      <%= hidden_field_tag :parent_id, parent.id if (defined? parent) %>
      <p><%= text_area_tag :content, "", :maxlength => get_max_length(Comment, :content), :rows => 10, :class => "char_aware" %></p>
      <%= content_tag :span, "", :class => "char_counter" %>
      <p><%= submit_tag t("comments.new"), :class => "button" %></p>
    <% end %>
</div>