<div class="comment box_shadow hover_area" id='<%= comment.id.to_s %>'>
    <div class="clearfix">
        <div class="fl" style="width:50px;">
            <%= image_tag comment.user.get_avatar(:thumb), :width => 48, :height => 48 %>
        </div>
        <div style="margin-left: 60px;">
            <%= link_to comment.user.login_name, comment.user, class: "trivial" %>:
            <blockquote>
              <% if comment.enabled %>
                <span class="ml5 quoted"><%= comment.content %></span>
              <% else %>
                <% if current_user_has_permission?(:editor) %>
                    <span class="quoted blocked"><%= comment.content %></span>
                <% else %>
                    <%= t("comments.deleted") %>
                <% end %>
              <% end %>
            </blockquote>
        </div>
        <span class="trivial fr"><%= comment.created_at.strftime(GENERAL_TIME_FORMAT) %></span>
    </div>

    <div class="display_on_hover">
      <% if the_author_himself(comment, true) %>
          <%= link_to t("general.delete"), delete_comment_path(:id => comment.id, :item_id => item.id, :item_type => item.class.name), :confirm => t("general.are_you_sure_to_delete"), :method => :put, :remote => true %>
      <% end %>
    </div>
</div>
