<div class="comment grid_6 box_shadow p5 mb10 b_white" id='<%= comment.id.to_s %>'>
    <div>
      <%= image_tag "grey.gif", "class" => 'lazy', "data-original"=>comment.user.get_avatar(:thumb), :width => 24, :height => 24 %>
      <%= link_to comment.user.login_name, comment.user %>:
        <blockquote>
          <% if comment.enabled %>
            <span class="ml5 quoted"><%= comment.content %></span>
          <% else %>
            <% if current_user_has_permission?(:editor) %>
                <span class="quoted blocked"><%= comment.content %></span>
            <% else %>
                <%= t("comments.deleted") %>
            <% end %>
          <% end %>
        </blockquote>
    </div>
    <div>
        <%= link_to t("comments.reply"), new_comment_path(:item_id => item.id, :item_type => item.class.name, :parent_id => comment.id), :class => "reply_comment_link" %>
        <% if current_user_has_permission?(:editor) %>
            <%= link_to t("general.toggle"), toggle_comment_path(:id => comment.id, :item_id => item.id, :item_type => item.class.name), :method => :put, :remote => true %>
        <% end %>
        <div class="new_reply_comment" style="display:none" >
          <%= render "comments/new_comment", :item => item, :parent => comment %>
        </div>
        <span class="trivial fr"><%= distance_of_time_in_words(comment.updated_at, Time.now) %><%= t("general.ago") %></span>
    </div>
</div>
