<div id="brief_report" class="block">
    <h2><%= params[:query] %></h2>
    <h3><%= t_with_colon("info_items.severity_header") %><%= get_severity_image("dummy")%></h3>
    <p><%= t("info_items.severity_base", :name => params[:query], :bad_count => @bad_count, :good_count => @good_count ) %></p>
    <p class="bad">
      <%= t("info_items.severity_involved_regions") %>
      <% @bad_region_names.each do |region_name| %>
        <%= link_to(region_name, {:controller => "search", :action => "region", :region_name => region_name}, :class => "tag") %>
      <% end %>
    </p>
  </div>

<hr/>
<div class="two_columns_container" >
  <div id="items_list" class="left_column">
    <h3><%= t_with_colon("info_items.itmes") %></h3>
    <dl class="tab">
        <dt><span><%= t_with_colon("info_items.bad_items") %></span></dt>
        <dd>
           <%= paginate @bad_items %>
            <% @bad_items.each do |item| %>
                <%= render "info_items/info_item_short", :item => item %>
            <% end %>
        </dd>
        <dt><span><%= t_with_colon("info_items.good_items") %></span></dt>
        <dd>
            <%= paginate @good_items %>
            <% @good_items.each do |item| %>
                <%= render "info_items/info_item_short", :item => item %>
            <% end %>
        </dd>
    </dl>
  </div>

  <div id="tips_list" class="right_column">
    <h3><%= t_with_colon("info_items.solutions") %></h3>
    <%= paginate @tips %>
    <% @tips.each do |tip| %>
        <%= render "info_items/info_item_short", :item => tip %>
    <% end %>
  </div>
</div>
