<div>
    <%= t("search.result_of", :text => @query ) %>
    <span id="keywords" class="display_none"><%= @query %></span>
</div>

<hr/>

<div id="search_results">
    <% if @empty %>
        <span class="red"><%= t("search.not_found") %></span>
    <% else %>
        <% unless @users.empty? %>
            <h3><%= t("search.kinds.user") %></h3>
            <% @users.each do |user| %>
                <%= render "shared/search_result", :item => user %>
            <% end %>
          <hr/>
        <% end %>

        <% unless @products.empty? %>
            <h3><%= t("search.kinds.product") %></h3>
            <% @products.each do |product| %>
                <%= render "shared/search_result", :item => product %>
            <% end %>
        <% end %>

        <% unless @recipes.empty? %>
            <h3><%= t("search.kinds.recipe") %></h3>
            <% @recipes.each do |recipe| %>
                <%= render "shared/search_result", :item => recipe %>
            <% end %>
        <% end %>

    <% end %>
</div>

