<div id="brief_report" class="block">
    <h2><%= params[:query] %></h2>
    <h3><%= t_with_colon("info_items.severity_header") %><%= get_severity_image("dummy")%></h3>
    <p><%= t("info_items.severity_base", :name => params[:query], :bad_count => @bad_count, :good_count => @good_count ) %></p>
    <p class="bad">
      <%= t("info_items.severity_involved_regions") %>
      <% @bad_region_names.each do |region_name| %>
        <%= link_to(region_name, {:controller => "search", :action => "region", :region_name => region_name}, :class => "tag") %>
      <% end %>
    </p>
  </div>

<div class="two_columns_container" >
  <div id="bad_items" class="left_column">
    <h3 class="bad"><%= t("info_items.bad_items") %></h3>
    <%= paginate @bad_items %>
    <% @bad_items.each do |item| %>
        <div class="round block"><%= render "info_items/info_item_short", :item => item %></div>
    <% end %>
  </div>

  <div id="good_items" class="right_column">
    <h3 class="good"><%= t("info_items.good_items") %></h3>
    <%= paginate @good_items %>
    <% @good_items.each do |item| %>
        <div class="round block"><%= render "info_items/info_item_short", :item => item %></div>
    <% end %>
  </div>
</div>
