<% title t("badges.badges") %>

<div id="enabled_badges">
  <h3><%= t("badges.enabled_badges") %></h3>
    <table>
      <tr>
        <th><%= t("general.name") %></th>
        <th><%= t("general.description") %></th>
        <th><%= t("badges.receivers") %></th>
        <th></th>
        <th></th>
      </tr>

    <% @badges.each do |badge| %>
      <tr>
        <td><%= link_to badge.name, [:admin, badge] %></td>
        <td><%= badge.description %></td>
        <td><%= badge.user_ids.size %></td>
        <td><%= link_to t("general.edit"), edit_admin_badge_path(badge), :class => "button" %></td>
        <td><%= link_to t("general.delete"), [:admin, badge], :confirm => t("general.are_you_sure_to_delete"), :method => :delete, :class => "button" %></td>
      </tr>
    <% end %>
    </table>
</div>


<div id="disabled_badges">
  <h3><%= t("badges.disabled_badges") %></h3>
      <% @disabled_badges.each do |badge| %>
        <%= link_to badge.name, [:admin, badge] %>
      <% end %>
</div>

<br />

<%= link_to t("general.new"),new_admin_badge_path, :class => "button" %>
