<div class="content_block_inside">
    <p>
      <b>Name:</b>
      <%= @badge.name %>
    </p>

    <p>
      <b>Description:</b>
      <%= @badge.description %>
    </p>

    <p>
      <b>Repeatable:</b>
      <%= @badge.repeatable %>
    </p>

    <%= link_to t("general.change"), edit_admin_badge_path(@badge) %> |

    <%= link_to 'Back', admin_badges_path %>

</div>