<div class="content_block_inside">
    <p>
      <b>Name:</b>
      <%= @badge.name %>
    </p>

    <p>
      <b>Description:</b>
      <%= @badge.description %>
    </p>

    <p>
      <b>Repeatable:</b>
      <%= @badge.repeatable %>
    </p>

    <%= link_to t("general.change"), edit_admin_badge_path(@badge) %> |
    <%= link_to t("general.delete"), [:admin, @badge], :confirm => t("general.are_you_sure_to_delete"), :method => :delete, :class => "button" %>
    <%= render "admin/shared/toggle_disabled", :confirm => t("general.are_you_sure_to_disable_enable"), :obj => @badge %>
    <%= link_to t("general.back"), admin_badges_path, :class=> "button" %>
</div>