<div class="content_block_inside">
    <p id="notice"><%= notice %></p>

    <%= render "info_items/basic_show", :item => @recommendation %>

    <hr/>

    <% if the_author_himself(Recommendation.name, @recommendation.id, true) %>
        <%= link_to t("general.edit"), edit_review_path(@recommendation), :class => "button" %>
        <%= link_to t("general.delete"), @recommendation, :confirm => t("general.are_you_sure_to_delete"), :method => :delete, :class => "button" %>
    <% end %>

    <hr/>

    <%= render "shared/comments", :item => @recommendation %>

</div>