<div class="field">
    <b> <%= t("images.image") %></b><br/>
    <%= f.file_field :image %> <br/>
    <b><%= t("images.remote_link") %></b> <br/>
    <%= f.text_field :remote_image_url %> <br/>
    <b> <%= t("general.description") %></b><br/>
    <%= f.text_field :description %> <br/>
</div>