<% title t("articles.articles") %>

<p><%= [t("general.total"), ":", @articles.size].join(" ") %> </p>

<div class="block square">
    <b><%= t("articles.recommended_articles") %></b>
    <% @recommended_articles.each do |article| %>
        <p><%= link_to article.title, admin_article_path(article) %></p>
    <% end  %>
</div>

<div>
    <table>
      <tr>
        <th><%= t("general.title") %></th>
        <th><%= t("general.disable") %></th>
        <th><%= t("general.reported_on") %></th>
        <th><%= t("articles.source") %></th>
        <th></th>
        <th></th>
      </tr>

    <% @articles.each do |article| %>
      <tr>
        <td><%= link_to article.title, admin_article_path(article) %></td>
        <td><%= article.disabled %></td>
        <td><%= article.reported_on_string %></td>
        <td><%= article.name_of_source %></td>
        <td><%= link_to t("general.edit"), edit_admin_article_path(article), :class => "button" %></td>
        <td><%= link_to t("general.delete"), admin_article_path(article), :confirm => t("general.are_you_sure_to_delete"), :method => :delete, :class => "button" %></td>
      </tr>
    <% end %>
    </table>
</div>

<%= link_to t("articles.post_new_article"), new_admin_article_path, :class => "button" %>
