<div class="content_block_inside">
    <h2><%= t("articles.articles") %></h2>

    <div>
        <table>
          <tr>
            <th>Title</th>
            <th>Disabled</th>
            <th>Published On</th>
            <th>Source</th>
            <th></th>
            <th></th>
          </tr>

        <% @articles.each do |article| %>
          <tr>
            <td><%= link_to article.title, admin_article_path(article) %></td>
            <td><%= article.disabled %></td>
            <td><%= article.published_on.strftime("%m/%d/%Y") if article.published_on %></td>
            <td><%= link_to 'Edit', edit_admin_article_path(article) %></td>
            <td><%= link_to 'Destroy', admin_article_path(article), :confirm => 'Are you sure?', :method => :delete %></td>
          </tr>
        <% end %>
        </table>
    </div>

</div>