<div class="content_block_inside">
    <p id="notice"><%= notice %></p>

    <h3><%= @article.title %></h3>
    <p class="trivial"><%= @article.reported_on.strftime('%m/%d/%Y') if @article.reported_on %></p>
    <small><%= t("articles.source") %>: <%= @article.source %></small>
    <br/>
    <small>
      <%= t("articles.involved_cities") %>:
      <% @article.cities.each_with_index do |city, index| %>
        <%= city.name %><%= "|" if index < @article.cities.size - 1 %>
      <% end %>
    </small>
    <br/>
    <small>
      <%= t("articles.involved_foods") %>:
      <% @article.foods.each_with_index do |food, index| %>
        <%= food.name %><%= "|" if index < @article.foods.size - 1 %>
      <% end %>
    </small>
    <br/>
    <p>
      <%= raw @article.content %>
    </p>
    <p>
      <b><%= t("images.images") %>(<%= @article.images.size%>):</b>

      <% @article.images.each do |image| %>
        <p><%= get_image(image) %></p>
        <p><%= image.description %></p>
      <% end %>
    </p>

    <% if has_permission?(:editor) %>
        <%= link_to t("general.edit"), edit_admin_article_path(@article), :class => "button" %>
    <% end %>
     <% if has_permission?(:admin) %>
         <%= render "admin/shared/toggle_disabled", :item => @article if has_permission?(:admin) %>
    <% end %>
</div>

