
<%= form_for @article, :html => { :multipart => true } do |f| %>
    <%= render "shared/error_messages", :target => @article %>

    <%= render "info_items/basic_fields", :item => @article, :f => f %>

    <div class="field">
        <%= f.label :region_id, t("articles.involved_region") %>
        <%= f.text_field :region_id, 'data-pre' => (f.object.region_id ? [:id => get_region(f.object.region_id).id, :name => get_region(f.object.region_id).name] : []).to_json %>
    </div>

    <p><label><%= t("articles.source") %></label></p>
    <div class="fields_group">
        <%= f.fields_for :source do |builder| %>
            <div class="field">
                <%= builder.label :name, t("articles.source_name") %><%= mark_required(builder.object, :name) %><%= mark_required_length(builder.object, :name) %><br/>
                <%= builder.text_field :name, :maxlength => 20 %>
            </div>
            <div class="field">
                <%= builder.label :site, t("articles.source_site") %><%= mark_required(builder.object, :site) %><%= mark_required_length(builder.object, :site) %><br/>
                <%= builder.text_field :site, :maxlength => 20 %>
            </div>
            <div class="field">
                <%= builder.label :url, t("articles.source_url") %><br/>
                <%= builder.text_field :url%>
            </div>
        <% end %>
    </div>

    <div class="field">
        <%= f.label :category, t("general.category") %><br/>
        <%= f.select :category, options_for_select(ArticleTypes.get_values, @article.category) %>
     </div>

    <div class="actions">
        <%= f.submit t("general.submit"), :class => "button" %>
    </div>

<% end %>

<%= render "info_items/delay_load_stuff", :item => @article %>
