<%= form_for @article, :html => { :multipart => true } do |f| %>
    <%= render "shared/error_messages", :target => @article %>

    <div class="field">
        <%= f.label :type, t("general.type") %><br/>
        <%= f.select :type, options_for_select(Article.types, @article.type) %>
    </div>

    <div class="field">
        <%= f.label :title, t("general.title") %><%= mark_required(Article, :title) %><%= mark_required_length(Article, :title) %><br/>
        <%= f.text_field :title, :maxlength => get_max_length(Article, :title) %>
    </div>
    <div class="field">
         <%= f.label :tags_string, t("info_items.tags") %><br/>
         <%= f.text_field :tags_string, 'data-pre' => (@article.tags ? @article.tags.map { |t| { :id => t, :name => t }} : []).to_json %>
    </div>
    <p><label><%= t("articles.source") %></label></p>
    <div id="news_fields" class="fields_group">
        <div class="field">
            <%= f.label :reported_on_string, t("general.date") %><br/>
            <%= f.text_field :reported_on_string, {:class => "date_picker"} %>
        </div>
        <%= f.fields_for :source do |builder| %>
            <div class="field">
                <%= builder.label :name, t("articles.source_name") %><%= mark_required(builder.object, :name) %><%= mark_required_length(builder.object, :name) %><br/>
                <%= builder.text_field :name, :maxlength => get_max_length(builder.object, :name) %>
            </div>
            <div class="field">
                <%= builder.label :site, t("articles.source_site") %><%= mark_required(builder.object, :site) %><%= mark_required_length(builder.object, :site) %><br/>
                <%= builder.text_field :site, :maxlength => get_max_length(builder.object, :site) %>
            </div>
            <div class="field">
                <%= builder.label :url, "URL" %><br/>
                <%= builder.text_field :url%>
            </div>
        <% end %>
    </div>

    <%= render "images/images_fields", :f => f, :item => @article %>

    <div class="field">
        <%= f.label :introduction, t("articles.introduction") %><%= mark_required(@article, :introduction) %><%= mark_required_length(@article, :introduction) %><br/>
        <%= f.text_area :introduction, :class => "brief", :maxlength => get_max_length(Article, :introduction) %>
    </div>

    <div class="field">
        <%= f.label :content, t("general.content") %><%= mark_required(@article, :content) %><%= mark_required_length(@article, :content) %><br/>
        <%= f.text_area :content, :class => "rich_editor", :maxlength => get_max_length(Article, :content) %>
    </div>

    <div class="field">
        <%= f.label :recommended, t("general.recommended") %><br />
        <%= f.check_box :recommended, {}, true, false %>
    </div>

    <div class="field">
        <%= f.label :enabled, t("general.enable") %><br />
        <%= f.check_box :enabled, {}, true, false %>
    </div>

    <div class="actions">
        <%= f.submit t("general.submit"), :class => "button" %>
    </div>

<% end %>

<%= render "info_items/delay_load_stuff", :item => @article %>
