<%= form_for @article, :html => { :multipart => true } do |f| %>
  <%= render "shared/error_messages", :target => @article %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, :maxlength => 20 %>
  </div>
  <div class="field">
    <%= f.label :published_on, t("general.date") %><br/>
    <%= f.text_field :published_on, {:class => "date_picker"} %>
  </div>
  <div class="field">
    <%= f.label :source %><br />
    <%= f.text_field :source, :maxlength => 20 %>
  </div>
  <div class="field">
    <%= f.label :category, t("general.category") %><br/>
    <%= f.select :category, options_for_select(["case", "knowledge"], @article.category) %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content, :class => "mceEditor", :maxlength => 10000 %>
  </div>

  <div class="field">
    <%= f.label t("foods.foods") %><br />
    <%= f.text_field :food_tokens, 'data-pre' => (f.object.foods.map { |fo| { :id => fo.id, :name => fo.name }}).to_json %>
  </div>
  <div class="field">
    <%= f.label t("address.city") %><br />
    <%= f.text_field :city_tokens, 'data-pre' => (f.object.cities.map { |c| { :id => c.id, :name => c.name }}).to_json %>
  </div>

  <div class="field">
    <%= f.label t("vendors.vendor") %><br />
    <%= f.text_field :vendor_token, 'data-pre' => (f.object.vendor ? [{ :id => f.object.vendor.id, :name => f.object.vendor.name }] : []).to_json %>
  </div>

  <%= f.fields_for :images do |builder| %>
    <%= render "image_fields", :f => builder %>
  <% end %>

  <%= link_to_add_fields  t("images.add_image"), f, :images %>

  <div class="actions">
    <%= f.submit t("articles.post") %>
  </div>
<% end %>
