<div id="info_panel">
    <div id="news_block" class="block round">
        <div class="image_frame">
            <small><%= t("articles.headlines") %></small>
            <%= render "slider", :articles => @headlines %>
        </div>
        <div id="news_frame">
            <h3><%= t("articles.hot_news") %></h3>
            <ul>
                <% @hot_news.each do |article| %>
                   <li><h4><%= link_to article.title, article %></h4></li>
                <% end %>
            </ul>
        </div>
    </div>

    <div id = "news_list">
      <%= paginate @articles %>
      <% @articles.each do |article| %>
          <%= render "info_items/info_item", :item => article %>
      <% end %>
    </div>
</div> <!--end of info_items -->
