<div class="content_block_inside">
    <p id="notice"><%= notice %></p>

    <h3><%= @article.title %></h3>
    <p class="trivial"><%= @article.reported_on.strftime('%m/%d/%Y') if @article.reported_on %></p>
    <%= render "shared/source", :source => @article.source %>
    <br/>
    <small>
      <%= t("articles.involved_cities") %>:
      <% @article.cities.each_with_index do |city, index| %>
        <%= city.name %><%= "|" if index < @article.cities.size - 1 %>
      <% end %>
    </small>
    <br/>
    <small>
      <%= t("articles.involved_foods") %>:
      <% @article.foods.each_with_index do |food, index| %>
        <%= food.name %><%= "|" if index < @article.foods.size - 1 %>
      <% end %>
    </small>
    <br/>
    <p>
      <%= raw @article.content %>
    </p>
    <p>
      <b><%= t("images.images") %>(<%= @article.images.size%>):</b>

      <% @article.images.each do |image| %>
        <p><%= get_image(image) %></p>
        <p><%= image.description %></p>
      <% end %>
    </p>

    <small><%= t("comments.comments") %></small><br/>
    <%= debug @article.comments.arrange %>
    <%= nested_comments(@article, @article.comments.arrange(:order => :created_at)) %>
    <% if current_user %>
        <%= render "shared/new_comment", :item => @article %>
    <% end %>

    <% if has_permission?(:editor) %>
        <%= link_to t("general.edit"), edit_article_path(@article), :class => "button" %> |
    <% end %>
</div>

