<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @article.title %>
</p>

<p>
  <b>Source:</b>
  <%= @article.source %>
</p>

<p>
  <b>Content:</b>
  <%= @article.content %>
</p>
<p>
  <b>Foods:</b>
  <% @article.foods.each do |food| %>
    <p><%= food.name %></p>
  <% end %>
</p>
<p>
  <b>Cities:</b>
  <% @article.cities.each do |city| %>
    <p><%= city.name %></p>
  <% end %>
</p>

<p>
  <b>Images(<%= @article.images.size%>):</b>

  <% @article.images.each do |image| %>
    <p><%= get_image(image) %></p>
    <p><%= image.description %></p>
  <% end %>
</p>

<p>Comments:</p>
<%= nested_comments(@article, @article.comments.arrange(:order => :created_at)) %>
<div class="new_comment">
    <%= render "shared/new_comment", :item => @article %>
</div>

<% if has_permission?(:editor) %>
    <%= link_to t("general.edit"), edit_article_path(@article) %> |
<% end %>
<%= link_to 'Back', articles_path %>


