<div class="content_block_inside">
    <p id="notice"><%= notice %></p>

    <h3><%= @article.title %></h3>
    <p class="trivial"><%= @article.reported_on.strftime('%m/%d/%Y') if @article.reported_on %></p>
    <%= render "shared/source", :source => @article.source %>
    <br/>
    <small>
      <%= t("articles.involved_cities") %>:
      <% @article.cities.each_with_index do |city, index| %>
        <%= city.name %><%= "|" if index < @article.cities.size - 1 %>
      <% end %>
    </small>
    <br/>
    <small>
      <%= t("articles.involved_foods") %>:
      <% @article.foods.each_with_index do |food, index| %>
        <%= food.name %><%= "|" if index < @article.foods.size - 1 %>
      <% end %>
    </small>
    <br/>
    <p>
      <%= raw @article.content %>
    </p>

    <% if @article.images.size > 0 %>
        <div id="gallery" class="block">
          <div class="block_inside">
              <% @article.images.each do |image| %>
                  <%= get_thumbnail(image, true) %>
              <% end %>
          </div>
        </div>
    <% end %>

    <hr/>

    <% if the_author_himself(Article.name, @article.id, true) %>
        <%= link_to t("general.edit"), edit_article_path(@article), :class => "button" %>
        <%= link_to t("general.delete"), @article, :confirm => t("general.are_you_sure_to_delete"), :method => :delete, :class => "button" %>
    <% end %>

    <hr/>

    <%= render "shared/comments", :item => @article %>
</div>

