<% title @article.title %>
<% meta_tag @article.introduction if @article.introduction.present? %>

<%= content_tag(:div, @article.introduction, :class => "block round" ) if @article.introduction.present? %>

<div class="block">
    <%= render "shared/vote_fields", :item => @article %>
    <%= content_tag(:span, @article.reported_on.strftime('%m/%d/%Y'), :class => "trivial") if @article.reported_on %>
    <br/>
    <%= render "shared/source", :source => @article.source %>
    <br/>
    <small>
      <% if @article.region_ids && (not @article.region_ids.empty?) %>
           <%= t("articles.involved_regions") %>:
          <% @article.region_ids.each do |region_id| %>
            <%= ItemFinder.get_region(region_id).name %>
          <% end %>
      <% end %>
    </small>
    <br/>
    <%= render "shared/show_tags", :item => @article %>
</div>

<div id="article_content" >
  <%= @article.content.html_safe %>
</div>


<% if @article.images.size > 0 %>
    <b><%= t("images.images") %></b>
    <div id="article_images" class="block round">
        <%= render :partial => "images/image", :collection => @article.images %>
    </div>
<% end %>

<% if current_user && current_user.has_permission?(:editor)%>
    <div class="actions">
        <%= link_to t("general.edit"), edit_article_path(@article), :class => "button"  %>
        <%= link_to t("general.delete"), @article, :confirm => t("general.are_you_sure_to_delete"), :method => :delete, :class => "button" %>
    </div>
<% end %>

<div class="actions">
    <%= link_to t("general.back_to_list"), articles_path %>
</div>

<hr/>
<%= render "comments/comments", :item => @article %>


