<div class="grid_9 to_left">
    <%= form_for(@topic) do |f| %>
      <%= render "shared/error_messages", :target => @topic %>

      <div class="field">
        <b><%= f.label t("general.title") %></b><%= mark_required(Topic, :title) %><br />
        <%= f.text_field :title %>
      </div>
      <div class="field">
         <b><%= f.label :tags_string, t("tags.tags") %></b><br/>
         <%= f.text_field :tags_string, 'data-pre' => (f.object.tags ? f.object.tags.map { |t| { :id => t, :name => t }} : []).to_json %>
      </div>
      <div class="field">
        <b><%= f.label :priority, t("topics.priority") %></b><br />
        <%= f.text_field :priority %>
      </div>
      <div class="field">
        <b><%= f.label :content, t("general.content") + "(HTML)" %></b><br />
        <%= f.text_area :content, class: "full_w" %>
      </div>

      <div class="actions">
        <%= f.submit t("general.submit"), :class => "button" %>
      </div>
    <% end %>
</div>

<div class="grid_3 to_right">
 <div>
    <%= hidden_field_tag "authenticity_token", form_authenticity_token, :id => "tokentag" %>
    <div id="uploader" class="fl mr10" data-debug = true></div>
  </div>
  <div id="images_container" class="block fl m5" ></div>
  <div class="clearfix"></div>
</div>