<div class="large_topic block round">
    <div class="cube share_left">
        <%= link_to image_tag( topic.get_first_image, :border => 0, :alt => topic.title), topic %>
          <p>
            <span class="title f15"><%= topic.title %></span><br/>
            <span class="desc"><%= topic.description %></span>
          </p>
    </div>

    <% products = get_recommended_products(topic) %>

    <div class="slice">
        <% products.values_at(* products.each_index.select{|i| i.odd?}).each do |product| %>
          <%= render "topics/small_item", :item => product %>
        <% end %>
    </div>
    <div class="slice">
        <% products.values_at(* products.each_index.select{|i| i.even?}).each do |product| %>
          <%= render "topics/small_item", :item => product %>
        <% end %>
    </div>
</div>