<% title t("topics.topics") %>

<table>
    <tr>
        <th><%= t("general.title") %></th>
        <th><%= t("articles.articles") %></th>
    </tr>

    <% @topics.each do |topic| %>
        <tr id='<%= topic.id %>'>
            <td><%= link_to topic.title, topic %></td>
            <td><%= topic.articles.size.to_s %></td>
        </tr>
    <% end %>
</table>

<br />

<% if current_user_has_permission? :editor %>
    <div class="actions">
        <%= link_to t("topics.new"), new_topic_path, :class => "button" %>
    </div>
<% end %>
