<% title @topic.title %>
<p><%= @topic.description %></p>

<div class="topic_block grid_12 fl mt20">
    <div id="topic_content" class="mercury-region" data-type="editable">
        <%= raw @topic.content %>
    </div>
</div>

<div id="topic_articles" class="block round">
    <% get_recipes(@topic).each do |recipe| %>
        <div>
          <%= link_to recipe.title, recipe %><br/>
        </div>
    <% end %>
</div>

<div id="topic_reviews" class="block round">
    <% @topic.reviews.each do |review| %>
        <div>
          <%= render review %><br/>
        </div>
    <% end %>
</div>

<% get_recommended_products(@topic).each do |product| %>
    <div>
        <%= link_to product.name, product %><br/>
    </div>
<% end %>

<div class="actions">
  <% if current_user_has_permission? :editor %>
    <%= link_to t("general.mercury_edit"), "/editor" + request.path, id: "edit_link", data: {save_url: mercury_update_topic_path(@topic)}, :class => "button" %>
    <%= link_to t("general.change"), edit_topic_path(@topic), :class => "button" %>
    <%= link_to t("general.delete"), @topic, :confirm => t("general.are_you_sure_to_delete"), :method => :delete, :class => "button" %>
  <% end %>
</div>

<% if current_user_has_permission? :normal_user %>
    <%= render "reviews/review_fields", :review => @topic.reviews.new %>
<% end %>