<p>
    <%= image_tag(badge.get_icon) %>
</p>

<p>
  <b><%= t("general.name") %></b><br/>
  <%= badge.name %>
</p>

<p>
  <b><%= t("general.description") %></b><br/>
  <%= badge.description %>
</p>

<p>
  <b><%= t("badges.receivers") %></b><br/>
  <%= badge.user_ids.size.to_s %>
</p>