<%= form_for(@badge) do |f| %>
  <% if @badge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@badge.errors.count, "error") %> prohibited this badge from being saved:</h2>

      <ul>
      <% @badge.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :repeatable %><br />
    <%= f.check_box :repeatable %>
  </div>
  <div class="field">
    <%= f.label :contribution_field %><br />
    <%= f.select :contribution_field, options_for_select(get_fields_of(Contribution), @badge.contribution_field) %>
  </div>
  <div class="field">
    <%= f.label :comparator %><br />
    <%= f.select :comparator, options_for_select(get_comparators, @badge.comparator) %>
  </div>
  <div class="field">
    <%= f.label :compared_value %><br />
    <%= f.text_field :compared_value %>
  </div>
  <div class="actions">
    <%= f.submit t("general.submit") %>
  </div>
<% end %>
