<% title t("badges.badges") %>

<% if current_user %>
    <h2><%= t("badges.got") %></h2>
    <div class="block round">
        <ul class="thumb">
            <% current_user.badges.each do |badge| %>
                <li>
                    <%= link_to image_tag(badge.get_icon ,:border => 0), badge %>
                    <p><%= link_to badge.name, badge %></p>
                </li>
            <% end %>
        </ul>
    </div>
<% end %>

<hr/>

<h2><%= t("badges.all") %></h2>
<div class="block round">
    <% @badges.each do |badge| %>
        <p>
        <%= link_to badge.name, badge %>
        <%= "(" + badge.user_ids.size.to_s + ")" %>
        <%= content_tag :span, badge.description, :class => "trivial" %></p>
<% end %>
</div>

<% if current_user_has_permission?(:administrator) %>
    <%= link_to t("general.new"),new_badge_path, :class => "button" %>
<% end %>

