<h1>Listing badges</h1>

<div id="enabled_badges">
    <table>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Repeatable</th>
        <th>CountOfAwarded</th>
        <th></th>
        <th></th>
      </tr>

    <% @badges.each do |badge| %>
      <tr>
        <td><%= link_to badge.name, badge %></td>
        <td><%= badge.description %></td>
        <td><%= badge.repeatable %></td>
        <td><%= badge.count_of_awarded %> times</td>
        <td><%= link_to 'Show', badge %></td>
        <td><%= link_to 'Edit', edit_badge_path(badge) %></td>
        <td><%= link_to 'Destroy', badge, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
    </table>
</div>

<% if has_permission?(:admin) %>
    <div id="disabled_badges">
      <% @disabled_badges.each do |badge| %>
        <%= link_to badge.name, badge %>
      <% end %>
    </div>
<% end %>

<br />

<% if has_permission?(:admin) %>
    <%= link_to t("general.new"), new_badge_path %>
<% end %>
