<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @badge.name %>
</p>

<p>
  <b>Description:</b>
  <%= @badge.description %>
</p>

<p>
  <b>Repeatable:</b>
  <%= @badge.repeatable %>
</p>


<% if has_permission?(:admin) %>
<%= link_to t("general.change"), edit_badge_path(@badge) %> |
<% end %>
<%= link_to 'Back', badges_path %>
