<div class="user_info_head_block grid_9 to_left">
    <%= link_to image_tag(author.get_avatar(:thumb), :class => "fl"), profile_path(author) %><br/>

    <div class="user_profile fl">
        <span><username>
            <%= link_to author.screen_name, user_path(author) %>
        </username></span>
        <br/>
        <%= render "relationships/follow_field", :target => author %>
    </div>

    <div class="clearfix ">
        <div class="userinfoCollection fr">
            <div class="collectList fl">
                <%= author.relationships.count%><br/>
                <%= t("user_basic.follows") %><br/>
            </div>
            <div class="collectList fl">
                <%= author.followers.count %><br/>
                <%= t("user_basic.fans") %>
            </div>
            <div class="collectList fl">
                <%= author.reviews.count %><br/>
                <%= t("user_basic.shares") %>
            </div>
        </div>
    </div>

    <div class="userInfoNav fl mt10">
        <%= link_to t("feeds.feed"), user_path(author) %>
        <%= link_to t("recipes.recipes"), user_path(author) %>
        <%= link_to t("control_panel.album"), user_path(author) %>
        <%= link_to t("control_panel.groups"), user_path(author) %>
    </div>
</div>