<div id="recipe_form" class="mt10">
    <%= form_for @recipe, html: {multipart: true} do |f| %>
        <%= render "shared/error_messages", target: @recipe %>
        <% @recipe.stages.each do |stage| %>
            <%= render "#{stage}_stage", f: f %>

        <% end %>

        <div class="mt10">
            <%= f.submit (f.object.new_record? ? t("general.publish") : t("general.change")), class: "#{f.object.new_record? ? "btn btn_submit_post" : "btn btn_submit_update"}", id: "recipe_submit" %>
        </div>
     <% end %>
</div>

<% content_for :foot do %>
    <%= javascript_tag "setup_step_img_uploader(true);"%>
    <%= javascript_tag "change_back_img(true);" %>
<% end %>