<div class="field addedclass">
        <%= f.label :name, t("recipes.ingredient_name"), :class => "f14" %>
        <%= f.text_field :name, :maxlength => get_max_length(Ingredient, :name) %>
        <%= f.label :amount, t("recipes.ingredient_amount"), :class => "f14" %>
        <%= f.text_field :amount, :maxlength => get_max_length(Ingredient, :amount) %>
        <%= link_to_remove_fields( t("recipes.remove"), f ) %>
</div>