<hr/>
<div class="listed_item pt5 pb5 commentable clearfix">
    <div class="user_info_area">
        <%= link_to image_tag("grey.gif", class: 'lazy', "data-original"=> recipe.author.get_avatar(:thumb,false), width: "48", height: "48", alt: recipe.author.login_name), recipe.author %>
        <%= link_to recipe.author.login_name, recipe.author, class: "trivial" %>
    </div>
    <div class="content_area">
        <div class="clearfix">
            <!--avoid assets error when image_url is nil-->
            <div class="fl mr10">
                <% thumb_url = recipe.get_image_url(:thumb) %>
                <% if thumb_url.present? %>
                    <p><%= link_to image_tag("grey.gif", "class" => 'lazy', "data-original"=> thumb_url, class: "thumbnail", alt: recipe.name), recipe %></p>
                <% end %>
            </div>
            <div class="fl" style="width:400px;">
                <h3 class="f15"><%= link_to recipe.name, recipe %></h3>
                <span class="tight f12"><%= truncate_content recipe.instruction, 200 %></span><br/>
            </div>
            <div class="fr clearfix">
                <span class="trivial fr"><%= recipe.created_at.strftime("%y-%m-%d %H:%M") %></span><br/>
                <span class="trivial fr"><%= "#{recipe.score}人喜欢" %></span>
            </div>
        </div>
        <div class="fr">
            <div class="fl trivial"><%= link_to_function t("comments.new"), "show_embedded_comments(this);" %> (<span class="comments_counter"><%= recipe.comments.size %></span>)</div>
            <%= link_to "编辑", edit_recipe_path(recipe), class: "fl ml10" if the_author_himself(recipe) %>
            <%= link_to "删除", recipe, :confirm => t("general.are_you_sure_to_delete"), :method => :delete, :class => "fl ml10" if the_author_himself(recipe, true) %>
        </div>
        <div class="embedded_comments display_none">
            <%= render "comments/comments", item: recipe %>
        </div>
    </div>
</div>

