<script type="tpl" id="tpl">
    <div class="waterfall grid_3 box_shadow" data-id="{{id}}">
        <a href="<%= "recipes/{{id}}" %>" class="image">
            <img height="{{height}}" width = "200" alt="{{name}}" src="{{picture_url}}" />
        </a>
        <span class="ml10 f16">{{name}}</span><br/>
        <span class="trivial ml10">{{time}}</span>
        <div>
            <div class="fl">
                <a href="users/{{user_id}}" class="fl">
                    <img height="<%= AVATAR_THUMB_HEIGHT %>" width = "<%= AVATAR_THUMB_WIDTH %>" alt="avatar" src="{{user_avatar}}" />
                </a>
            </div>
            <div class="fl mr10">
                <div class="fl">
                    <%= link_to "{{user_name}}", "users/{{user_id}}", class: "fl" %>
                </div><br/>
                <%= link_to t("recipes.by_user", count: "{{user_recipes_cnt}}"), "#" %><br/>
                <a href="/relationships?target_id={{user_id}}&amp;target_type=User" class="button new_relationship" data-method="post" data-remote="true" rel="nofollow"><%= t("relationships.new") %></a>

            </div>
        </div>
    </div>
</script>