<% if params[:tag] %>
    <% title "有关“#{params[:tag] }”的菜谱", false %>
<% else %>
    <% title t("recipes.recipe_collection"), false %>
<% end %>

<div class="clearfix">
    <div class="grid_9">
        <% unless params[:tag].present? %>
            <h2 class="trivial">推荐：</h2>
            <div id="slides" class="mt5">
                <div class="slides_container clearfix display_inline">
                  <% @recommended_recipes.each do |recipe| %>
                      <div class="slide p10 block round" style="width:640px;">
                          <%= render "recipes/recommended_recipe", recipe: recipe %>
                      </div>
                  <% end %>
                </div>
            </div>

            <h2 class="trivial mt10">最新菜谱：</h2>
            <div class="clearfix mt5 mb10">
                <% @new_recipes.each do |recipe| %>
                    <div class="fl img_frame m1" style="height: 60px;">
                        <%= link_to image_tag("grey.gif", "data-original"=> recipe.get_image_url(:thumb), width: 60, height: 60, class: 'lazy', alt: recipe.name, title: recipe.name), recipe %>
                    </div>
                <% end %>
            </div>
        <% end %>

        <div class="mt5 box_shadow p10 clearfix">
            <%= render "tags/tags_list", hot_tags: @hot_tags, primary_tags: @primary_tags%>
        </div>

    </div>

    <div class="grid_3">
        <!--<div class="mt10 mb10" >-->
        <!--<= form_tag recipes_path, :method => :get do %>-->
        <!--<= text_field_tag :query, "红烧肉", class: "not_cleared" %>-->
        <!--<= submit_tag "搜索", class: "button" %>-->
        <!--< end %>-->
        <!--</div>-->
        <div class="mt5 p10 box_shadow">
            <% if current_user_has_permission? :normal_user %>
                <span class="berry_pink">每有人喜欢你的菜谱，就可获得积分</span><br/>
                <span class="mr20"><%= link_to "【积分说明】", score_intros_path %></span><br/>
                <%= link_to "+添加菜谱", new_recipe_path, class: "btn btn_new_recipe" %>
            <% else %>
                <span class = "trivial">有菜谱要分享？</span><%= link_to "立即注册", new_user_path %>
            <% end %>
        </div>

        <% unless params[:tag].present? %>
            <div class="mt10 box_shadow p5 clearfix">
                <h2 class="trivial">菜谱达人：</h2>
                <div class="mt5">
                <% @cooks.each do |user| %>
                  <div class="clearfix mb5">
                      <%= link_to image_tag(user.get_avatar(:thumb), width: 80, height: 80, title: user.login_name), user, class: "fl" %>
                      <div class="fl ml5">
                        <span><%= link_to user.login_name, user %></span><br/>
                        <span class="trivial"><%= "#{user.recipes.size}份菜谱" %></span><br/>
                        <%= render "relationships/follow_field", :target => user %>
                      </div>
                  </div>
                <% end %>
                </div>
            </div>
        <% end %>
    </div>
</div>

<div class="mt20">
    <% if params[:tag] %>
        <div class="mt5 mb5">
            <h2 class="trivial"><%= "有关“#{params[:tag] }”的菜谱"%></h2>
        </div>
    <% end %>

    <%= paginate @recipes %>
    <div class="clearfix">
        <% @recipes.each do |recipe| %>
            <%= render "recipes/box_recipe", recipe: recipe %>
        <% end %>
    </div>
    <%= paginate @recipes %>
</div>



<% if false %>

<div id="masonry_container" class="clearfix mt10">
    <% @recipes.each do |recipe| %>
        <%= render "recipes/recipe_item", recipe: recipe %>
    <% end %>
</div>

<% base_url = 'http://' + request.host_with_port %>
<nav id="page_nav">
<% tag = params[:tag] || "null"  %>
<%= link_to "", base_url + "/recipes/more/#{tag}/2" %>
</nav>

<div id="more_nav" class="mt10 centered display_none">
    <% current_chapter = params[:chapter] ? params[:chapter].to_i : 1 %>
    <% if current_chapter > 1 %>
        <%= link_to "上一页", recipes_path(chapter: current_chapter - 1), class: "chapter_link" %>
    <% end %>
    <% indexes = [1, current_chapter -1, current_chapter, current_chapter + 1, @total_chapters].uniq.sort.select{|i| i > 0 && i <= @total_chapters} %>
    <% indexes.each_with_index do |chapter_index, index| %>
        <% if (index > 0) && ((indexes[index] - indexes[index - 1]) > 1) %>
            ...
        <% end %>
        <%= link_to chapter_index, recipes_path(chapter: chapter_index), class: (chapter_index == current_chapter ? "chapter_link current" : "chapter_link") %>
    <% end %>

    <% if current_chapter < @total_chapters %>
        <%= link_to "下一页", recipes_path(chapter: current_chapter + 1), class: "chapter_link" %>
    <% end %>
    <span class="trivial"><%= "共#{@total_chapters}页" %></span>
</div>

<%= link_to t("general.back_to_top"), "#", :id => "back_to_top", class: "btn btn_back_to_top hide" %>

<% end %>


