<div class="grid_9 box_shadow">
    <div class="p5">
        <div class="img_frame fl">
            <a  rel="facebox" href ="<%=@recipe.image_url%>">
                <%= image_tag @recipe.image_url, :width => "280", :height => "218", :alt=> "recipe_image"%>
            </a><br/>

        </div>

        <div class="fl f16 ml10">
            <h2><%= @recipe.name %></h2>
            <span class="trivial"><%= t("recipes.uploaded_by") + ": " + @recipe.author.screen_name %></span> <br/>
            <%= t("recipes.ingredients") %><br/>
            <p>
              <% @recipe.ingredients.each do |i|%>
                      <%= i.name %>
                      <%= i.amount %>
                      <!--<span class="trivial"><= i.is_major_ingredient ? t("recipes.major") : t("recipes.minor") %></span>-->
                      <br/>
              <% end %>
              <!--< @recipe.ingredients.each do |i|%>-->
                  <!--< if i.is_major_ingredient == false %>-->
                      <!--<= i.name %>-->
                      <!--<= i.amount %>-->
                      <!--<span class="trivial"><= i.is_major_ingredient ? t("recipes.major") : t("recipes.minor") %></span>-->
                      <!--<br/>-->
                  <!--< end  %>-->
              <!--< end %>-->
            </p>
            <% if current_user_has_permission? :normal_user %>
                <div class="actions">
                    <%= link_to t("recipes.want"), "", class: "mark_recipe button", "data-behavior" => "want", "data-msg" => "我#{t("recipes.want")}#{@recipe.name}" %>
                    <%= link_to t("recipes.did"), "", class: "mark_recipe button", "data-behavior" => "did", "data-msg" => "我#{t("recipes.did")}#{@recipe.name}"  %>
                </div>
            <% end %>
            <% if the_author_himself(Recipe.name, @recipe.id, true, false) %>
                <div class="actions">
                    <%= link_to t("general.edit"), edit_recipe_path(@recipe), class: "button" %>
                </div>
            <% end %>
        </div>
    </div>

    <div class="steps_show grid_9 ">
        <p>
          <b><%= t("recipes.steps") %></b>
          <%= @recipe.steps.count %>
          <% @recipe.steps.each do |f|%>
              <!--<= debug f %>-->

              <div class="step_container grid_3 ">
                  <% if f.img_id?%>
                      <a  rel="facebox" href ="<%=f.image.picture_url%>">
                        <%= image_tag f.image.picture_url, :width => "210", :height => "150", :alt=> "step_image"%>
                      </a><br/>
                   <% end  %>
                <div class="step_content"><%= f.content %></div>
              </div>
          <% end %>
        </p>
    </div>
</div>

<div id = "product area" class = "grid_3 box_shadow"  >
  <div class = "p5"><%= t("recipes.related_product") %> </div><br/>

  <% @related_product.each do |product| %>
        <div style ="width:100px" class= "fl p5">
            <%= render "products/related _product", :product => product %>
            <%= product.price.to_s + t("money.yuan") if product.price.present? %>
            <!--<= product.vendor.name %>-->
        </div>
  <% end %>
</div>

<div id="review_linker" class="display_none">
    <%= form_tag url_for(controller: "recipes", action: "mark", id: @recipe.id, method: :post), :remote => true do %>
        <%= hidden_field_tag "behavior", "", id: "behavior" %>
        <span>顺便说两句吧</span>
        <p>
          <%= text_area_tag "content", "", :rows => 10, :columns => 30, :maxlength => get_max_length(Review, :content), 'data-comment_max_len' => get_max_length(Review, :content), :class => "char_aware" %>
          <%= content_tag :span, "", class: "char_saver display_none" %>
          <%= content_tag :span, "", class: "char_counter block trivial" %>
        </p>
        <%= submit_tag t("general.submit"), class: "button" %>
    <% end %>
</div>
