<% title [truncate_content(@recipe.name, 20), "菜谱"].join("_"), false %>


<div class="grid_9 to_left">
    <div class="box_shadow p10 clearfix">
        <div class="fl mr10" style="width: 200px;">
            <%= link_to image_tag("grey.gif", :alt=> @recipe.name, class: 'lazy fl img_frame overflow_hidden', "data-original"=>  @recipe.get_image_url(:waterfall), width: IMAGE_WATERFALL_WIDTH, height: @recipe.get_image_height(:waterfall), alt: @recipe.name), @recipe.get_image_url, rel: "facebox"  %>
        </div>

        <div id="recipe_info" class="fl ml10 clearfix" style="width: 460px;">
            <div class="clearfix">
                <h1 class="fl f20"><%= content_tag :span, "菜谱", class: "icon icon_recipe mr5" %><%= @recipe.name %></h1>
                <div class="fr clearfix">
                  <%= link_to "编辑", edit_recipe_path(@recipe), class: "btn btn_edit fl" if the_author_himself(@recipe) %>
                  <%= link_to "删除", @recipe, :confirm => t("general.are_you_sure_to_delete"), :method => :delete, :class => "btn btn_delete fl" if the_author_himself(@recipe, true) %>
                  <%= render "administrator/base/tune_fields", item: @recipe if current_user_has_permission? :administrator %>
                </div>
            </div>

            <div class="mt5">
                <%= render "shared/jiathis", :titlestr => "我发现一个不错的菜谱《"+ @recipe.name + "》。", :summarystr => "大家去看看吧！", :picstr => "http://" + request.host_with_port + @recipe.get_image_url(:waterfall), :appkeyhash => load_appkey() %>
            </div>

            <% unless @recipe.tags.blank? || @recipe.tags.empty? %>
                <div class="mt10">
                    <span class="berry_pink"><%= t("recipes.tags") %></span>
                    <%= render "tags/tags", item: @recipe %>
                </div>
            <% end %>

            <div class="mt10">
                <div class="clearfix">
                    <span class="berry_pink"><%= t_with_colon("recipes.major") if @recipe.major_ingredients.length >0 %></span>
                    <ul>
                        <% @recipe.major_ingredients.each do |i|%>
                            <li class="fl" style="width:50%;"> <%= i.name %>  <span class="trivial"><%= i.amount %></span></li>
                        <% end %>
                    </ul>
                </div>
                <div class="clearfix">
                    <span class="berry_pink"><%= t_with_colon("recipes.minor") if @recipe.minor_ingredients.length >0%></span>
                    <ul>
                        <% @recipe.minor_ingredients.each do |i|%>
                            <li class="fl" style="width:50%;"> <%= i.name %> <span class="trivial"><%= i.amount %></span></li>
                        <% end %>
                    </ul>
                </div>
            </div>

            <div class="mt10">
                <% if current_user_has_permission? :normal_user %>
                    <div class="mt5">
                        <%= render "votes/vote_fields", :item => @recipe, show_list: true %>
                    </div>
                <% end %>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="mt10 block clearfix">
            <span class="berry_pink"><%= t_with_colon("recipes.steps") %></span><br/>
            <% @recipe.steps.each_with_index do |step, index| %>
                <div class="mt10 mb10 clearfix">
                    <div class="fl" style="width:5%"><b class="trivial f20 middle"><%= index + 1 %></b></div>
                    <div class="fl" style="width:95%">
                        <p class="middle"><%= step.content %></p>
                        <% if step.image.present?%>
                            <%= link_to image_tag("grey.gif", alt: "步骤图", class: "lazy", "data-original" => step.get_image_url(:waterfall), title: "点击放大", width: IMAGE_WATERFALL_WIDTH, height: step.get_image_height(:waterfall)), step.get_image_url, rel: "facebox" %>
                        <% end %>
                    </div>
                </div>
            <% end %>
        </div>

        <% if @recipe.notice.present? %>
          <div class="mt5">
              <span class="berry_pink"><%= t_with_colon("recipes.notice") %></span>
              <%= @recipe.notice %>
          </div>
        <% end %>
    </div>

     <div class="mt10">
        <%= render "comments/comments", item: @recipe %>
     </div>
</div>

<div class="grid_3 to_right">
    <%= render "users/author_panel", author: @recipe.author %>
    <div class="mt5"></div>
    <%= render "recipes/related_recipes", recipes: @related_recipes %>
    <div class="mt5"></div>
    <%= render "products/related_products", products: @related_products %>
</div>

<% if params[:newly_created] == "true" %>
    <div id="recipe_publisher" class="display_none clearfix">
        <h2>太棒了！成功添加了菜谱，现在去让大家知道吧！</h2>
        <div class="fl box_shadow p5">
            <%= form_tag url_for(controller: "recipes", action: "seduce", :method => :post) do %>
                <%= content_tag :span, "拿菜谱去馋馋别人" %><br/>
                <%= image_tag(@recipe.get_image_url(:thumb)) %><br/>
                <%= hidden_field_tag "id", @recipe.id %>
                <%= text_area_tag "content", "我添加了菜谱：#{@recipe.name}, 快来看看吧" , maxlength: get_max_length(Desire, :content), rows: 5, columns: 16 %><br/>
                <%= submit_tag "确定", class: "btn btn_ok" %>
            <% end %>
        </div>
        <div class="ml20 fl box_shadow p5">
            <%= content_tag :span, "或者" %><br/>
            <div class="mt5">
                <%= render "shared/jiathis", :titlestr => "我在吃心不改网上添加了一个菜谱:"+ @recipe.name + "。", :summarystr => "大家快去看看吧！", :picstr => "http://" + request.host_with_port + @recipe.get_image_url(:waterfall), :appkeyhash => load_appkey() %>
            </div>
        </div>
    </div>

    <% content_for :foot do %>
        <script type="text/javascript">
            jQuery.facebox($('#recipe_publisher').html());
        </script>
    <% end %>
<% end %>




