<div class="recipe_block grid_9 to_left mt10">
    <div class="clearfix box_shadow ">
        <%= render "users/author_panel", author: @recipe.author %>
    </div>

    <div class="recipe_info mt10 to_left box_shadow p5">
        <%= link_to image_tag(@recipe.get_image_url(:waterfall), alt: @recipe.name, class: 'fl img_frame overflow_hidden'), @recipe.get_image_url, rel: "facebox"  %>

        <div class="clearfix">
            <div class="recipe_detailedInfo fl ml10">
                <div class="fl mt10">
                    <span class="f28"><%= @recipe.name %></span>
                    <br/>
                      <%= t("recipes.published_at") %> <%= @recipe.created_at.strftime("%y-%m-%d %H:%M:%S") %>
                </div>

                <div class="top fl mt10">
                    <% if current_user_has_permission? :normal_user %>
                        <div class="mt5">
                            <% target = @recipe %>
                            <%= render "relationships/follow_field", :target => @recipe %>
                            <!--<= link_to t("recipes.collect"), relationships_path(:target_type => target.class.name, :target_id => target.id), :method => :post, :remote => true, :class => "new_relationship", :id => "collect" %>-->

                            <%= link_to t("recipes.want"), "", class: "mark_recipe", "data-behavior" => "want", "data-msg" => "我#{t("recipes.want")}#{@recipe.name}" %>
                            <%= link_to t("recipes.did"), "", class: "mark_recipe", "data-behavior" => "did", "data-msg" => "我#{t("recipes.did")}#{@recipe.name}"  %>
                        </div>
                    <% end %>
                    <% if the_author_himself(Recipe.name, @recipe.id, true, false) %>
                        <div class="mt5">
                            <%= link_to t("general.edit"), edit_recipe_path(@recipe)%>
                        </div>
                    <% end %>
                </div>


                <div class="fl mt10">
                    <b><%= t("recipes.tags") %></b>
                    <%= render "shared/show_tags", item: @recipe %>
                </div>

                <div class="fl mt10">
                    <div class="clearfix">
                        <b><%= t_with_colon("recipes.major") %></b>
                        <ul>
                            <% @recipe.major_ingredients.each do |i|%>
                                <li class="fl" style="width:50%;"> <%= i.name %>  <span class="trivial"><%= i.amount %></span></li>
                            <% end %>
                        </ul>
                    </div>
                    <div class="clearfix">
                        <b><%= t_with_colon("recipes.minor") %></b>
                        <ul>
                            <% @recipe.minor_ingredients.each do |i|%>
                                <li class="fl" style="width:50%;"> <%= i.name %> <span class="trivial"><%= i.amount %></span></li>
                            <% end %>
                        </ul>
                    </div>
                </div>
            </div>

            <% if @recipe.description.present? %>
                <div class="recipe_description fl mt10 ">
                    <%= t("recipes.description") %><br/>
                    <%= @recipe.description %>
                </div>
            <% end %>

            <div class="recipe_steps fl mt10  block">
                <ul>
                    <% @recipe.steps.each_with_index do |s, i|%>
                        <li class="fl" style="width:33.33%;">
                            <b><%= i + 1 %></b><br/>
                            <% if s.image.present?%>
                                <%= link_to image_tag(s.get_image_url(:thumb), :size => '180x135', :alt=> "step_image"), s.get_image_url, rel: "facebox" %>
                            <% end  %>
                            <br/>
                            <div><%= s.content %></div>
                        </li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>

     <div class="recipe_comments p10">
        <%= render "comments/comments", item: @recipe %>
     </div>
</div>

<div class="related_recipe_block grid_3 mt10 to_right box_shadow p5">
    <%= render "recipes/related_recipes", related_recipes: @related_recipes %>
    <%= render "products/related_products", products: @related_products %>
</div>
