<div class="recipe_block grid_9 to_left mt10">
    <div class="clearfix box_shadow ">
        <%= render "users/author_panel", author: @recipe.author %>
    </div>

    <div class="recipe_info mt20 to_left box_shadow p5">
        <% if @recipe.image.present? %>
            <%= link_to image_tag(@recipe.get_image_url(:waterfall), alt: @recipe.name, class: 'fl img_frame overflow_hidden'), @recipe.get_image_url, rel: "facebox"  %>
        <% else %>
            <%= image_tag "not_found.png", class: 'fl img_frame overflow_hidden' %>
        <% end %>

        <div class="clearfix">
            <div class="recipe_detailedInfo fl ml10" style="width:460px">
                <div class="mt10">
                    <span class="f28"><%= @recipe.name %></span><br/>
                    <span class="trivial"><%= t("recipes.published_at") %> <%= @recipe.created_at.strftime("%y-%m-%d %H:%M:%S") %></span>
                </div>

                <div class="mt10">
                    <% if current_user_has_permission? :normal_user %>
                        <div class="mt5">
                            <%= render "relationships/follow_field", :target => @recipe %>
                            <%= link_to t("recipes.want"), "", class: "mark_recipe button", "data-behavior" => "want", "data-msg" => "我#{t("recipes.want")}#{@recipe.name}" %>
                            <%= link_to t("recipes.did"), "", class: "mark_recipe button", "data-behavior" => "did", "data-msg" => "我#{t("recipes.did")}#{@recipe.name}"  %>
                        </div>
                    <% end %>
                    <% if the_author_himself(Recipe.name, @recipe.id, true, false) %>
                        <div class="mt5">
                          <%= link_to t("general.edit"), edit_recipe_path(@recipe), class: "button" if the_author_himself(Recipe.name, @recipe.id, true, false) %>
                            <%= link_to t("general.delete"), @recipe, :confirm => t("general.are_you_sure_to_delete"), :method => :delete, :class => "button" %>
                        </div>
                    <% end %>
                </div>

                <div class="mt10">
                    <b><%= t("recipes.tags") %></b>
                    <%= render "shared/show_tags", item: @recipe %>
                </div>

                <div class="mt10">
                    <div class="clearfix">
                        <b><%= t_with_colon("recipes.major") if @recipe.major_ingredients.length >0 %></b>
                        <ul>
                            <% @recipe.major_ingredients.each do |i|%>
                                <li class="fl" style="width:50%;"> <%= i.name %>  <span class="trivial"><%= i.amount %></span></li>
                            <% end %>
                        </ul>
                    </div>
                    <div class="clearfix">
                        <b><%= t_with_colon("recipes.minor") if @recipe.minor_ingredients.length >0%></b>
                        <ul>
                            <% @recipe.minor_ingredients.each do |i|%>
                                <li class="fl" style="width:50%;"> <%= i.name %> <span class="trivial"><%= i.amount %></span></li>
                            <% end %>
                        </ul>
                    </div>
                </div>
            </div>


            <% if @recipe.description.present? %>
              <div class="clearfix"> </div>
                <div class="recipe_description mt10 ">
                    <b><%= t("recipes.description") %></b><br/>
                    <%= @recipe.description %>
                </div>
            <% end %>

            <div class="fl mt10  block">
                <% @recipe.steps.each_slice(3).each do |slice| %>
                    <div class="clearfix">
                     <% slice.each do |s| %>
                        <div class="fl ml10 mr10 mb5" style="width:205px">
                            <b><%= @recipe.steps.index(s) + 1 %></b><br/>
                            <span class="center">
                                <% if s.image.present?%>
                                    <%= link_to image_tag(s.get_image_url, :size => '180x135', :alt=> "step_image"), s.get_image_url, rel: "facebox" %>
                                <% else  %>
                                    <%= image_tag "not_found.png", :size => '180x135' %>
                                <% end %>
                            </span>
                            <span><%= s.content %></span>
                        </div>
                     <% end %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>

     <div class="mt10">
        <%= render "comments/comments", item: @recipe %>
     </div>
</div>

<div class="related_items_block grid_3 mt10 to_right box_shadow p5 overflow_hidden">
    <%= render "recipes/related_recipes", recipes: @related_recipes %>
    <%= render "products/related_products", products: @related_products %>
</div>
