<div class="grid_9 box_shadow">
    <div class="p5">
        <div class="img_frame fl">
            <!--<= link_to image_tag(@recipe.image_url, border: 0, width: 280, height:218 )%>-->

            <a  rel="facebox" href ="<%=@recipe.image_url%>">
                <%= image_tag @recipe.image_url, :width => "280", :height => "218", :alt=> "recipe_image"%>
            </a><br/>

        </div>

        <div class="fl f16 ml10">
            <h2><%= @recipe.recipe_name %></h2>
            <span class="trivial"><%= t("recipes.uploaded_by") + ": " + @recipe.author.screen_name %></span> <br/>
            <%= t_with_colon("recipes.ingredients") %><br/>
            <p>
              <% @recipe.ingredients.each do |i|%>
                  <%= i.name %>
                  <%= i.amount %>
                  <span class="trivial"><%= i.is_major_ingredient ? t("recipes.major") : t("recipes.minor") %></span>
                  <br/>
              <% end %>
            </p>
            <% if the_author_himself(Recipe.name, @recipe.id, true, false) %>
                <div class="actions">
                    <%= link_to t("general.edit"), edit_recipe_path(@recipe), class: "button" %>
                </div>
            <% end %>
        </div>
    </div>

    <div class="steps_show grid_9 ">
        <p>
          <b><%= t("recipes.steps") %></b>
          <% @recipe.steps.each do |f|%>
              <div class="step_container grid_3 ">

                  <a  rel="facebox" href ="<%=f.image.picture_url%>">
                    <%= image_tag f.image.picture_url, :width => "210", :height => "150", :alt=> "step_image"%>
                  </a><br/>

                <div class="step_content"><%= f.content %></div>
              </div>
          <% end %>
        </p>
    </div>
</div>

<div id = "product area" class = "grid_3 box_shadow"  >
  <%= t("recipes.related_product") %> <br/>

  <% @related_product.each do |product| %>
        <div class="ml60">
            <%= render "products/related _product", :product => product %>
            <%= product.price.to_s + t("money.yuan") if product.price.present? %><br/>
            <%= product.vendor.name %>
        </div>
  <% end %>
</div>
