<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @recipe.name %>
</p>

<p>
  <b>Ingredients:</b>
  <% @recipe.ingredients.each do |f|%>
      <%= f.name %>
      <%= f.amount %>  <br/>
      <%= f.is_major_ingredient %>  <br/>
  <% end %>
</p>

<p>
  <b>Steps:</b>
  <% @recipe.steps.each do |f|%>
      <div id="images_container" class="block fl m5">
            <!--<= render :partial => "images/single_image_field",  :collection => f.images, :as => :image %>-->
        </div>
      <%= f.img_id %> <br/>
      <%= f.content %> <br/>
  <% end %>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
