<div class="recipe_block grid_9 to_left mt10">
    <div class="clearfix box_shadow ">
        <%= render "author_panel", author: @recipe.author %>
    </div>

    <div class="recipe_info  mt10">
        <%= link_to image_tag(@recipe.get_image_url(:waterfall), size: '280', alt: @recipe.name, class: 'recipeImg fl img_frame overflow_hidden '), @recipe.get_image_url, rel: "facebox"  %>

        <div class="clearfix box_shadow">
            <div class="recipe_detailedInfo">
                <div class="title fl mt10">
                    <span><recipename><%= @recipe.name %></recipename></span>
                    <br/>
                      <%= t("recipes.published_at") %> <%= @recipe.created_at.getgm %>
                </div>

                <div class="top fl mt10">
                    <% if current_user_has_permission? :normal_user %>
                        <div class="mt5">
                            <% target = @recipe %>
                            <%= render "relationships/follow_field", :target => @recipe %>
                            <!--<= link_to t("recipes.collect"), relationships_path(:target_type => target.class.name, :target_id => target.id), :method => :post, :remote => true, :class => "new_relationship", :id => "collect" %>-->

                            <%= link_to t("recipes.want"), "", class: "mark_recipe", "data-behavior" => "want", "data-msg" => "我#{t("recipes.want")}#{@recipe.name}" %>
                            <%= link_to t("recipes.did"), "", class: "mark_recipe", "data-behavior" => "did", "data-msg" => "我#{t("recipes.did")}#{@recipe.name}"  %>
                        </div>
                    <% end %>
                    <% if the_author_himself(Recipe.name, @recipe.id, true, false) %>
                        <div class="mt5">
                            <%= link_to t("general.edit"), edit_recipe_path(@recipe)%>
                        </div>
                    <% end %>
                </div>


                <div class="middle fl mt10">
                    <span><%= t("recipes.tags") %></span>
                    <br/>
                    <% @recipe.tags.each do |tag|  %>
                    <a><%= tag %></a>
                    <% end  %>
                </div>

                <div class="bottom fl mt10">
                    <span style="font-size:18px"><%= t("recipes.ingredients") %></span>
                    <div class="foodList ">
                        <ul>
                            <% @recipe.ingredients.each do |i|%>
                              <% if i.is_major_ingredient == true %>
                                  <li style="float:left; width:50%;"> <%= i.name %>  <%= i.amount %></li>
                              <% end  %>
                            <% end %>
                        </ul>
                    </div>
                    <div class="foodList ">
                        <ul>
                            <% @recipe.ingredients.each do |i|%>
                              <% if i.is_major_ingredient == false %>
                                  <li style="float:left; width:50%;"> <%= i.name %>  <%= i.amount %></li>
                              <% end  %>
                            <% end %>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="recipe_description fl mt10 ">
                <%= t("recipes.description") %>
                <br/>
                <%= @recipe.description %>
            </div>

            <div class="recipe_steps fl mt10  block">
                <ul>
                    <% i = 1 %>
                    <% @recipe.steps.each do |s|%>
                        <li style="float:left;width:33.33%;">
                            <h2><%= i %></h2>
                            <% if s.image.present?%>
                                <%= link_to image_tag(s.get_image_url(:thumb), :size => '180x135', :alt=> "step_image"), s.get_image_url, rel: "facebox" %><br/>
                            <% end  %>
                            <br/>
                            <div class= "m5"><%= s.content %></div>
                            <% i = i + 1  %>
                        </li>
                    <% end  %>
                </ul>
            </div>
        </div>

        <div class="recipe_comments p10">
            <!--<span><h2>我来说两句</h2></span>-->
            <%= render "comments/comments", item: @recipe %>
        </div>
    </div>
</div>

<div class="related_recipe_block grid_3 mt10 to_right box_shadow">
    <span><h2>您可能还喜欢...</h2></span>
    <br/>
    <ul>
        <%= render "related_recipes", related_recipes: @related_recipes %>
    </ul>

    <span><h2>相关产品推荐...</h2></span>
    <br/>
    <ul>
        <%= render "products/related_products", products: @related_products %>
    </ul>
</div>
