<div class="grid_9 to_left">
    <div class="box_shadow p5">
        <%= link_to image_tag("grey.gif", :alt=> @recipe.name, class: 'lazy fl img_frame overflow_hidden', "data-original"=>  @recipe.get_image_url(:waterfall), width: IMAGE_WATERFALL_WIDTH, height: @recipe.get_image_height(:waterfall)), @recipe.get_image_url, rel: "facebox"  %>

        <div class="clearfix">
            <div id="recipe_info" class="fl ml10 clearfix">
                <h1 class="f20"><%= @recipe.name %></h1>
                <div class="mt5">
                    <% titlestr = "我发现一个不错的菜谱《"+ @recipe.name + "》。" %>
                    <% summarystr = "大家去看看吧！" %>
                    <% picstr = "http://" + request.host_with_port + @recipe.get_image_url(:waterfall) %>
                    <% appkeyhash = load_appkey() %>
                    <%= render "shared/jiathis", :titlestr => titlestr, :summarystr => summarystr, :picstr => picstr, :appkeyhash => appkeyhash %>
                </div>

                <% unless @recipe.tags.blank? || @recipe.tags.empty? %>
                    <div class="mt10">
                        <span class="berry_pink"><%= t("recipes.tags") %></span>
                        <%= render "tags/tags", item: @recipe %>
                    </div>
                <% end %>

                <div class="mt10">
                    <div class="clearfix">
                        <span class="berry_pink"><%= t_with_colon("recipes.major") if @recipe.major_ingredients.length >0 %></span>
                        <ul>
                            <% @recipe.major_ingredients.each do |i|%>
                                <li class="fl" style="width:50%;"> <%= i.name %>  <span class="trivial"><%= i.amount %></span></li>
                            <% end %>
                        </ul>
                    </div>
                    <div class="clearfix">
                        <span class="berry_pink"><%= t_with_colon("recipes.minor") if @recipe.minor_ingredients.length >0%></span>
                        <ul>
                            <% @recipe.minor_ingredients.each do |i|%>
                                <li class="fl" style="width:50%;"> <%= i.name %> <span class="trivial"><%= i.amount %></span></li>
                            <% end %>
                        </ul>
                    </div>
                </div>

                <div class="mt10">
                    <% if current_user_has_permission? :normal_user %>
                        <div class="mt5">
                            <%= render "votes/vote_fields", :item => @recipe %>
                        </div>
                    <% end %>
                    <% if the_author_himself(Recipe.name, @recipe.id, true, false) %>
                        <div class="mt5 clearfix">
                            <%= link_to "", edit_recipe_path(@recipe), class: "btn btn_edit fl" if the_author_himself(Recipe.name, @recipe.id, true, false) %>
                            <%= link_to "", @recipe, :confirm => t("general.are_you_sure_to_delete"), :method => :delete, :class => "btn btn_delete fl" %>
                        </div>
                    <% end %>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="fl mt10 block">
                <span class="berry_pink"><%= t_with_colon("recipes.steps") %></span><br/>
                <% @recipe.steps.each_with_index do |step, index| %>
                    <div class="mt10 mb10 clearfix">
                        <div class="fl mr10"><b class="trivial f20"><%= index + 1 %></b></div>
                        <div class="fl">
                            <p><%= step.content %></p>
                            <% if step.image.present?%>
                                <%= link_to image_tag("grey.gif", alt: "step_image", class: "lazy", "data-original" => step.get_image_url(:waterfall), title: "点击放大", width: IMAGE_WATERFALL_WIDTH, height: step.get_image_height(:waterfall)), step.get_image_url, rel: "facebox" %>
                            <% end %>
                        </div>
                    </div>
                <% end %>
            </div>

            <div class="clearfix"></div>
            <% if @recipe.notice.present? %>
              <div class="mt5">
                  <span class="berry_pink"><%= t_with_colon("recipes.notice") %></span>
                  <%= @recipe.notice %>
              </div>
            <% end %>
        </div>
    </div>

     <div class="mt10">
        <%= render "comments/comments", item: @recipe %>
     </div>
</div>

<div class="grid_3 to_right">
    <%= render "users/author_panel", author: @recipe.author %>
    <div class="mt5"></div>
    <%= render "recipes/related_recipes", recipes: @related_recipes %>
    <div class="mt5"></div>
    <%= render "products/related_products", products: @related_products %>
</div>


<div id="review_linker" class="display_none">
    <%= form_tag url_for(controller: "recipes", action: "mark", id: @recipe.id, method: :post), :remote => true do %>
        <%= hidden_field_tag "behavior", "", id: "behavior" %>
        <span>顺便说两句吧</span>
        <p>
          <%= text_area_tag "content", "", :rows => 10, :columns => 30, :maxlength => get_max_length(Review, :content), 'data-comment_max_len' => get_max_length(Review, :content), :class => "char_aware" %>
          <%= content_tag :span, "", class: "char_saver display_none" %>
          <%= content_tag :span, "", class: "char_counter block trivial" %>
        </p>
        <%= submit_tag t("general.submit"), class: "button" %>
    <% end %>
</div>


