<%= form_for([:administrator, @user]) do |f| %>
  <%= render "shared/error_messages", :target => @user %>

  <div class="field">
    <b>Role</b>
    <%= select_tag "new_role", options_for_select(get_roles_for_select, @user.role) %>
  </div>

  <div class="field">
     <%= f.label :is_master,master %><br />
     <%= f.check_box :is_master, {}, true, false %>
  </div>

  <div class="field">
     <%= f.label :enabled, t("general.enable") %><br />
     <%= f.check_box :enabled, {}, true, false %>
  </div>

  <div class="actions">
    <%= f.submit t("general.submit"), :class => "button" %>
  </div>
<% end %>
