<% title t("users.index") %>

<%= User.all.size.to_s %> <%= t("users.users") %>

<table class="formatted">
    <tr class="head">
        <th>头像</th>
        <th><%= t("users.login_name") %></th>
        <th><%= t("users.role") %></th>
        <th><%= t("reviews.reviews") %></th>
        <th><%= t("recipes.recipes") %></th>
        <th><%= t("users.master") %></th>
        <th>注册时间</th>
        <th></th>
    </tr>

    <% @users.each do |user| %>
    <tr id='<%= user.id %>'>
        <td style="width: 28px; height: 28px;"><%= image_tag(user.get_avatar(:thumb, false), width: 24, height: 24, class: "mt2")%></td>
        <td><%= link_to user.login_name, [:administrator, user] %></td>
        <td><%= t("users.role_#{user.role.to_s}")%></td>
        <td><%= user.reviews.size %></td>
        <td><%= user.recipes.size %></td>
        <td><%= render "administrator/shared/toggle_fields", :item => user, :field => :is_master %></td>
        <td><%= user.created_at.strftime("%y-%m-%d") %></td>
        <td><%= link_to t("general.edit"), edit_administrator_user_path(user), :class => "button" %></td>
    </tr>
    <% end %>
</table>