<p>
  <b><%= t("users.login_name") %></b>
  <%= @user.login_name %>
</p>

<p>
  <b>Email</b>
  <%= @user.email %>
</p>

<p>
  <b><%= t("users.role") %></b>
  <%= @user.role %>
</p>

<%= link_to t("general.edit"), edit_administrator_user_path(@user), :class => "button" %>

