<%= form_for [:administrator, @invitation] do |f| %>
    <%= render "shared/error_messages", :target => @invitation %>

    <div>
        <%= @invitation.code %>
        <span class="trivial"><%= f.hidden_field :code %></span><br/>
    </div>

    <div>
        <%= f.label :entitle_to, "授予:", class: "trivial" %> <br/>
        <%= f.text_field :entitle_to %>
    </div>

    <div class= "mt10"><%= f.submit (f.object.new_record? ? t("general.publish") : t("general.change")), class: "#{f.object.new_record? ? "btn btn_submit_post" : "btn btn_submit_update"}" %> </div>
<% end %>
