<% title @group.name %>
<p><%= render "tags/tags", :item => @group %></p>
<p class="trivial"><%= t("general.created_at") %> <%= @group.created_at.strftime(TIME_FORMAT) %></p>

<p><%= @group.description %></p>

<div class="actions">
    <%= link_to t("groups.join"), join_group_path(@group), :method => :put, :class => "button" if @can_join %>
    <%= link_to t("groups.quit"), quit_group_path(@group), :method => :put, :class => "button"  if @can_quit%>
    <% if @group.is_creator_by?(current_user) || current_user_has_permission?(:editor)  %>
        <%= link_to t("general.edit"), edit_group_path(@group), :method => :get, :class => "button" %>
    <% end %>
</div>

<div class="block round">
    <p>
      <b><%= t("groups.member") %></b><span class="trivial">(<%= @group.member_ids.size.to_s %><%= t("groups.member") %>)</span>
    </p>
    <%= render :partial => "member", :collection => @group.members %>
</div>

<div id="group_posts" class="block round">
    <h3><%= t("groups.posts") %></h3>
    <table>
      <tr>
        <th><%= t("general.title") %></th>
        <th><%= t("posts.comments") %></th>
      </tr>
    <% @group.posts.each do |post| %>
        <tr>
          <td><%= link_to post.title, post %></td>
          <td><%= post.comments.size if post.comments.size > 0 %></td>
        </tr>
    <% end %>
    </table>
    <% if @group.is_member_of?(current_user) %>
        <%= link_to t("posts.new"), new_post_path(:group_id => @group.id), :class => "button" %>
    <% end %>
</div>

