<% title @group.name %>
<span class="trivial">(<%= @group.member_ids.size.to_s %><%= t("groups.member") %>)</span>
<% @group.tags.each do |tag| %>
        <%= link_to tag.name, {:controller => "/search", :action => "tag", :tags => tag.name}, :class => "tag" %>
<% end %><br/>
<span class="trivial"><%= t("general.created_at") %> <%= @group.created_at.strftime(TIME_FORMAT) %></span><br/>

<p><%= @group.description %></p>

<div class="actions">
    <%= link_to t("groups.join"), join_group_path(@group), :method => :put, :class => "button" if @can_join %>
    <%= link_to t("groups.quit"), quit_group_path(@group), :method => :put, :class => "button"  if @can_quit%>
    <%= link_to t("general.edit"), edit_group_path(@group), :method => :put, :class => "button" if @group.is_creator_by?(current_user) %>
</div>

<hr/>
<b><%= t("groups.member") %></b>
<%= render :partial => "member", :collection => @group.members %>

<hr/>
<div id="group_posts">
    <h3><%= t("groups.posts") %></h3>
    <table>
      <tr>
        <th><%= t("general.title") %></th>
        <th><%= t("posts.comments") %></th>
      </tr>
    <% @group.posts.each do |post| %>
        <tr>
          <td><%= link_to post.title, post %></td>
          <td><%= post.comments.size if post.comments.size > 0 %></td>
        </tr>
    <% end %>
    </table>

    <%= link_to t("posts.new"), new_post_path(:group_id => @group.id), :class => "button" %>
</div>

<%= link_to t("general.back_to_list"), groups_path %>
