<span class="admire_fields <%= desire.id.to_s %> clearfix">
    <% if defined?(show_list) && show_list %>
        <p class="admirers_list">
            <span class="list_hint <%= desire.admirer_ids.empty? ? "display_none" : "" %>">
                <%= content_tag :span, "#{desire.admirer_ids.size}", class: "admirers_count trivial" %><span class="trivial">人想吃：</span>
            </span>
            <% desire.admirers.each do |admirer| %>
                <%= link_to image_tag(admirer.get_avatar(:thumb), width: 24, height: 24), admirer, class: "admirer #{admirer.id.to_s} m2", alt: admirer.login_name, title: admirer.login_name %>
            <% end %>
        </p>
    <% end %>

    <% if current_user &&  !the_author_himself(desire) %>
      <% unless desire.admirer_ids.include?(current_user.id) %>
        <%= content_tag :span, "如有新解馋攻略，通知我", class: "trivial f12" unless desire.admirer_ids.include?(current_user.id) %><br/>
      <% end %>
      <%= link_to "", admire_desire_path(:id => desire.id), :method => :put, :remote => true,
              :class => "btn btn_admire " + (desire.admirer_ids.include?(current_user.id) ? "admired" : "to_admire") %>
    <% end %>
</span>
