<div class="masonary_item">
    <div class="inner_frame">
        <% has_solution, best_solution = desire.has_solution? %>
        <%= content_tag :span, "", class: "icon jiechan_ribbon" if has_solution %>
        <div class="pt10 pl10 pr10">
            <div class="centered">
                <% pic_url = desire.get_image_url(:waterfall) %>
                <% if pic_url.present? %>
                    <%= link_to image_tag(pic_url, width: IMAGE_WATERFALL_WIDTH, height: desire.get_image_height(:waterfall)), desire %>
                <% end %>
            </div>
            <div class="clearfix">
                <span>
                    <%= link_to image_tag(desire.author.get_avatar(:thumb, false), width: 22, height: 22), desire.author %>
                    <%= link_to desire.author.login_name, desire.author %>
                </span>
                <span class="ml5"><%= truncate_content(desire.content, 50) %></span>
                <% if desire.place %>
                    <p>
                        <%= content_tag :span, "来自 " + desire.place.name, class: "trivial" %>
                        <%= content_tag :span, "地点", class: "icon icon_place" %>
                    </p>
                <% end %>
            </div>
        </div>
        <% if best_solution %>
            <div class="b_azure_gray pt5 pl10 pr10">
                <div class="clearfix">
                    <% creator = best_solution.creator %>
                    <% if best_solution.has_creator? %>
                        <%= link_to image_tag(best_solution.creator.get_avatar, width: 22, height: 22), best_solution.creator %>
                        <%= link_to best_solution.creator.login_name, best_solution.creator %>
                        <span class="trivial f12 mr5">分享了解馋攻略：</span>
                    <% else %>
                        <span class="trivial f12 mr5">解馋攻略：</span>
                    <% end %>

                    <!--< item = best_solution.item %>-->
                    <!--< if item && item.get_image_url(:thumb) %>-->
                        <!--<= link_to image_tag(item.get_image_url(:thumb), width: 22, height: 22), desire %>-->
                    <!--< end %>-->
                    <% if best_solution.content.present? %>
                          <span class="f12"><%= truncate_content best_solution.content, 20 %></span>
                    <% end %>
                </div>
                <div>
                    <% best_solution.votes.desc(:created_at).limit(3).each do |vote| %>
                        <div>
                            <span class="trivial f12 mr2"><%= link_to vote.voter.login_name, vote.voter %></span>
                            <span class="trivial f12 mr5">投了一票<%= vote.content.present? ? "：" : "" %></span>
                            <span class="trivial f12"><%= vote.content %></span>
                        </div>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>
</div>