<div class="masonary_item">
  <div class="inner_frame">
    <%= content_tag :span, "", class: "icon jiechan_ribbon" if desire.has_solution? %>
    <div class="centered">
        <% pic_url = desire.get_image_url(:waterfall) %>
        <% if pic_url.present? %>
            <%= link_to image_tag(pic_url, height: desire.get_image_height(:waterfall)), desire %>
        <% end %>
    </div>
    <div class="clearfix">
      <span>
        <%= link_to image_tag(desire.author.get_avatar(:thumb, false), width: 22, height: 22), desire.author %>
        <%= link_to desire.author.login_name, desire.author %>
      </span>
      <span class="ml5"><%= truncate_content(desire.content, 50) %></span>
      <% if desire.place %>
        <p>
            <%= content_tag :span, "来自于 " + desire.place.name, class: "trivial" %>
            <%= content_tag :span, "地点", class: "icon icon_place"  %>
        </p>
      <% end %>
    </div>
  </div>
</div>