<div class="masonary_item">
    <div class="inner_frame">
        <% has_solution, best_solution = desire.solved %>
        <%= content_tag :span, "", class: "icon jiechan_ribbon" if has_solution %>
        <div class="pt10 pl10 pr10 pb5">
            <div class="hint_box">
                <% pic_url = desire.get_image_url(:waterfall) %>
                <% if pic_url.present? %>
                    <%= link_to image_tag(pic_url, width: IMAGE_WATERFALL_WIDTH, height: desire.get_image_height(:waterfall)), desire %>
                <% end %>

                <!--if in an album-->
                <% if @album && the_author_himself(@album) %>
                  <span class="flex_hint top_left">
                      <p><%= link_to "", pick_cover_album_path(@album, item_id: desire.id, item_type: desire.class.name), method: :put, remote: true, class: "btn btn_set_cover" %></p>
                      <p><%= link_to "", remove_album_path(@album, item_id: desire.id, item_type: desire.class.name), method: :put, class: "btn btn_remove_from_album", confirm: "确定要从拼盘中移除吗？"  %></p>
                  </span>
                <% end %>
            </div>

            <div class="mt5 clearfix">
                <span>
                    <%= link_to image_tag(desire.author.get_avatar(:thumb, false), width: 22, height: 22), desire.author %>
                    <%= link_to desire.author.login_name, desire.author, class: "trivial" %>
                </span>
                <span class="ml5 f12 tight"><%= truncate_content(desire.content, 200) %></span>
                <% if desire.place %>
                    <p>
                        <%= content_tag :span, "来自 " + desire.place.name, class: "trivial" %>
                        <%= content_tag :span, "餐馆", class: "icon icon_place" %>
                    </p>
                <% end %>
            </div>
        </div>

        <div class="b_azure_gray">
            <% mode = "comments" unless (defined?(mode) && mode == "solved" )  %>
            <% admirers_count = desire.admirer_ids.size %>
            <% solutions_count = desire.solutions_count %>
            <% if admirers_count > 0 || solutions_count > 0 %>
                <span class="ml10 mr10 f12" >
                    <%= link_to "馋到#{admirers_count}人", desire, class: "berry_pink" if admirers_count > 0 %> <%= content_tag :span, "|", class: "ml10 mr10 trivial" if admirers_count > 0 && solutions_count > 0 %><%= link_to "#{solutions_count}个解馋攻略", desire, class: "berry_pink" if solutions_count > 0 %>
                </span>
            <% end %>
            <%= render "desires/extra_comments", desire: desire %>
        </div>

    </div>
</div>