<span class="trivial"><%= "添点描述，让它变得更诱人吧：" %></span><span class="berry_red">*</span><br/>
<%= f.text_area :content, :maxlength => get_max_length(@desire, :content), 'data-comment_max_len' => get_max_length(@desire, :content), :class => "char_aware" %>
<%= content_tag :span, "", class: "char_saver display_none" %>
<%= content_tag :span, "", class: "char_counter block trivial" %>


<%= link_to_function "+展开", '$(this).nextAll(".toggle_fields").toggle();' %><%= content_tag :span, "有地址？那赶快告诉大家在哪能吃到这份美食", class: "ml5 trivial" %>
<div class="toggle_fields display_none mt10">
    <span class="trivial mr2"><%= "上海" %></span><span class="trivial"><%= "（其他城市很快会支持～）" %></span><br/>
    <%= hidden_field_tag "place[city]", "上海" %>
    <span class="trivial">名称</span><%= mark_required Place, :name%><span class="trivial ml5">例： XX饭店</span><br/>
    <%= text_field_tag "place[name]", "", 'data-pre' => (place.present? ? [{:id => place.name, :name => place.name }] : []).to_json %>
    <span class="trivial">地址</span><%= mark_required Place, :street %><span class="trivial ml5">例：  黄浦区XX路XXX号  A大厦...</span><br/>
    <%= text_field_tag "place[street]", (place.present? ? place.street : "" )  %><br/>
</div>
