<h1 class="ml5 mt10">收集馋人图片到吃心不改</h1>
<div id="desire_fields" class="mt10">
    <%= form_for @desire do |f| %>
        <%= render "shared/error_messages", target: @desire %>

        <div class="grid_7">
            <div id="upload_area" class="b_white"  >
                <%= hidden_field_tag "authenticity_token", form_authenticity_token, :id => "tokentag" %>
                <div id="images_container"align="center">
                    <div class="uploaded_image"><%= image_tag params[:img] %></div>
                </div>
                <%= hidden_field_tag "remote_image_url", params[:img] %>
            </div>
            <% if @product %>
                <%= f.hidden_field :via_product %>
                <%= hidden_field_tag "product_id", @product.id %>
                <div class="mt10">
                    <div class="solution_option img_frame mb5 mr5">
                      <div class="f12" style="top:0px;left:0px;height: 20px;">
                          <span class="fl f11 berry_pink"><%= (t("money.yuan_mark1") + @product.price_as_money_string) if @product.price? %></span>
                          <%= content_tag :span, "", class: "fr icon icon_product" %>
                          <%= content_tag :span, t("object_types.product"), class: "fr trivial" %>
                      </div>
                      <%= image_tag(@product.get_image_url(:thumb), width: 100, height: 100, title: t("object_types.product") + " - " + @product.name) %>

                      <div class="f12" style="width: 100px; height: 26px; overflow: hidden;">
                          <%= content_tag :span, "来自", class: "trivial mr2" %>
                          <%= new_tab_link_to current_user.login_name, {controller: "users", action: "show", id: current_user.id, force: true}, class: "trivial ml2" %>
                      </div>
                  </div>
                </div>
            <% end %>

            <div class="clearfix">
                <%= render "tags/tags_field", f: f %>
            </div>

            <div class= "mt10"><%= f.submit t("general.submit"), class: "btn btn_submit_post", id: "submit_desire" %> </div>
        </div>
        <div class="grid_5">
            <%= render "right_form", f: f, place: nil %>
        </div>

        <div class="clearfix"></div>
    <% end %>
</div>