<h1 class="ml5 mt10">收集图片到吃心不改</h1>
<div id="desire_fields" class="mt10">
    <%= form_for @desire do |f| %>
        <%= render "shared/error_messages", target: @desire %>

        <div class="grid_7">
            <div class="b_white"  >
                <%= hidden_field_tag "authenticity_token", form_authenticity_token, :id => "tokentag" %>
                <div id="images_container"align="center">
                    <div class="uploaded_image"><%= image_tag params[:img] %></div>
                </div>
                <%= hidden_field_tag "remote_image_url", params[:img] %>
            </div>
            <% if @product %>
                <%= render "desires/afar_item", type: "product", item: @product %>
            <% end %>
            <% if @tuan %>
                <%= render "desires/afar_item", type: "tuan", item: @tuan %>
            <% end %>

            <div class="clearfix">
                <%= render "tags/tags_field", f: f %>
            </div>

            <div class= "mt10"><%= f.submit t("general.submit"), class: "btn btn_submit_post", id: "submit_desire" %> </div>
        </div>
        <div class="grid_5">
            <%= render "right_form", f: f, place: nil %>
        </div>

        <div class="clearfix"></div>
    <% end %>
</div>