<h1>Listing desires</h1>

<table>
  <tr>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @desires.each do |desire| %>
  <tr>
    <td><%= desire.content %></td>
    <td><%= link_to 'Show', desire %></td>
    <td><%= link_to 'Edit', edit_desire_path(desire) %></td>
    <td><%= link_to 'Destroy', desire, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Desire', new_desire_path %>
