<% title t("desires.desire"), false %>

<%= render "primary_tags" %>
<div class="clearfix mb10"></div>

<div id="masonry_container" class="clearfix">
    <!--corner stmap-->
    <div class="masonary_item">
        <div class="inner_frame">
            <% if params[:tag] %>
                <h2 class="mb10"><%= "“#{params[:tag] }”的馋人图片"%></h2>
            <% end %>
            <%= content_tag :span, "也想馋馋别人？", class: "f14" %>
            <% if current_user_has_permission? :normal_user %>
                <div class="mt5 clearfix">
                    <%= link_to "+上传馋人图片", new_desire_path, class: "btn btn_new_desire" %>
                </div>
            <% else %>
                <%= link_to "立即注册", new_user_path, class: "button" %>
            <% end %>
        </div>
    </div>

    <% @desires.each do |desire| %>
        <%= render "desires/desire_item", desire: desire %>
    <% end %>
</div>

<% base_url = 'http://' + request.host_with_port %>

<nav id="page_nav">
    <% tag = params[:tag] || "null"  %>
    <%= link_to "", base_url + "/desires/more/#{tag}/2" %>
</nav>

<div id="more_nav" class="mt10 centered display_none">
    <% current_chapter = params[:chapter] ? params[:chapter].to_i : 1 %>
    <% if current_chapter > 1 %>
        <%= link_to "上一页", desires_path(chapter: current_chapter - 1), class: "chapter_link" %>
    <% end %>
    <% indexes = [1, current_chapter -1, current_chapter, current_chapter + 1, @total_chapters].uniq.sort.select{|i| i > 0 && i <= @total_chapters} %>
    <% indexes.each_with_index do |chapter_index, index| %>
        <% if (index > 0) && ((indexes[index] - indexes[index - 1]) > 1) %>
            ...
        <% end %>
        <%= link_to chapter_index, desires_path(chapter: chapter_index), class: (chapter_index == current_chapter ? "chapter_link current" : "chapter_link") %>
    <% end %>

    <% if current_chapter < @total_chapters %>
        <%= link_to "下一页", desires_path(chapter: current_chapter + 1), class: "chapter_link" %>
    <% end %>
    <span class="trivial"><%= "共#{@total_chapters}页" %></span>
</div>

<%= link_to t("general.back_to_top"), "#", :id => "back_to_top", class: "btn btn_back_to_top hide" %>