<% title t("desires.desire") %>

<div class="grid_9 to_left overflow_hidden">
    <div class="box_shadow clearfix p5">
        <%= image_tag("grey.gif", :alt=> "Desire_Img", "class" => 'img_frame restricted lazy overflow_hidden', "data-original"=>  @desire.get_image_url) %><br/>
        <%= @desire.content %>
        <% if current_user_has_permission? :normal_user %>
            <div align="right">
              <%= render "admire_fields", :desire => @desire %>
            </div>
        <% end %>
    </div>

    <% if the_author_himself(Desire.name, @desire.id, true, false) %>
        <div class="mt10 p5 clearfix">
            <%= link_to "", edit_desire_path(@desire), class: "modify_btn" %>
        </div>
    <% end %>
    <div class="mb20">
        <%= render "reviews/review_fields", :review => @desire.reviews.build, caption: "分享解馋攻略：" %>
    </div>

    <h3 class="mb5">来自用户的解馋攻略：</h3>
    <% @desire.reviews.desc(:votes, :updated_at).reject{|d| d.new_record?}.each do |review| %>
        <%= render review %>
    <% end %>
</div>

<div class="grid_3 to_right">
    <%= render "users/author_panel", author: @desire.author %>
</div>