<% title t("desires.desire"), false %>

<div class="grid_9">
    <div class="box_shadow p10">
        <div class="clearfix">
            <%= link_to image_tag("grey.gif", "data-original"=> @desire.author.get_avatar(:thumb, false), :class => "lazy fl", width: 48, height: 48), @desire.author %>
            <div class="fl ml5">
                <%= link_to @desire.author.login_name, user_path(@desire.author) %><span class="ml5 trivial"><%= "发布于" %><%= @desire.created_at.strftime(GENERAL_TIME_FORMAT) %></span><br/>
                <%= render "relationships/follow_field", :target => @desire.author %>
            </div>
        </div>
        <div class="mt10 clearfix">
            <%= image_tag("grey.gif", :alt=> "Desire_Img", "class" => 'img_frame restricted lazy overflow_hidden', "data-original"=>  @desire.get_image_url) %><br/>
            <% if @desire.content.present? %>
                <p><blockquote><span class="quoted f15"><%= @desire.content %></span></blockquote></p>
            <% end %>
            <% unless @desire.tags.empty? %>
                <p><%= content_tag :span, t_with_colon("tags.tags"), class: "trivial"%><%= render "shared/show_tags", item: @desire %></p>
            <% end %>
        </div>
        <div class="mt10 clearfix">
           <% if current_user_has_permission? :normal_user %>
                <div class="fl">
                    <%= render "albums/collect_fields", :item => @desire %>
                </div>
                <div class="fr" align="right">
                    <%= render "admire_fields", :desire => @desire %>
                </div>
            <% end %>
        </div>
        <% if the_author_himself(Desire.name, @desire.id, true, false) %>
            <div class="mt10 clearfix">
                <% if the_author_himself(Desire.name, @desire.id, true, false) %>
                    <%= link_to "", edit_desire_path(@desire), class: "modify_btn" %>
                    <%= link_to "", @desire, :confirm => t("general.are_you_sure_to_delete"), :method => :delete, :class => "delete_btn" %>
                <% end %>
            </div>
        <% end %>
    </div>

    <% if @desire.admirer_ids.size > 0 %>
        <div class="box_shadow p5 mt5 mb5 admiration_fields">
            <%= "#{@desire.admirer_ids.size}人被馋到：" %><br/>
            <% @desire.admirers.each do |admirer| %>
                <%= link_to image_tag(admirer.get_avatar(:thumb), width: 32, height: 32), admirer, class: "m2", alt: admirer.login_name, title: admirer.login_name %>
            <% end %>
        </div>
    <% end %>

    <% if @desire.album_ids.size > 0 %>
        <div class="box_shadow p5 mt5 mb5 albums_fields">
            <%= "#{@desire.album_ids.size}人收集：" %><br/>
            <% @desire.albums.each do |album| %>
                <div>
                    <%= link_to image_tag(album.author.get_avatar(:thumb), width: 32, height: 32), album.author, class: "m2" %>
                    <%= link_to album.author.login_name, album.author %>
                    <%= " 收集到 " %>
                    <%= link_to album.title, album %>
                </div>
                <hr/>
            <% end %>
        </div>
    <% end %>

    <div class="mt10 mb10">
        <%= render "reviews/review_fields", :review => @desire.reviews.build, caption: "分享解馋攻略：" %>
    </div>

    <% reviews = @desire.reviews.desc(:votes, :updated_at).reject{|d| d.new_record?} %>
    <% if reviews.size > 0 %>
        <div class="mt10">
            <h3 class="mb5">来自用户的解馋攻略：</h3>
            <% reviews.each do |review| %>
                <%= render review %>
            <% end %>
        </div>
    <% end %>
</div>

<div class="grid_3">
    <div class="box_shadow p5">
        <h3>相似的馋人图片：</h3>
        <% @related_desires.each do |desire| %>
            <%= link_to image_tag("grey.gif", "data-original"=> desire.get_image_url(:thumb), width: 66, height: 66, class: "lazy"), desire, class: "lighter_touch" %>
        <% end %>
    </div>
</div>