<% title "馋人图片:" + truncate_content(@desire.content, 10) , false %>

<div class="grid_9">
  <div class="box_shadow p10">
    <div class="clearfix">
      <%= link_to image_tag("grey.gif", "data-original" => @desire.author.get_avatar(:thumb, false), :class => "lazy fl", width: 48, height: 48), @desire.author %>
      <div class="fl ml5">
        <%= link_to @desire.author.login_name, user_path(@desire.author) %>
        <span class="ml5 trivial"><%= "发布于" %><%= @desire.created_at.strftime(GENERAL_TIME_FORMAT) %></span><br/>
        <%= render "relationships/follow_field", :target => @desire.author %>
      </div>
      <div class="fr clearfix">
          <%= link_to "编辑", edit_desire_path(@desire), class: "btn btn_edit" if the_author_himself(@desire) %>
          <%= link_to "删除", @desire, :confirm => t("general.are_you_sure_to_delete"), :method => :delete, :class => "btn btn_delete" if the_author_himself(@desire, true) %>
          <%= render "administrator/base/tune_fields", item: @desire if current_user_has_permission? :administrator %>
      </div>
    </div>
    <div class="mt10 clearfix">
      <%= image_tag("grey.gif", :alt => "Desire_Img", "class" => 'img_frame restricted lazy overflow_hidden', "data-original" => @desire.get_image_url) %>
      <br/>
      <% if @desire.content.present? %>
          <p>
          <blockquote><span class="quoted f15"><%= @desire.content %></span></blockquote>
          </p>
      <% end %>
      <% unless @desire.tags.empty? %>
          <p><%= content_tag :span, t_with_colon("tags.tags"), class: "trivial" %><%= render "tags/tags", item: @desire %></p>
      <% end %>
    </div>
    <div class="mt10 clearfix">
      <% if current_user_has_permission? :normal_user %>
          <div class="fl">
            <%= render "albums/collect_fields", :item => @desire %>
          </div>
          <div class="fr" align="right">
            <%= render "admire_fields", :desire => @desire, :show_hint => true, :show_list => true %>
          </div>
      <% end %>
    </div>
  </div>

    <div class="mt20 box_shadow clearfix" style="padding:  5px">
    <div class="clearfix">
        <h2 class="trivial">解馋攻略</h2>
        <span class="trivial">
            <% if @solutions.size > 0 %>
                <%= "总共#{@desire.votes_count}人投票。" %>
                <% if @my_vote %>
                    <%= "你投给了“#{@my_vote.solution.name}”" %>
                <% elsif @solutions.size > 0 %>
                    投票给你觉得解馋的攻略吧！
                <% end %>
            <% else %>
                <span class="trivial">还没有解馋攻略</span>
            <% end %>
        </span><br/>
        <% number_of_groups = (@solutions.size.to_f / 9.to_f).ceil %>
        <% if number_of_groups > 1 %>
            <%= link_to_function "换一组看看>>", "shift_solutions_group(this);", "data-current_index" => "#{0}", "data-max_index" => "#{number_of_groups - 1}", class: "berry_pink" %>
        <% end %>
        <% index = 0 %>
        <div class="solutions_container mt10 clearfix">
            <% @solutions.each_slice(9) do |group| %>
                <%= render "solutions/solutions_group", solutions: group, index: index %>
                <% index += 1 %>
            <% end %>
        </div>
    </div>
  </div>

  <div class="mt10">
    <%= render "comments/comments", item: @desire %>
  </div>
</div>

<div class="grid_3">
  <% if @desire.place %>
      <div class="box_shadow mb10 p5">
        <h3 class="trivial">美食地点：<%= link_to @desire.place.name, @desire.place %></h3>
        <%= content_tag :span, @desire.place.address, class: "trivial" %>
        <%= render "shared/location", location: @desire.place %>
      </div>
  <% end %>

  <% unless @desire.albums.empty? %>
      <div class="box_shadow mb10  p5">
        <h3 class="trivial">被收集到拼盘：</h3>
        <% @desire.albums.limit(3).each do |album| %>
            <div class="clearfix mb10 lighter_touch">
                <%= link_to album.title, album %> |
                <%= link_to image_tag(album.author.get_avatar(:thumb), width: 20, height: 20), album.author, class: "m2" %>
                <%= link_to album.author.login_name, album.author %>
                <br/>
                <% album.get_image_urls(3, :thumb).each do |pic_url| %>
                    <%= link_to image_tag("grey.gif", "data-original" => pic_url, :class => "lazy fl", width: 70, height: 70), album %>
                <% end %>
            </div>
        <% end %>
      </div>
  <% end %>

  <% unless @related_desires.empty? %>
      <div class="box_shadow p5">
        <h3 class="trivial">相似的馋人图片：</h3>
        <div class="mt5">
            <% @related_desires.each do |desire| %>
                <%= link_to image_tag("grey.gif", "data-original" => desire.get_image_url(:thumb), width: 66, height: 66, class: "lazy"), desire, class: "lighter_touch" %>
            <% end %>
        </div>
      </div>
  <% end %>
</div>