<% title (@desire.content.present? ? truncate_content(@desire.content, 10) :  "馋人图片"), false %>

<div class="grid_9">
  <div class="box_shadow p10">
    <div class="clearfix">
      <%= link_to image_tag("grey.gif", "data-original" => @desire.author.get_avatar(:thumb, false), :class => "lazy fl", width: 48, height: 48, alt: @desire.author.login_name), @desire.author %>
      <div class="fl ml5">
        <%= link_to @desire.author.login_name, user_path(@desire.author) %>
        <span class="ml5 trivial"><%= "发布于" %><%= @desire.created_at.strftime(GENERAL_TIME_FORMAT) %></span><br/>
        <%= render "relationships/follow_field", :target => @desire.author %>
      </div>
      <div class="fr clearfix">
          <%= link_to "编辑", edit_desire_path(@desire), class: "btn btn_edit fl " if the_author_himself(@desire) %>
          <%= link_to "删除", @desire, :confirm => t("general.are_you_sure_to_delete"), :method => :delete, :class => "btn btn_delete fl " if the_author_himself(@desire, true) %>
          <%= render "administrator/base/tune_fields", item: @desire if current_user_has_permission? :administrator %>
      </div>
    </div>
    <div class="mt10 clearfix">
      <%= image_tag("grey.gif", :alt => "馋人图片", "class" => 'img_frame restricted lazy overflow_hidden', "data-original" => @desire.get_image_url) %>
      <br/>
      <% if @desire.content.present? %>
          <p>
          <blockquote><span class="quoted f15"><%= @desire.content %></span></blockquote>
          </p>
      <% end %>
      <% unless @desire.tags.empty? %>
          <p><%= content_tag :span, t_with_colon("tags.tags"), class: "trivial" %><%= render "tags/tags", item: @desire %></p>
      <% end %>
    </div>
    <div class="mt10 clearfix">
      <% if current_user_has_permission? :normal_user %>
          <div class="fl">
            <%= render "albums/collect_fields", :item => @desire %>
          </div>
          <div class="fr" align="right">
            <%= render "admire_fields", :desire => @desire, :show_hint => true, :show_list => true %>
          </div>
      <% end %>
    </div>

    <div class="mt5">
        <%= render "shared/jiathis", :titlestr => "我发现了馋人的美食。", :summarystr => "大家快去看看，一起讨论怎么把它吃到！", :picstr => "http://" + request.host_with_port + @desire.get_image_url(:waterfall), :appkeyhash => load_appkey() %>
    </div>
  </div>

    <div class="mt20 clearfix" style="padding:  5px">
    <div class="clearfix">
        <%= render "solutions/solution_fields", :solution => @desire.solutions.build %>
        <div class="mt10 clearfix">
            <h2 class="trivial">解馋攻略</h2>
            <%= content_tag :span, "馋到更要吃到, 赶紧行动起来吧！" %><br/>
            <%= paginate @solutions %>
            <% @solutions.each_with_index do |solution, index| %>
              <% if solution.item && solution.author %>
                <%= render "solutions/listed_solution", solution: solution, rank: index + 1 %>
              <% end %>
            <% end %>
        </div>
    </div>
  </div>

</div>

<div class="grid_3">
  <% if @desire.place %>
      <div class="box_shadow mb10 p5">
        <h3><%= content_tag :span, "餐馆", class: "icon icon_place mr2" %><%= link_to @desire.place.name, @desire.place %></h3>
        <%= content_tag :span, @desire.place.address, class: "trivial" %>
        <%= render "shared/location", location: @desire.place %>
      </div>
  <% end %>

  <% unless @desire.albums.empty? %>
      <div class="box_shadow mb10  p5">
        <h3 class="trivial">被收集到拼盘：</h3>
        <% @desire.albums.limit(3).each do |album| %>
            <%= render "albums/related_album", album: album %>
        <% end %>
      </div>
  <% end %>

  <% unless @related_desires.empty? %>
      <div class="box_shadow p5">
        <h3 class="trivial">相似的馋人图片：</h3>
        <div class="mt5">
            <% @related_desires.each do |desire| %>
                <%= link_to image_tag("grey.gif", "data-original" => desire.get_image_url(:thumb), width: 66, height: 66, class: "lazy", alt: "馋人图片"), desire, class: "lighter_touch" %>
            <% end %>
        </div>
      </div>
  <% end %>

  <div class="mt10">
    <%= render "comments/straight_comments", item: @desire %>
  </div>

</div>