<div class="user_info_head_block grid_9 to_left p5">
    <%= link_to image_tag(author.get_avatar(:thumb), :class => "fl"), profile_path(author) %>
    <div class="fl ml10">
        <span class="f20"><%= link_to author.login_name, user_path(author) %></span><br/>
        <%= render "relationships/follow_field", :target => author %>
    </div>

    <div class="clearfix ">
        <div class="userinfoCollection fr">
            <div class="collectList">
                <%= author.relationships.count%><br/>
                <%= t("user_basic.follows") %><br/>
            </div>
            <div class="collectList">
                <%= author.followers.count %><br/>
                <%= t("user_basic.fans") %>
            </div>
            <div class="collectList">
                <%= author.recipes.count %><br/>
                <%= t("recipes.recipes") %><br/>
            </div>
            <div class="collectList">
                <%= author.reviews.count %><br/>
                <%= t("user_basic.shares") %>
            </div>
        </div>
    </div>

    <div class="userInfoNav fl mt10">
        <%= link_to t("feeds.feed"), user_path(author), class: "fl f16 orange" %>
        <%= link_to t("recipes.recipes"), user_path(author), class: "fl f16 orange" %>
        <%= link_to t("control_panel.album"), user_path(author), class: "fl f16 orange" %>
    </div>
</div>