<div id="password_update" class="p5">
    <p class="mb5">
        <%= f.label :old_password, "旧密码", class: "trivial" %><%= mark_required(current_user, :password) %><br/>
        <%= f.password_field :old_password, class: "big_input" %>
    </p>
    <p class="mb5">
        <%= f.label :password, "新密码", class: "trivial" %><%= mark_required(current_user, :password) %><br />
        <%= f.password_field :password, class: "big_input" %>
    </p>
    <p class="mb5">
        <%= f.label :password_confirmation, t("authentication.password_confirmation"), class: "trivial" %> <br/>
        <%= f.password_field :password_confirmation, class: "big_input" %>
    </p>
</div>
