<div class="master box_shadow mt5 mb5 p5 fl">
    <div class="user_info fl">
      <%= link_to user.screen_name, user %><br/>
      <%= link_to image_tag(user.get_avatar(:regular), "max-width" => AVATAR_WIDTH, "max-height" => AVATAR_HEIGHT), user %><br/>
      <div class="more_user_info box_shadow display_none p5" >
        <span><%= t("reviews.by_user", count: user.reviews.size) %></span><br/>
        <span><%= t("recipes.by_user", count: user.recipes.size) %></span><br/>
        <span><%= t("recipes.author_followers", count: user.followers.size) %></span>
        <div class="fr"><%= render "relationships/follow_field", target: user %><br/> </div>
      </div>
    </div>
    <div class="desc fl f12">
      <%= user.profile.biography %>
    </div>
    <div class="feeds fr mt15">
        <% user.get_recent_feeds(3).each do |feed| %>
          <div class="hint_box ml2 fl">
            <%= link_to image_tag(feed.picture_url(:thumb), :width => IMAGE_THUMB_WIDTH, :height => IMAGE_THUMB_HEIGHT), feed.item %>
            <span class="flex_hint b_black white"><%= feed.content %></span>
          </div>
        <% end %>
    </div>
</div>