<div class="clearfix">
    <div class="fl f12" style="width: 30px; height:34px; line-height: 17px;">
        <span class="center"><%= user.followers.count %></span>
        <%= link_to t("user_basic.fans"), user_path(user, mode: "default"), class: "center" %>
    </div>
    <div class="fl f12" style="width: 30px; height:34px; line-height: 17px;">
        <span class="center"><%= user.desires.count %></span>
        <%= link_to t("user_basic.desires"), user_path(user, mode: "desires"), class: "center" %>
    </div>
    <div class="fl f12" style="width: 30px; height:34px; line-height: 17px;">
        <span class="center"><%= user.albums.count%></span>
        <%= link_to t("albums.albums"), user_path(user, mode: "albums"), class: "center" %>
    </div>
    <div class="fl f12" style="width: 30px; height:34px; line-height: 17px;">
        <span class="center"><%= user.recipes.count %></span>
        <%= link_to t("recipes.recipes"), user_path(user, mode: "recipes"), class: "center" %>
    </div>
    <div class="fl f12" style="width: 30px; height:34px; line-height: 17px;">
        <span class="center"><%= user.score %></span>
        <%= content_tag :span, "积分", class: "icon icon_star center" %>
    </div>
</div>