<div class="user_info_head_block grid_9 to_left p5">
    <%= image_tag("grey.gif", "data-original"=> author.get_avatar(:thumb, false), :class => "lazy fl", width: 100, height:100) %>
    <div class="fl ml10" style="width: 280px;">
        <span class="f20"><%= author.login_name %></span><br/>
        <%= author.profile.biography %>
    </div>

    <div class="clearfix ">
        <div class="userinfoCollection fr">
            <div class="collectList">
                <%= author.followers.count %><br/>
                <%= t("user_basic.fans") %>
            </div>
            <div class="collectList">
                <%= author.desires.count %><br/>
                <%= t("user_basic.desires") %>
            </div>
            <div class="collectList">
                <%= author.reviews.count %><br/>
                <%= t("user_basic.shares") %>
            </div>
            <div class="collectList">
                <%= author.albums.count%><br/>
                <%= t("albums.albums") %><br/>
            </div>
            <div class="collectList">
                <%= author.recipes.count %><br/>
                <%= t("recipes.recipes") %><br/>
            </div>
            <div class="clearfix"></div>
            <div class="fr mt10 mr10">
              <%= render "relationships/follow_field", :target => author %>
            </div>
        </div>
    </div>
</div>