<div class="master box_shadow mt5 mb5 p5 fl clearfix" style="height: 120px;">
    <div class="fl clearfix" style="width: 100px;">
        <%= link_to image_tag("grey.gif", "class" => 'lazy', "data-original"=> user.get_avatar(:thumb, false)), user %><br/>
    </div>
    <div class="fl ml10 clearfix" style="width:502px;">
        <div class="clearfix">
            <div class="fl">
                <%= link_to user.login_name, user_path(user) %><br/>
                <%= render "relationships/follow_field", :target => user %>
            </div>
            <div class="fr pt5"><%= render "users/user_statics", user: user %></div>
        </div>
        <div class="mt5"><%= user.profile.biography %></div>
    </div>

    <div class="fl ml10 mt20 clearfix" style="width:328px;">
        <div class="fr">
            <% user.get_recent_feeds(4).each do |feed| %>
              <div class="hint_box m1 fl" style="width: 80px; height: 80px;">
                <%= link_to image_tag(feed.picture_url(:thumb), width:80, height:80), feed.item %>
                <span class="flex_hint b_white black f11"><%= truncate_content(feed.content, 15) %></span>
              </div>
            <% end %>
        </div>
    </div>
</div>