<h2 class="f16 mt10">明星达人</h2>
<div class="block box_shadow mt10">
    <% @stars.each do |star| %>
        <div class="grid_6 fl mt10" id="<%= star.id %>">
            <%= link_to image_tag(star.get_avatar, border: 0, width: 200, height:200), star %><br/>

            <%= link_to star.screen_name, star %><br/>
            <%= star.profile.biography %><br/>
            <%= render "shared/follow_field", target: star %>
        </div>
    <% end %>

</div>

<div class="grid_9 mt20 to_left">
  <% @masters.each do |master| %>
    <%= render "users/user", user: master %>
  <% end %>
</div>

<div class="grid_3 mt20 to_right box_shadow">
    <h3>根据标签查找达人</h3>
    <% @hot_tags.each do |tag, weight| %>
        <%= link_to tag, {:controller => "search", :action => "index", :tags => tag}, :class => "tag" %> * <%= weight %><br/>
    <% end %>
</div>

