<% title t("authentication.sign_up"), false %>

<div class="grid_7 user_register">
    <%= form_for @user do |f| %>
      <%= render "shared/error_messages", :target => @user %>
      <p>
        <%= f.label :email, t("authentication.email"), class: "trivial" %><%= mark_required(@user, :email) %><br />
        <%= f.text_field :email, class: "big_input" %>
      </p>
      <p>
        <%= f.label :login_name, t("authentication.login_name"), class: "trivial"%><%= mark_required(@user, :login_name) %><br />
        <%= f.text_field :login_name, :maxlength => get_max_length(User, :login_name), class: "big_input"  %>
      </p>
      <p>
        <%= f.label :password, t("authentication.password"), class: "trivial" %><%= mark_required(@user, :password) %><br />
        <%= f.password_field :password, class: "big_input" %>
      </p>
      <p>
        <%= f.label :password_confirmation, t("authentication.password_confirmation"), class: "trivial" %> <br/>
        <%= f.password_field :password_confirmation, class: "big_input" %>
      </p>

      <!--<p class="mt10">-->
        <!--<span class="trivial">欢迎参与吃心不改的试运行</span><br/>-->
        <!--<span class="berry_pink">邀请码限量派发中，赶快私信我们的微博帐号获得：</span>-->
        <!--<= new_tab_link_to t("syncs.sites.sina"), YIN11_SINA_WEIBO, class: "auth_btn_16 via_sina_small" %><br/>-->
        <!--<= f.label t("authentication.invitation_code"), class: "trivial" %><span class="red f20 m2">*</span><br/>-->
        <!--<= text_field_tag "invitation", params[:invitation] %>-->
      <!--</p>-->
      <div class="mt10">
        <%= content_tag :span, "验证码", class: "trivial" %> <br/>
        <%= recaptcha_tags %>
      </div>

      <div class="mt10">
        <%= submit_tag t("authentication.sign_up"), :class => "btn btn_register" %>
      </div>
    <% end %>
</div>

<div class="grid_5">
    <p>已有帐号？<%= link_to "直接登录", login_path %></p>
    <%= render "shared/third_party_login" %>
</div>