<% title t("authentication.sign_up"), false %>

<div class="grid_7 user_register">
    <h3 class="trivial f16">赶快加入我们，发现美食，分享快乐！</h3>
    <%= form_for @user do |f| %>
      <%= render "shared/error_messages", :target => @user %>
      <p>
        <%= f.label t("authentication.email") %><%= mark_required(@user, :email) %><br />
        <%= f.text_field :email %>
      </p>
      <p>
        <%= f.label t("authentication.login_name") %><%= mark_required(@user, :login_name) %><br />
        <%= f.text_field :login_name, :maxlength => get_max_length(User, :login_name)  %>
      </p>
      <p>
        <%= f.label t("authentication.password") %><%= mark_required(@user, :password) %><br />
        <%= f.password_field :password %>
      </p>
      <p>
        <%= f.label t("authentication.password_confirmation") %> <br/>
        <%= f.password_field :password_confirmation %>
      </p>
      <p class="button"><%= submit_tag t("authentication.sign_up"), :class => "btn_register" %></p>
    <% end %>
</div>

<div class="grid_5">
    <p>已有帐号？<%= link_to "直接登录", login_path %></p>
    <%= render "shared/third_party_login" %>
</div>