<% title t("authentication.sign_up"), false %>

<div class="clearfix mb5">
    <div class="grid_4 block round">
        <h3 class="p5">赶快加入我们，发现美食，分享快乐！</h3>
    </div>
</div>

<div class="grid_7 user_register">
    <%= form_for @user do |f| %>
      <%= render "shared/error_messages", :target => @user %>
      <p>
        <%= f.label t("authentication.email") %><%= mark_required(@user, :email) %><br />
        <%= f.text_field :email %>
      </p>
      <p>
        <%= f.label t("authentication.login_name") %><%= mark_required(@user, :login_name) %><br />
        <%= f.text_field :login_name, :maxlength => get_max_length(User, :login_name)  %>
      </p>
      <p>
        <%= f.label t("authentication.password") %><%= mark_required(@user, :password) %><br />
        <%= f.password_field :password %>
      </p>
      <p>
        <%= f.label t("authentication.password_confirmation") %> <br/>
        <%= f.password_field :password_confirmation %>
      </p>
      <p class="button"><%= submit_tag t("authentication.sign_up"), :class => "button" %></p>
    <% end %>
</div>

<div class="grid_5">
    <p>已有帐号？<%= link_to "直接登录", login_path %></p>
    <%= label_tag t("authentication.other_logins") %><br/>
    <table>
        <tr>
            <th/>
            <th/>
        </tr>
        <tr>
          <td><%= link_to image_tag("third_party/sina_big.png", :border => 0, :alt => t("syncs.sites.sina")), "syncs/sina/new", id: "login_via_sinablog", class: "third_pty_login_button m5" %></td>
          <td><%= link_to image_tag("third_party/renren_big.png", :border => 0, :alt => t("syncs.sites.renren")), "syncs/renren/new", id: "login_via_renren", class: "third_pty_login_button m5"%></td>
        </tr>
        <tr>
          <td><%= link_to image_tag("third_party/taobao_big.png", :border => 0, :alt => t("syncs.sites.taobao")), "syncs/taobao/new", id: "login_via_taobao", class: "third_pty_login_button m5" %></td>
          <td><%= link_to image_tag("third_party/douban_big.png", :border => 0, :alt => t("syncs.sites.douban")), "syncs/douban/new", id:"login_via_douban", class: "third_pty_login_button m5" %></td>
        </tr>
        <tr>
          <td><%= link_to image_tag("third_party/qq_big.png", :border => 0, :alt => t("syncs.sites.qq")), "syncs/qq/new", id: "login_via_qqblog" , class: "third_pty_login_button m5"%></td>
          <td><%= link_to image_tag("third_party/sohu_big.png", :border => 0, :alt => t("syncs.sites.sohu")), "syncs/sohu/new", id: "login_via_sohublog" , class: "third_pty_login_button m5"%></td>
        </tr>
        <tr>
          <td><%= link_to image_tag("third_party/netease_big.png", :border => 0, :alt => t("syncs.sites.netease")), "syncs/netease/new", id: "login_via_neteaseblog" , class: "third_pty_login_button m5"%></td>
        </tr>
    </table>
</div>