<% title "用户:#{@user.login_name}", false %>

<div class="grid_9">
    <div class="tab_control">
        <div class="tabContainer ">
            <% @modes.each do |mode| %>
                <%= link_to t("personal.#{mode}"), user_path(@user, mode: mode), "data-page" => ".#{mode}", class: "tab #{mode == @current_mode ? "selected" : "unselected"}" %>
            <% end %>
        </div>
        <div class="tabContent block">
          <% @modes.each do |mode| %>
             <div class = "<%= mode %> <%= mode == @current_mode ? "display" : "display_none" %>">
                <%= render "#{mode}_mode" %>
             </div>
          <% end %>
        </div>
    </div>
</div>

<div class="grid_3">
    <%= render "shared/profile_panel", user: @user %>
    <%= render "personal/follows_panel", user: @user %>
</div>