<% title t("articles.articles") %>

<p><%= "#{t("general.total")}:#{@count.to_s}" %> </p>

<div class="block square">
    <b><%= t("articles.recommended_articles") %></b>
    <% @recommended_articles.each do |article| %>
        <p><%= link_to article.title, article %></p>
    <% end  %>
</div>

<div>
    <table>
      <tr>
        <th><%= t("general.title") %></th>
        <th><%= t("general.enable") %></th>
        <th><%= t("general.recommended") %></th>
        <th><%= t("general.reported_on") %></th>
        <th><%= t("articles.source") %></th>
        <th></th>
        <th></th>
      </tr>

    <%= paginate @articles %>
    <% @articles.each do |article| %>
      <tr id='<%= article.id %>'>
        <td><%= link_to article.title, article %></td>
        <td><%= render "administrator/shared/toggle_fields", :item => article, :field => :enabled %></td>
        <td><%= render "administrator/shared/toggle_fields", :item => article, :field => :recommended %></td>
        <td><%= article.reported_on_string %></td>
        <td><%= article.name_of_source %></td>
        <td><%= link_to t("general.edit"), edit_article_path(article), :class => "button" %></td>
        <td><%= link_to t("general.delete"), article_path(article), :confirm => t("general.are_you_sure_to_delete"), :method => :delete, :class => "button" %></td>
      </tr>
    <% end %>
    </table>
</div>

<div class="actions">
    <%= link_to t("articles.new"), new_article_path, :class => "button" %>
</div>
