<script type="tpl" id="tpl">
    <div class="waterfall grid_3 box_shadow" data-id="{{id}}">
        <a href="<%= "#{path}/{{id}}" %>" class="image">
            <img height="{{height}}" width = "200" alt="{{name}}" src="{{picture_url}}" />
        </a>
        <% if show_name %>
            <span class="ml10 f16">{{name}}</span><br/>
        <% end %>
        <div class="ml10">
            <a href="users/{{user_id}}" class="fl mr10">
                <img height="<%= AVATAR_THUMB_HEIGHT %>" width = "<%= AVATAR_THUMB_WIDTH %>" alt="avatar" src="{{user_avatar}}" />
            </a>
            <%= link_to "{{user_name}}", "users/{{user_id}}", class: "fl" %><br/>
            <%= link_to t("reviews.by_user", count: "{{user_reviews_cnt}}"), "#" %><br/>
            <%= link_to t("recipes.by_user", count: "{{user_recipes_cnt}}"), "#" %><br/>
            <%= render "relationships/follow_field_waterfall" %>
            <div class="clearfix"/>
            <% if show_content %>
                <p>
                    <a href="<%= path + "/{{id}}" %>" >
                        {{content}}
                    </a>
                </p>
            <% end %>
            <span class="trivial">{{time}}</span>
        </div>
    </div>
</script>

