<script type="tpl" id="tpl">
    <div class="ks-waterfall" height="{{height}}" data-id="{{id}}" style="padding: 5px 0;">
        <div class="inner_frame box_shadow" style="width: 210px;">
            <%= image_tag "icons/jiechan.png", class: "ribbon {{display_ribbon}}" %>
            <% link_path = path ? "#{path}/{{id}}" : "{{target_path}}" %>
            <% if path %>
                <div class="center"><a href="<%= link_path %>" class="image" ><img alt="{{name}}" src="{{picture_url}}" height="{{picture_height}}" /></a></div>
            <% else %>
                <div class="center"><a href="<%= link_path %>" class="image" ><img alt="{{name}}" src="{{picture_url}}" height="{{picture_height}}" /></a></div>
            <% end %>

            <div class="ml10 mr10 clearfix">
                <div class="user_area fl">
                    <a href="users/{{user_id}}">
                        <img alt="avatar" width="32" height="32" src="{{user_avatar}}" />
                    </a><br/>
                    <%= link_to "{{user_name}}", "users/{{user_id}}", class: "f12" %>
                </div>
                <div class="content_area fl ml5">
                    <% if show_name %><p><%= link_to "{{name}}", link_path, class: "f14" %></p><% end %>
                    <% if show_content %><p>{{content}}</p><% end %>
                </div>
            </div>
        </div>
    </div>
</script>

