<div class="waterfall box_shadow" data-id="<%= item.id.to_s %>" >
    <div align="center">
        <%= link_to image_tag(item.get_review_image_url(:waterfall), height: item.get_review_image_height(:waterfall)), item, class: "image" %>
    </div>
    <div class="ml10 mr10 clearfix">
        <% if (item.respond_to? :name) %>
            <div class = "f16"><%= link_to item.name, item %><br/></div>
        <% end %>
        <% if (item.respond_to? :content) %>
            <p>
              <%= item.content %> <span class="display_inline_block"><%= link_to t("general.details"), item %></span>
            </p>
        <% end %>
        <span class="trivial"><%= item.created_at.strftime("%m-%d %H:%M:%S") %></span>
    </div>

    <div class="user_info ml10 mr10 clearfix" position = "relative">
        <div class="fl">
            <%= link_to image_tag(item.author.get_avatar(:thumb, false), width: 48, height:48), item.author, class: "mr10" %><br/>
            <%= link_to item.author.login_name, item.author %>
        </div>
    </div>
</div>