<div id="header" class="clearfix">
    <div id="head_lv1" class="clearfix">
        <div class="inter_header">
            <div id="logo" class="fl mt5 lighter_touch">
                <%= link_to image_tag("logo.png"), root_path %>
                <h1><%= t("site.name") %></h1>
                <h2><%= t("site.description") %></h2>
            </div>

            <% if current_user %>
                <div class="fr mt20">
                    <span class="nav_menu">
                        <% new_pm_count = current_user.messages.where(to_id: current_user.id.to_s, read: false).size %>
                        <% sys_msg_count = current_user.unread_system_notifications.size %>
                        <% total_msg_count = new_pm_count + sys_msg_count %>
                        <%= image_tag("bubble_48.jpg", width: 13, height: 13) if total_msg_count > 0 %>
                        <%= link_to t("menu.notifications") + (total_msg_count > 0 ? "(#{total_msg_count.to_s})" : ""), "/info_center" %>
                        <ul class="sub_menu">
                            <li><%= link_to "私信" + (new_pm_count > 0 ? "(#{new_pm_count.to_s})" : ""), "/info_center?mode=inbox"%></li>
                            <li><%= link_to t("notifications.modes.sys_msg_mode") + (sys_msg_count > 0 ? "(#{sys_msg_count.to_s})" : ""), "/info_center?mode=sys_msg"%></li>
                        </ul>
                    </span> |
                    <span class="nav_menu">
                        <%= link_to t("menu.edit_profile"), edit_user_path(current_user) %>
                        <ul class="sub_menu">
                            <% current_user.steps.each do |step| %>
                                <li><%= link_to t("profile.steps.#{step}"), edit_user_path(current_user, step: step) %></li>
                            <% end %>
                        </ul>
                    </span> |
                    <%= link_to t("menu.logout"), logout_path %>
                </div>
                <div class="fr mr30 mt15 p5 box_shadow">
                    <span class="ml5 mr5"><%= link_to(current_user.login_name, "/me?mode=default", :class => "berry_red f16") %></span> |
                    <span class="ml5 mr5"><%= link_to t("personal.desires"), "/me?mode=desires" %></span> |
                    <span class="ml5 mr5"><%= link_to t("personal.albums"), "/me?mode=albums" %></span> |
                    <span class="ml5 mr5"><%= link_to t("personal.recipes"), "/me?mode=recipes" %></span>
                </div>
            <% else %>
              <% unless hide_quick_auth? %>
                 <span class="fr mt20 f14">
                    <%= link_to t("authentication.login"), login_path %>  |
                    <%= link_to t("authentication.sign_up"), sign_up_path %>
                </span>
              <% end %>
            <% end %>
        </div>
    </div>

    <div id="head_lv2" class="clearfix">
        <div class="inter_header">
            <ul id="top_menu" class="fl">
                <li><%= render_menu(t("menu.home"), "/") %></li>
                <% if current_user_has_permission? :normal_user %><li><%= render_menu(t("menu.me"), "/me")%></li><% end %>
                <li><%= render_menu(t("menu.desires"), desires_path) %></li>
                <li><%= render_menu(t("menu.albums"), albums_path) %></li>
                <li><%= render_menu(t("menu.recipes"), recipes_path) %></li>
                <li><%= render_menu(t("menu.masters"), masters_path) %></li>
                <% if current_user && current_user.has_permission?(:editor) %>
                    <li class="nav_menu"><%= render_menu(t("menu.administrator_control"), administrator_root_path) %>
                        <ul class="sub_menu">
                            <li><%= link_to t("administrator_control.products"), administrator_products_path %> </li>
                            <li><%= link_to t("administrator_control.vendors"), administrator_vendors_path %></li>
                            <li><%= link_to t("administrator_control.users"), administrator_users_path %></li>
                            <li><%= link_to t("administrator_control.tags"), administrator_tags_path %> </li>
                            <li><%= link_to t("administrator_control.pages"), administrator_pages_path %> </li>
                            <li><%= link_to t("administrator_control.images"), administrator_images_path %> </li>
                            <li><%= link_to t("administrator_control.audits"), administrator_audits_path %> </li>
                            <li><%= link_to t("administrator_control.recipes"), administrator_recipes_path %> </li>
                        </ul>
                    </li>
                <% end %>
            </ul>
            <div id="header_search_form" class="fr" >
                <%= form_tag '/search', :method => :get do %>
                    <%= text_field_tag :query, t("search.tip"), class: "not_cleared" %>
                    <%= submit_tag t("general.search"), id: "search_btn" %>
                <% end %>
            </div>
        </div>
    </div>
</div>