<div id="header" class="clearfix">
    <div id="head_lv1" class="clearfix">
        <div class="inter_header">
            <div id="logo" class="fl mt10 lighter_touch">
                <%= link_to image_tag("yin11_logo.png", :border => 0), root_path %>
                <h1><%= t("site.name") %></h1>
                <h2><%= t("site.description") %></h2>
            </div>

            <% if current_user %>
                <div class="fr mt20">
                  <span class="nav_menu">
                    <%= link_to t("menu.edit_profile"), edit_profile_path(current_user.profile) %>
                      <ul class="sub_menu">
                         <% current_user.profile.steps.each do |step| %>
                            <li><%= link_to t("profile.steps.#{step}"), edit_profile_path(current_user, step: step) %></li>
                         <% end %>
                        <%=  %>
                      </ul>
                   </span> |
                    <%= link_to t("menu.logout"), logout_path %>
                </div>
                <div class="fr mr30 mt15 p5">
                    <%= link_to(current_user.login_name, profile_path(current_user.profile), :class => "orange f16") %>
                </div>
            <% else %>
              <% unless hide_quick_auth? %>
                 <span class="fr mt20 f14">
                    <%= link_to t("authentication.login"), login_path %>  |
                    <%= link_to t("authentication.sign_up"), sign_up_path %>
                </span>
              <% end %>
            <% end %>
        </div>
    </div>

    <div id="head_lv2" class="clearfix">
        <div class="inter_header">
            <ul id="top_menu" class="fl">
                <li><%= render_menu(t("menu.home"), root_path) %></li>
                <% if current_user_has_permission? :normal_user %><li><%= render_menu(t("menu.me"), "/me")%></li><% end %>
                <li><%= render_menu(t("menu.reviews"), reviews_path) %></li>
                <li><%= render_menu(t("menu.recipes"), recipes_path) %></li>
                <li><%= render_menu(t("menu.masters"), masters_path) %></li>
                <% if current_user && current_user.has_permission?(:editor) %>
                    <li><%= render_menu(t("menu.administrator_control"), administrator_root_path) %></li>
                <% end %>
            </ul>
            <div class="mt10 fr" >
                <%= form_tag '/search', :method => :get do %>
                    <%= text_field_tag :query, t("search.tip"), class: "not_cleared" %>
                    <%= submit_tag t("general.search"), id: "search_btn" %>
                <% end %>
            </div>
        </div>
    </div>
  </div>
</div>