<div class="info_item">
    <%= render "shared/vote_fields", :item => item %>
    <div class="interaction_fields">
        <img src="http://flickholdr.com/100/100/bread" class="thumbnail" alt="PSDTUTS" />
        <%= link_to t("info_items.add_comment") + "(#{item.comments.size})", home_new_comment_path(:id => item.id, :type => item.class.name)%>
    </div>
    <h3><%= link_to item.title, item %></h3>
    <div class="clues">
        <% clues = get_clues_of_item(item); clues.each_with_index do |clue, index| %>
            <%= content_tag(:small, clue) %> <%= "|" if index < clues.size - 1 %>
        <% end %>
    </div>
    <div class="truncated_content">
      <%= truncate_content(item, 100) %>
      <%= link_to(t("info_items.detail"), item)  %>
      <%= distance_of_time_in_words(item.updated_at, Time.now) %><%= t("info_items.ago") %>
    </div>
</div>

