<div class="vote_fields">
    <%= link_to "up", home_vote_path(:id => item.id, :type => item.class.name, :delta => 1), :method => :put, :class => "vote_button" if has_permission?(:user) %>
    <span class="votes"><%= item.votes %></span>
    <%= link_to "down", home_vote_path(:id => item.id, :type => item.class.name, :delta => -1), :method => :put, :class => "vote_button" if has_permission?(:user)  %>
</div>
<div class="interaction_fields">
    <img src="http://flickholdr.com/100/100/bread" class="thumbnail" alt="PSDTUTS" />
    <%= link_to t("general.comment"), home_new_comment_path(:id => item.id, :type => item.class.name), :class => "button" %>
    <%= item.comments.size %> comments
</div>
<h3><%= link_to item.title, item %></h3>
<small>新闻</small>
<small>|来源：新浪|上海|牛肉|2011-05-17 8:27</small>
<div class="truncated_content">
  <span class="truncated"><%= strip_tags(item.content) %></span>
  <%= link_to t("general.detail"), item %>
</div>

