<div class="item info">
    <div class="left_fields">
        <%= render "shared/vote_fields", :item => item %>
        <%= get_severity_image(item, 24, 32) %>
    </div>
    <div class="central_fields">
        <h3><%= link_to item.title, item %></h3>
        <div class="clues">
            <% clues = get_clues_of_item(item); clues.each_with_index do |clue, index| %>
                <%= content_tag(:small, clue) %> <%= "|" if index < clues.size - 1 %>
            <% end %>
        </div>
        <p>
          <%= truncate_content(item, 100) %>
          <%= link_to(t("info_items.detail"), item)  %>
          <span class="trivial">
            <%= distance_of_time_in_words(item.updated_at, Time.now) %><%= t("info_items.ago") %>
            <%= content_tag(:span, t("info_items.posted_by") + item.author.login_name ) if item.author %>
          </span>
        </p>
    </div>

    <div class="right_fields">
        <% if item.images.size > 0 %>
            <%= link_to get_image(item.images[0], 100, 75), item %>
        <% else %>
            <%= image_tag "http://flickholdr.com/100/75/bread", :width => 100, :height => 75; %>
        <% end %>
        <%= link_to t("info_items.add_comment") + "(#{item.comments.size})", home_new_comment_path(:id => item.id, :type => item.class.name)%>
    </div>
</div>

