<% content_for :head do %>
    <!-- JiaThis Button BEGIN -->
    <script type="text/javascript">var jiathis_config = {data_track_clickback:true};</script>
    <script type="text/javascript" src="http://v2.jiathis.com/code/jiathis_r.js?move=0&amp;uid=1566683" charset="utf-8"></script>
    <!-- JiaThis Button END -->
<%end%>

<!-- JiaThis Button BEGIN -->
<div id="ckepop">
    <span class="jiathis_txt">分享到：</span>
    <a class="jiathis_button_tsina">新浪微博</a>
    <!--<a class="jiathis_button_renren">人人网</a>-->
    <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank">更多</a>
    <!--<a class="jiathis_counter_style"></a>-->
    <br/>
</div>

<script type="text/javascript"> var jiathis_config = {
    title: "<%= titlestr  %>",
    summary: "<%= summarystr %>",
    pic:"<%= picstr %>",
    appkey: {
        "tsina":"<%= appkeyhash["sina_appkey"] %>",
        "tqq":"<%= appkeyhash["qq_appkey"] %>",
        "tsohu":"<%= appkeyhash["sohu_appkey"] %>"
    },
    data_track_clickback:true
} </script>
<script src="http://v2.jiathis.com/code/jiathis_r.js?move=0"></script>
<script type="text/javascript" src="http://v2.jiathis.com/code/jia.js" charset="utf-8"></script>
<!-- JiaThis Button END -->



