<% if true %>
    <%= hidden_field_tag "place_latitude", location.latitude %>
    <%= hidden_field_tag "place_longitude", location.longitude %>
    <div id="map_canvas" class="center" style="width: 210px; height: 210px"></div>

    <% map_key = "AIzaSyCu0rZWnw3XiXgQ_FU057RWcw0Y-lP7Zgs" %>

    <script src="//maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;hl=zh-CN&amp;key=<%= map_key %>"
            type="text/javascript"></script>
    <script type="text/javascript">
      if (GBrowserIsCompatible()) {
        var map = new GMap2(document.getElementById("map_canvas"));
        var latitude = document.getElementById("place_latitude").value;
        var longitude = document.getElementById("place_longitude").value;
        map.setCenter(new GLatLng(latitude, longitude), 15);

        // Add a marker to the map
        var point = new GLatLng(latitude, longitude);
        map.addOverlay(new GMarker(point));
        map.setUIToDefault();
      }

    </script>
<% else %>
    <div id="map_canvas">
        <img src="http://maps.google.com/maps/api/staticmap?center=<%= location.city %>&zoom=14&size=210x210&maptype=roadmap
        &markers=color:blue%7Clabel:S%7C<%= location.latitude %>,<%= location.longitude %>
        &sensor=false&language=zh-CN"/>
    </div>
<% end %>
