<div class="new_comment">
    <%= form_tag :controller => "home", :action=> "add_comment" do %>
      <%= hidden_field_tag :id, item.id %>
      <%= hidden_field_tag :type, item.class.name %>
      <%= hidden_field_tag :parent_comment_id, params[:parent_comment_id]%>
      <p>
        <%= get_avatar(current_user) %>
        <%= text_area_tag :content, "", :maxlength => 140, :rows => 8 %>
      </p>
      <p><%= submit_tag t("comments.post"), :class => "button" %></p>
    <% end %>
</div>