<%= form_tag sessions_path do %>
    <table>
        <tr>
            <th/>
            <th/>
        </tr>
        <tr>
            <td><%= label_tag t("authentication.email") %></td>
            <td><%= email_field_tag :email, params[:email] %></td>
        </tr>
        <tr>
            <td><%= label_tag t("authentication.password") %></td>
            <td><%= password_field_tag :password %></td>
        </tr>
        <tr>
            <td><%= check_box_tag "remember_me", 1, true %><%= t("authentication.remember_me") %></td>
        </tr>
        <tr>
            <td><%= submit_tag t("authentication.login"), :class => "button" %></td>
        </tr>
        <tr>
            <td><%= link_to t("authentication.sign_up"), sign_up_path %> | <%= link_to t("authentication.forgot_password"), new_password_reset_path %></td>
        </tr>
    </table>
    <div>
        <%= link_to image_tag("third party/sina_weibo.png", :border => 0), "syncs/sina/new" %>
        <%= link_to image_tag("third party/douban.png", :border => 0), "syncs/douban/new" %>
    </div>

<% end %>