<%= form_for review, :html => { :multipart => true }, :remote => true do |f| %>
    <div class="block round clearfix" id = "review_dialog" >
        <h2><%= t("reviews.new_review") %></h2>
        <%= render "shared/error_messages", :target => review %>
        <%= hidden_field_tag "review[product_id]", review.product_id %>
        <%= hidden_field_tag "review[article_id]", review.article_id %>
        <%= hidden_field_tag "review[topic_id]", review.topic_id %>
        <%= f.text_area :content, :maxlength => get_max_length(review, :content), 'data-comment_max_len' => get_max_length(review, :content), :class => "char_aware" %>
        <div><%= content_tag :span, "", :class => "char_counter" %></div>

        <div>
            <div class = "fl">
                <div class="fr "><%= f.label :images, t("images.images") %></div >
                <div id="image_uploader" class="fl m5" width = "50px"></div>
                <div id="images_container" class="block fl m5">
                    <%= render :partial => "images/single_image_field",  :collection => review.images, :as => :image %>
                </div>
            </div>

            <div class = "fr">
                <% unless current_user.provider == SELF_PROVIDER %>
                    <div class="fl">
                        <div class= "fl m5"><%= check_box_tag  :sync_to %><%= label_tag :sync_to, t("syncs.sync_to") %></div>
                        <div class= "fl m5">
                            <%= link_to image_tag("third_party/#{current_user.provider}_24.png", :border => 0, :alt => t("syncs.sites.#{current_user.provider}"))%>
                        </div>
                    </div>
                <%end%>
                <div class= "fr m5"><%= f.submit t("reviews.submit"), :class => "button" %> </div>
            </div>
       </div>
    </div>
<% end %>

<%= render "info_items/delay_load_stuff", :item => review %>
