<ul id="top_menu" class="menu">
    <li><%= render_menu(t("menu.home"), root_path) %></li>
    <% if current_user && current_user.has_permission?(:editor) %>
        <li><%= render_menu(t("menu.admin_control"), admin_root_path) %></li>
    <% end %>
    <li><%= render_menu(t("menu.articles"), articles_path) %></li>
    <li><%= render_menu(t("menu.reviews"), reviews_path) %></li>
    <li><%= render_menu(t("menu.tips"), tips_path) %></li>
    <li><%= render_menu(t("menu.groups"), groups_path) %></li>
    <li><%= render_menu(t("menu.vendors"), vendors_path) %></li>
    <li><%= render_menu(t("menu.badges"), badges_path) %></li>
    <% if current_user %>
        <li><%= render_menu(t("menu.profile"), profile_path(current_user)) %></li>
        <li><%= render_menu(t("menu.logout"), logout_path) %></li>
    <% end %>
    <span id="city_switch">
        <h3><%= content_tag(:b, current_city.name, :id => "current_city_name") %>(<%= link_to t("address.change_city"), edit_current_city_locations_path(:popup => true), :rel => "facebox" %>)</h3>
    </span>
</ul>