<div id="logo">
    <%= link_to image_tag("yin11_logo.png", :border => 0, :width => 211, :height => 76), root_path if false %>
    <h1><%= t("site.name") %></h1>
    <small><%= t("site.description") %></small>
</div>

<ul id="top_menu">
    <li class="logo">
      <%= link_to image_tag("top_menu/menu_left.png", :border => 0), root_path %>
    </li>
    <% if current_user %>
        <li><%= t("menu.account") %>
            <ul>
                <li><% first_sub_menu(render_menu(t("menu.user_basic"), edit_user_path(current_user))) %></li>
                <li><% first_sub_menu(render_menu(t("menu.show_profile"), profile_path(current_user))) %></li>
                <li><%= render_menu(t("menu.update_profile"), edit_profile_path(current_user)) %></li>
                <li><%= render_menu(t("menu.logout"), logout_path) %></li>
                <li class="last"><% last_sub_menu %></li>
            </ul>
        </li>
    <% end %>
    <% if current_user && current_user.has_permission?(:editor) %>
        <li><%= render_menu(t("menu.admin_control"), admin_root_path) %>
            <ul id="admin_sub_menu">
                <li><% first_sub_menu(link_to t("admin_control.articles"), admin_articles_path) %></li>
                <li><%= link_to t("admin_control.badges"), admin_badges_path %></li>
                <li><%= link_to t("admin_control.vendors"), admin_vendors_path %></li>
                <li><%= link_to t("admin_control.users"), admin_users_path %></li>
                <li class="last"><% last_sub_menu %></li>
            </ul>
        </li>
    <% end %>
    <li><%= render_menu(t("menu.articles"), articles_path) %></li>
    <li><%= render_menu(t("menu.reviews"), reviews_path) %></li>
    <li><%= render_menu(t("menu.tips"), tips_path) %></li>
    <li><%= render_menu(t("menu.vendors"), vendors_path) %></li>
    <li><%= render_menu(t("menu.groups"), groups_path) %></li>
    <li><%= render_menu(t("menu.badges"), badges_path) %></li>
    <% unless hide_quick_auth? %>
        <li><%= link_to t("authentication.login"), login_path %>
    <% end %>
</ul>

<%= image_tag "top_menu/menu_right.png", :id => "top_menu_right" %>