<div id="<%= item.id.to_s %>" class="vote_fields">
    <% if current_user %>
        <%= link_to "up", home_vote_path(:id => item.id, :type => item.class.name, :delta => 1), :method => :put, :remote => true,
                    :class => item.fan_ids.include?(current_user.id) ? "vote_button up_voted" : "vote_button up" %>
        <span class="votes"><%= item.votes %></span>
        <%= link_to "down", home_vote_path(:id => item.id, :type => item.class.name, :delta => -1), :method => :put, :remote => true,
                    :class => item.hater_ids.include?(current_user.id) ? "vote_button down_voted" : "vote_button down"  %>
    <% else %>
        <span class="votes"><%= item.votes %></span>
    <% end %>
</div>