<%= render waterfall_partial, :path => path %>

<%= hidden_field_tag "columns_count", columns_count, :id => "wf_col_count" %>
<%= hidden_field_tag "columns_width", columns_width, :id => "wf_col_width" %>

<% tag ||= nil %>
<%= (hidden_field_tag "tag", tag, :id => "wf_tag") %>

<div id="waterfall_container" class="mt20">

</div>

<div id="loading_pins" class="grid_12">
    <%= image_tag("loading_big.gif", :class => "center") %>
</div>

<%= link_to image_tag("back_to_top.jpg", :width => 48, :height => 48, :border => 0, :alt => t("general.back_to_top")), "#", :id => "back_to_top", class: "display_none" %>

<%= javascript_tag "waterfall('#{path}');" %>