<script type="tpl" id="tpl">
    <div class="waterfall grid_3" data-id="{{id}}">
     <a href="<%= path + "/{{id}}" %>" class="image">
        <img height="{{height}}" width = "<%= IMAGE_THUMB_WIDTH %>" alt="{{name}}" src="{{picture_url}}" />
     </a>
     <div>
        <img height="<%= IMAGE_THUMB_HEIGHT %>" width = "<%= IMAGE_THUMB_WIDTH %>" alt="avatar" src="{{avatar_url}}" class="fl" />
        <p class="description">{{name}}</p>
     </div>
    </div>
</script>

<%= hidden_field_tag "columns_count", columns_count, :id => "wf_col_count" %>
<%= hidden_field_tag "columns_width", columns_width, :id => "wf_col_width" %>

<div id="waterfall_container" class="mt20">

</div>

<div id="loading_pins" class="grid_12">
    <%= image_tag("loading_big.gif", :class => "center") %>
</div>

<%= link_to image_tag("back_to_top.jpg", :width => 48, :height => 48, :border => 0, :alt => t("general.back_to_top")), "#", :id => "back_to_top", :style => "display:none" %>

<%= javascript_tag "waterfall('#{path}')" %>