<% if false %>
    <%= content_tag :span, "被馋到了？点击“解馋”标记，看如何把它变成盘中餐！", class: "f14" %><br/>
    <div class="mt10">
        <%= content_tag :span, "也想馋馋别人？", class: "f14" %>
        <% if current_user_has_permission? :normal_user %>
            <%= link_to "+上传馋人图片", new_desire_path, class: "desire_dialog_btn button" %>
        <% else %>
            <%= link_to "立即注册", new_user_path, class: "button" %>
        <% end %>
    </div>
<% end %>

<div style="height: 200px;">
  <div class="grid_8 to_right">
    <%= image_tag "sologan.jpg", width: 618, height: 198 %>
  </div>

  <div id="home_stamp" class="fl box_shadow pl10" style="width: 320px;height:200px;">
        <% if current_user_has_permission? :normal_user %>
            <div class="clearfix">
                <div class="fl">
                    <b><%= link_to current_user.login_name, "/me" %></b><br/>
                    <%= link_to image_tag("grey.gif", "class" => 'lazy', "data-original"=> current_user.get_avatar(:thumb, false)), "/me" %><br/>
                </div>
                <div class="fr m10">
                    <span class="mt5"><%= new_tab_link_to image_tag("sina_small.png", :width => 16, :height => 16) + t("syncs.follow_us_on_sina"), YIN11_SINA_WEIBO %></span><br/>
                    <%= link_to "【+收集到美食客栈工具】", "/home/collect_intro" %>
                </div>
            </div>
            <%= render "users/user_statics", user: current_user %>
        <% else %>
            <%= render "pre_login" %>
        <% end %>
  </div>
</div>