<div class="box_shadow" style="height: 200px;">
  <div class="grid_9">
    <%= image_tag "sologan.jpg", width: 700, height: 200 %>
  </div>

  <div id="home_stamp" class="grid_3" style="height:200px;">
        <% if current_user_has_permission? :normal_user %>
            <b><%= link_to current_user.login_name, "/me" %></b><br/>
            <%= link_to image_tag("grey.gif", "class" => 'lazy', "data-original"=> current_user.get_avatar(:thumb, false)), "/me" %><br/>
            <%= render "users/user_statics", user: current_user %>

            <span class="mt5"><%= new_tab_link_to image_tag("sina_small.png", :width => 16, :height => 16) + t("syncs.follow_us_on_sina"), YIN11_SINA_WEIBO %></span>
        <% else %>
            <%= render "pre_login" %>
        <% end %>
  </div>
</div>