<div style="height: 200px;" class="img_frame">
  <div class="grid_8 to_right">
    <%= image_tag "sologan.jpg", width: 618, height: 198 %>
  </div>

  <div id="home_stamp" class="fl pl10">
        <% if current_user_has_permission? :normal_user %>
            <div class="clearfix">
                <div class="fl">
                    <b><%= link_to current_user.login_name, "/me" %></b><br/>
                    <%= link_to image_tag(current_user.get_avatar(:thumb, false)), "/me" %><br/>
                </div>
                <div class="fr m10">
                    <span class="mt5"><%= new_tab_link_to image_tag("sina_small.png", :width => 16, :height => 16) + t("syncs.follow_us_on_sina"), YIN11_SINA_WEIBO %></span><br/>
                    <%= link_to "【+收集到吃心不改工具】", "/home/collect_intro" %>
                </div>
            </div>
            <%= render "users/user_statics", user: current_user %>
        <% else %>
            <%= render "pre_login" %>
        <% end %>
  </div>
</div>