<ul id="filters" class="mt5">
    <% @modes.each do |mode| %>
        <li class="<%= (mode == @current_mode ? "filter_tab selected hovered" : "filter_tab") %>">
          <div class="small_bar">.</div>
          <%= link_to t("home.modes.#{mode}"), "/?mode=#{mode}", class: "filter" %>
        </li>
    <% end %>

    <div class="clearfix"></div>
</ul>


<div id="masonry_container" class="clearfix">
    <!--corner stmap-->
    <div class="masonary_item">
        <div class="inner_frame">
            <%= content_tag :span, "美食标签：", class: "trivial f14" %><br/>
            <% @hot_tags.each do |tag| %>
                <%= link_to tag, desires_path(tag: tag), class: "tag" %>
            <% end %>
        </div>
    </div>
    <% @desires.each do |desire| %>
        <%= render "desires/desire_item", desire: desire %>
    <% end %>
</div>

<nav id="page_nav">
    <%= link_to "", 'http://' + request.host_with_port + "/more_desires/#{@current_mode}/2" %>
</nav>

<%= link_to image_tag("back_to_top.jpg", :width => 48, :height => 48, :border => 0, :alt => t("general.back_to_top")), "#", :id => "back_to_top", class: "display_none" %>


<div id="more_nav" class="mt10 centered display_none">
    <%= link_to "查看更多馋人图片", desires_path, class: "button", id: "more_nav_button" %>
</div>