<div class="clearfix pl10 pr10">
    <div id="filters" class="fl clearfix">
        <% @modes.each do |mode| %>
            <li class="<%= (mode == @current_mode ? "filter_tab selected" : "filter_tab") %>">
              <div class="small_bar">.</div>
              <%= link_to t("home.modes.#{mode}"), "/?mode=#{mode}", class: "filter" %>
            </li>
        <% end %>
    </div>
    <div class="fr">
        <span class="mr15"><%= link_to "【小工具，馋人更方便】", "/home/collect_intro" %></span>
        <span>关注我们 <%= new_tab_link_to t("syncs.sites.sina"), YIN11_SINA_WEIBO, class: "auth_btn_16 via_sina_small" %></span>
    </div>
</div>


<div id="masonry_container" class="clearfix">
    <!--corner stmap-->
    <div class="masonary_item">
        <div class="inner_frame">
            <%= content_tag :span, "美食标签：", class: "trivial f14" %><br/>
            <% @hot_tags.each do |tag| %>
                <%= link_to tag, desires_path(tag: tag), class: "tag" %>
            <% end %>
            <hr/>
            <div class="mt10">
                <%= content_tag :span, "也想馋馋别人？", class: "trivial f14" %>
                <% if current_user_has_permission? :normal_user %>
                    <div class="mt5 clearfix">
                        <%= link_to "+上传馋人图片", new_desire_path, class: "btn btn_new_desire" %>
                    </div>
                <% else %>
                    <div class="mt5 clearfix">
                        <%= link_to "立即注册", new_user_path, class: "btn btn_register_now fl" %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
    <% @desires.each do |desire| %>
        <%= render "desires/desire_item", desire: desire %>
    <% end %>
</div>

<nav id="page_nav">
    <%= link_to "", 'http://' + request.host_with_port + "/more_desires/#{@current_mode}/2" %>
</nav>

<%= link_to t("general.back_to_top"), "#", :id => "back_to_top", class: "btn btn_back_to_top hide" %>


<div id="more_nav" class="mt10 centered display_none">
    <%= link_to "查看更多馋人图片", desires_path, class: "button", id: "more_nav_button" %>
</div>