<ul id="filters" class="mt5">
    <% @modes.each do |mode| %>
        <li class="<%= (mode == @current_mode ? "filter_tab selected hovered" : "filter_tab") %>">
          <div class="small_bar">.</div>
          <%= link_to t("home.modes.#{mode}"), "/?mode=#{mode}", class: "filter" %>
        </li>
    <% end %>

    <div class="clearfix"></div>
</ul>


<div id="masonry_container" class="clearfix">
    <!--corner stmap-->
    <div class="masonary_item">
        <div class="inner_frame">
            <%= content_tag :span, "美食标签：", class: "trivial f14" %><br/>
            <% @hot_tags.each do |tag| %>
                <%= link_to tag, desires_path(tag: tag), class: "tag" %>
            <% end %>
            <hr/>
            <p>点击带有解馋<%= image_tag "jiechan_small.png", width: 24, height: 24 %>标志的图片看如何把美食吃到！</p>
            <% if current_user_has_permission? :normal_user %>
                <div class="mt10">
                    <%= content_tag :span, "也想馋馋别人？", class: "trivial f14" %>
                    <div class="mt5 clearfix">
                        <%= link_to "+上传馋人图片", new_desire_path, class: "btn btn_new_desire" %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
    <% @desires.each do |desire| %>
        <%= render "desires/desire_item", desire: desire %>
    <% end %>
</div>

<nav id="page_nav">
    <%= link_to "", 'http://' + request.host_with_port + "/more_desires/#{@current_mode}/2" %>
</nav>

<%= link_to image_tag("back_to_top.png", :border => 0, :alt => t("general.back_to_top")), "#", :id => "back_to_top", class: "display_none" %>


<div id="more_nav" class="mt10 centered display_none">
    <%= link_to "查看更多馋人图片", desires_path, class: "button", id: "more_nav_button" %>
</div>