<div class="clearfix pl10 pr10">
    <ul id="filters" class="fl clearfix">
        <% @modes.each do |mode| %>
            <li class="<%= (mode == @current_mode ? "filter_tab selected" : "filter_tab") %>">
              <div class="small_bar">.</div>
              <%= link_to t("home.modes.#{mode}"), "/?mode=#{mode}", class: "filter" %>
            </li>
        <% end %>
    </ul>
    <div class="fr">
        <span class="mr20"><%= link_to "积分兑换即将展开，规则说明", score_intros_path %></span>
        <% if current_user %><span class="mr20"><%= link_to "【小工具，馋人更方便】", collect_intros_path %></span><% end %>
        <span><%= new_tab_link_to "关注我们", YIN11_SINA_WEIBO %><%= new_tab_link_to t("syncs.sites.sina"), YIN11_SINA_WEIBO, class: "auth_btn_16 via_sina_small ml2" %></span>
    </div>
</div>


<div id="masonry_container" class="clearfix">
    <!--corner stmap-->
    <div class="masonary_item">
        <div class="inner_frame p5">
            <%= content_tag :span, "热门美食标签：", class: "trivial f14" %><br/>
            <% @hot_tags.each do |tag| %>
                <%= link_to tag, desires_path(tag: tag, mode: @current_mode), class: "tag" %>
            <% end %>
        </div>
    </div>

    <div class="masonary_item">
      <div class="inner_frame p5">
          <div>
              <ol>
                <li><%= content_tag :span, "*  上传馋人的美食图片", class: "berry_pink f14" %></li>
                <li><%= content_tag :span, "*  分享怎么把图中的美食吃到", class: "berry_pink f14" %></li>
              </ol>
              <div class="mt5 clearfix">
                  <%= content_tag :span, "也想馋馋别人？", class: "trivial f14 mt5" %>
                  <% if current_user_has_permission? :normal_user %>
                      <%= link_to "+上传馋人图片", new_desire_path, class: "btn btn_new_desire" %>
                  <% else %>
                      <%= link_to "立即注册", new_user_path %>
                  <% end %>
              </div>
          </div>
      </div>
    </div>

    <% @desires.each do |desire| %>
        <%= render "desires/desire_item", desire: desire, mode: @current_mode %>
    <% end %>
</div>

<nav id="page_nav">
    <%= link_to "", 'http://' + request.host_with_port + "/more_desires/#{@current_mode}/2" %>
</nav>

<div id="more_nav" class="mt10 centered display_none">
    <% current_chapter = params[:chapter] ? params[:chapter].to_i : 1 %>
    <% if current_chapter > 1 %>
        <%= link_to "上一页", desires_path(chapter: current_chapter - 1), class: "chapter_link" %>
    <% end %>
    <% indexes = [1, current_chapter -1, current_chapter, current_chapter + 1, @total_chapters].uniq.sort.select{|i| i > 0 && i <= @total_chapters} %>
    <% indexes.each_with_index do |chapter_index, index| %>
        <% if (index > 0) && ((indexes[index] - indexes[index - 1]) > 1) %>
            ...
        <% end %>
        <%= link_to chapter_index, root_path(chapter: chapter_index), class: (chapter_index == current_chapter ? "chapter_link current" : "chapter_link") %>
    <% end %>

    <% if current_chapter < @total_chapters %>
        <%= link_to "下一页", root_path(chapter: current_chapter + 1), class: "chapter_link" %>
    <% end %>
    <span class="trivial"><%= "共#{@total_chapters}页" %></span>
</div>

<%= link_to t("general.back_to_top"), "#", :id => "back_to_top", class: "btn btn_back_to_top hide" %>


<!--<div id="more_nav" class="mt10 centered display_none">-->
    <!--<= link_to "查看更多馋人图片", desires_path, class: "button", id: "more_nav_button" %>-->
<!--</div>-->