<div class="clearfix">
    <%= link_to "立即注册", new_user_path, class: "btn_register_now" %>
    <div class="m5">
        注册用户可上传馋人图片。让人羡慕你的口福；或是收藏解馋方案，馋到更要吃到！
    </div>
</div>
<hr/>
<div>
  <span>已经有了帐号？<%= link_to "[登录]", login_path %>  |  或通过第三方站点登录：</span>
  <table>
    <tr>
        <th/>
        <th/>
    </tr>
    <tr>
        <td><%= link_to image_tag("grey.gif", "class" => 'lazy', "data-original"=> "/assets/third_party/sina_big.png", :border => 0, :alt => t("syncs.sites.sina")), "/syncs/sina/new", :id => "login_via_sinablog", class: "lighter_touch m5" %></td>
        <td><%= link_to image_tag("grey.gif", "class" => 'lazy', "data-original"=> "/assets/third_party/douban_big.png", :border => 0, :alt => t("syncs.sites.douban")), "/syncs/douban/new", :id => "login_via_douban", class: "lighter_touch m5" %></td>
    </tr>
    <tr>
        <td><%= link_to image_tag("grey.gif", "class" => 'lazy', "data-original"=> "/assets/third_party/taobao_big.png", :border => 0, :alt => t("syncs.sites.taobao")), "/syncs/taobao/new", :id => "login_via_taobao", class: "lighter_touch m5" %></td>
        <td><%= link_to image_tag("grey.gif", "class" => 'lazy', "data-original"=> "/assets/third_party/renren_big.png", :border => 0, :alt => t("syncs.sites.renren")), "/syncs/renren/new", :id => "login_via_renren", class: "lighter_touch m5" %></td>
    </tr>
    <tr>
        <td>
          <span class="nav_menu">
            <%= image_tag("d-arrow.gif", :widht => 8, :height => 8, :alt => "d_arrow") + t("syncs.more") %>
              <ul class="sub_menu">
               <li><%= link_to image_tag("third_party/qq.png", :border => 0, :alt => t("syncs.sites.qq")) + t("syncs.sites.qq"), "/syncs/qq/new", :id => "login_via_qqblog" %></li>
               <li><%= link_to image_tag("third_party/sohu.png", :border => 0, :alt => t("syncs.sites.sohu")) + t("syncs.sites.sohu"), "/syncs/sohu/new", :id => "login_via_sohublog" %></li>
               <li><%= link_to image_tag("third_party/netease.png", :border => 0, :alt => t("syncs.sites.netease"))+ t("syncs.sites.netease"), "/syncs/netease/new", :id => "login_via_neteaseblog" %></li>
              </ul>
           </span>
        </td>
        <td>
            <%= new_tab_link_to image_tag("sina_small.png", :width => 16, :height => 16) + t("syncs.follow_us_on_sina"), YIN11_SINA_WEIBO %>
        </td>
    </tr>
  </table>
</div>
