<div class="clearfix">
    <%= link_to "立即注册", new_user_path, class: "btn_register_now" %>
    <div class="m5">
        注册用户可上传馋人图片。让人羡慕你的口福；或是收藏解馋方案，馋到更要吃到！
    </div>
</div>
<hr/>
<div>
  <span>已经有了帐号？<%= link_to "[登录]", login_path %>  |  或通过第三方站点登录：</span>
  <table>
    <tr>
        <th/>
        <th/>
    </tr>
    <tr>
        <td><%= link_to t("syncs.sites.sina"), "/syncs/sina/new", :class => "auth_btn via_sina lighter_touch m2"%></td>
        <td><%= link_to t("syncs.sites.douban"), "/syncs/douban/new", :class => "auth_btn via_douban lighter_touch m2" %></td>
    </tr>
    <tr>
        <td><%= link_to t("syncs.sites.taobao"), "/syncs/taobao/new", :class => "auth_btn via_taobao lighter_touch m2" %></td>
        <td><%= link_to t("syncs.sites.renren"), "/syncs/renren/new", :class => "auth_btn via_renren lighter_touch m2" %></td>
    </tr>
    <tr>
        <td>
          <span class="nav_menu">
            <%= image_tag("d-arrow.gif", :widht => 8, :height => 8, :alt => "d_arrow") + t("syncs.more") %>
              <ul class="sub_menu">
               <li><%= link_to t("syncs.sites.qq"), "/syncs/qq/new", class: "auth_btn_16 via_qq_small" %><%= link_to t("syncs.sites.qq"), "/syncs/qq/new" %></li>
               <li><%= link_to t("syncs.sites.sohu"), "/syncs/sohu/new", class: "auth_btn_16 via_sohu_small" %><%= link_to t("syncs.sites.sohu"), "/syncs/sohu/new" %></li>
               <li><%= link_to t("syncs.sites.netease"), "/syncs/netease/new", class: "auth_btn_16 via_netease_small" %><%= link_to t("syncs.sites.netease"), "/syncs/netease/new" %></li>
              </ul>
           </span>
        </td>
        <td>
            <%= new_tab_link_to t("syncs.sites.sina"), YIN11_SINA_WEIBO, class: "auth_btn_16 via_sina_small" %><%= new_tab_link_to t("syncs.follow_us_on_sina"), YIN11_SINA_WEIBO %>
        </td>
    </tr>
  </table>
</div>
