<div class="mt20 clearfix ">
    <div class="piece grid_12 color1">
        <b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
        <div class="content">
        <h2 class="fl">传统<span class="f20" style="color: red">中餐</span></h2>
        <ul class="tag_link fl ml20">
        <li class="fl ml5"><a>黔菜</a></li>
        <li class="fl ml5"><a>东北菜</a></li>
        <li class="fl ml5"><a>京菜</a></li>
        <li class="fl ml5"><a>闽菜</a></li>
        <li class="fl ml5"><a>台湾菜</a></li>
        <li class="fl ml5"><a>苏菜</a></li>
        <li class="fl ml5"><a>杭帮菜</a></li>
        </ul>
        <ul class="recipe_list fl">
            <%  [{primary_tag: "家常菜", pic: "jcc.jpg", sep: "sep_6" },
                 {primary_tag: "本帮菜", pic: "bbc.jpg", sep: "sep_6" },
                 {primary_tag: "川菜", pic: "cc.jpg", sep: "sep_6" },
                 {primary_tag: "粤菜", pic: "yc.jpg", sep: "sep_6" },
                 {primary_tag: "湘菜", pic: "xc.jpg", sep: "sep_6" },
                 {primary_tag: "西北菜", pic: "xbc.jpg", sep: "sep_6" }].each do |data| %>
                <%= render "primary_tag", data %>
            <% end %>
        </ul>
       <!--<div class="share_person">
            <h3 class="fl mt10">分享<a>中餐</a><br/>的客官们</h3>
            <ul class="fl mt15 ml20">
            <li class="fl mr10"><a class="fl"><img src="../../Pictures/yinkuaizi/h2.jpg" class="mr5"/></a>
            <a class="fl"><span>我的名字</span></a>
            <a class="fl"><span>+ 关注</span></a>
            </li>
            <li class="fl mr10"><a class="fl"><img src="../../Pictures/yinkuaizi/h3.jpg" class="mr5"/></a>
            <a class="fl"><span>我的名字</span></a>
            <a class="fl"><span>+ 关注</span></a>
            </li>
            <li class="fl mr10"><a class="fl"><img src="../../Pictures/yinkuaizi/h4.jpg" class="mr5"/></a>
            <a class="fl"><span>我的名字</span></a>
            <a class="fl"><span>+ 关注</span></a>
            </li>
            <li class="fl mr10"><a class="fl"><img src="../../Pictures/yinkuaizi/h5.jpg" class="mr5"/></a>
            <a class="fl"><span>我的名字</span></a>
            <a class="fl"><span>+ 关注</span></a>
            </li>
            <li class="fl mr10"><a class="fl"><img src="../../Pictures/yinkuaizi/h6.jpg" class="mr5"/></a>
            <a class="fl"><span>我的名字</span></a>
            <a class="fl"><span>+ 关注</span></a>
            </li>
            </ul>-->
    </div>
    <b class="b5"></b><b class="b6"></b><b class="b7"></b><b class="b8"></b>
    </div>

    <div class="piece grid_12 color1 mt20">
        <b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
        <div class="content">
        <h2 class="fl"><span class="f20" style="color: red">异域</span>风情</h2>
        <ul class="tag_link fl ml20">
        <li class="fl ml5"><a>德国</a></li>
        <li class="fl ml5"><a>美国</a></li>
        <li class="fl ml5"><a>其它国家</a></li>
        </ul>
        <ul class="recipe_list fl">
            <%  [{primary_tag: "日本料理", pic: "rbll.jpg", sep: "sep_6" },
                 {primary_tag: "韩国料理", pic: "hgll.jpg", sep: "sep_6" },
                 {primary_tag: "东南亚", pic: "dnyll.jpg", sep: "sep_6" },
                 {primary_tag: "法国", pic: "fgdc.jpg", sep: "sep_6" },
                 {primary_tag: "意大利", pic: "ydl.jpg", sep: "sep_6" },
                 {primary_tag: "墨西哥", pic: "mxg.jpg", sep: "sep_6" }].each do |data| %>
                <%= render "primary_tag", data %>
            <% end %>
        </ul>
        </div>
        <b class="b5"></b><b class="b6"></b><b class="b7"></b><b class="b8"></b>
    </div>

    <div class="piece grid_12 color1 mt20">
        <b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
        <div class="content">
            <h2 class="fl">菜式<span class="f20" style="color: red">菜品</span></h2>
            <ul class="tag_link fl ml20">
            <li class="fl ml5"><a>烧烤</a></li>
            <li class="fl ml5"><a>沙拉</a></li>
            <li class="fl ml5"><a>斋素</a></li>
            </ul>
            <ul class="recipe_list fl">
                <%  [{primary_tag: "凉菜", pic: "lc.jpg", sep: "sep_6" },
                     {primary_tag: "热菜", pic: "rc.jpg", sep: "sep_6" },
                     {primary_tag: "汤煲", pic: "tb.jpg", sep: "sep_6" },
                     {primary_tag: "粥羹", pic: "zg.jpg", sep: "sep_6" },
                     {primary_tag: "主食", pic: "zs.jpg", sep: "sep_6" },
                     {primary_tag: "火锅", pic: "hg.jpg", sep: "sep_6" }].each do |data| %>
                    <%= render "primary_tag", data %>
                <% end %>
            </ul>
        </div>
        <b class="b5"></b><b class="b6"></b><b class="b7"></b><b class="b8"></b>
    </div>

    <div class="piece grid_12 color1 mt20">
        <b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
        <div class="content">
        <h2 class="fl"><span class="f20" style="color: red">甜品</span>小食</h2>
        <ul class="tag_link fl ml20">
        </ul>
        <ul class="recipe_list fl">
            <%  [{primary_tag: "零食", pic: "tg.jpg", sep: "sep_5" },
                 {primary_tag: "巧克力", pic: "qkl.jpg", sep: "sep_5" },
                 {primary_tag: "烘培", pic: "hb.jpg", sep: "sep_5" },
                 {primary_tag: "热饮", pic: "ry.jpg", sep: "sep_5" },
                 {primary_tag: "冰品", pic: "bp.jpg", sep: "sep_5" }].each do |data| %>
                <%= render "primary_tag", data %>
            <% end %>
        </ul>
        </div>
        <b class="b5"></b><b class="b6"></b><b class="b7"></b><b class="b8"></b>
    </div>

    <div class="piece grid_12 color1 mt20">
        <b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
        <div class="content">
        <h2 class="fl"><span class="f20" style="color: red">功效</span>美食</h2>
        <ul class="tag_link fl ml20">
        </ul>
        <ul class="recipe_list fl">
            <%  [{primary_tag: "滋补保健", pic: "zb.jpg", sep: "sep_5" },
                 {primary_tag: "养颜美容", pic: "yy.jpg", sep: "sep_5" },
                 {primary_tag: "健康瘦身", pic: "ss.jpg", sep: "sep_5" },
                 {primary_tag: "宝宝成长", pic: "bbcz.jpg", sep: "sep_5" },
                 {primary_tag: "妈妈调理", pic: "mmtl.jpg", sep: "sep_5" }].each do |data| %>
                <%= render "primary_tag", data %>
            <% end %>
        </ul>
        </div>
        <b class="b5"></b><b class="b6"></b><b class="b7"></b><b class="b8"></b>
    </div>

</div>