<div class="grid_12 mt20 clearfix">
    <span><%= link_to content_tag(:b, "更多馋人图片", class: "f15"), desires_path %></span><br/>
    <div id="primary_tags" class="mt10 clearfix ">
        <ol>
            <li class="piece">
                <h2><span>传统中餐</span></h2>
                <div class="content">
                    <h3>传统<span class="f20" style="color: red">中餐</span></h3>
                    <ul class="tag_links">
                        <% %w[家常菜 鲁菜 闽菜 浙菜 苏菜 徽菜 北京菜 东北菜 西北菜 豫菜 鄂菜 云贵菜 清真菜].each do |tag| %>
                            <li><%= link_to tag, desires_path(tag: tag) %></li>
                        <% end %>
                    </ul>
                    <ul class="tags_list">
                        <%  [{primary_tag: "私房菜", pic: "sfc.jpg" },
                             {primary_tag: "本帮菜", pic: "bbc.jpg" },
                             {primary_tag: "川菜", pic: "cc.jpg" },
                             {primary_tag: "粤菜", pic: "yc.jpg" },
                             {primary_tag: "湘菜", pic: "xc.jpg" },
                             {primary_tag: "台湾菜", pic: "twc.jpg" }].each do |data| %>
                            <%= render "single_primary_tag", data %>
                        <% end %>
                    </ul>
                </div>
            </li>
            <li class="piece">
                <h2><span>异域风情</span></h2>
                <div class="content">
                    <h3><span class="f20" style="color: red">异域</span>风情</h3>
                    <ul class="tag_links">
                        <% %w[美国 德国].each do |tag| %>
                            <li><%= link_to tag, desires_path(tag: tag) %></li>
                        <% end %>
                    </ul>
                    <ul class="tags_list">
                        <%  [{primary_tag: "日本料理", pic: "rbll.jpg" },
                             {primary_tag: "韩国料理", pic: "hgll.jpg" },
                             {primary_tag: "东南亚", pic: "dnyll.jpg" },
                             {primary_tag: "法国", pic: "fgdc.jpg" },
                             {primary_tag: "意大利", pic: "ydl.jpg"},
                             {primary_tag: "墨西哥", pic: "mxg.jpg" }].each do |data| %>
                            <%= render "single_primary_tag", data %>
                        <% end %>
                    </ul>
                </div>
            </li>
            <li class="piece">
                <h2><span>菜式菜品</span></h2>
                <div class="content">
                    <h3 class="fl">菜式<span class="f20" style="color: red">菜品</span></h3>
                    <ul class="tag_links">
                        <% %w[米面主食 烧烤 沙拉 卤酱 素食].each do |tag| %>
                            <li class="fl ml5"><%= link_to tag, desires_path(tag: tag) %></li>
                        <% end %>
                    </ul>
                    <ul class="tags_list">
                        <%  [{primary_tag: "热菜", pic: "rc.jpg", sep: "sep_6" },
                             {primary_tag: "凉菜", pic: "lc.jpg", sep: "sep_6" },
                             {primary_tag: "汤煲", pic: "tb.jpg", sep: "sep_6" },
                             {primary_tag: "粥羹", pic: "zg.jpg", sep: "sep_6" },
                             {primary_tag: "火锅", pic: "hg.jpg", sep: "sep_6" },
                             {primary_tag: "点心", pic: "dx.jpg", sep: "sep_6" }].each do |data| %>
                            <%= render "single_primary_tag", data %>
                        <% end %>
                    </ul>
                </div>
            </li>
            <li class="piece">
                <h2><span>甜品饮料</span></h2>
                <div class="content">
                    <h3><span class="f20" style="color: red">甜品</span>饮料</h3>
                    <ul class="tag_links">
                            <% %w[甜点].each do |tag| %>
                                <li><%= link_to tag, desires_path(tag: tag) %></li>
                            <% end %>
                        </ul>
                    <ul class="tags_list">
                        <%  [{primary_tag: "烘培", pic: "hb.jpg", sep: "sep_6" },
                             {primary_tag: "巧克力", pic: "qkl.jpg", sep: "sep_6" },
                             {primary_tag: "饮料", pic: "yl.jpg", sep: "sep_6" },
                             {primary_tag: "冰品", pic: "bp.jpg", sep: "sep_6" },
                             {primary_tag: "糖果", pic: "tg.jpg", sep: "sep_6" },
                             {primary_tag: "零食", pic: "ls.jpg", sep: "sep_6" }].each do |data| %>
                            <%= render "single_primary_tag", data %>
                        <% end %>
                    </ul>
                </div>
            </li>
        </ol>
    </div>
</div>
<div class="clearfix"></div>