<div class="piece grid_12 color1">
<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
<div class="content">
<h2 class="fl">传统<span class="f20" style="color: red">中餐</span></h2>
<ul class="tag_link fl ml20">
<li class="fl ml5"><a>家常菜</a></li>
<li class="fl ml5"><a>本帮菜</a></li>
<li class="fl ml5"><a>粤菜</a></li>
<li class="fl ml5"><a>湘菜</a></li>
<li class="fl ml5"><a>黔菜</a></li>
<li class="fl ml5"><a>西北菜</a></li>
<li class="fl ml5"><a>东北菜</a></li>
<li class="fl ml5"><a>京菜</a></li>
<li class="fl ml5"><a>闽菜</a></li>
<li class="fl ml5"><a>台湾菜</a></li>
<li class="fl ml5"><a>苏菜</a></li>
<li class="fl ml5"><a>杭帮菜</a></li>
</ul>
<ul class="recipe_list fl">
<div class="hint_box fl"><%= link_to image_tag("grey.gif", "data-original" => "assets/primary_tags/jcc.jpg",  width:150, height:150, class: "lazy sep_6") + content_tag(:span, "家常菜", class: "fix_hint b_white", style: "text-align:center;"), "" %></div>
<div class="hint_box fl"><%= link_to image_tag("grey.gif", "data-original" => "assets/primary_tags/bbc.jpg",  width:150, height:150, class: "lazy sep_6") + content_tag(:span, "本帮菜", class: "fix_hint b_white", style: "text-align:center;"), "" %></div>
<div class="hint_box fl"><%= link_to image_tag("grey.gif", "data-original" => "assets/primary_tags/cc.jpg",  width:150, height:150, class: "lazy sep_6") + content_tag(:span, "川菜", class: "fix_hint b_white", style: "text-align:center;"), "" %></div>
<div class="hint_box fl"><%= link_to image_tag("grey.gif", "data-original" => "assets/primary_tags/yc.jpg",  width:150, height:150, class: "lazy sep_6") + content_tag(:span, "粤菜", class: "fix_hint b_white", style: "text-align:center;"), "" %></div>
<div class="hint_box fl"><%= link_to image_tag("grey.gif", "data-original" => "assets/primary_tags/xc.jpg",  width:150, height:150, class: "lazy sep_6") + content_tag(:span, "湘菜", class: "fix_hint b_white", style: "text-align:center;"), "" %></div>
<div class="hint_box fl"><%= link_to image_tag("grey.gif", "data-original" => "assets/primary_tags/xbc.jpg",  width:150, height:150, class: "lazy sep_6") + content_tag(:span, "西北菜", class: "fix_hint b_white", style: "text-align:center;"), "" %></div>
</ul>
<!--<div class="share_person">
<h3 class="fl mt10">分享<a>中餐</a><br/>的客官们</h3>
<ul class="fl mt15 ml20">
<li class="fl mr10"><a class="fl"><img src="../../Pictures/yinkuaizi/h2.jpg" class="mr5"/></a>
<a class="fl"><span>我的名字</span></a>
<a class="fl"><span>+ 关注</span></a>
</li>
<li class="fl mr10"><a class="fl"><img src="../../Pictures/yinkuaizi/h3.jpg" class="mr5"/></a>
<a class="fl"><span>我的名字</span></a>
<a class="fl"><span>+ 关注</span></a>
</li>
<li class="fl mr10"><a class="fl"><img src="../../Pictures/yinkuaizi/h4.jpg" class="mr5"/></a>
<a class="fl"><span>我的名字</span></a>
<a class="fl"><span>+ 关注</span></a>
</li>
<li class="fl mr10"><a class="fl"><img src="../../Pictures/yinkuaizi/h5.jpg" class="mr5"/></a>
<a class="fl"><span>我的名字</span></a>
<a class="fl"><span>+ 关注</span></a>
</li>
<li class="fl mr10"><a class="fl"><img src="../../Pictures/yinkuaizi/h6.jpg" class="mr5"/></a>
<a class="fl"><span>我的名字</span></a>
<a class="fl"><span>+ 关注</span></a>
</li>
</ul>-->
</div>
<b class="b5"></b><b class="b6"></b><b class="b7"></b><b class="b8"></b>
</div>



<div class="piece grid_12 color1 mt20">
<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
<div class="content">
<h2 class="fl"><span class="f20" style="color: red">异域</span>风情</h2>
<ul class="tag_link fl ml20">
<li class="fl ml5"><a>日本</a></li>
<li class="fl ml5"><a>韩国</a></li>
<li class="fl ml5"><a>东南亚</a></li>
<li class="fl ml5"><a>法国</a></li>
<li class="fl ml5"><a>意大利</a></li>
<li class="fl ml5"><a>德国</a></li>
<li class="fl ml5"><a>美国</a></li>
<li class="fl ml5"><a>墨西哥</a></li>
<li class="fl ml5"><a>阿根廷</a></li>
</ul>
<ul class="recipe_list fl">
<div class="hint_box fl"><%= link_to image_tag("grey.gif", "data-original" => "assets/primary_tags/rbll.jpg",  width:150, height:150, class: "lazy sep_6") + content_tag(:span, "日本料理", class: "fix_hint b_white", style: "text-align:center;"), "" %></div>
<div class="hint_box fl"><%= link_to image_tag("grey.gif", "data-original" => "assets/primary_tags/hgll.jpg",  width:150, height:150, class: "lazy sep_6") + content_tag(:span, "韩式料理", class: "fix_hint b_white", style: "text-align:center;"), "" %></div>
<div class="hint_box fl"><%= link_to image_tag("grey.gif", "data-original" => "assets/primary_tags/dnyll.jpg",  width:150, height:150, class: "lazy sep_6") + content_tag(:span, "东南亚", class: "fix_hint b_white", style: "text-align:center;"), "" %></div>
<div class="hint_box fl"><%= link_to image_tag("grey.gif", "data-original" => "assets/primary_tags/fgdc.jpg",  width:150, height:150, class: "lazy sep_6") + content_tag(:span, "法国", class: "fix_hint b_white", style: "text-align:center;"), "" %></div>
<div class="hint_box fl"><%= link_to image_tag("grey.gif", "data-original" => "assets/primary_tags/ydl.jpg",  width:150, height:150, class: "lazy sep_6") + content_tag(:span, "意大利", class: "fix_hint b_white", style: "text-align:center;"), "" %></div>
<div class="hint_box fl"><%= link_to image_tag("grey.gif", "data-original" => "assets/primary_tags/mxg.jpg",  width:150, height:150, class: "lazy sep_6") + content_tag(:span, "墨西哥", class: "fix_hint b_white", style: "text-align:center;"), "" %></div>
</ul>
</div>
<b class="b5"></b><b class="b6"></b><b class="b7"></b><b class="b8"></b>
</div>


<div class="piece grid_12 color1 mt20">
<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
<div class="content">
<h2 class="fl">菜式<span class="f20" style="color: red">菜品</span></h2>
<ul class="tag_link fl ml20">
<li class="fl ml5"><a>凉菜</a></li>
<li class="fl ml5"><a>热菜</a></li>
<li class="fl ml5"><a>汤煲</a></li>
<li class="fl ml5"><a>粥羹</a></li>
<li class="fl ml5"><a>主食</a></li>
<li class="fl ml5"><a>火锅</a></li>
<li class="fl ml5"><a>烧烤</a></li>
<li class="fl ml5"><a>沙拉</a></li>
<li class="fl ml5"><a>斋素</a></li>
</ul>
<ul class="recipe_list fl">
<div class="hint_box fl"><%= link_to image_tag("grey.gif", "data-original" => "assets/primary_tags/lc.jpg",  width:150, height:150, class: "lazy sep_6") + content_tag(:span, "凉菜", class: "fix_hint b_white", style: "text-align:center;"), "" %></div>
<div class="hint_box fl"><%= link_to image_tag("grey.gif", "data-original" => "assets/primary_tags/rc.jpg",  width:150, height:150, class: "lazy sep_6") + content_tag(:span, "热菜", class: "fix_hint b_white", style: "text-align:center;"), "" %></div>
<div class="hint_box fl"><%= link_to image_tag("grey.gif", "data-original" => "assets/primary_tags/tb.jpg",  width:150, height:150, class: "lazy sep_6") + content_tag(:span, "汤煲", class: "fix_hint b_white", style: "text-align:center;"), "" %></div>
<div class="hint_box fl"><%= link_to image_tag("grey.gif", "data-original" => "assets/primary_tags/zg.jpg",  width:150, height:150, class: "lazy sep_6") + content_tag(:span, "粥羹", class: "fix_hint b_white", style: "text-align:center;"), "" %></div>
<div class="hint_box fl"><%= link_to image_tag("grey.gif", "data-original" => "assets/primary_tags/zs.jpg",  width:150, height:150, class: "lazy sep_6") + content_tag(:span, "主食", class: "fix_hint b_white", style: "text-align:center;"), "" %></div>
<div class="hint_box fl"><%= link_to image_tag("grey.gif", "data-original" => "assets/primary_tags/hg.jpg",  width:150, height:150, class: "lazy sep_6") + content_tag(:span, "火锅", class: "fix_hint b_white", style: "text-align:center;"), "" %></div>
</ul>
</div>
<b class="b5"></b><b class="b6"></b><b class="b7"></b><b class="b8"></b>
</div>

<div class="piece grid_12 color1 mt20">
<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
<div class="content">
<h2 class="fl"><span class="f20" style="color: red">甜品</span>小食</h2>
<ul class="tag_link fl ml20">
<li class="fl ml5"><a>零食</a></li>
<li class="fl ml5"><a>巧克力</a></li>
<li class="fl ml5"><a>烘培</a></li>
<li class="fl ml5"><a>热饮</a></li>
<li class="fl ml5"><a>冰品</a></li>
</ul>
<ul class="recipe_list fl">
<div class="hint_box fl"><%= link_to image_tag("grey.gif", "data-original" => "assets/primary_tags/tg.jpg",  width:180, height:150, class: "lazy sep_5") + content_tag(:span, "零食", class: "fix_hint b_white", style: "text-align:center;"), "" %></div>
<div class="hint_box fl"><%= link_to image_tag("grey.gif", "data-original" => "assets/primary_tags/qkl.jpg",  width:180, height:150, class: "lazy sep_5") + content_tag(:span, "巧克力", class: "fix_hint b_white", style: "text-align:center;"), "" %></div>
<div class="hint_box fl"><%= link_to image_tag("grey.gif", "data-original" => "assets/primary_tags/hb.jpg",  width:180, height:150, class: "lazy sep_5") + content_tag(:span, "烘培", class: "fix_hint b_white", style: "text-align:center;"), "" %></div>
<div class="hint_box fl"><%= link_to image_tag("grey.gif", "data-original" => "assets/primary_tags/ry.jpg",  width:180, height:150, class: "lazy sep_5") + content_tag(:span, "热饮", class: "fix_hint b_white", style: "text-align:center;"), "" %></div>
<div class="hint_box fl"><%= link_to image_tag("grey.gif", "data-original" => "assets/primary_tags/bp.jpg",  width:180, height:150, class: "lazy sep_5") + content_tag(:span, "冰品", class: "fix_hint b_white", style: "text-align:center;"), "" %></div>
</ul>
</div>
<b class="b5"></b><b class="b6"></b><b class="b7"></b><b class="b8"></b>
</div>


<div class="piece grid_12 color1 mt20">
<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
<div class="content">
<h2 class="fl"><span class="f20" style="color: red">功效</span>美食</h2>
<ul class="tag_link fl ml20">
<li class="fl ml5"><a>滋补保健</a></li>
<li class="fl ml5"><a>养颜美容</a></li>
<li class="fl ml5"><a>健康瘦身</a></li>
<li class="fl ml5"><a>宝宝成长</a></li>
<li class="fl ml5"><a>妈妈调理</a></li>
</ul>
<ul class="recipe_list fl">
<div class="hint_box fl"><%= link_to image_tag("grey.gif", "data-original" => "assets/primary_tags/zb.jpg",  width:180, height:150, class: "lazy sep_5") + content_tag(:span, "滋补保健", class: "fix_hint b_white", style: "text-align:center;"), "" %></div>
<div class="hint_box fl"><%= link_to image_tag("grey.gif", "data-original" => "assets/primary_tags/yy.jpg",  width:180, height:150, class: "lazy sep_5") + content_tag(:span, "养颜美容", class: "fix_hint b_white", style: "text-align:center;"), "" %></div>
<div class="hint_box fl"><%= link_to image_tag("grey.gif", "data-original" => "assets/primary_tags/ss.jpg",  width:180, height:150, class: "lazy sep_5") + content_tag(:span, "健康瘦身", class: "fix_hint b_white", style: "text-align:center;"), "" %></div>
<div class="hint_box fl"><%= link_to image_tag("grey.gif", "data-original" => "assets/primary_tags/bbcz.jpg",  width:180, height:150, class: "lazy sep_5") + content_tag(:span, "宝宝成长", class: "fix_hint b_white", style: "text-align:center;"), "" %></div>
<div class="hint_box fl"><%= link_to image_tag("grey.gif", "data-original" => "assets/primary_tags/mmtl.jpg",  width:180, height:150, class: "lazy sep_5") + content_tag(:span, "妈妈调理", class: "fix_hint b_white", style: "text-align:center;"), "" %></div>
</ul>
</div>
<b class="b5"></b><b class="b6"></b><b class="b7"></b><b class="b8"></b>
</div>