<div id="primary_tags" class="mt20 clearfix ">
    <h2 class="ml10 mb5"><%= link_to "更多馋人图片", desires_path %></h2>
    <div class="piece grid_12 color1">
        <b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
        <div class="content">
        <h3 class="fl">传统<span class="f20" style="color: red">中餐</span></h3>
        <ul class="tag_link fl ml20">
            <% %w[家常菜 鲁菜 闽菜 浙菜 苏菜 徽菜 北京菜 东北菜 西北菜 豫菜 鄂菜 云贵菜 清真菜].each do |tag| %>
                <li class="fl ml5"><%= link_to tag, desires_path(tag: tag) %></li>
            <% end %>
        </ul>
        <ul class="tags_list fl">
            <%  [{primary_tag: "私房菜", pic: "sfc.jpg", sep: "sep_6" },
                 {primary_tag: "本帮菜", pic: "bbc.jpg", sep: "sep_6" },
                 {primary_tag: "川菜", pic: "cc.jpg", sep: "sep_6" },
                 {primary_tag: "粤菜", pic: "yc.jpg", sep: "sep_6" },
                 {primary_tag: "湘菜", pic: "xc.jpg", sep: "sep_6" },
                 {primary_tag: "台湾菜", pic: "tyc.jpg", sep: "sep_6" }].each do |data| %>
                <%= render "single_primary_tag", data %>
            <% end %>
        </ul>
       <!--<div class="share_person">
            <h3 class="fl mt10">分享<a>中餐</a><br/>的客官们</h3>
            <ul class="fl mt15 ml20">
            <li class="fl mr10"><a class="fl"><img src="../../Pictures/yinkuaizi/h2.jpg" class="mr5"/></a>
            <a class="fl"><span>我的名字</span></a>
            <a class="fl"><span>+ 关注</span></a>
            </li>
            <li class="fl mr10"><a class="fl"><img src="../../Pictures/yinkuaizi/h3.jpg" class="mr5"/></a>
            <a class="fl"><span>我的名字</span></a>
            <a class="fl"><span>+ 关注</span></a>
            </li>
            <li class="fl mr10"><a class="fl"><img src="../../Pictures/yinkuaizi/h4.jpg" class="mr5"/></a>
            <a class="fl"><span>我的名字</span></a>
            <a class="fl"><span>+ 关注</span></a>
            </li>
            <li class="fl mr10"><a class="fl"><img src="../../Pictures/yinkuaizi/h5.jpg" class="mr5"/></a>
            <a class="fl"><span>我的名字</span></a>
            <a class="fl"><span>+ 关注</span></a>
            </li>
            <li class="fl mr10"><a class="fl"><img src="../../Pictures/yinkuaizi/h6.jpg" class="mr5"/></a>
            <a class="fl"><span>我的名字</span></a>
            <a class="fl"><span>+ 关注</span></a>
            </li>
            </ul>-->
    </div>
    <b class="b5"></b><b class="b6"></b><b class="b7"></b><b class="b8"></b>
    </div>

    <div class="piece grid_12 color1 mt20">
        <b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
        <div class="content">
        <h3 class="fl"><span class="f20" style="color: red">异域</span>风情</h3>
        <ul class="tag_link fl ml20">
            <% %w[美国 德国].each do |tag| %>
                <li class="fl ml5"><%= link_to tag, desires_path(tag: tag) %></li>
            <% end %>
        </ul>
        <ul class="tags_list fl">
            <%  [{primary_tag: "日本料理", pic: "rbll.jpg", sep: "sep_6" },
                 {primary_tag: "韩国料理", pic: "hgll.jpg", sep: "sep_6" },
                 {primary_tag: "东南亚", pic: "dnyll.jpg", sep: "sep_6" },
                 {primary_tag: "法国", pic: "fgdc.jpg", sep: "sep_6" },
                 {primary_tag: "意大利", pic: "ydl.jpg", sep: "sep_6" },
                 {primary_tag: "墨西哥", pic: "mxg.jpg", sep: "sep_6" }].each do |data| %>
                <%= render "single_primary_tag", data %>
            <% end %>
        </ul>
        </div>
        <b class="b5"></b><b class="b6"></b><b class="b7"></b><b class="b8"></b>
    </div>

    <div class="piece grid_12 color1 mt20">
        <b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
        <div class="content">
            <h3 class="fl">菜式<span class="f20" style="color: red">菜品</span></h3>
            <ul class="tag_link fl ml20">
                <% %w[米面主食 烧烤 沙拉 卤酱 素食].each do |tag| %>
                    <li class="fl ml5"><%= link_to tag, desires_path(tag: tag) %></li>
                <% end %>
            </ul>
            <ul class="tags_list fl">
                <%  [{primary_tag: "热菜", pic: "rc.jpg", sep: "sep_6" },
                     {primary_tag: "凉菜", pic: "lc.jpg", sep: "sep_6" },
                     {primary_tag: "汤煲", pic: "tb.jpg", sep: "sep_6" },
                     {primary_tag: "粥羹", pic: "zg.jpg", sep: "sep_6" },
                     {primary_tag: "火锅", pic: "hg.jpg", sep: "sep_6" },
                     {primary_tag: "点心", pic: "dx.jpg", sep: "sep_6" }].each do |data| %>
                    <%= render "single_primary_tag", data %>
                <% end %>
            </ul>
        </div>
        <b class="b5"></b><b class="b6"></b><b class="b7"></b><b class="b8"></b>
    </div>

    <div class="piece grid_12 color1 mt20">
        <b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
        <div class="content">
        <h3 class="fl"><span class="f20" style="color: red">甜品</span>饮料</h3>
        <ul class="tag_link fl ml20">
                <% %w[甜点 糖果].each do |tag| %>
                    <li class="fl ml5"><%= link_to tag, desires_path(tag: tag) %></li>
                <% end %>
            </ul>
        <ul class="tags_list fl">
            <%  [{primary_tag: "烘培", pic: "hb.jpg", sep: "sep_5" },
                 {primary_tag: "巧克力", pic: "qkl.jpg", sep: "sep_5" },
                 {primary_tag: "冰品", pic: "bp.jpg", sep: "sep_5" },
                 {primary_tag: "饮料", pic: "ry.jpg", sep: "sep_5" },
                 {primary_tag: "零食", pic: "tg.jpg", sep: "sep_5" }].each do |data| %>
                <%= render "single_primary_tag", data %>
            <% end %>
        </ul>
        </div>
        <b class="b5"></b><b class="b6"></b><b class="b7"></b><b class="b8"></b>
    </div>

    <!--<div class="piece grid_12 color1 mt20">-->
        <!--<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>-->
        <!--<div class="content">-->
        <!--<h3 class="fl"><span class="f20" style="color: red">功效</span>美食</h3>-->
        <!--<ul class="tag_link fl ml20">-->
        <!--</ul>-->
        <!--<ul class="tags_list fl">-->
            <!--<  [{primary_tag: "滋补保健", pic: "zb.jpg", sep: "sep_5" },-->
                 <!--{primary_tag: "养颜美容", pic: "yy.jpg", sep: "sep_5" },-->
                 <!--{primary_tag: "健康瘦身", pic: "ss.jpg", sep: "sep_5" },-->
                 <!--{primary_tag: "宝宝成长", pic: "bbcz.jpg", sep: "sep_5" },-->
                 <!--{primary_tag: "妈妈调理", pic: "mmtl.jpg", sep: "sep_5" }].each do |data| %>-->
                <!--<= render "single_primary_tag", data %>-->
            <!--< end %>-->
        <!--</ul>-->
        <!--</div>-->
        <!--<b class="b5"></b><b class="b6"></b><b class="b7"></b><b class="b8"></b>-->
    <!--</div>-->

</div>