<div id='home_header' class="grid_12 box_shadow b_white">
    <div id="home_slider" class="fl b_white clearfix mr10">
        <div id="silder_tabs" class="fl">
            <% @hot_topics.each_with_index do |topic, index| %>
                <div class="navigator <%= (index == 0) ? "selected" : '' %> lighter_touch" data-page = "<%= index.to_s %>" id="navigator_<%= index.to_s %>">
                  <h3><%= topic.title %></h3>
                </div>
            <% end %>
        </div>
        <div id="carousel" class="fl">
            <% @hot_topics.each do |topic| %>
                <%= raw topic.content %>
            <% end %>
        </div>
    </div>

    <div id="home_stamp" class="fl ml10">
        <% if current_user_has_permission? :normal_user %>
            <b><%= link_to current_user.login_name, "/me" %></b><br/>
            <%= link_to image_tag("grey.gif", "class" => 'lazy', "data-original"=> current_user.get_avatar(:thumb, false)), "/me" %><br/>
            <%= render "users/user_statics", user: current_user %>

            <span class="mt5"><%= new_tab_link_to image_tag("sina_small.png", :width => 16, :height => 16) + t("syncs.follow_us_on_sina"), YIN11_SINA_WEIBO %></span>
        <% else %>
            <%= render "pre_login" %>
        <% end %>
    </div>
</div>