<div id="slider" class="slider-wrap">
        <div id="main-photo-slider" class="csw">
                <div class="panelContainer">
                        <% articles.each_with_index do |article, index| %>
                             <div class="panel" title="Panel <%= index + 1 %>">
                                <div class="wrapper">
                                        <!-- REGULAR IMAGE PANEL -->
                                        <%= link_to get_image_of_item(article, :width => 320, :height => 240), article %>
                                        <div class="photo-meta-data">
                                            <h4><%= link_to article.title, article %></h4>
                                        </div>
                                </div>
                            </div>
                        <% end %>
                </div>
        </div>

        <!-- TO MAKE THESE THUMBNAILS ACTUALLY WORK, BOTH THE HASH VALUE (#1, ETC.)
          AND THE CLASS="CROSS-LINK" ARE REQUIRED -->

        <div id="movers-row">
            <% articles.each_with_index do |article, index| %>
                <div><a href="#<%= index + 1 %>" class="cross-link <%= "active-thumb" if index == 0 %>"><%= get_image_of_item(article, :width => 80, :height => 60, :class => "nav-thumb", :alt => "temp-thumb") %></a></div>
            <% end %>
        </div>
</div>