<style type="text/css">
			#content {
				width: 593px;
			}

			#pages {
				width: 140px;
				height: 200px;
				margin: 5px auto 0 auto;
			}

		</style>


<div id="content" class="grid_8 to_left">
    <div id="container2">
        <div id="pages" class="fl m10" style="text-align: center;">
          <div><a class = "sliders m10 mt20" id ="0"><%= t("home.banner") %></a></div>
          <div><a class = "sliders m10 mt20" id ="1"><%= t("home.topic_name1") %></a></div>
          <div><a class = "sliders m10 mt20" id ="2"><%= t("home.topic_name2") %></a></div>
          <div><a class = "sliders m10 mt20" id ="3"><%= t("home.topic_name3") %></a></div>
        </div>
        <div id="carousel" class="fl m10">
            <img src="/assets/home_banner.png" />
            <a class="image" href="/pages/4f06c63acd243b1039000032">
                <img src="/assets/2.jpg" style="width:453px;height:200px;"/>
            </a>
            <a class="image" href="/pages/4f06c364cd243b117d000001">
                <img src="/assets/3.png" style="width:453px;height:200px;"/>
            </a>
            <img src="/assets/4.png" />
        </div>
    </div>
</div>


<!--Golden Ratio 960 * 0.618 = 593.28 -->
  <!--<= image_tag "grey.gif", width:593, height:200, class: "lazy grid_8 to_left", "data-original"=> "/assets/home_banner.png" %>-->
  <div class="grid_4 to_right">
    <% if current_user_has_permission? :normal_user %>
        <b><%= link_to current_user.login_name, "/me" %></b><br/>
        <%= link_to image_tag("grey.gif", "class" => 'lazy', "data-original"=> current_user.get_avatar(:thumb, false)), "/me" %><br/>
        <%= render "users/user_statics", user: current_user %>

        <span class="mt5"><%= new_tab_link_to image_tag("sina_small.png", :width => 16, :height => 16) + t("syncs.follow_us_on_sina"), YIN11_SINA_WEIBO %></span>
    <% else %>
        <%= render "pre_login" %>
    <% end %>
  </div>

<script type="text/javascript">

    jQuery(function($) {
        $( "#carousel" ).rcarousel({
            auto: {enabled: true},
//            start: generatePages,
//            pageLoaded: pageLoaded,
            step: 1,
            speed: 1000,
            visible: 1,
            width: 453,
            height: 200
        });

    });

     $(function() {
        $(".sliders").hover(function(event){
              pos = $(this).attr('id');
              $( "#carousel" ).rcarousel( "goToPage", parseInt(pos) );
              event.preventDefault();
          });
    });

</script>