<% if current_user %>
    <div id="user_panel" class="panel">
        <%= image_tag get_avatar(current_user), :class => "avatar" %>
        <%= current_user.login_name %><br/>
        <p>
            <%= link_to t("control_panel.user_basic"), edit_user_path(current_user) %> |
            <%= link_to t("control_panel.show_profile"), profile_path(current_user) %> |
            <%= link_to t("control_panel.update_profile"), edit_profile_path(current_user) %> |
            <%= link_to t("authentication.logout"), logout_path %>
        </p>
    </div>
<% end %>