<% if current_user && current_user.profile.show_watching_tags_panel %>
    <div id="watching_tags_panel" class="panel">
        <b><%= t("control_panel.watching_tags") %></b>
        <%= link_to image_tag("close_x.png", :border => 0), toggle_profile_index_path(:field => :show_watching_tags_panel), :method => :put, :remote => true, :class => "close_panel_link", :title => "hide_link" %>
        <p class="trivial"><%= t("control_panel.add_tag_hint") %></p>
        <table id="watched_tags_list">
          <tr>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          <% @watched_tags.each do |tag| %>
            <tr class="watched_tag">
              <th><%= link_to tag, {:controller => "search", :action => "tag", :tags => tag} %></th>
              <th><%= @evaluation[tag] %></th>
              <th><%= link_to image_tag("delete.png", :border => 0), url_for(:controller =>  "profile", :action => "delete_watched_tag", :tag => tag), :method => :put, :remote => true %></th>
            </tr>
          <% end %>
        </table>
        <%= form_tag :controller => "profile", :action => "watch_tags", :remote => true do %>
            <%= text_field_tag "tags",  "", :id => "watch_tags" %>
            <%= submit_tag t("general.add"), :class => "button" %>
        <% end %>
    </div>
<% end %>