<% home_page %>
<% meta_tag t("site.introduction") %>

<div class="banner mb10">
  <!--Golden Ratio 960 * 0.618 = 593.28 -->
  <%= image_tag "http://flickholdr.com/593/180/sea,sun", width:593, height:180, class: "grid_8 to_left" %>
  <div class="grid_4 to_right">
    <%= link_to "立即注册", new_user_path, class: "button fl" %>
    <span>登录后才可发表分享、加入中意的饭桌、找到对味的美食！/已经有了帐号？<%= link_to "[登录]", login_path %></span>
    <hr/>
    <span>使用已有的ID登录：</span>
    <div>
      <%= link_to image_tag("third_party/s sina.png", :border => 0, :alt => t("syncs.sites.sina")) + t("syncs.sites.sina"), "/syncs/sina/new", :id => "login_via_sinablog" %>
      <%= link_to image_tag("third_party/taobao.png", :border => 0, :alt => t("syncs.sites.taobao")) + t("syncs.sites.taobao"), "/syncs/taobao/new", :id => "login_via_taobao" %>
      <%= link_to image_tag("third_party/renren.png", :border => 0, :alt => t("syncs.sites.renren")) + t("syncs.sites.renren"), "/syncs/renren/new", :id => "login_via_renren" %>
      <%= link_to image_tag("third_party/douban.png", :border => 1, :alt => t("syncs.sites.douban")) + t("syncs.sites.douban"), "/syncs/douban/new", :id => "login_via_douban" %>
      <%= link_to image_tag("third_party/qq.png", :border => 0, :alt => t("syncs.sites.qq")) + t("syncs.sites.qq"), "/syncs/qq/new", :id => "login_via_qqblog" %>
      <%= link_to image_tag("third_party/sohu.png", :border => 0, :alt => t("syncs.sites.sohu")) + t("syncs.sites.sohu"), "/syncs/sohu/new", :id => "login_via_sohublog" %>
      <%= link_to image_tag("third_party/netease.png", :border => 0, :alt => t("syncs.sites.netease"))+ t("syncs.sites.netease"), "/syncs/netease/new", :id => "login_via_neteaseblog" %>
      <hr/>
      <%= new_tab_link_to image_tag("sina_small.png", :width => 16, :height => 16) + t("syncs.follow_yin11_on_sina"), YIN11_SINA_WEIBO %>
    </div>
  </div>
</div>

<h2>今日美食达人</h2>
<div class="clearfix mb10">
    <% @daily_stars.each do |master| %>
        <%= render "users/user", user: master %>
    <% end %>
</div>

<h3>更多美食达人</h3>
<div class="clearfix mb10">
    <% @more_masters.each do |master| %>
        <%= image_tag master.get_avatar, width: AVATAR_THUMB_WIDTH, height: AVATAR_THUMB_HEIGHT, class: "more_head_img" %>
    <% end %>
</div>

<h2>专题</h2>
<% @hot_topics.each do |topic| %>
    <%= raw topic.content %>
<% end %>









