<% home_page %>
<% meta_tag t("site.introduction") %>

<div class="box_shadow mb10 clearfix" style="height:200px;">
  <%= render "slider" %>
</div>

<div class="box_shadow p5">
    <% tags = get_top_primary_tags %>
    <% recipes = Recipe.tagged_with(tags.map(&:name)).to_a %>
    <ul id="filters">
        <% tags.each do |tag| %>
            <li class="display_inline"><%= link_to tag.name, "#", "data-filter" => ".#{tag.name}", class: "tag" %></li>
        <% end %>
    </ul>
    <div id="masonry_container" class="mt10">
      <div class="corner-stamp">
        <%= "诱人的美食图片，你被馋到了吗？ 点击进去吧，看看怎么解馋！" %>
      </div>
      <% recipes.each do |recipe| %>
        <div class="item <%= recipe.tags.join(' ') %>" style="margin: 10px;">
          <div class="box_shadow p5">
            <div class="center">
                <%= link_to image_tag(recipe.get_image_url(:waterfall), height: recipe.get_image_height(:waterfall)), recipe %>
            </div>
            <span class="f14"><%= link_to recipe.name, recipe %></span><br/>
            <span><%= truncate_content(recipe.description, 30) %></span>
          </div>
        </div>
      <% end %>
    </div>
</div>

<div class="mt20 clearfix ">
  <%= render "primary_tags" %>
</div>


<div class="mt20 clearfix ">
  <% unless @daily_stars.empty? %>
    <h2 class="fl"><%= t("users.daily_stars") %></h2><br/>
    <div>
        <% @daily_stars.each do |master| %>
            <%= render master %>
        <% end %>
    </div>
    <div>
      <%= link_to ">>更多美食达人", masters_path %><br/>                                                                                           W
      <div class="p5">
          <% @masters.each do |master| %>
                <div class="fl m1" style="width:48px;height:48px;"><%= link_to image_tag("grey.gif", "class" => 'lazy', "data-original"=> master.get_avatar(:thumb, false), width: 48, height: 48), master %></div>
          <% end %>
      </div>
    </div>
  <% end %>
</div>

<div class="clearfix mt20">
  <% unless @recommended_albums.empty? %>
    <h2 class="fl"><%= t("albums.recommended") %></h2><br/>
    <div class="grid_8 to_left ">
        <%= render @recommended_albums %>
    </div>
  <% end %>
</div>









