<% home_page %>

<% content_for :left_column do %>
    <div>
        <b class="trivial"><%= t("home.current_city") %></b><%= content_tag(:b, current_city.name, :id => "current_city_name") %>(<%= link_to t("home.change_city"), edit_current_city_locations_path(:popup => true), :rel => "facebox" %>)
    </div>

    <div id="info_panel">
        <div id="news_block" class="block round">
            <div class="image_frame">
                <small><%= t("articles.headlines") %></small>
                <%= render "slider", :articles => @headlines %>
            </div>
            <div id="news_frame">
                <h3><%= t("articles.hot_news") %></h3>
                <ul>
                    <% @hot_news.each do |article| %>
                       <li><h4><%= link_to article.title, article %></h4></li>
                    <% end %>
                </ul>
                <%= link_to t("articles.more_news"), articles_path, :class => "more_news_link" %>
            </div>
        </div>

        <div id="pagination">
            <% @items.each do |item| %>
                <%= render "info_items/info_item", :item => item %>
            <% end %>
        </div>
    </div> <!--end of info_items -->
<% end %>

<% content_for :right_column do %>
    <div id="control_panel">
        <%= render "user_panel" %>
        <%= render "watching_locations_panel" %>
        <%= render "collected_tips_panel" %>
        <%= render "joined_groups_panel"  %>
        <%= render "login_panel" %>
        <%= render "tags_cloud" %>
    </div> <!--end of control_panel -->
<% end %>







