
<div id="block_search" class="block">
    <div class="block_inside">
        <div class="image_block">
            <%= image_tag "safe_food.png" %>
        </div>
        <div class="text_block">
            <h2><%= t("home.foods_buy_question") %></h2>
            <p><%= t("home.foods_buy_question_description") %></p>
            <%= form_tag '/foods', :method => :get do %>
                    <%= text_field_tag :foods %>
                    <%= submit_tag t("home.foods_search_button"), :class => "button" %><br/>
                    <p class="trivial"><%= t("home.multiple_foods_suggestion")  %></p>
            <% end %>
        </div>
    </div>
</div>

<div id="actions_menu">
    <%= link_to t("reviews.new_review"), new_review_path, :class => "button" %>
</div>

<div class="two_columns_container" >
     <div id="info_items" class="left_column">
        <% if @interested_info %>
            <% @interested_info.each do |food_name, info_object| %>
                <h3><%= food_name %></h3>
                    <% info_object.each_with_index do |info, index| %>
                    <%= render "shared/info_item", :item => info, :index => index %>
                <% end %>
            <% end %>
        <% elsif @recent_info %>
            <% @recent_info.each_with_index do |info, index| %>
                <%= render "shared/info_item", :item => info, :index => index %>
            <% end %>
        <% end %>
     </div> <!--end of info_items -->

     <div id="control_panel" class="right_column">
        <% if current_user %>
            <div id="user_panel" class="sub_panel">
                <h3><%= current_user.login_name %></h3>
                <%= get_avatar(current_user) %>
            </div>
            <div id="watch_list_panel" class="sub_panel">
                <% if @watching_foods.size > 0 %>
                    <h3><%= t("home.control_panel.watching_foods") %></h3>
                    <% @watching_foods.each do |food| %>
                        <p>
                          <%= food.name %> <%= get_severity_of_food(food) %>
                        </p>
                    <% end %>
                    <%= link_to t("home.control_panel.more"), "#" %>
                <% end %>
                <%= form_tag :action => "watch_foods" do %>
                    <%= text_field_tag "added_foods" %>
                    <%= submit_tag t("general.add"), :class => "button" %>
                    <p class="trivial"><%= t("home.control_panel.add_foods_suggestion") %></p>
                <% end %>
            </div>
        <% else %>
            <div id="login_panel" class="sub_panel">
                <h3><%= t("authentication.quick_login")  %></h3>
                <%= render "shared/quick_login" %>
            </div>
        <% end %>

        <div id="foods_buzz" class="sub_panel">
          <% if @foods_buzz %>
              <h3><%= t("home.foods_buzz") %></h3>
              <% @foods_buzz.each do |category, foods| %>
                <h4><%= category.name if category %></h4>
                <% foods.each do |food| %>
                    <h5><%= food.name %></h5>
                <% end %>
                <br/>
              <% end %>
          <% end %>
        </div> <!--end of foods_buzz -->

    </div> <!--end of control_panel -->
</div><!--end of two_columns_block -->








