<% home_page %>
<% meta_tag t("site.introduction") %>

<%= render "slider" %>

<%= render "desires_box" %>

<%= render "primary_tags" %>

<div class="mt20 clearfix ">
  <% unless @daily_stars.empty? %>
    <h2 class="fl"><%= t("users.daily_stars") %></h2><br/>
    <div>
        <% @daily_stars.each do |master| %>
            <%= render master %>
        <% end %>
    </div>
    <div>
      <%= link_to ">>更多美食达人", masters_path %><br/>
      <div class="p5">
          <% @masters.each do |master| %>
                <div class="fl m1" style="width:48px;height:48px;"><%= link_to image_tag("grey.gif", "class" => 'lazy', "data-original"=> master.get_avatar(:thumb, false), width: 48, height: 48), master %></div>
          <% end %>
      </div>
    </div>
  <% end %>
</div>

<div class="clearfix mt20">
  <% unless @recommended_albums.empty? %>
    <h2 class="fl"><%= t("albums.recommended") %></h2><br/>
    <div class="grid_8 to_left ">
        <%= render @recommended_albums %>
    </div>
  <% end %>
</div>









