<% home_page %>
<% meta_tag t("site.introduction") %>

<div class="box_shadow mb10 clearfix" style="height:200px;">
  <!--Golden Ratio 960 * 0.618 = 593.28 -->
  <%= image_tag "grey.gif", width:593, height:200, class: "lazy grid_8 to_left", "data-original"=> "/assets/home_banner.png" %>
  <div class="grid_4 to_right">
    <% if current_user_has_permission? :normal_user %>
        <b><%= link_to current_user.login_name, "/me" %></b><br/>
        <%= link_to image_tag("grey.gif", "class" => 'lazy', "data-original"=> current_user.get_avatar(:thumb, false)), "/me" %><br/>
        <%= render "users/user_statics", user: current_user %>

        <span class="mt5"><%= new_tab_link_to image_tag("sina_small.png", :width => 16, :height => 16) + t("syncs.follow_us_on_sina"), YIN11_SINA_WEIBO %></span>
    <% else %>
        <%= render "pre_login" %>
    <% end %>
  </div>
</div>

<div class="clearfix mt20">
  <% unless @hot_topics.empty? %>
    <h2 class="mt10"><%= t("topics.topics") %></h2>
    <% @hot_topics.each do |topic| %>
        <%= raw topic.content %>
    <% end %>
  <% end %>
</div>

<div class="mt20 clearfix ">
  <% unless @daily_stars.empty? %>
    <h2 class="fl"><%= t("users.daily_stars") %></h2><br/>
    <div>
        <% @daily_stars.each do |master| %>
            <%= render master %>
        <% end %>
    </div>
    <div>
      <%= link_to ">>更多美食达人", masters_path %><br/>                                                                                           W
      <div class="p5">
          <% @masters.each do |master| %>
                <div class="fl m1" style="width:48px;height:48px;"><%= link_to image_tag("grey.gif", "class" => 'lazy', "data-original"=> master.get_avatar(:thumb, false), width: 48, height: 48), master %></div>
          <% end %>
      </div>
    </div>
  <% end %>
</div>

<div class="clearfix mt20">
  <% unless @recommended_albums.empty? %>
    <h2 class="fl"><%= t("albums.recommended") %></h2><br/>
    <div class="grid_8 to_left ">
        <%= render @recommended_albums %>
    </div>
  <% end %>
</div>









