<% home_page %>
<% meta_tag t("site.introduction") %>

<div id="catalogs">
    <span class="cat first block round"><%= link_to t("catalogs.all"), products_path %></span>
    <% first_catalogs(@catalogs).each do |first_catalog| %>
        <span class="nav_menu">
            <span class="cat first block round"><%= link_to first_catalog.name, products_path(:action => "index", :catalog => first_catalog.name) %></span>
            <ul>
                <%= nested_catalogs first_catalog.children.arrange %>
            </ul>
        </span>
    <% end %>
</div>

<div id="recommended_products" class="block round">
    <h2><%= t("home.recommended_products") %></h2>
    <% @recommended_products.each do |product| %>
        <div class="small_product">
            <%= render "products/small_product", :product => product %>
        </div>
    <% end %>
</div>


<div id="hot_topics">
    <% @hot_topics.each do |topic| %>
        <%= render "topics/large_topic", :topic => topic %>
    <% end %>
</div>









