<% home_page %>
<% meta_tag t("site.introduction") %>

<div class="box_shadow mb10 clearfix" style="height:200px;">
  <!--Golden Ratio 960 * 0.618 = 593.28 -->
  <%= image_tag "home_banner.png", width:593, height:200, class: "grid_8 to_left" %>
  <div class="grid_4 to_right">
    <% if current_user_has_permission? :normal_user %>
        <b><%= link_to current_user.login_name, "/me" %></b><br/>
        <%= link_to image_tag(current_user.get_avatar(:thumb)), "/me" %><br/>
        <%= render "users/user_statics", user: current_user %>

        <span class="mt5"><%= new_tab_link_to image_tag("sina_small.png", :width => 16, :height => 16) + t("syncs.follow_us_on_sina"), YIN11_SINA_WEIBO %></span>
    <% else %>
        <%= render "pre_login" %>
    <% end %>
  </div>
</div>

<div id="desires_box" class="p5 b_white">
    <% tags = get_top_primary_tags %>
    <% items = Desire.tagged_with(tags.map(&:name)).to_a %>
    <ul id="filters">
        <% tags.each do |tag| %>
            <li class="display_inline"><%= link_to tag.name, "#", "data-filter" => ".#{tag.name}", class: "f14 p5" %></li>
        <% end %>
    </ul>
    <div id="masonry_container" class="mt10">
      <div class="corner-stamp">
        <%= "诱人的美食图片，你被馋到了吗？ 点击进去吧，看看怎么解馋！" %><br/>
        <%= link_to "+添加馋人的东西", new_desire_path, class: "desire_dialog_btn" %>
        <div id="desire_dialog" class="display_none">
            <%= render "desires/desire_fields", desire: Desire.new %>
        </div>
      </div>
      <% items.each do |item| %>
        <div class="item <%= item.tags.join(' ') %>" style="margin: 10px;">
          <div class="box_shadow p5" style="max-width: 200px;">
            <div class="center">
                <%= link_to image_tag(item.get_image_url(:waterfall), height: item.get_image_height(:waterfall)), item %>
            </div>
            <!--<span class="f14"><= link_to recipe.name, recipe %></span><br/>-->
            <!--<span><= truncate_content(recipe.description, 30) %></span>-->
            <%= truncate_content(item.content, 50) %>
          </div>
        </div>
      <% end %>
    </div>
</div>

<div class="clearfix mt20">
  <% unless @hot_topics.empty? %>
    <h2 class="mt10"><%= t("topics.topics") %></h2>
    <% @hot_topics.each do |topic| %>
        <%= raw topic.content %>
    <% end %>
  <% end %>
</div>

<div class="mt20 clearfix ">
  <% unless @daily_stars.empty? %>
    <h2 class="fl"><%= t("users.daily_stars") %></h2><br/>
    <div>
        <% @daily_stars.each do |master| %>
            <%= render master %>
        <% end %>
    </div>
    <div>
      <%= link_to ">>更多美食达人", masters_path %><br/>
      <div class="p5">
          <% @masters.each do |master| %>
                <div class="fl m1" style="width:48px;height:48px;"><%= link_to image_tag(master.get_avatar(:thumb), width: 48, height: 48), master %></div>
          <% end %>
      </div>
    </div>
  <% end %>
</div>

<div class="clearfix mt20">
  <% unless @recommended_albums.empty? %>
    <h2 class="fl"><%= t("albums.recommended") %></h2><br/>
    <div class="grid_8 to_left ">
        <%= render @recommended_albums %>
    </div>
  <% end %>
</div>









