<% home_page %>

<% content_for :header_including do %>
     <%= stylesheet_link_tag  "s3Slider" %>
     <%= javascript_include_tag "home", "s3Slider" %>
<% end %>

<div id="news_block" class="block round">
    <div class="image_frame">
        <div id="s3slider">
           <ul id="s3sliderContent">
             <% @articles.each do |article| %>
                <li class="s3sliderImage">
                    <%= link_to(get_image_of_item(article, 0, 320, 240) , article)  %>
                    <span><h3><%= article.title %></h3></span>
              </li>
             <% end %>
           </ul>
        </div>
    </div>
    <div id="articles_frame">
        <ul>
            <% @articles.each do |article| %>
                <li><h4><%= link_to article.title, article %></h4></li>
            <% end %>
        </ul>
    </div>
    <div id="search_frame">
        <h2><%= t("home.foods_buy_question") %></h2>
        <p><%= t("home.foods_buy_question_description") %></p>
        <%= form_tag '/search', :method => :get do %>
                <%= text_field_tag :query, @default_query, :class => "cleardefault" %>
                <%= submit_tag t("general.search"), :class => "button" %><br/>
                <p class="trivial"><%= t("home.multiple_foods_suggestion")  %></p>
        <% end %>
    </div>
</div>

<div>
    <ul class="menu" id="actions_menu">
        <li><%= link_to t("reviews.new_review"), new_review_path, :class => "button" %></li>
        <li><%= link_to t("vendors.browse"), vendors_path, :class => "button" %></li>
    </ul>
</div>

<div class="two_columns_container" >
    <div id="pagination" class="left_column">
    <% @items.each do |item| %>
        <%= render "info_items/info_item", :item => item %>
    <% end %>
    </div> <!--end of info_items -->

     <div id="control_panel" class="right_column">
        <% if current_user %>
            <div id="user_panel" class="sub_panel">
                <h3><%= current_user.login_name %></h3>
                <%= get_avatar(current_user) %>
                 <p><%= link_to t("control_panel.update_profile"), edit_profile_path(current_user) %>
                | <%= link_to t("authentication.logout"), logout_path %></p>
            </div>
            <hr/>
            <h3><%= t("control_panel.watching") %></h3>
            <dl class="tab">
                <dt><span><%= t("control_panel.tags") %></span></dt>
                    <dd>
                        <%= form_tag :controller => "profile", :action => "watch_tags", :remote => true do %>
                            <%= text_field_tag "tags" %>
                            <%= submit_tag t("general.add"), :class => "button" %>
                            <p class="trivial"><%= t("control_panel.add_foods_suggestion") %></p>
                        <% end %>
                        <% @watched_tags.each do |tag| %>
                            <%= link_to tag, {:controller => "search", :action => "tag", :tags => tag} %> <%= @evaluation[tag] %>
                        <% end %>
                    </dd>
                <dt><span><%= t("control_panel.locations") %></span></dt>
                    <dd>
                        <div id="locations_list">
                            <% @watched_locations.each do |location| %>
                                <p id="<%= location.id.to_s %>">
                                    <%= link_to location.address, show_nearby_items_locations_path(:location_id => location.id) %> <%= @evaluation[location.address] %>
                                    <%= link_to image_tag("closelabel.png", :border => 0), url_for(:controller =>  "profile", :action => "delete_watched_location", :location_id => location.id), :method => :put, :remote => true %>
                                </p>
                            <% end %>
                        </div>
                        <p><%= link_to  t("profile.add_place"), {:controller => "profile", :action => "new_watched_location", :popup => true}, :rel => "facebox", :class => "button" %></p>
                    </dd>
                <dt><span><%= t("control_panel.tips") %></span></dt>
                    <dd>
                        <%= content_tag(:p, t("general.empty")) if @collected_tips.empty? %>
                        <% @collected_tips.each do |tip| %>
                            <%= link_to tip.title, tip, 'data-content' => tip.content, :class => "tip" %>
                        <% end %>
                    </dd>
                <dt><span><%= t("control_panel.groups") %></span></dt>
                    <dd>
                        <%= content_tag(:p, t("general.empty")) if @my_groups.empty? %>
                        <% @my_groups.each do |group| %>
                            <%= link_to group.name, group %>
                        <% end %>
                    </dd>
            </dl>
        <% else %>
            <div id="login_panel" class="sub_panel">
                <%= link_to t("authentication.login"), new_sessions_path %>
                | <%= link_to t("authentication.sign_up"), new_user_path %>
            </div>
        <% end %>
        <hr/>

        <div id="tag_cloud" class="sub_panel">
            <h3><%= t("home.hot_tags") %></h3>
            <% tag_cloud @raw_hot_tags do |name, css_class| %>
                <%= link_to name, {:controller => "search", :action => "index", :tags => name}, :class => css_class %>
            <% end %>
        </div> <!--end of tag_cloud -->

    </div> <!--end of control_panel -->
</div><!--end of two_columns_block -->








