<% content_for :header_including do %>
     <%= stylesheet_link_tag  "s3Slider" %>
     <%= javascript_include_tag "home", "s3Slider" %>
<% end %>

<div id="news_block" class="block">
    <div class="block_inside">
        <div id="image_frame">
            <div id="s3slider">
               <ul id="s3sliderContent">
                 <% @hot_articles.each do |article| %>
                    <li class="s3sliderImage">
                        <%= link_to(get_image_of_item(article, 0, 320, 240) , article)  %>
                        <span><h3><%= article.title %></h3></span>
                  </li>
                 <% end %>
               </ul>
            </div>
        </div>
        <div id="articles_frame">
            <ul>
                <% @hot_articles.each do |article| %>
                    <li><h4><%= link_to article.title, article %></h4></li>
                <% end %>
            </ul>
        </div>
        <div id="search_frame">
            <h2><%= t("home.foods_buy_question") %></h2>
            <p><%= t("home.foods_buy_question_description") %></p>
            <%= form_tag 'home/items', :method => :get do %>
                    <%= text_field_tag :search %>
                    <%= submit_tag t("home.foods_search_button"), :class => "button" %><br/>
                    <p class="trivial"><%= t("home.multiple_foods_suggestion")  %></p>
            <% end %>
        </div>
    </div>
</div>

<div>
    <ul class="menu" id="actions_menu">
        <li><%= link_to t("reviews.new_review"), choose_mode_reviews_path, :class => "button" %></li>
        <li><%= link_to t("recommendations.new_recommendation"), new_recommendation_path, :class => "button" %></li>
    </ul>
</div>

<div class="two_columns_container" >
    <div id="pagination" class="left_column">
    <% @items.each do |item| %>
        <%= render "info_items/info_item", :item => item %>
    <% end %>
    </div> <!--end of info_items -->

     <div id="control_panel" class="right_column">
        <% if current_user %>
            <div id="user_panel" class="sub_panel">
                <h3><%= current_user.login_name %></h3>
                <%= get_avatar(current_user) %>
                <span><%= link_to t("home.control_panel.update_profile"), profile_edit_path %></span>
            </div>
            <hr/>
            <h3><%= t("home.control_panel.watching") %></h3>
            <dl class="tab">
                <dt><span><%= t("home.control_panel.watching_foods") %></span></dt>
                    <dd id="foods_watching_list">
                        <% if current_user && current_user.profile.watching_foods %>
                            <% current_user.profile.watching_foods.each do |tag| %>
                                <h4><%= link_to tag, {:action => "items", :tags => tag} %><%= get_severity_of_food(tag) %></h4>
                            <% end %>
                        <% end %>
                        <%= form_tag :action => "watch_foods" do %>
                            <%= text_field_tag "added_foods" %>
                            <%= submit_tag t("general.add"), :class => "button" %>
                            <p class="trivial"><%= t("home.control_panel.add_foods_suggestion") %></p>
                        <% end %>
                    </dd>
                <dt><span><%= t("home.control_panel.watching_tips") %></span></dt>
                    <dd id="tips_watching_list">
                      <% if @my_tips %>
                        <% @my_tips.each do |tip| %>
                            <%= link_to tip.title, tip %>
                        <% end %>
                      <% end %>
                    </dd>
            </dl>
        <% else %>
            <div id="login_panel" class="sub_panel">
                <h3><%= t("authentication.quick_login")  %></h3>
                <%= render "shared/quick_login" %>
            </div>
        <% end %>
        <hr/>

        <div id="tag_cloud" class="sub_panel">
            <h3><%= t("home.hot_tags") %></h3>
            <% tag_cloud InfoItem.tags_with_weight[0..GlobalConstants::TAG_CLOUD_COUNT] do |name, css_class| %>
                <%= link_to name, {:action => "items", :tags => name}, :class => css_class %>
            <% end %>
        </div> <!--end of tag_cloud -->

       <% if false %>
        <div id="foods_buzz" class="sub_panel">
          <% if @foods_buzz %>
              <h3><%= t("home.foods_buzz") %></h3>
              <% @foods_buzz.each do |category, foods| %>
                <h4><%= category.name if category %></h4>
                <% foods.each do |food| %>
                    <h5><%= link_to food.name, foods_path(:foods => food.name) %></h5>
                <% end %>
                <br/>
              <% end %>
          <% end %>
        </div> <!--end of foods_buzz -->
        <% end %>

    </div> <!--end of control_panel -->
</div><!--end of two_columns_block -->








