<% home_page %>
<% meta_tag t("site.introduction") %>

<div class="box_shadow mb10 clearfix" style="height:200px;">
  <!--Golden Ratio 960 * 0.618 = 593.28 -->
  <%= image_tag "home_banner.png", width:593, height:200, class: "grid_8 to_left" %>
  <div class="grid_4 to_right">
    <% if current_user_has_permission? :normal_user %>
        <b><%= link_to current_user.login_name, "/me" %></b><br/>
        <%= link_to image_tag(current_user.get_avatar(:thumb)), "/me" %><br/>
        <div>
            <%= link_to "去看看我关注的动态>>", "/me" %><br/>
            <span><%= new_tab_link_to image_tag("sina_small.png", :width => 16, :height => 16) + t("syncs.follow_us_on_sina"), YIN11_SINA_WEIBO %></span>
        </div>
    <% else %>
        <%= render "pre_login" %>
    <% end %>
  </div>
</div>

<div class="clearfix mt10">
    <h2 class="mt10">专题</h2>
    <% @hot_topics.each do |topic| %>
        <%= raw topic.content %>
    <% end %>
</div>

<div class="clearfix mt10">
  <% unless @daily_stars.empty? %>
    <h2 class="fl">今日美食达人</h2>
    <div class="clearfix"></div>
    <div class="grid_9 to_left ">
        <% @daily_stars.each do |master| %>
            <%= render "users/user", user: master %>
        <% end %>
    </div>
    <div class="grid_3 to_right" to_right>
      <% @masters.each do |master| %>
            <%= link_to image_tag(master.get_avatar(:thumb), width: 48, height: 48), master, class: "more_head_img" %>
      <% end %>
      <div class="clearfix"></div>
      <p class="fr"><%= link_to "更多美食达人>>", masters_path %></p>
    </div>
  <% end %>
</div>









