<% home_page %>

<div id="news_block" class="block round">
    <div class="image_frame">
        <%= render "slide", :articles => @headlines %>
    </div>
    <div id="news_frame">
        <ul>
            <% @headlines.each do |article| %>
                <li><h4><%= link_to article.title, article %></h4></li>
            <% end %>
        </ul>
    </div>
    <div id="topics_frame">
        <h3><%= t("articles.hot_news") %></h3>
        <ul>
            <% @hot_news.each do |article| %>
                <li><h4><%= link_to article.title, article %></h4></li>
            <% end %>
        </ul>
        <%= link_to t("articles.more_news"), articles_path %>
    </div>
</div>

<div>
  <b class="trivial"><%= t("home.current_city") %></b><%= content_tag(:b, current_city.name, :id => "current_city_name") %>(<%= link_to t("home.change_city"), edit_current_city_locations_path(:popup => true), :rel => "facebox" %>)
</div>

<div class="two_columns_container" >
    <div id="pagination" class="left_column">
        <% @items.each do |item| %>
            <%= render "info_items/info_item", :item => item %>
        <% end %>
    </div> <!--end of info_items -->

     <div id="control_panel" class="right_column">
        <%= render "user_panel" %>
        <%= render "watching_tags_panel" %>
        <%= render "watching_locations_panel" %>
        <%= render "collected_tips_panel" %>
        <%= render "joined_groups_panel"  %>
        <%= render "login_panel" %>
        <%= render "tags_cloud" %>

    </div> <!--end of control_panel -->
</div><!--end of two_columns_block -->








