<% if current_user %>
    <h1>Welcome, <%= current_user.login_name %></h1>
<% else %>
    <div>
        <h2><%= t("authentication.quick_login")  %></h2>
        <%= render "shared/quick_login" %>
    </div>
<% end %>

<div id="foods_search">
    <%= form_tag '/foods', :method => :get do %>
        <p>
            <%= t("home.foods_buy_question") %>
        </p>
        <p>
            <%= text_field_tag :foods %>
            <%= submit_tag t("home.foods_search_button") %><br/>
            <%= t("home.multiple_foods_suggestion")  %>
        </p>
    <% end %>
</div>

<div id="menu">
    <%= link_to t("menu.my_reviews"), reviews_path %>
    <%= link_to t("menu.badges"), badges_path %>
</div>

<div id="new_review">
  <%= link_to t("reviews.new_review"), new_review_path %>
</div>
<div id="food_info_block">
    <% if @interested_info %>
        <% @interested_info.each do |food_name, info_object| %>
            <h3><%= food_name %></h3>
            <% info_object.each_with_index do |info, index| %>
              <div id="<%="info_item_#{index}"%>">
                <% if info.is_a?(Review) %>
                    <%= render "reviews/review_item", :review => info %>
                <% elsif info.is_a?(Article) %>
                    <%= render "articles/article_item", :article => info %>
                <% end %>
              </div>
            <% end %>
        <% end %>
    <% elsif @recent_info %>
        <% @recent_info.each_with_index do |info, index| %>
              <div id="<%="info_item_#{index}"%>">
                <% if info.is_a?(Review) %>
                    <%= render "reviews/review_item", :review => info %>
                <% elsif info.is_a?(Article) %>
                    <%= render "articles/article_item", :article => info %>
                <% end %>
              </div>
            <% end %>
    <% end %>
</div>



