<% home_page %>

<% content_for :header_including do %>
     <%= stylesheet_link_tag  "s3Slider" %>
     <%= javascript_include_tag "home", "s3Slider" %>
<% end %>

<div id="news_block" class="block round">
    <div class="image_frame">
        <div id="s3slider">
           <ul id="s3sliderContent">
             <% @articles.each do |article| %>
                <li class="s3sliderImage">
                    <%= link_to(get_image_of_item(article, 0, 320, 240) , article)  %>
                    <span><h3><%= article.title %></h3></span>
                </li>
             <% end %>
           </ul>
        </div>
    </div>
    <div id="articles_frame">
        <ul>
            <% @articles.each do |article| %>
                <li><h4><%= link_to article.title, article %></h4></li>
            <% end %>
        </ul>
    </div>
    <div id="search_frame">
        <h2><%= t("home.foods_buy_question") %></h2>
        <p class="trivial"><%= t("home.foods_buy_question_description") %></p>
        <%= form_tag '/search', :method => :get do %>
                <%= text_field_tag :query, @default_query, :class => "clear_default not_cleared" %>
                <%= submit_tag t("general.search"), :class => "button" %><br/>
        <% end %>
    </div>
</div>

<div>
  <b class="trivial"><%= t("home.current_city") %></b><%= content_tag(:b, current_city.name, :id => "current_city_name") %>(<%= link_to t("home.change_city"), edit_current_city_locations_path(:popup => true), :rel => "facebox" %>)
</div>

<div class="two_columns_container" >
    <div id="pagination" class="left_column">
        <% @items.each do |item| %>
            <%= render "info_items/info_item", :item => item %>
        <% end %>
    </div> <!--end of info_items -->

     <div id="control_panel" class="right_column">
        <%= render "actions_panel" %>
        <%= render "user_panel" %>
        <%= render "watching_tags_panel" %>
        <%= render "watching_locations_panel" %>
        <%= render "collected_tips_panel" %>
        <%= render "joined_groups_panel"  %>
        <%= render "login_panel" %>
        <%= render "tags_cloud" %>

    </div> <!--end of control_panel -->
</div><!--end of two_columns_block -->








