<div class="content_block_inside">
    <div id="brief_report" class="block">
      <div class="block_inside">
        <h2><%= t("info_items.report_header")  %><%= get_severity_image("dummy") %></h2>
        <h3><%= t("info_items.report_summary", :name => @target_names, :bad_count => @bad_items.size, :good_count => @good_items.size ) %></h3>
        <h4 class="bad">
          <%= t("info_items.report_involved_regions") %>
          <% @bad_regions.each do |region| %>
            <%= link_to(region.name, {:action => "items", :region_id => region.id}, :class => "tag") %>
          <% end %>
        </h4>
      </div>
    </div>
    <div>
        <ul class="menu" id="actions_menu">
            <li><%= link_to t("reviews.new_review"), new_review_path, :class => "button" %></li>
            <li><%= link_to t("recommendations.new_recommendation"), new_recommendation_path, :class => "button" %></li>
        </ul>
    </div>
    <div class="two_columns_container" >
      <div id="bad_items" class="left_column">
        <div class="block">
            <div class="block_inside">
                <h2 class="bad"><%= t("info_items.bad_items", :name =>@target_names) %></h2>
                <%= paginate @bad_items %>
                <% @bad_items.each do |item| %>
                    <%= render "info_items/info_item_short", :item => item %>
                <% end %>
            </div>
        </div>
      </div>

      <div id="good_items" class="right_column">
        <div class="block">
            <div class="block_inside">
                <h2 class="good"><%= t("info_items.good_items", :name => @target_names) %></h2>
                <%= paginate @good_items %>
                <% @good_items.each do |item| %>
                    <%= render "info_items/info_item_short", :item => item %>
                <% end %>
            </div>
        </div>
      </div>
    </div>
</div>