    <%= render "shared/vote_fields", :item => item %>
    <h2><%= item.title %></h2>
    <span class="trivial"><%= item.reported_on_string %></span>
    <div class="clues">
        <% clues = get_clues_of_item(item); clues.each_with_index do |clue, index| %>
            <%= content_tag(:small, clue) %> <%= "|" if index < clues.size - 1 %>
        <% end %>
    </div>
    <p><%= raw item.content %></p>

    <% if item.vendor and item.vendor.address %>
        <%= render "shared/display_map", :address =>  item.vendor.address %>
    <% end %>

    <% if item.images.size > 0 %>
        <div id="gallery" class="block">
          <div class="block_inside">
              <% item.images.each do |image| %>
                  <%= get_thumbnail(image, true) %>
              <% end %>
          </div>
        </div>
    <% end %>