
  <div class="field">
    <%= f.label :title, t("general.title") %><%= mark_required(item, :title) %><%= mark_required_length(item, :title) %><br/>
    <%= f.text_field :title, :maxlength => get_max_length(item, :title) %>
  </div>
  <div class="field">
     <%= f.label :tags_string, t("info_items.tags") %><br/>
     <%= f.text_field :tags_string, 'data-pre' => (item.tags ? item.tags.map { |t| { :id => t, :name => t }} : []).to_json %>
  </div>
  <% if item.vendor %>
    <div id="field">
      <%= item.vendor.name %>
      <%= hidden_field_tag "#{item.class.name.downcase}[vendor_token]", item.vendor.id %>
      <%= hidden_field_tag "#{item.class.name.downcase}[city]", item.vendor.city %>
      <%= hidden_field_tag "#{item.class.name.downcase}[street]", item.vendor.street %>
      <!--for testing -->
      <%= hidden_field_tag "#{item.class.name.downcase}[vendor_name]", item.vendor.name %>
    </div>
  <% else %>
    <%= render "locations/location_fields", :f => f %>
  <% end %>
  <div class="field">
    <%= f.label :reported_on_string, t("general.date") %><br/>
    <%= f.text_field :reported_on_string, {:class => "date_picker"} %>
  </div>

  <% if item.is_a?(Review) %>
      <div class="field">
        <%= f.label :faults, t("reviews.faults") %><br/>
            <div class="checkbox_group">
                <% FaultTypes.get_values.each_with_index do |type, i| %>
                    <%= check_box_tag "#{item.class.name.downcase}[faults][]", type, item.faults.include?(type), {:id => "#{item.class.name.downcase}_faults_#{i}", :class => "checkbox" } %>
                    <%= label_tag "#{item.class.name.downcase}_faults_#{i}", type %>
                <% end %>
            </div>
      </div>
  <% end %>

  <%= render "images/images_fields", :f => f, :item => item %>

  <div class="field">
    <%= f.label :content, t("reviews.content") %><%= mark_required(item, :content) %><%= mark_required_length(item, :content) %><br/>
    <%= f.text_area :content, :class => "mceEditor", :maxlength => get_max_length(item, :content) %>
  </div>