
  <div class="field">
    <%= f.label :title, t("general.title") %><%= mark_required(item, :title) %><%= mark_required_length(item, :title) %><br/>
    <%= f.text_field :title, :maxlength => 40 %>
  </div>
  <div class="field">
     <%= f.label :tags_string, t("info_items.tags") %><br/>
     <%= f.text_field :tags_string, 'data-pre' => (f.object.tags ? f.object.tags.map { |t| { :id => t, :name => t }} : []).to_json %>
  </div>
  <div id="field">
    <%= content_tag(:span, current_city.name, :id => "current_city_name") %>(<%= link_to t("address.change_city"), profile_edit_current_city_path(:popup => true), :rel => "facebox" %>)<br/>
    <%= f.label :vendor_token, t("vendors.vendor") %>
    (<%= t("vendors.vendor_not_found") %> <%= link_to t("vendors.quick_create_vendor"), new_vendor_path(:popup => true), :rel => "facebox" %>)<br/>
    <%= f.text_field :vendor_token, 'data-pre' => (f.object.vendor ? [{ :id => f.object.vendor.id, :name => f.object.vendor.name }] : []).to_json %>
  </div>
  <div class="field">
    <%= f.label :reported_on_string, t("general.date") %><br/>
    <%= f.text_field :reported_on_string, {:class => "date_picker"} %>
  </div>


  <% if false %>
      <div class="fields_group">
        <%= f.fields_for :checkpoints do |builder| %>
            <%= render "checkpoint_fields", :f => builder %>
        <% end %>
        <p><%= link_to_add_fields  t("reviews.add_checkpoint"), f, :checkpoints %></p>
      </div>
  <% end %>

  <% if item.is_a?(Review) %>
      <div class="field">
        <%= f.label :faults, t("reviews.severity") %><br/>
            <div>
                <label class="severity_image severity_3"></label>
            </div>
            <div class="checkbox_group">
                <% FaultTypes.get_values.each_with_index do |type, i| %>
                    <%= check_box_tag "#{item.class.name.downcase}[faults][]", type, item.faults.include?(type), {:id => "#{item.class.name.downcase}_faults_#{i}", :class => "checkbox" } %>
                    <%= label_tag "#{item.class.name.downcase}_faults_#{i}", type %>
                <% end %>
            </div>
      </div>
  <% end %>

  <%= f.label :images, t("images.images") %>
  <%= mark_required(item, :images) %>
  <%= content_tag(:span, t("reviews.upload_image_tip"), :class => "trivial" ) if item.is_a?(Review) %>

  <%= hidden_field_tag "images_counter", item.images ?  item.images.size : 0, 'data-max' => 5 %>
  <div class="fields_group">
      <% item.images.each do |image| %>
        <%= render "images/image", :image => image %>
      <% end %>
      <div class="images"></div>
      <div id="image_upload_container">
        <div id="image_upload"></div>
      </div>
  </div>

  <noscript>
    <p><%= t("general.javascript_please") %></p>
  </noscript>

  <% if false %>
  <% tab_control do %>
    <div class="tab_header">
    <ul>
        <%= local_tab_page( t("vendors.vendor"), true) do %>
            <div id="field">
                <%= f.label :vendor_token, t("vendors.vendor") %>
                <%= f.text_field :vendor_token, 'data-pre' => (f.object.vendor ? [{ :id => f.object.vendor.id, :name => f.object.vendor.name }] : []).to_json %>
            </div>
        <% end %>
        <%= local_tab_page( t("vendors.non_existed_vendor")) do %>
            <div id="new_vendor">
                <%= t("reviews.quick_create_vendor") %>
                 <div class="field">
                    <%= f.label :vendor_name, t("general.name") %><br />
                    <%= f.text_field :vendor_name %>
                </div>
                <div class="field">
                    <%= f.label :vendor_city, t("address.city") %><br />
                    <%= f.select :vendor_city, options_for_select(get_cities_for_select, item.vendor_city)%>
                </div>
                <div class="field">
                    <%= f.label :vendor_street, t("address.street") %><br />
                    <%= f.text_field :vendor_street %>
                </div>
            </div>
        <% end %>
    </ul>
    </div>
    <% tab_content do %>
    <% end %>
  <% end %>
  <% end %>

  <div class="field">
    <%= f.label :content, t("reviews.content") %><%= mark_required(item, :content) %><%= mark_required_length(item, :content) %><br/>
    <%= f.text_area :content, :class => "mceEditor", :maxlength => 10000 %>
  </div>