<%= f.label :images, t("images.images") %>
<%= mark_required(item, :images) %>
<%= content_tag(:span, t("reviews.upload_image_tip")) if item.is_a?(Review) %>

<%= hidden_field_tag "images_counter", item.images ?  item.images.size : 0, 'data-max' => 5 %>
<div class="fields_group">
  <% item.images.each do |image| %>
    <%= render "images/image", :image => image %>
  <% end %>
  <div class="images"></div>
  <div id="image_upload_container">
    <div id="image_upload"></div>
  </div>
</div>

<noscript><p><%= t("general.javascript_please") %></p></noscript>