<div class="item info">
    <div class="left_fields">
        <%= render "shared/vote_fields", :item => item %>
    </div>
    <div class="central_fields">
        <h3><%= link_to item.title, item %></h3>
        <p><%= render "shared/show_tags", :item => item %></p>
        <p>
          <%= truncate_content(item.content, 100) %>
          <%= link_to(t("info_items.detail"), item)  %>
        </p>
    </div>
    <div class="right_fields">
       <div class="clues">
           <%= get_clues_of_item(item) %>
           <%= get_icon_of(item) %>
       </div>

        <% if item.reported_on.present? %>
            <p class="trivial"><%= distance_of_time_in_words(item.reported_on, Time.now) + t("info_items.ago") %></p>
        <% end %>
        <% if item.author %>
           <p class="trivial"><%= t("info_items.posted_by")  %> <%= link_to item.author.login_name, item.author %></p>
        <% end %>

        <p><%= link_to t("info_items.add_comment") + "(#{item.comments.size})", item %></p>
    </div>
</div>


