<div class="block round fix">
    <div class="fl">
        <%= render "shared/vote_fields", :item => item %>
    </div>
    <div class="central_fields">
        <b><%= link_to item.title, item %></b><br/>
        <% if item.respond_to?(:vendor) && item.vendor.present? %>
            <small class="trivial"><%= link_to item.vendor.name, item.vendor %> (<%= item.vendor.address %>)</small><br/>
        <% end %>
        <%= render "shared/show_tags", :item => item %><br/>
        <% if item.content.present? %>
          <%= truncate_content(item.content, 40) %>
        <% end %>
    </div>
    <div class="fr">
       <div class="clues">
           <%= get_clues_of_item(item) %>
       </div>

        <% if item.reported_on.present? %>
             <p class="trivial"><%= item.reported_on.strftime(TIME_FORMAT) %></p>
        <% end %>
        <% if item.author %>
           <p class="trivial"><%= t("info_items.posted_by")  %> <%= link_to item.author.screen_name, item.author %></p>
        <% end %>

    </div>
</div>


