<%
  @content_width = 720
  @hide_navigation = true
%>

<h2><%= t("wiki.new_page")  %></h2>
<div id="editForm">
	<%= form_tag :action => 'save' ,:method => :post do %>
        <div>
            <%= params[:title] %>
            <%= hidden_field_tag "page[title]", params[:title] %>
        </div>
        <div>
            <%= select_tag "page[category_id]", options_for_select(categories_for_select), {:include_blank => true} %>
        </div>
        <div>
            <%= text_area_tag "page[content]", "", :rows => 24, :cols => 60  %>
        </div>
        <%= submit_tag t("wiki.save") %>
	<% end %>
</div>
