<% title "页面列表" %>

<table>
  <tr>
    <th><%= t("general.title") %></th>
    <th></th>
    <th></th>
  </tr>

<% @pages.each do |page| %>
  <tr>
    <td><%= link_to page.title, page %></td>
    <td><%= link_to "", edit_page_path(page), class: "modify_btn" %></td>
    <td><%= link_to "", page, confirm: 'Are you sure?', method: :delete, class: "delete_btn" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t("pages.add"), new_page_path, class: "button" %>
