<% title [truncate_content(@award.name, 20), "奖品"].join("-"), false %>

<div class="grid_9 to_left overflow_hidden p5 clearfix">
    <div class="award_info clearfix box_shadow p5">
        <div class="fl">
            <%= link_to (image_tag(@award.get_image_url(:waterfall), class: "img_frame")), @award.get_image_url, rel: "facebox" %>
        </div>

        <div class="product_detail ml10 fl">
            <h1 class="f20"><%= @award.name %></h1>

            <p>
                <span class="trivial mr5"><%= t("general.description") %></span>
                <%= @award.description %>
            </p>

            <p>
              <span class="trivial mr5">截止日期</span>
              <%= @award.due_date.strftime(GENERAL_TIME_FORMAT) %>
            </p>

            <p>
              <span class="trivial mr5">价值</span>
              <%= [t("money.yuan_mark2"), @award.price_as_money_string].join %>
            </p>

            <p>
                <span class="trivial mr5">数量</span>
                <%= @award.left_volume %> / <%= @award.total_volume %>
            </p>

            <p>
              <span class="trivial mr5">需要积分</span>
              <span title="积分" class="icon icon_star mr2" style="display: inline-block;"/><%= @award.score %>
            </p>


            <div class="mt10">
                <% if current_user %>
                    <span class="trivial f16">我的可用积分：</span><%= current_user.left_score %>
                    <% if current_user.left_score >= @award.score %>
                        <%= link_to "领取", claim_award_path(@award), :method => :put, :class => "button" %>
                    <% else %>
                      <%= link_to_function "领取", "return false;", :class => "button" %>
                    <% end %>
                <% else %>
                    <!--bait-->
                    <%= link_to "领取", claim_award_path(@award), :method => :put, :class => "button" %>
                <% end %>
            </div>
        </div>
    </div>
</div>

