<div class="large_item block round mb20 p5">
    <p>
      <span><%= link_to album.title, album %></span>
      <span class="ml5 trivial"><%= album.reviews.size %><%= t("albums.items") %></span> |
      <span class="ml5"><%= link_to album.author.login_name, album.author %><%= link_to image_tag(album.author.get_avatar(:thumb), width: 22, height: 22), album.author %></span>
    </p>
    <div>
        <div class="fl">
            <%= link_to image_tag(album.get_image_url(:waterfall), width: 200, height: 200), album %>
        </div>

        <div class="fl">
            <% reviews = album.reviews.limit(10) %>
            <div class="slice">
                <% reviews.values_at(* reviews.each_index.select{|i| i.odd?}).each do |review| %>
                  <div class="m1 fl">
                    <%= link_to image_tag(review.get_review_image_url(:thumb), width: 80, height: 80), album %>
                  </div>
                <% end %>
            </div>
            <div class="slice">
                <% reviews.values_at(* reviews.each_index.select{|i| i.even?}).each do |review| %>
                  <div class="m1 fl">
                    <%= link_to image_tag(review.get_image_url(:thumb), width: 80, height: 80), album %>
                  </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
