<div class="masonary_item">
  <div class="inner_frame">
    <% has_solution, best_solution = desire.has_solution? %>
    <%= content_tag :span, "", class: "icon jiechan_ribbon" if has_solution %>
    <div class="hint_box">
        <% pic_url = desire.get_image_url(:waterfall) %>
        <% if pic_url.present? %>
            <%= link_to image_tag(pic_url, height: desire.get_image_height(:waterfall)), desire %>
        <% end %>
        <% if the_author_himself(Album.name, @album.id, false, false) %>
            <span class="flex_hint top_left">
                <p><%= link_to "", pick_cover_album_path(@album, item_id: desire.id, item_type: desire.class.name), method: :put, remote: true, class: "btn btn_set_cover" %></p>
                <p><%= link_to "", remove_album_path(@album, item_id: desire.id, item_type: desire.class.name), method: :put, class: "btn btn_remove_from_album", confirm: "确定要从专辑中移除吗？"  %></p>
            </span>
        <% end %>
    </div>
    <div class="clearfix">
      <span>
        <%= link_to image_tag(desire.author.get_avatar(:thumb, false), width: 22, height: 22), desire.author %>
        <%= link_to desire.author.login_name, desire.author %>
      </span>
      <span class="ml5"><%= truncate_content(desire.content, 50) %></span>
    </div>
  </div>
</div>