<div class="grid_3 box_shadow b_white pt10 mb10">
    <div class="center lighter_touch clearfix" style="width:<%= IMAGE_WATERFALL_WIDTH %>px;">
        <% urls = [album.get_cover_url(:thumb)] + album.get_image_urls(8, :thumb) %>
        <% urls.size.upto(8).each do |i| %>
            <% urls << "/assets/not_found.png" %>
        <% end %>
        <% urls.each do |url| %>
              <%= link_to image_tag("grey.gif", class: 'lazy fl img_frame m1', "data-original"=> url, width: 60, height: 60, alt: album.title, title: album.title), album %>
          <% end %>
    </div>
    <h3 class="center f15"><%= link_to album.title, album %></h3>
    <div class="mt5 ml10 mr10 mb10">
        <%= link_to image_tag("grey.gif", "data-original"=> album.author.get_avatar(:thumb, false), width: 24, height:24, class: "lazy", alt: album.author.login_name), album.author %>
        <%= link_to album.author.login_name, album.author %>
        <span class="ml10 trivial"><%= album.desires.size %>张图片 | <%= "#{album.score}人喜欢" %></span>
        <br/>
        <%= content_tag :span, truncate_content(album.description, 100), class: "trivial tight f12" %>
    </div>
</div>