<%= form_for(@album) do |f| %>
    <%= render "shared/error_messages", target: @album %>

    <div class="grid_7">
        <%= render "shared/text_field", :f => f, :label => t("general.title"), :field => :title %>
        <%= render "shared/text_area", :f => f, :label => t("general.description"), :field => :description %>
        <% if current_user_has_permission? :editor %>
            <%= render "shared/text_field", :f => f, :label => t("general.priority"), :field => :priority %>
        <% end %>
    </div>

    <div class="fl display_inline" style="width:400px;">
        <div class="field">
             <b><%= f.label :tags_string, t("tags.tags") %></b>
             <%= f.text_field :tags_string, 'data-pre' => (f.object.tags ? f.object.tags.map { |t| { :id => t, :name => t }} : []).to_json, class: "tags_input" %>
        </div>
        <%= render "tags/tags_options" %>
    </div>

    <div class="clearfix"></div>
    <div class= "mt10"><%= f.submit (f.object.new_record? ? t("general.publish") : t("general.change")), class: "#{f.object.new_record? ? "btn submit_post" : "btn submit_update"}" %> </div>
<% end %>
