<%= form_for(@album) do |f| %>
    <%= render "shared/error_messages", target: @album %>

    <div class="grid_7">
        <%= render "shared/text_field", :f => f, :label => t("general.name"), :field => :title %>
        <%= render "shared/text_area", :f => f, :label => t("general.description"), :field => :description %>
    </div>

    <div class="grid_5">
        <%= render "tags/tags_field", f: f %>
    </div>

    <div class="clearfix"></div>
    <div class= "mt10"><%= f.submit (f.object.new_record? ? t("general.publish") : t("general.change")), class: "#{f.object.new_record? ? "btn btn_submit_post" : "btn btn_submit_update"}" %> </div>
<% end %>
