<% title t("albums.albums"), false %>

<%= paginate @albums %>
<% @albums = @albums.reject{|a| a.get_cover_url(:waterfall).include?("assets/not_found.png")} %>

<div class="clearfix">
    <div class="grid_3">
        <% if params[:tag] %>
            <h2 class="ml25 mt5 mb5"><%= "有关“#{params[:tag] }”的专辑"%></h2>
        <% else %>
            <div style="width:200px; height: 200px;">
                <%= content_tag :p, "收集心仪美食，打造属于你自己的诱人拼盘", class: "trivial tight" %>
                <%= link_to "", new_album_path, class: "btn btn_new_album" %>
            </div>
        <% end %>
    </div>
    <div class="grid_9">
        <h2 class="trivial">特别推荐：</h2>
        <% @albums.take(1).each do |album| %>
            <%= render album %>
        <% end %>
    </div>
</div>

<% if @albums.size > 1 %>
    <% @albums.drop(1).each_slice(4).each do |albums| %>
        <div class="clearfix">
            <% albums.each do |album| %>
                <%= render "albums/album_cover", album: album %>
            <% end %>
        </div>
    <% end %>
<% end %>


