<% title t("albums.albums"), false %>

<%= paginate @albums %>
<% @albums = @albums.reject{|a| a.get_cover_url(:waterfall).include?("assets/not_found.png")} %>

<div class="grid_3">
    <div style="width:200px; height: 200px;">
        <span class="f12 trivial">热门标签</span>
        <div class="mb5">
            <% get_hot_tags(14, :albums).each do |tag| %>
                <%= link_to tag[0], albums_path(tag: tag[0]), class: "tag" %>
            <% end %>
        </div>
        <%= link_to "", new_album_path, class: "add_album_btn" %>
    </div>
</div>
<div class="clearfix">
    <% @albums.take(3).each do |album| %>
        <%= render "albums/album_cover", album: album %>
    <% end %>
</div>

<% if @albums.size > 3 %>
    <% @albums.drop(3).each_slice(4).each do |albums| %>
        <div class="clearfix">
            <% albums.each do |album| %>
                <%= render "albums/album_cover", album: album %>
            <% end %>
        </div>
    <% end %>
<% end %>


