<% title @album.title %>
<p>
  <%= @album.description %>
</p>

<% if the_author_himself(Album.name, @album.id, true, false) %>
    <div class="mt5">
        <%= link_to t("general.edit"), edit_album_path(@album), class: "button" %>
        <%= link_to_function t("albums.add_content"), '$(this).next("div").toggle();', class: "button m5" %>
        <div class="clearfix display_none">
            <div class="grid_9 to_left">
                <%= render "reviews/review_fields", :review => Review.new %>
            </div>
        </div>
    </div>
<% end %>

<div class="mt20">
    <% @album.items.each do |item| %>
        <%= render "shared/frozen_waterfall_field", item: item %>
    <% end %>
</div>

