<% title t("albums.album") %>

<div class="fl">
    <div class="grid_9">
        <div class="box_shadow p5">
            <h1><%= @album.title %> <span class="trivial f13"><%= "(#{@album.desires.size}#{t("albums.items")})" %></span></h1>
            <p><%= @album.description %></p>
            <p><%= render "tags/tags", :item => @album %></p>
            <%= render "votes/vote_fields", :item => @album %>
        </div>

        <%= render "votes/fans", item: @album %>
    </div>
    <div class="clearfix"></div>

    <div class="fl" style="width: 720px;">
        <div id="masonry_container" class="clearfix">
            <% @album.desires.each do |desire| %>
                <%= render "albums/album_desire", desire: desire %>
            <% end %>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="grid_9 mt10">
        <%= render "comments/comments", :item => @album %>
    </div>
</div>

<div class="grid_3">
    <div>
        <%= render "users/author_panel", author: @album.author %>
    </div>

    <% if the_author_himself(Album.name, @album.id, true, false) %>
        <div class="box_shadow mt10 p5 clearfix">
            <div class="hint_box" style="width: <%= IMAGE_THUMB_WIDTH %>px">
                 <% cover_url = @album.get_cover_url(:thumb) %>
                 <% if cover_url.present? %>
                     <%= image_tag "grey.gif", "data-original"=> cover_url, width: IMAGE_THUMB_WIDTH, height: IMAGE_THUMB_HEIGHT, class: "lazy cover_image" %>
                 <% else %>
                     <%= image_tag "grey.gif", "data-original"=> "/assets/not_found.png", width: IMAGE_THUMB_WIDTH, height: IMAGE_THUMB_HEIGHT, class: "lazy cover_image" %>
                 <% end %>
                 <span class="fix_hint b_black_alpha30 white"><%= t("albums.cover") %></span>
            </div>

            <div class="mt5">
                <%= link_to "", edit_album_path(@album), class: "btn btn_edit fl" %>
                <%= link_to "", @album, confirm: t("general.are_you_sure_to_delete"), method: :delete, class: "btn btn_delete fl" %><br/>
            </div>
        </div>
    <% end %>
</div>
