<% title [@album.title,"拼盘"].join("-"), false %>

<div class="fl">
    <div class="grid_9">
        <div class="box_shadow p5 clearfix">
            <h1 class="fl f20"><%= @album.title %> <span class="ml5 trivial f13"><%= "(#{@album.desires.size}#{t("albums.items")})" %></span></h1>
            <div class="fr clearfix">
                <%= link_to "", edit_album_path(@album), class: "btn btn_edit fl" if the_author_himself(@album) %>
                <%= link_to "", @album, confirm: t("general.are_you_sure_to_delete"), method: :delete, class: "btn btn_delete fl" if the_author_himself(@album, true) %>
                <%= render "administrator/base/tune_fields", item: @album if current_user_has_permission? :administrator %>
            </div>
            <div class="clearfix"></div>
            <p><%= @album.description %></p>
            <% unless @album.tags.empty? %>
                <p><span class="trivial">标签：</span><%= render "tags/tags", :item => @album %></p>
            <% end %>
            <%= render "votes/vote_fields", :item => @album, show_list: true %>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="fl" style="width: 720px;">
        <div id="masonry_container" class="clearfix">
            <% @album.desires.each do |desire| %>
                <%= render "desires/desire_item", desire: desire %>
            <% end %>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="grid_9 mt10">
        <%= render "comments/comments", :item => @album %>
    </div>
</div>

<div class="grid_3">
    <div>
        <%= render "users/author_panel", author: @album.author %>
    </div>

    <% if the_author_himself(@album, true) %>
        <div class="box_shadow mt10 p5 clearfix">
            <% if the_author_himself(@album) %>
                <span class="trivial"><%= t_with_colon("albums.cover") %></span>
                <div style="width: <%= IMAGE_THUMB_WIDTH %>px">
                     <% cover_url = @album.get_cover_url(:thumb) %>
                     <% if cover_url.present? %>
                         <%= image_tag "grey.gif", "data-original"=> cover_url, width: IMAGE_THUMB_WIDTH, height: IMAGE_THUMB_HEIGHT, class: "lazy cover_image" %>
                     <% else %>
                         <%= image_tag "grey.gif", "data-original"=> "/assets/not_found.png", width: IMAGE_THUMB_WIDTH, height: IMAGE_THUMB_HEIGHT, class: "lazy cover_image" %>
                     <% end %>
                </div>
            <% end %>
        </div>
    <% end %>
</div>
