<% title @album.title, false%>

<div class="grid_9 to_left">
    <div class="clearfix box_shadow ">
        <%= render "users/author_panel", author: @album.author %>
    </div>

    <% if the_author_himself(Album.name, @album.id, true, false) %>
        <div class="mt5">
            <%= link_to_function t("albums.add_content"), '$(this).next("div").toggle();', class: "button mt5 mb10" %>
            <div class="clearfix display_none">
                <%= render "reviews/review_fields", :review => Review.new %>
            </div>
        </div>
    <% end %>

    <div id="static_waterfall_container">
        <% @album.items.each do |item| %>
            <%= render "albums/album_waterfall_field", item: item %>
        <% end %>
    </div>
</div>

<div class="grid_3 to_right box_shadow p5">
    <h1><%= @album.title %></h1>
    <p><%= @album.description %></p>
    <% cover_url = @album.get_cover_url(:waterfall) %>
    <% if cover_url.present? %>
        <span class="trivial"><%= t_with_colon("albums.cover") %></span>
        <div class="center">
          <%= image_tag cover_url, width: 200, height:200, class: "cover_image" %>
        </div>
    <% end %>
    <% if the_author_himself(Album.name, @album.id, true, false) %>
        <div class="mt5">
            <%= link_to t("general.edit"), edit_album_path(@album), class: "button" %>
            <%= link_to t("general.delete"), @album, confirm: t("general.are_you_sure_to_delete"), method: :delete, class: "button" %><br/>
        </div>
    <% end %>
</div>

<!--<= javascript_tag "static_waterfall();" %>-->