<% title t("images.images") %>

<div>
    <table>
      <tr>
        <th>Image</th>
        <th>URL</th>
        <th></th>
        <th></th>
      </tr>

    <%= paginate @images %>
    <% @images.each do |image| %>
      <tr id='<%= image.id %>'>
        <td><%= image_tag("grey.gif", "data-original"=> image.picture_url(:thumb),  "class" => 'lazy' )%></td>
        <td><%= link_to image.picture_url, image%></td>
        <td><%= link_to "", edit_image_path(image), :class => "modify_btn" %></td>
        <td><%= link_to "", image, :confirm => t("general.are_you_sure_to_delete"), :method => :delete, :class => "delete_btn" %></td>
      </tr>
    <% end %>
    </table>
</div>

<br/>

<%= link_to t("general.new"),new_image_path, :class => "button" %>