<span class="trivial"><%= "热门标签" %></span><span class="trivial f12"><%= "（点击可直接添加）" %></span>
<% get_primary_tags.each do |first_lv, tags| %>
    <div class="box_shadow p5 m5" style="width:380px;">
        <div class="first_level clearfix mb5 mt5">
            <div class="fl">
                <h2 class="display_inline f14" style="font-weight: normal;"><%= first_lv %></h2>
                <% hot_tags = pick_hot_primary_tags(tags) %>
                <% hot_tag_names = hot_tags.map(&:name) %>
                <% hot_tags.each do |tag| %>
                    <%= link_to_function tag.name, "fill_tag(this);", class: "tag" %>
                <% end %>
            </div>
            <span class="fr"><%= link_to_function "+展开", 'expand_tags(this);' unless (tags.is_a?(Array) && tags.size <= 7) %></span>
        </div>
        <div class="display_none">
            <% if tags.is_a?(Array) %>
                <div class="ml30 mb5">
                    <% tags.reject{|t| hot_tag_names.include?(t)}.each do |tag_name| %>
                        <%= link_to_function tag_name, "fill_tag(this);", class: "tag" %>
                    <% end %>
                </div>
            <% elsif tags.is_a?(Hash) %>
                <% tags.each do |second_lv, v| %>
                    <h3 class="f13" style="font-weight: normal;"><%= second_lv %>: </h3>
                    <div class="ml30 mb5">
                        <% v.reject{|t| hot_tag_names.include?(t)}.each do |tag_name| %>
                            <%= link_to_function tag_name, "fill_tag(this);", class: "tag" %>
                        <% end %>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>
    <div class="clearfix"></div>
<% end %>
