<h3 class="trivial mt10">菜谱标签：</h3>
<div class="m5">
    <h3 class="f13" style="font-weight: normal;">人气</h3>
    <% hot_custom_tags.each do |tag| %>
            <%= link_to tag, {:controller => controller.controller_name, :action => "index", :tag => tag}, class: "tag m2" %>
    <% end %><br/>
    <!--<= link_to t("general.more"), tags_path  %>-->
</div>

<% hot_tags_limit = 10 %>
<% primary_tags.each do |first_lv, tags| %>
    <div class="m5">
        <div class="first_level clearfix mb5 mt5">
            <div>
                <% hot_tag_names, left_size = pick_hot_primary_tags(tags, @tag_weight_hash, hot_tags_limit) %>
                <div class="clearfix">
                    <h3 class="fl display_inline f13" style="font-weight: normal;"><%= first_lv %></h3>
                    <% if left_size > 0 %>
                        <span class="fl ml20"><%= link_to_function "+展开", 'expand_tags(this);' unless (tags.is_a?(Array) && tags.size <= hot_tags_limit) %></span>
                    <% end %>
                </div>
                <% hot_tag_names.each do |tag| %>
                    <%= link_to tag, {:controller => controller.controller_name, :action => "index", :tag => tag}, class: "tag" %>
                <% end %>
            </div>
        </div>
        <div class="display_none">
            <% if tags.is_a?(Array) %>
                <div class="ml30 mb5">
                    <% tags.reject{|t| hot_tag_names.include?(t)}.each do |tag_name| %>
                        <%= link_to tag_name, {:controller => controller.controller_name, :action => "index", :tag => tag_name}, class: "tag" %>
                    <% end %>
                </div>
            <% elsif tags.is_a?(Hash) %>
                <% tags.each do |second_lv, v| %>
                    <% left_tags = v.reject{|t| hot_tag_names.include?(t)} %>
                    <% unless left_tags.empty? %>
                        <span class="trivial f12 display_inline_block"><%= second_lv %>: </span>
                        <span class="ml5 mb5">
                            <% left_tags.each do |tag_name| %>
                                <%= link_to tag_name, {:controller => controller.controller_name, :action => "index", :tag => tag_name}, class: "tag" %>
                            <% end %>
                        </span><br/>
                    <% end %>
                <% end %>
            <% end %>
        </div>
    </div>
    <div class="clearfix"></div>
<% end %>
