<div class="clearfix">
    <span class="fl"><%= link_to "只显示未读", "/info_center?mode=sys_msg&read=false" %></span>
</div>
<% @notifications.each do |notification| %>
    <div id="<%= notification.id.to_s %>">
        <div class="grid_1">
            <% unless notification.read %>
                <div class="fl mr10"><%= link_to "未读", "/info_center?mode=sys_msg&read=false", class: "tag" %></div>
            <% else %>
                <%= content_tag :span, "已读", class: "trivial" %>
            <% end %>
        </div>
        <div class="grid_2">
            <% if notification.person %>
                <%= link_to image_tag("grey.gif", "class" => 'lazy', "data-original"=> notification.person.get_avatar(:thumb, false), width:24, height:24), notification.person %>
                <%= link_to notification.person.login_name, notification.person %>
            <% else %>
                <%= content_tag :span, "来自系统", class: "trivial" %>
            <% end %>
        </div>
        <div class="grid_5">
            <%= notification.subject %><br/>
            <% if notification.message.present? %>
                <blockquote><span class="quoted"><%= notification.message %></span> </blockquote>
            <% end %>
            <% if notification.item.present? %>
                <%= link_to "[" + t("general.show") + "]", notification.item %>
            <% end %>
        </div>
        <div class="grid_3">
            <span class="trivial"><%= notification.created_at.strftime(GENERAL_TIME_FORMAT) %></span>
            <div class="fr">
                <%= link_to image_tag("correct_icon.gif") + "知道了",  {:controller => "notifications", :action => "read", :id => notification.id}, :remote => true, :method => :put, :class => "read_btn"  unless notification.read %>
                <%= link_to image_tag("wrong_icon.gif") + "删除", notification, :confirm => t("general.are_you_sure_to_delete"), remote: true, method: :delete %>
            </div>
        </div>
        <div class="clearfix"></div>
        <hr/>
    </div>
<% end %>