<%= form_for(@vendor) do |f| %>
    <%= render "shared/error_messages", :target => @vendor %>
    <div class="field">
        <b><%= f.label :name, t("general.name") %></b><%= mark_required(@vendor, :name) %><%= mark_required_length(@vendor, :name) %><br/>
        <%= f.text_field :name %>
    </div>

    <%= render "locations/location_field", :association => :location, :f => f %>

    <div class="actions">
        <%= f.submit t("general.submit"), :class => "button" %>
    </div>
<% end %>
