<%= form_for(@vendor) do |f| %>
  <%= render "shared/error_messages", :target => @vendor %>

  <div class="field">
    <%= f.label :name %><br />
    <%= text_field_tag "vendor[name]", @vendor.name.present? ? @vendor.name : params[:name] %>
  </div>
  <div class="actions">
    <%= f.submit t("general.submit") %>
  </div>
<% end %>
