<%= form_for(@vendor) do |f| %>
  <%= render "shared/error_messages", :target => @vendor %>
  <%= hidden_field_tag :address_point, "", :class => "map_point" %>
  <div class="field">
    <%= f.label :name, t("general.name") %><br />
    <%= text_field_tag "vendor[name]", @vendor.name.present? ? @vendor.name : params[:name], :class => "map_place" %>
  </div>
  <div class="field">
    <%= t("address.city") %><br/>
    <%= select_tag :address_city_id, options_for_select(get_cities_for_select, current_city.id), :class => "map_city"%>
  </div>
  <div class="field">
    <%= t("address.street") %><br/>
    <%= text_field_tag :address_street, "", :class => "map_street" %>
  </div>
  <div class="field">
    <div id="map_container"></div>
  </div>
  <div class="actions">
    <%= f.submit t("general.submit"), :class => "button" %>
  </div>
<% end %>
