<div class="block round">
    <p>
        <%= link_to vendor.full_name, vendor %><br/>
    </p>
    <p class="clues">
        <%= vendor.type %>
    </p>
    <p>
        <%= t("vendors.recent") %>
        <%= "#{t("vendors.recent_good")}(#{vendor.good_reviews_in(30).size.to_s})"  %>
        <%= "#{t("vendors.recent_bad")}(#{vendor.bad_reviews_in(30).size.to_s})"  %>
        <%= link_to t("vendors.new_review"), new_review_path(:vendor_id => vendor.id) %>
    </p>
</div>