<div class="block round p5 mt5 mb5">
    <p><%= link_to vendor.name, vendor %></p>

    <% products = vendor.products.limit(14) %>
    <div class="slice clearfix">
        <% products.values_at(* products.each_index.select{|i| i.even?}).each do |product| %>
          <div class="hint_box m5 fl" s>
            <%= link_to image_tag("grey.gif", "class" => 'lazy', "data-original"=> product.get_image_url(:thumb)), product %>
            <span class="flex_hint  b_black_alpha30 white"><%= product.name %></span>
          </div>
        <% end %>
    </div>
    <div class="slice clearfix">
        <% products.values_at(* products.each_index.select{|i| i.odd?}).each do |product| %>
          <div class="hint_box m5 fl">
            <%= link_to image_tag("grey.gif", "class" => 'lazy', "data-original"=> product.get_image_url(:thumb)), product %>
            <span class="flex_hint  b_black_alpha30 white"><%= product.name %></span>
          </div>
        <% end %>
    </div>
</div>