<div class="large_item block round p5">
    <p><%= link_to vendor.name, vendor %></p>

    <% products = vendor.products %>
    <div class="slice">
        <% products.values_at(* products.each_index.select{|i| i.odd?}).each do |product| %>
          <div class="hint_box m5 w_image fl" s>
            <%= link_to image_tag(product.get_image_url(:thumb)), product %>
            <span class="hint  b_black white"><%= product.name %></span>
          </div>
        <% end %>
    </div>
    <div class="slice">
        <% products.values_at(* products.each_index.select{|i| i.even?}).each do |product| %>
          <div class="hint_box m5 w_image fl">
            <%= link_to image_tag(product.get_image_url(:thumb)), product %>
            <span class="hint  b_black white"><%= product.name %></span>
          </div>
        <% end %>
    </div>
</div>