<div class="block round">
    <p>
        <%= link_to vendor.name, vendor %>
        <span class="trivial"><%= vendor.address %></span>
        (<%= vendor.reviews.size.to_s %> <%= t("reviews.reviews") %>)
        <%= link_to t("vendors.new_review"), new_review_path(:vendor_id => vendor.id), :class => "button" %>
    </p>
    <p>
        <%= t("vendors.recent_reviews") %>
        <% vendor.reviews.limit(VENDOR_RECENT_REVIEWS).each do |review| %>
            <%= link_to review.title, review %>
        <% end %>
    </p>
</div>