<% title t("vendors.vendors") %>

<div class="search_fields">
  <%= form_tag "/vendors", :method => :get do %>
    <%= text_field_tag :q %>
    <%= submit_tag t("general.search"), :class => "button" %>
  <% end %>
</div>

<p><%= link_to t("vendors.my_vendors"), mine_vendors_path %></p>

<div id="vendors_list">
  <%= render :partial => "vendor", :collection => @vendors %>
</div>

<br />
<%= link_to t("vendors.new"), new_vendor_path, :class => "button" %>
