<% title t("vendors.vendors") %>

<%= content_tag(:span, current_city.name, :id => "current_city_name") %>(<%= link_to t("address.change_city"), locations_edit_current_city_path(:popup => true, :reload_vendors => true), :rel => "facebox" %>)
<div class="search_fields">
  <%= form_tag :action => "search" do %>
    <%= text_field_tag "search", "" %>
    <%= submit_tag t("general.search"), :class => "button" %>
  <% end %>
</div>

<div id="vendors_list">
    <% @vendors.each do |vendor| %>
        <%= render "vendor_item", :vendor => vendor  %>
    <% end %>
</div>

<!--TODO-->
<% if false %>
<div class="block">
    <div class="image_frame">
        <%= gmaps("map_options" => { "detect_location" => true, "center_on_user" => true, "auto_adjust" => true},"markers" => { "data" => @map_data }) %>
    </div>
</div>
<% end %>

<br />
<%= link_to t("vendors.create_vendor"), new_vendor_path, :class => "button" %>
