<%= title t("vendors.vendors") %>

<div class="search_fields">
  <%= form_tag :action => "search" do %>
    <%= text_field_tag "search", "" %>
    <%= submit_tag t("general.search"), :class => "button" %>
  <% end %>
</div>

<% @vendors.each do |vendor| %>
    <%= render "vendor_item", :vendor => vendor  %>
<% end %>
<br/>

<%= gmaps4rails(@json) %>

<br />
<%= link_to t("vendors.create_vendor"), new_vendor_path, :class => "button" %>
