<h2><%= t("vendors.new_vendor") %></h2>

<%= form_for @vendor, :remote => true do |f| %>
  <%= render "shared/error_messages", :target => @vendor %>

  <div class="field">
    <%= f.label :name, t("general.name") %><br />
    <%= text_field_tag "vendor[name]", @vendor.name.present? ? @vendor.name : params[:name] %>
  </div>
  <div class="actions">
    <%= f.submit t("general.submit"), :class => "button" %>
  </div>
<% end %>