<h2><%= t("vendors.new_vendor") %></h2>

<%= form_for @vendor, :remote => true do |f| %>
  <%= render "shared/error_messages", :target => @vendor %>

  <%= render "shared/text_field", :f => f, :field => :name, :label => t("general.name") %>
  <div class="field">
    <b><%= t("location.city") %></b><br/>
    <%= current_city.name %>
    <%= hidden_field_tag "vendor[city]", current_city.name %>
  </div>
  <%= render "shared/text_field", :f => f, :field => :street, :label => t("location.street") %>

  <div class="actions">
    <%= f.submit t("general.submit"), :class => "button" %>
  </div>
<% end %>