<h2><%= t("vendors.new_vendor") %></h2>

<%= form_for @vendor, :remote => true do |f| %>
  <%= render "shared/error_messages", :target => @vendor %>

  <div class="field">
    <%= f.label :name, t("general.name") %><br />
    <%= text_field_tag "vendor[name]", @vendor.name.present? ? @vendor.name : params[:name] %>
  </div>
  <%= f.fields_for :address do |builder| %>
      <div class="field">
        <%= current_city.name %>
        <%= hidden_field_tag "vendor[address_attributes][city_id]", current_city.id %>
      </div>
      <div class="field">
        <%= t("address.detail") %><br/>
        <%= builder.text_field :detail %>
      </div>
      <div id="map_container"></div>
  <% end %>

  <div class="actions">
    <%= f.submit t("general.submit"), :class => "button" %>
  </div>
<% end %>