<div id="search_results">
    <% if @exact_match %>
      <%= link_to @exact_match.name, @exact_match %>
    <% else %>
        <%= t("vendors.exact_vendor_not_found", :name => params[:search]) %>
        <%= t("vendors.please_create") %><br/>
        <%= link_to t("vendors.normal_vendor", :name => params[:search]), new_vendor_path(:name => params[:search]) %><br/>

        其他结果:
        <% @results.each do |vendor| %>
            <%= link_to vendor.name, vendor %>
        <% end %>
    <% end %>
</div>