<% title @vendor.name, false %>

<h2><%= @vendor.name %><span class="trivial"><%= new_tab_link_to "(#{@vendor.mall.name})", @vendor.mall.entry_url if @vendor.mall.name.present? %></span></h2>
<span><%= "用户们分享了#{@vendor.products.count}款商品" %></span>

<div class="mt10 mb20">
    <% @vendor.products.each_slice(EACH_SLICE) do |slice| %>
        <div class="clearfix">
          <% slice.each do |product| %>
            <%= render "products/large_product", :product => product %>
          <% end %>
        </div>
    <% end %>
</div>


<% if current_user_has_permission?(:editor) %>
    <%= link_to "", edit_vendor_path(@vendor), :class => "btn btn_edit fl" %>
    <%= link_to "", @vendor, :confirm => t("general.are_you_sure_to_delete"), :method => :delete, :class => "btn btn_delete fl" %><br/>
    <%= link_to t("vendors.new_product"), new_product_path(@product), :class => "button" %>
    <br/>
<% end %>

