<div class="content_block_inside">
    <h2><%= @vendor.name %></h2>
    <div class="field">
        <label><%= t("address.city") %></label>
        <%= @vendor.address.city.name %>
    </div>
    <div class="field">
        <label><%= t("address.detail") %></label>
        <%= @vendor.address.detail %>
    </div>

    <%= link_to t("general.edit"), edit_vendor_path(@vendor) %> |
    <%= link_to t("general.back"), vendors_path %>
</div>