<% title @vendor.name, false %>
<div class="grid_3 block round p5 to_left">
  <h1><%= @vendor.name %></h1>
  <span class="trivial"><%= @vendor.mall.name %></span><br/>
  <%= "#{@vendor.products.count} #{t("products.products")}" %><br/>
  <%= new_tab_link_to t("vendors.go_to_see"), @vendor.mall.entry_url, class: "button" %>
</div>
<div class="clearfix"></div>

<div class="mt10 mb20 grid_12 block round p5 to_left to_right">
    <h2><%= t("products.products") %></h2>
    <% @vendor.products.each_slice(EACH_SLICE) do |slice| %>
        <div class="slice">
          <% slice.each do |product| %>
            <%= render "products/large_product", :product => product %>
          <% end %>
        </div>
    <% end %>
</div>


<% if current_user_has_permission?(:editor) %>
    <%= link_to "", edit_vendor_path(@vendor), :class => "modify_btn" %>
    <%= link_to "", @vendor, :confirm => t("general.are_you_sure_to_delete"), :method => :delete, :class => "delete_btn" %><br/>
    <%= link_to t("vendors.new_product"), new_product_path(@product), :class => "button" %>
    <br/>
<% end %>

