<% title @vendor.name %>

<div class="two_columns_container" >
    <div class="left_column">

      <%= @vendor.products.count %>

    <% @vendor.products.each_slice(PRODUCTS_SLICE) do |slice| %>
        <div class="products_slice">
          <% slice.each do |product| %>
            <div class="waterfall">
                <%= render "products/large_product", :product => product %>
            </div>
          <% end %>
        </div>
    <% end %>

        <div class="actions">
            <% if current_user_has_permission? :normal_user %>
                <%= render "shared/follow_field", :target => @vendor %>
            <% end %>
        </div>
        <div class="nav_links">
            <%= link_to t("general.back_to_list"), vendors_path %>
        </div>
    </div>
</div>

<% if current_user_has_permission?(:editor) %>
    <%= link_to t("general.edit"), edit_vendor_path(@vendor), :class => "button" %> |
    <%= link_to t("general.delete"), @vendor, :confirm => t("general.are_you_sure_to_delete"), :method => :delete, :class => "button" %>
    <br/>
<% end %>