<% title [truncate_content(@vendor.name, 20), "商户"].join("_"), false %>

<h2><%= @vendor.name %></h2>
<!--<= new_tab_link_to "店铺链接", @vendor.url, {force: true} if @vendor.url.present? %><br/>-->
<%= new_tab_link_to "店铺链接", {:controller => "home", :action => "gateway", :url => @vendor.url, :force => true} if @vendor.url.present? %><br/>

<span><%= "用户们分享了#{@vendor.products.count}款商品" %></span>

<div class="mt10 mb20">
    <% @vendor.products.each_slice(EACH_SLICE) do |slice| %>
        <div class="clearfix">
          <% slice.each do |product| %>
            <%= render "products/large_product", :product => product %>
          <% end %>
        </div>
    <% end %>
</div>


<% if current_user_has_permission?(:editor) %>
    <%= link_to "", edit_vendor_path(@vendor), :class => "btn btn_edit fl" %>
    <%= link_to "", @vendor, :confirm => t("general.are_you_sure_to_delete"), :method => :delete, :class => "btn btn_delete fl" %><br/>
    <%= link_to t("vendors.new_product"), new_product_path(@product), :class => "button" %>
    <br/>
<% end %>

