<% title @vendor.name %>
    <div>
        <%= "#{@vendor.products.count} #{t("products.products")}" %>
        <% if current_user_has_permission? :normal_user %>
            <%= render "shared/follow_field", :target => @vendor %>
        <% end %>


    </div>

    <% @vendor.products.each_slice(PRODUCTS_SLICE) do |slice| %>
        <div class="products_slice">
          <% slice.each do |product| %>
            <div class="waterfall">
                <%= render "products/large_product", :product => product %>
            </div>
          <% end %>
        </div>
    </div>

<%end%>

<% if current_user_has_permission?(:editor) %>
    <%= link_to t("general.edit"), edit_vendor_path(@vendor), :class => "button" %> |
    <%= link_to t("general.delete"), @vendor, :confirm => t("general.are_you_sure_to_delete"), :method => :delete, :class => "button" %><br/>
    <%= link_to t("vendors.new_product"), new_product_path(@product), :class => "button" %>
    <br/>
<% end %>

