<div class="content_block_inside">
    <h2><%= @vendor.name %></h2>

    <div class="field">
        <% if @vendor.address %>
          <%= t("address.detail") %>: <%= @vendor.address.city.name %> <%= @vendor.address.detail %>
        <% end %>
    </div>

    <%= render "shared/display_map", :address => @vendor.address if @vendor.address %>

    <p>
        <h3><%= t("vendors.all_reviews") %><span class="trivial">(<%= t("vendors.reviews_total") %><%= @vendor.reviews.size %>)</span></h3>
        <%= link_to t("vendors.new_review"), new_review_path(:vendor_id => @vendor.id), :class => "button" %><br/>
        <ul>
            <% @vendor.reviews.each do |review| %>
               <li><%= link_to review.title, review %></li>
            <% end %>
        </ul>
    </p>
    <p>
        <%= link_to t("vendors.vendors"), vendors_path, :class => "button" %>
    </p>
    <p>
        <%= link_to t("general.report"), new_report_path(:vendor_id => @vendor.id, :popup => true ), :rel => "facebox", :class => "button" %>
    </p>
</div>