<%= form_for @post do |f| %>
  <%= render "shared/error_messages", :target => @post %>
  <%= f.hidden_field :group_id %>
  <p>
    <%= f.label t("general.title") %><%= mark_required(@post, :title) %><%= mark_required_length(@post, :title) %><br/>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label t("general.content") %><%= mark_required(@post, :content) %><%= mark_required_length(@post, :content) %><br/>
    <%= f.text_area :content %>
  </p>
  <p><%= f.submit t("general.post"), :class => "button" %></p>
<% end %>
