<p>
    <b><%= t("general.title") %></b><br/>
    <%= @post.title %>
</p>
<p>
    <b><%= t("general.content") %></b><br/>
    <%= @post.content %>
</p>

<hr/>

<%= render "comments/comments", :item => @post %>
