<div id="actions_panel" class="panel clearfix">
    <div class="mt5">
        <b><%= t("control_panel.actions") %></b><br/>
        <span class="mb10 clearfix"><%= link_to "上传馋人图片", new_desire_path, class: "button" %></span><br/>
        <%= link_to "+添加菜谱", new_recipe_path, :class => "button" %>
        <%= link_to "+新建专辑", new_album_path, :class => "button" %><br/>
    </div>
    <div>
      <%= link_to "【+收集到美食客栈工具】", "/home/collect_intro" %>
    </div>
</div>