<div class="clearfix box_shadow p5 panel">
    <%= link_to current_user.login_name, profile_user_path(current_user) %><br/>
    <%= link_to image_tag("grey.gif", "data-original"=> current_user.get_avatar(:thumb, false), :class => "lazy"), profile_user_path(current_user) %>
    <div class="clearfix">
    <div class="fl f12" style="width: 30px; height:34px; line-height: 17px;">
        <span class="center"><%= current_user.followers.count %></span>
        <%= content_tag :span, t("user_basic.fans"), class: "center" %>
    </div>
    <div class="fl f12" style="width: 30px; height:34px; line-height: 17px;">
        <span class="center"><%= current_user.desires.count %></span>
        <%= content_tag :span, t("user_basic.desires"), class: "center" %>
    </div>
    <div class="fl f12" style="width: 30px; height:34px; line-height: 17px;">
        <span class="center"><%= current_user.reviews.count %></span>
        <%= content_tag :span, t("reviews.reviews"), class: "center" %>
    </div>
    <div class="fl f12" style="width: 30px; height:34px; line-height: 17px;">
        <span class="center"><%= current_user.albums.count%></span>
        <%= content_tag :span, t("albums.albums"), class: "center" %>
    </div>
    <div class="fl f12" style="width: 30px; height:34px; line-height: 17px;">
        <span class="center"><%= current_user.recipes.count %></span>
        <%= content_tag :span, t("recipes.recipes"), class: "center" %>
    </div>
    <div class="fl f12" style="width: 30px; height:34px; line-height: 17px;">
        <span class="center"><%= current_user.score %></span>
        <%= content_tag :span, "积分", class: "icon icon_star center" %>
    </div>
</div>
</div>