<div id="user_panel" class="panel">
    <b><%= link_to current_user.login_name, profile_user_path(current_user) %></b><br/>
    <%= link_to image_tag("grey.gif", "class" => 'lazy', "data-original"=> current_user.get_avatar(:thumb, false )), profile_user_path(current_user) %><br/>

    <div class="block">
        <div class ="fl m5">
            <%= t("user_basic.shares") %><br/>
            <%= current_user.reviews.count %>
        </div>
        <div class ="fl m5">
            <%= t("user_basic.fans") %><br/>
            <%= current_user.followers.count %>

        </div>
        <div class ="fl m5">
            <%= t("user_basic.follows") %><br/>
            <%= current_user.relationships.count %>
        </div>
    </div>

    <div class="mt5">
        <b><%= t("control_panel.actions") %></b><br/>
        <%= link_to "", new_recipe_path, :class => "add_recipe_btn" %>
        <%= link_to "", new_album_path, :class => "add_album_btn" %><br/>
    </div>
    <div>
      <%= link_to "【+收集到美食客栈工具】", "/home/collect_intro" %>
    </div>
</div>
