<% if current_user %>
    <div id="user_panel" class="panel">
        <b><%= link_to current_user.login_name, profile_path(current_user) %></b><br/>
        <%= link_to image_tag(current_user.get_avatar(:thumb)), profile_path(current_user) %><br/>

        <div class="block">
            <div class ="fl m5">
                <%= t("user_basic.shares") %><br/>
                <%= current_user.reviews.count %>
            </div>
            <div class ="fl m5">
                <%= t("user_basic.fans") %><br/>
                <%= link_to current_user.followers.count, profile_path(current_user) %>

            </div>
            <div class ="fl m5">
                <%= t("user_basic.follows") %><br/>
                <%= link_to current_user.relationships.count, profile_path(current_user) %>
            </div>
        </div>

        <p class="actions">
            <b><%= t("control_panel.actions") %></b><br/>
            <%= link_to "", new_recipe_path, :class => "add_recipe_btn" %>
            <%= link_to "", new_album_path, :class => "add_album_btn" %><br/>
        </p>
    </div>
<% end %>