<div id="control_panels">
    <%= render "profile_panel", user: current_user %>
    <%= render "actions_panel" %>
    <%= render "follows_panel", user: current_user %>
    <%= render "admired_desires_panel" %>
    <%= render "liked_albums_panel" %>
    <%= render "liked_recipes_panel" %>
    <!--<= render "liked_products_panel" %>-->
</div> <!--end of control_panel -->
