<% if current_user %>
    <div id="user_panel" class="panel">
        <b><%= link_to current_user.screen_name, profile_path(current_user) %></b><br/>
        <%= link_to image_tag(current_user.get_avatar(true), :border => 0, :class => "avatar"), profile_path(current_user) %><br/>

        <div class="block">
            <div class ="fl m5">
                <%= t("user_basic.shares") %><br/>
                <%= current_user.reviews.count %>
            </div>
            <div class ="fl m5">
                <%= t("user_basic.fans") %><br/>
                <%= link_to current_user.followers.count, profile_path(current_user) %>

            </div>
            <div class ="fl m5">
                <%= t("user_basic.follows") %><br/>
                <%= link_to current_user.relationships.count, profile_path(current_user) %>
            </div>
        </div>

        <p class="actions">
            <b><%= t("control_panel.actions") %></b><br/>
            <%= link_to t("topics.new"), new_topic_path, :class => "button" if current_user_has_permission?(:editor) %>
            <%= link_to t("articles.new"), new_article_path, :class => "button" if current_user_has_permission?(:editor) %>
            <%= link_to t("groups.browse"), groups_path, :class => "button" %>
            <%= link_to t("vendors.browse"), vendors_path, :class => "button" %>
            <%= link_to t("recipes.add"), new_recipe_path, :class => "button" %>
        </p>
    </div>
<% end %>