<% if current_user %>
    <div id="user_panel" class="panel">
        <b><%= link_to current_user.login_name, profile_path(current_user) %></b><br/>
        <%= link_to image_tag(current_user.get_avatar(:thumb)), profile_path(current_user) %><br/>

        <div class="block">
            <div class ="fl m5">
                <%= t("user_basic.shares") %><br/>
                <%= current_user.reviews.count %>
            </div>
            <div class ="fl m5">
                <%= t("user_basic.fans") %><br/>
                <%= link_to current_user.followers.count, profile_path(current_user) %>

            </div>
            <div class ="fl m5">
                <%= t("user_basic.follows") %><br/>
                <%= link_to current_user.relationships.count, profile_path(current_user) %>
            </div>
        </div>

        <p class="actions">
            <b><%= t("control_panel.actions") %></b><br/>
            <%= link_to t("recipes.add"), new_recipe_path, :class => "button" %>
            <%= link_to t("albums.new"), new_album_path, :class => "button" %><br/>
            <% if current_user_has_permission?(:editor) %>
                <b><%= t("control_panel.editor_actions") %></b><br/>
                <%= link_to t("topics.new"), new_topic_path, :class => "button"  %>
                <%= link_to t("pages.add"), new_page_path, :class => "button" %>
            <% end %>
        </p>
    </div>
<% end %>