<div class="grid_9 to_left">
    <h1 class="trivial">我喜欢的：</h1>
    <div class="tab_control mt10">
        <div class="tabContainer ">
            <% @modes.each do |mode| %>
                <%= link_to t("personal.favorites.modes.#{mode}"), "/favorites?mode=#{mode}", "data-page" => ".#{mode}", class: "tab #{mode == @current_mode ? "selected" : "unselected"}" %>
            <% end %>
        </div>
        <div class="tabContent block">
          <% @modes.each do |mode| %>
             <div class = "<%= mode %> <%= mode == @current_mode ? "display" : "display_none" %>">
                <%= render "favorites_#{mode}_mode" %>
             </div>
          <% end %>
        </div>
    </div>
</div>

<div class="grid_3 to_right">
    <%= render "right_panels" %>
</div>