<% meta_tag t("site.introduction") %>

<div class="fl">
    <div>
        <%= render "shared/review_fields", :review => Review.new %>
    </div>

    <div class = "mytab">
        <div>
        <ul class="tabContainer ">
            <a class="tab blue fl m5" href="#" data-page = '/personal/all_feeds' >
                <%= t("feeds.all") %>
                <span class="left"></span>
                <span class="right"></span>
            </a>

            <a class="tab blue fl m5" href="#"  data-page = '/personal/my_feeds' >
               <%= t("feeds.my") %>
                <span class="left"></span>
                <span class="right"></span>
            </a>
	    </ul>
        </div>

        <div id="tabContent">
            <div id="contentHolder">
                <!-- The AJAX fetched content goes here -->
            </div>
        </div>
    </div>

	<div class="clear"></div>

    <!--<dl class="tab">-->
        <!--<dt><h2><%= t("feeds.all") %></h2></dt>-->
        <!--<dd id="all_feeds">-->

        <!--</dd>-->
        <!--<dt><h2><%= t("feeds.my") %></h2></dt>-->
        <!--<dd id="my_feeds">-->

        <!--</dd>-->
    <!--</dl>-->


    </div>

<div class="fr">
    <div id="control_panel">
        <%= render "user_panel" %>
    </div> <!--end of control_panel -->
</div>