<% meta_tag t("site.introduction") %>

<div class="fl">
    <div>
        <%= render "shared/review_fields", :review => Review.new %>
    </div>

    <dl class="tab">
        <dt><h2><%= t("feeds.all") %></h2></dt>
        <dd id="all_feeds">
            <%= render :partial => "feeds/feed", :collection => @all_feeds, :as => :feed %>
        </dd>
        <dt><h2><%= t("feeds.my") %></h2></dt>
        <dd id="my_feeds">
            <%= render :partial => "feeds/feed", :collection => @my_feeds, :as => :feed %>
        </dd>
    </dl>
</div>

<div class="fr">
    <div id="control_panel">
        <%= render "user_panel" %>
    </div> <!--end of control_panel -->
</div>