<div class="grid_9 to_left">
    <div class="tab_control">
        <div class="tabContainer ">
            <% @modes.each do |mode| %>
                <div class = "<%= mode == @current_mode ? "selected" : "unselected" %>">
                    <%= link_to t("personal.#{mode}_mode"), "/me?mode=#{mode}", "data-page" => ".#{mode}", class: "tab" %>
                </div>
            <% end %>
        </div>
        <div class="tabContent block">
          <% @modes.each do |mode| %>
             <div class = "<%= mode %> <%= mode == @current_mode ? "display" : "display_none" %>">
                <%= render "#{mode}_mode" %>
             </div>
          <% end %>
        </div>
    </div>
</div>

<div class="grid_3 to_right">
    <div id="control_panel">
        <%= render "profile_panel" %>
        <%= render "follows_panel" %>
        <%= render "fans_panel" %>
    </div> <!--end of control_panel -->
</div>


