<div class="content_block_inside">
    <p>
      <b><%= t("users.login_name") %></b>
      <%= @user.login_name %>
    </p>

    <p>
      <b>Email</b>
      <%= @user.email %>
    </p>

    <p>
      <b>Role</b>
      <%= @user.role %>
    </p>

    <%= link_to t("general.edit"), edit_admin_user_path(@user), :class => "button" %> |
    <%= link_to t("general.delete"), [:admin, @user], :confirm => t("general.are_you_sure_to_delete"), :method => :delete, :class => "button" %> |
    <%= render "admin/shared/toggle_disabled", :confirm => t("general.are_you_sure_to_disable_enable"), :obj => @user %>
    <%= link_to t("general.back"), admin_users_path, :class => "button" %>
</div>