<%= form_for [:admin, @vendor] do |f| %>
  <%= render "vendors/basic_form", :vendor => @vendor, :f => f %>

  <div class="field">
    <%= f.label :disabled, t("general.disable") %><br />
    <%= f.check_box :disabled, {}, true, false %>
  </div>

  <div class="actions">
    <%= f.submit t("general.submit"), :class => "button" %>
  </div>
<% end %>
