<%= form_for [:admin, @vendor] do |f| %>
  <%= render "shared/error_messages", :target => @vendor %>
  <div class="map_address">
    <div class="field">
        <%= hidden_field_tag "vendor[address_attributes][city_id]", current_city.id %>
        <%= hidden_field_tag "vendor[address_attributes][city_name]", current_city.name, :class => "map_city" %>
        <%= content_tag(:span, current_city.name, :id => "current_city_name") %>(<%= link_to t("address.change_city"), profile_edit_current_city_path(:popup => true), :rel => "facebox" %>)<br/>
    </div>
    <%= f.fields_for :address do |builder| %>
        <div class="field">
            <%= builder.select :district_id, options_for_select(current_city.districts.map { |d| [d.name, d.id]}, @vendor.address.district_id) %>
        </div>
        <div class="field">
            <b><%= f.label :name, t("vendors.vendor_name") %></b><br />
            <%= text_field_tag "vendor[name]", @vendor.name.present? ? @vendor.name : params[:name], {:class => "map_detail"} %>
        </div>
        <%= builder.hidden_field :point, {:class => "map_point"} %>
        <div class="field">
            <b><%= t("address.detail") %></b><br/>
            <%= builder.text_field :detail, {:class => "map_detail"} %>
        </div>
        <div class="field">
            <b><%= t("address.near") %></b><br/>
            <%= builder.text_field :near %>
        </div>
        <%= render "shared/map_indicator" %>
        <div id="map_container"></div>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :disabled, t("general.disable") %><br />
    <%= f.check_box :disabled, {}, true, false %>
  </div>

  <div class="actions">
    <%= f.submit t("general.submit"), :class => "button" %>
  </div>
<% end %>
