<% title @vendor.name %>
<div class="field">
    <% if @vendor.address && @vendor.address.city %>
      <%= t("address.detail") %>: <%= @vendor.address.city.name %> <%= @vendor.address.detail %>
    <% end %>
</div>

<%= render "shared/display_map", :address => @vendor.address if @vendor.address && @vendor.address.city %>

<div class="fields_group">
    <h3><%= t("reviews.reviews") %>(<%= @vendor.reviews.size %>)</h3>
    <ul>
    <% @vendor.reviews.each do |review| %>
       <li><%= link_to review.title, review %></li>
    <% end %>
    </ul>
</div>

<%= link_to t("general.edit"), edit_admin_vendor_path(@vendor), :class => "button" %> |
<%= link_to t("general.delete"), [:admin, @vendor], :confirm => t("general.are_you_sure_to_delete"), :method => :delete, :class => "button" %> |
<%= render "admin/shared/toggle_disabled", :confirm => t("general.are_you_sure_to_disable_enable"), :obj => @vendor %>
<%= link_to t("general.back_to_list"), admin_vendors_path, :class=> "button" %>