<%= form_for(@product) do |f| %>
  <%= render "shared/error_messages", :target => @product %>

  <div class="field">
    <% if @product.vendor %>
        <div><%= render "vendors/vendor_fields", :target => @product %></div>
    <% else %>
        <div id="vendor_fields">
          <div class="left_column">
            <%= f.text_field :vendor_token, 'data-pre' => (@product.vendor ? [{:id => @product.vendor.id, :name => @product.vendor.full_name }] : []).to_json %>
          </div>
          <%= content_tag(:span, t("vendors.not_found"), :class => "trivial") %>
          <%= link_to t("vendors.not_found_new"), new_vendor_path(:popup => true), :rel => "facebox" %>
        </div>
    <% end %>
  </div>

  <div class="field">
    <b><%= f.label :name, t("general.name") %></b><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <b><%= f.label :url %></b><br/>
    <%= new_tab_link_to f.object.url, f.object.url %>
  </div>

  <div class="field">
    <b><%= f.label :price, t("products.price") %></b><br />
    <%= f.text_field :price %>
  </div>

  <div class="field">
    <b><%= f.label :weight, t("products.weight") %></b><br />
    <%= f.text_field :weight %>
  </div>

  <div class="field">
     <b><%= f.label :tags_string, t("tags.tags") %></b><br/>
     <%= f.text_field :tags_string, 'data-pre' => (f.object.tags ? f.object.tags.map { |t| { :id => t, :name => t }} : []).to_json %>
  </div>

  <div class="field">
     <b><%= f.label :editor_score, t("products.editor_score")%></b><br />
     <%= f.text_field :editor_score %>
  </div>

  <div class="field">
    <b><%= f.label :enabled, t("general.toggle")%></b><br />
    <%= f.check_box :enabled %>
  </div>

  <div class="actions">
    <%= f.submit (f.object.new_record? ? t("general.publish") : t("general.change")), class: "#{f.object.new_record? ? "btn btn_submit_post" : "btn btn_submit_update"}" %>
  </div>
<% end %>
