<%= form_for(@product) do |f| %>
  <%= render "shared/error_messages", :target => @product %>

  <div class="field">
    <% if @product.vendor %>
        <div><%= render "vendors/vendor_fields", :target => @product %></div>
    <% else %>
        <div id="vendor_fields">
          <div class="left_column">
            <%= f.text_field :vendor_token, 'data-pre' => (@product.vendor ? [{:id => @product.vendor.id, :name => @product.vendor.full_name }] : []).to_json %>
          </div>
          <%= content_tag(:span, t("vendors.not_found"), :class => "trivial") %>
          <%= link_to t("vendors.not_found_new"), new_vendor_path(:popup => true), :rel => "facebox" %>
        </div>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :name, t("general.name") %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= new_tab_link_to f.object.url, f.object.url %>
  </div>
  <div class="field">
    <%= f.label "product[category_id]", t("categories.category") %><br />
    <%= select_tag "product[category_id]", options_for_select(get_categories_for_select, @product.category_id) %>
  </div>

  <div class="field">
    <%= f.label :recommended_score, t("products.recommended_score")%><br />
    <%= f.text_field :recommended_score %>
  </div>

  <div class="field">
    <%= f.label :enabled, t("general.toggle")%><br />
    <%= f.check_box :enabled %>
  </div>

  <div class="actions">
    <%= f.submit t("general.submit") %>
  </div>
<% end %>
