<%= form_for review, :html => { :multipart => true }, :remote => true do |f| %>
    <h2><%= t("reviews.new_review") %></h2>

    <%= render "shared/error_messages", :target => review %>
    <%= hidden_field_tag "product_id", @product.id %>

    <div class="field">
        <b><%= f.label :title, t("general.title") %><%= mark_required(review, :title) %><%= mark_required_length(review, :title) %></b><br/>
        <%= f.text_field :title, :maxlength => get_max_length(review, :title) %>
    </div>

    <div class="field">
        <b><%= f.label :reported_on_string, t("reviews.when") %></b><br/>
        <%= f.text_field :reported_on_string, {:class => "date_picker"} %>
    </div>

    <%= render "images/images_fields", :f => f, :item => review %>

    <b><%= f.label :content, t("reviews.content") %><%= mark_required(review, :content) %><%= mark_required_length(review, :content) %></b><br/>
    <%= f.text_area :content, :maxlength => get_max_length(review, :content), :class => "char_aware" %><br/>
    <%= content_tag :span, "", :class => "char_counter" %>

    <div>
      <%= check_box_tag :sync_to_sina %><%= label_tag :sync_to_sina, t("syncs.sync_to_sina") %>
    </div>
    <div class="actions">
        <%= f.submit t("reviews.submit"), :class => "button" %>
    </div>
<% end %>

<%= render "info_items/delay_load_stuff", :item => review %>
