<div class="product_image_frame">
  <% if product.image && product.image.image_url %>
    <%= link_to image_tag( product.image.image_url, :border => 0, :width => IMAGE_THUMB_WIDTH, :height => IMAGE_THUMB_HEIGHT), product%>
  <% else %>
    <%= link_to image_tag( "default_article.jpg", :border => 0, :width => IMAGE_THUMB_WIDTH, :height => IMAGE_THUMB_HEIGHT),  product%>
  <% end %>
</div>
<div>
<%= link_to product.name, product %> <br/>
<% if product.price.present? %>
    <%= t_with_colon("products.price") %> <%= t("money.yuan_mark2") %><%= product.price %><br/>
<% end %>
<% if product.weight.present? %>
    <%= t_with_colon("products.weight") %> <%= product.weight %><br/>
<% end %>
<% if product.producer.present? %>
    <%= t_with_colon("products.producer") %> <%= product.producer %><br/>
<% end %>
<% if product.area.present? %>
    <%= t_with_colon("products.area") %> <%= product.area %><br/>
<% end %>
<% if product.comments && product.comments.size > 0%>
    <%= product.comments.size.to_s %> <%= t("comments.comment") %><br/>
<% end %>

</div>

