<p>
  <b><%= t("general.name")  %></b>
  <%= @product.name %>
</p>

<p>
  <b>Url:</b>
  <%= new_tab_link_to @product.vendor.name, @product.url %>
</p>

<p>
  <b><%= t("products.price")  %></b>
  <%= @product.price %>
</p>

<p>
  <b><%= t("products.weight")  %></b>
  <%= @product.weight %>
</p>

<p>
  <b><%= t("products.producer")  %></b>
  <%= @product.producer %>
</p>


<p>
  <b><%= t("products.original_place")  %></b>
  <%= @product.original_place %>
</p>

<p>
  <%= image_tag @product.image.image_url if @product.image && @product.image.image_url %>
</p>

<% if @product.vendor %>
  <%= link_to @product.vendor.full_name, @product.vendor %><br/>
<% end %>

<div class="actions">
  <%= render "shared/follow_field", :target => @product %>
</div>

<% if current_user_has_permission? :editor %>
    <div class="actions">
        <%= link_to t("general.change"), edit_product_path(@product), :class => "button" %>
    </div>
<% end %>

<div class="actions">
   <%= link_to t("general.back"), products_path, :class => "button" %>
</div>


<hr/>

<%= render "comments/comments", :item => @product %>