<% title "商品" %>

<div class="grid_9 to_left overflow_hidden p5 clearfix">
    <div class="product_info clearfix box_shadow p5">
        <div class="fl">
            <%= link_to (image_tag("grey.gif", "class" => 'lazy', "data-original"=> @product.get_image_url(:waterfall), class: "img_frame")), @product.get_image_url, rel: "facebox" %>
        </div>

        <div class="product_detail ml10 fl">
            <p>
              <b><%= t("general.name") %></b>
              <%= @product.name %>
            </p>

            <p>
              <b><%= t("products.price") %></b>
              <%= [t("money.yuan_mark2"), @product.price_as_money_string].join if @product.price %>
            </p>

            <p>
              <b><%= t("catalogs.catalog") %></b>
              <%= @product.catalogs.map(&:name).join(" ") %>
            </p>

            <p>
              <b><%= t("tags.tags") %></b>
              <%= render "tags/tags", :item => @product %>
            </p>

            <p>
              <b><%= t("vendors.vendor") %></b>
              <%= new_tab_link_to @product.vendor.name, @product.vendor %>
            </p>


            <div class="mt5 clearfix">
                <%= new_tab_link_to "", {:controller => "home", :action => "gateway", :url => @product.url, :force => "true"}, :class => "btn btn_buy fl"%>
                <% if current_user_has_permission? :normal_user %>
                    <div class="fr">
                        <%= render "votes/vote_fields", :item => @product %>
                    </div>
                <% end %>
            </div>

            <% if current_user_has_permission? :administrator %>
                <div class="mt5">
                    <%= link_to "", edit_product_path(@product), :class => "btn btn_edit fl" %>
                    <%= link_to "", @product, :confirm => t("general.are_you_sure_to_delete"), :method => :delete, :class => "btn btn_delete fl" %>
                </div>
            <% end %>
        </div>
    </div>

    <div class="mt20">
        <span class="trivial">以下分享中提到了该商品：</span><br/>
        <%= render @refer_reviews %>
    </div>

    <div class="mt10">
        <%= render "comments/comments", item: @product %>
    </div>

</div>

<div class="grid_3 to_right">
  <%= render "products/related_products", products: @related_products %>
</div>
