<div class="two_columns_container">
 <div class="left_column">
    <div class="image_frame">
        <%= image_tag @product.image.image_url if @product.image && @product.image.image_url %>
    </div>
 </div>
 <div class="right_column">
   <%= render "shared/vote_fields", :item => @product %>
   <div class="block square">
    <p>
      <b><%= t("general.name")  %></b>
      <%= @product.name %>
    </p>
    <p>
      <b><%= t("vendors.vendor") %></b>
      <%= link_to  @product.vendor.name, @product.vendor %>
    </p>
    <p>
      <b><%= t("categories.category")  %></b>
      <%= @product.tags.first {|t| t.is_category == true} if @product.tags %>
    </p>
    <p>
      <b><%= t("products.price")  %></b>
      <%= [t("money.yuan_mark2"), @product.price_as_money_string].join if @product.price %>
    </p>

    <p>
      <b><%= t("products.weight")  %></b>
      <%= @product.weight %>
    </p>

    <p>
      <b><%= t("products.producer")  %></b>
      <%= @product.producer %>
    </p>

    <p>
      <b><%= t("products.original_place")  %></b>
      <%= @product.area %>
    </p>
    <div class="actions">
        <%= new_tab_link_to t("products.go_to_buy"), @product.url, :class => "button" %>
    </div>
   </div>
 </div>
</div>


<div class="actions">
  <%= render "shared/follow_field", :target => @product %>
  <% if current_user_has_permission? :administrator %>
    <%= link_to t("general.change"), edit_product_path(@product), :class => "button" %>
    <%= link_to t("general.delete"), @product, :confirm => t("general.are_you_sure_to_delete"), :method => :delete, :class => "button" %>
  <% end %>
</div>

<div class="actions">
  <%= link_to t("general.back_to_list"), products_path, :class => "button" %>
</div>

<hr/>

<% unless @rel_tips.blank? || @rel_tips.empty? %>
Related articles:
    <% @rel_tips.each do |tip| %>
        <%= render "info_items/info_item", :item => tip %>
    <% end %>
<% end %>
<hr/>

<div id="reviews_block">
    <%= render :partial => "review", :collection => @product.reviews, :as => :review %>
</div>

<% if current_user_has_permission? :normal_user %>
    <div id="new_review_block">
        <%= render "review_fields", :review => @product.reviews.new, :product => @product %>
    </div>
<% end %>