<p>
  <b><%= t("general.name")  %></b>
  <%= @product.name %>
</p>

<p>
  <b>Url:</b>
  <%= @product.url %>
</p>

<% if @product.vendor %>
  <%= link_to @product.vendor.full_name, @product.vendor %><br/>
<% end %>

<div class="actions">
  <%= render "shared/follow_field", :target => @product %>
</div>

<% if current_user_has_permission? :editor %>
    <div class="actions">
        <%= link_to t("general.change"), edit_product_path(@product), :class => "button" %>
    </div>
<% end %>

<div class="actions">
   <%= link_to t("general.back"), products_path, :class => "button" %>
</div>