<div class="mb20">
  <div class="clearfix">
    <%= render "product_nav", :product => @product %>

    <div class="grid_9 box_shadow to_left p5 overflow_hidden">
      <div class="fl">
        <%= link_to (image_tag(@product.get_image_url(:waterfall), class: "img_frame")), @product.get_image_url, rel: "facebox" %>
      </div>

      <div class="ml10 fl">
        <p>
          <b><%= t("general.name") %></b>
          <%= @product.name %>
        </p>

        <p>
          <b><%= t("products.price") %></b>
          <%= [t("money.yuan_mark2"), @product.price_as_money_string].join if @product.price %>
        </p>

        <p>
          <b><%= t("catalogs.catalog") %></b>
          <%= @product.catalogs.map(&:name).join(" ") %>
        </p>

        <p>
          <b><%= t("tags.tags") %></b>
          <%= render "shared/show_tags", :item => @product %>
        </p>

        <p>
          <b><%= t("vendors.vendor") %></b>
          <%= new_tab_link_to @product.vendor.name, @product.vendor %>
        </p>


        <div class="m5">
           <%= render "relationships/follow_field", :target => @product %>
           <%= new_tab_link_to t("products.go_to_buy"), {:controller => "home", :action => "gateway", :url => @product.url, :force => "true"}, :class => "mt5 button"%>
        </div>

        <div class="m5">
          <% if current_user_has_permission? :administrator %>
              <%= link_to t("general.change"), edit_product_path(@product), :class => "button" %>
              <%= link_to t("general.delete"), @product, :confirm => t("general.are_you_sure_to_delete"), :method => :delete, :class => "button" %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="grid_3 box_shadow to_right">
      <%= render "products/related_products", products: @related_products %>
    </div>
  </div>
</div>

<% if current_user_has_permission? :normal_user %>
  <div class="grid_9 to_left">
    <%= render "reviews/review_fields", :review => @product.reviews.new %>
  </div>
<% end %>

<div class="grid_12 to_left to_right">
    <%= render "shared/waterfall", :path => more_reviews_path(product_id: @product.id), :waterfall_partial => "reviews/review_waterfall", :columns_count => 4, :columns_width => 230 %>
</div>
