<div class="grid_9 to_left overflow_hidden p5 clearfix">
    <%= render "product_nav", :product => @product %>
    <div class="clearfix box_shadow p5">
        <div class="fl">
            <%= link_to (image_tag("grey.gif", "class" => 'lazy', "data-original"=> @product.get_image_url(:waterfall), class: "img_frame")), @product.get_image_url, rel: "facebox" %>
        </div>

        <div class="ml10 fl" style="width:470px">
            <p>
              <b><%= t("general.name") %></b>
              <%= @product.name %>
            </p>

            <p>
              <b><%= t("products.price") %></b>
              <%= [t("money.yuan_mark2"), @product.price_as_money_string].join if @product.price %>
            </p>

            <p>
              <b><%= t("catalogs.catalog") %></b>
              <%= @product.catalogs.map(&:name).join(" ") %>
            </p>

            <p>
              <b><%= t("tags.tags") %></b>
              <%= render "shared/show_tags", :item => @product %>
            </p>

            <p>
              <b><%= t("vendors.vendor") %></b>
              <%= new_tab_link_to @product.vendor.name, @product.vendor %>
            </p>


            <div class="mt5">
                <% if current_user_has_permission? :normal_user %>
                    <%= render "votes/vote_fields", :item => @product %>
                <% end %>
                <%= new_tab_link_to "", {:controller => "home", :action => "gateway", :url => @product.url, :force => "true"}, :class => "go_buy_btn"%>
            </div>

            <% if current_user_has_permission? :administrator %>
                <div class="mt5">
                    <%= link_to "", edit_product_path(@product), :class => "modify_btn" %>
                    <%= link_to "", @product, :confirm => t("general.are_you_sure_to_delete"), :method => :delete, :class => "delete_btn" %>
                </div>
            <% end %>
        </div>
    </div>

    <% if current_user_has_permission? :normal_user %>
        <div class="mt10">
            <%= render "reviews/review_fields", :review => @product.reviews.new %>
        </div>
    <% end %>
    <%= render "shared/waterfall", :path => more_reviews_path(product_id: @product.id), :waterfall_partial => "reviews/review_waterfall", :columns_count => 3, :columns_width => 230 %>
</div>

<div class="grid_3 to_right">
  <%= render "products/related_products", products: @related_products %>
</div>
