<%= form_for @review, :html => { :multipart => true } do |f| %>
  <%= render "shared/error_messages", :target => @review %>
  <div class="field">
    <%= f.label :title, t("general.title") %><%= mark_required(@review, :title) %><br/>
    <%= f.text_field :title, :maxlength => 40 %>
  </div>
  <div class="field">
    <%= f.label :food_tokens, t("foods.foods") %><br/>
    <%= f.text_field :food_tokens, 'data-pre' => (f.object.foods.map { |f| { :id => f.id, :name => f.name }}).to_json %>
  </div>

  <div id="field">
    <%= content_tag(:span, current_city.name, :id => "current_city_name") %>(<%= link_to t("address.change_city"), profile_edit_current_city_path(:popup => true), :rel => "facebox" %>)
  </div>

  <div id="field">
    <%= f.label :vendor_token, t("vendors.vendor") %>
    (<%= t("vendors.vendor_not_found") %> <%= link_to t("vendors.quick_create_vendor"), new_vendor_path(:popup => true), :rel => "facebox" %>)<br/>
    <%= f.text_field :vendor_token, 'data-pre' => (f.object.vendor ? [{ :id => f.object.vendor.id, :name => f.object.vendor.name }] : []).to_json %>
  </div>

  <div class="fields_group">
    <%= f.fields_for :checkpoints do |builder| %>
        <%= render "checkpoint_fields", :f => builder %>
    <% end %>
    <p><%= link_to_add_fields  t("reviews.add_checkpoint"), f, :checkpoints %></p>

    <%= f.label :severity, t("reviews.severity") %><br/>
    <div id="severity_options" class="two_columns_container">
        <div class="left_column">
          <div class="field">
            <%= f.radio_button(:severity, 0, :checked => @review.severity == 0, :class => "severity_radio") %>
            <%= t("reviews.severity_0") %>
          </div>
          <div class="field">
            <%= f.radio_button(:severity, 1, :checked => @review.severity == 1, :class => "severity_radio") %>
            <%= t("reviews.severity_1") %>
          </div>
          <div class="field">
            <%= f.radio_button(:severity, 2, :checked => @review.severity == 2, :class => "severity_radio") %>
            <%= t("reviews.severity_2") %>
          </div>
          <div class="field">
            <%= f.radio_button(:severity, 3, :checked => @review.severity == 3, :class => "severity_radio") %>
            <%= t("reviews.severity_3") %>
          </div>
        </div>
        <div class="right_column">
            <label class="severity_image severity_<%= @review.severity %>"></label>
        </div>
    </div>
  </div>

  <div class="fields_group">
    <%= f.fields_for :images do |builder| %>
        <%= render "image_fields", :f => builder %>
    <% end %>

    <%= link_to_add_fields  t("images.add_image"), f, :images %>
  </div>

  <% if false %>
  <% tab_control do %>
    <div class="tab_header">
    <ul>
        <%= local_tab_page( t("vendors.vendor"), true) do %>
            <div id="field">
                <%= f.label :vendor_token, t("vendors.vendor") %>
                <%= f.text_field :vendor_token, 'data-pre' => (f.object.vendor ? [{ :id => f.object.vendor.id, :name => f.object.vendor.name }] : []).to_json %>
            </div>
        <% end %>
        <%= local_tab_page( t("vendors.non_existed_vendor")) do %>
            <div id="new_vendor">
                <%= t("reviews.quick_create_vendor") %>
                 <div class="field">
                    <%= f.label :vendor_name, t("general.name") %><br />
                    <%= f.text_field :vendor_name %>
                </div>
                <div class="field">
                    <%= f.label :vendor_city, t("address.city") %><br />
                    <%= f.select :vendor_city, options_for_select(get_cities_for_select, @review.vendor_city)%>
                </div>
                <div class="field">
                    <%= f.label :vendor_street, t("address.street") %><br />
                    <%= f.text_field :vendor_street %>
                </div>
            </div>
        <% end %>
    </ul>
    </div>
    <% tab_content do %>
    <% end %>
  <% end %>
  <% end %>

  <div class="field">
    <%= f.label :content, t("reviews.content") %><%= mark_required(@review, :content) %><%= mark_required_length(@review, :content) %><br/>
    <%= f.text_area :content, :class => "mceEditor", :maxlength => 10000 %>
  </div>

  <div class="actions">
    <%= f.submit t("general.submit"), :class => "button" %>
  </div>
<% end %>
