<div class="linked_item fl mr5 b_white">
    <%= link_to image_tag(item.get_image_url(:thumb), class: "thumbnail"), item %><br/>
    <span class="f11"><%= item.name %></span>

    <% if item.is_a?(Product) %>
        <%= image_tag("icons/cart.png", width: 16, height: 16, class: "linked_item_icon") %>
    <% elsif item.is_a?(Recipe) %>
        <%= image_tag("icons/recipe.png", width: 16, height: 16, class: "linked_item_icon") %>
    <% end %>

    <%= link_to image_tag("/assets/close_x.png", alt: "delete_related_item"), "", onclick: "delete_related_item(this); return false;", class: "del_link lighter_touch" %>
    <% item_class = item.class.name.downcase %>
    <%= hidden_field_tag "review[#{item_class}_ids][]", item.id.to_s, id: "#{item_class}_" + item.id.to_s %>
</div>