<div id="product_linker" class="display_none">
    <%= form_tag url_for(controller: "reviews", action: "link", method: :post), :remote => true do %>
        <p><%= "将网上商品的地址粘帖在下方框中即可：" %></p>
        <%= text_field_tag "product_url", "" %>
        <%= submit_tag t("general.submit"), id: "link_prod_btn", class: "btn btn_ok", onclick: 'return pre_link_product(this);'%>
        <%= image_tag "loading.gif", id: "link_spinner", class: "display_none" %>
        <p>已支持以下网上商城：</p>
        <div>
            <%= new_tab_link_to t("syncs.sites.taobao"), "http://www.taobao.com/", class: "auth_btn_16 via_taobao_small" %><%= new_tab_link_to "淘宝", "http://www.taobao.com/" %>
        </div>
    <% end %>
</div>
