<div class="ks-waterfall box_shadow">
    <% if defined?(item) && item %>
        <div class="center">
            <%= link_to image_tag("grey.gif", "data-original"=> picture_url, height: picture_height, class: "lazy mt10"), item, class: "image", title: t("object_types.#{item.class.name.downcase}") + " - #{item.name}" %>
        </div>
        <div class="ml10 mr10 clearfix">
            <% if (item.respond_to? :name) %>
                <%= image_tag("icons/#{item.class.name.downcase}.png", width: 16, height: 16) %>
                <span class = "f16"><%= link_to item.name, item %></span><br/>
            <% end %>
            <% if (item.respond_to? :content) %>
                <p>
                  <%= item.content %> <span class="display_inline_block"><%= link_to t("general.details"), item %></span>
                </p>
            <% end %>
        </div>
    <% else %>
        <div class="center">
            <div class="image"><%= image_tag(picture_url, height: picture_height) %></div>
        </div>
    <% end %>
</div>