<div class="block round " id = "myreviews">
  <%= render "shared/vote_fields", :item => review %>
  <%= link_to review.author.screen_name, review.author %>:
  <%= review.content %><br/>
  <!--pic display-->
   <!--unless review.images.first.picture.path.blank?-->
  <% unless review.images.first.blank? %>
      <% for image in review.images do%>
          <a class="thumbnail" rel="lightbox-group" href ="<%=image.picture_url%>">
            <%= image_tag image.picture_url, :width => IMAGE_THUMB_WIDTH, :height => IMAGE_THUMB_HEIGHT, :alt=> "review_image"%>
          </a><br/>
      <% end %>
     <!--render :partial => "images/image", :collection => review.images-->
  <%end%>

  <% if current_user_has_permission? :normal_user %>
    <%= link_to review.comments.empty? ? t("comments.add_comment") : t("comments.n_comments", :count => review.comments.size.to_s), new_comment_path(:item_id => review.id, :item_type => review.class.name), :class => "add_comment_link" %>
    <div id="comments_block" style="display:none">
        <% review.comments.each do |comment| %>
            <%= render "comments/single_comment", :comment => comment, :item => review %>
        <% end %>
        <%= render "comments/new_comment", :item => review %>
    </div>
  <% end %>
</div>