<div class="listed_item commentable clearfix">
    <div class="user_info_area">
        <%= link_to image_tag("grey.gif", "class" => 'lazy', "data-original"=> review.author.get_avatar(:thumb, false ), width: "48", height: "48"), review.author %><br/>
        <%= link_to review.author.login_name, review.author %>
    </div>
    <div class="content_area">
        <div style="min-height: 50px;">
            <div class="clearfix mb5">
                <blockquote class="fl"><span class="ml5 quoted"><%= review.content %></span></blockquote>
                <span class="fr"><%= link_to t("general.details"), review %></span>
            </div>
            <div class="clearfix">
                <% review.get_linked_items.each do |item| %>
                    <div class="item">
                        <%= link_to image_tag(item.get_image_url(:thumb), class: "thumbnail", title: (t("object_types.#{item.class.name.downcase}") + " - #{item.name}")), item %><br/>
                        <span class="f12"><%= link_to truncate_content(item.name, 18), item %></span>
                        <span class="display_inline_block">
                          <%= image_tag("icons/#{item.class.name.downcase}.png", width: 12, height: 12) %>
                          <% if item.is_a?(Product) %>
                            <span class="f11 berry_pink"><%= (t("money.yuan_mark1") + item.price_as_money_string) if item.price? %></span>
                          <% end %>
                        </span>
                    </div>
                <% end %>
                <% review.images.each do |image| %>
                    <div class="item">
                        <%= link_to image_tag("grey.gif", "data-original"=> image.picture_url(:thumb), alt: "image_thumbnail", class: "lazy thumbnail"), image.picture_url, title: "点击放大", rel: "facebox" %>
                    </div>
                <% end %>
            </div>
        </div>
        <div class="clearfix">
            <span class="fl trivial"><%= review.created_at.strftime(GENERAL_TIME_FORMAT) %></span>
            <div class="fr ml5 mr5">
                <%= render "votes/vote_fields", :item => review %>
            </div>
            <% if review.votes > 0 %>
                <div class="fr ml5 mr5">
                    <span class="vote_fields <%= review.id.to_s %>">
                        <span class="votes"><%= review.votes %></span><span>人喜欢</span>
                    </span>
                </div>
            <% end %>
            <div class="fr ml5 mr5">
                <%= link_to_function "+评论", "show_embedded_comments(this);" %> (<span class="comments_counter"><%= review.comments.size %></span>)
            </div>
        </div>
        <div class="embedded_comments display_none">
            <%= render "comments/comments", item: review %>
        </div>
    </div>
</div>
<hr/>