<div class="review_item">
    <h4><%= review.title %></h4>
    <blockquote><%= review.content %></blockquote>
    <% if has_permission?(:user) %>
        <div class="review_vote">
            <%= review.votes %>
            <%= link_to "up", vote_review_path(review, :delta => 1), :method => :put %>
            <%= link_to "down", vote_review_path(review, :delta => -1), :method => :put %>
        </div>
     <% end %>
    <%= review.comments.size.to_s %> comments
    <div class="actions">
        <%= link_to "Reply", new_comment_review_path(review) %> |
        <%= link_to t("general.show"), review %>
    </div>
</div>