<div class="ks-waterfall box_shadow">
    <% if defined?(item) && item %>
        <div class="center">
            <%= link_to image_tag("grey.gif", "data-original"=> picture_url, height: picture_height, class: "lazy mt10"), item, class: "image" %>
        </div>
        <div class="ml10 mr10 clearfix">
            <% if (item.respond_to? :name) %>
                <div class = "f16"><%= link_to item.name, item %><br/></div>
            <% end %>
            <% if (item.respond_to? :content) %>
                <p>
                  <%= item.content %> <span class="display_inline_block"><%= link_to t("general.details"), item %></span>
                </p>
            <% end %>
        </div>
    <% else %>
        <div class="center">
            <div class="image"><%= image_tag(picture_url, height: picture_height) %></div>
        </div>
    <% end %>
</div>