    var remote_status = "<%= @remote_status %>";
    var local_status = "<%= @local_status %>";

//     jQuery.facebox(user_message);

    if(local_status == "true" && remote_status == "true")
    {
        jQuery.facebox( '<img border="0" src="/assets/correct_icon.gif" alt="correct"><span><%= @user_message %></span>');
    }
    else if (local_status == "true" && remote_status == "false")
    {
        jQuery.facebox( '<span><%= @user_message %></span>');
    }
    else
    {
        jQuery.facebox( '<img border="0" src="/assets/wrong_icon.gif" alt="wrong"><span><%= @user_message %></span>');
    }


    $("#reviews_block").prepend(child);

//    $('#new_review_block:visible').hide();
