<% if @review %>
    var reviews = $("#reviews");
    if (reviews.length > 0) {
        var child = '<%= escape_javascript(render @review) %>';
        reviews.prepend(child);
    }
<% end %>

<% if @feed %>
    var feeds = $("#all_feeds");
    if (feeds.length > 0) {
        var child = '<%= escape_javascript(render @feed) %>';
        feeds.prepend(child);
    }
<% end %>

var local_status = "<%= @local_status %>";

if(local_status == "true")
{
    jQuery.facebox( '<%= content_tag :span, "", class: "toggle on" %><span><%= @user_message %></span>');

    $('#review_content').val('');
    $('#images_container').html('');
}
else
{
    jQuery.facebox( '<%= content_tag :span, "", class: "toggle off" %><span><%= @user_message %></span>');
}

setTimeout("after_delay()", parseInt("<%= REVIEW_CREATED_DELAY %>"));
//  setTimeout("after_delay()",2000);

function after_delay()
{
    jQuery(document).trigger('close.facebox');
//    alert("OK");
}

