<% title t("reviews.reviews"), false %>

<div>
    <%= image_tag "reviews_banner.png" %>
</div>

<div class="grid_9 to_left">
    <%= render "shared/waterfall", :path => more_reviews_path, :waterfall_partial => "reviews/review_waterfall", :columns_count => 3, :columns_width => 230 %>
</div>

<div class="grid_3 to_right">
    <h3>今日红榜</h3>
    <% @hard_workers.each do |user| %>
        <div class="clearfix mt10">
            <div class="fl mr5"><%= link_to image_tag(user.get_avatar(:thumb), width: AVATAR_THUMB_WIDTH, height: AVATAR_THUMB_HEIGHT), user %></div>
            <div class="fl">
                <span><%= link_to user.screen_name, user %></span><br/>
                <span class="trivial"><%= t("reviews.by_user", count: user.reviews.count) %></span><br/>
                <span class="trivial"><%= t("recipes.by_user", count: user.recipes.count) %></span>
            </div>
        </div>
    <% end %>
</div>

