<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @review.title %>
</p>

<p>
  <b>Content:</b>
  <%= @review.content %>
</p>

<p>
  <%= "severity:" + @review.severity.to_s %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>

<p>Comments:</p>
<%= nested_comments(@review, @review.comments.arrange(:order => :created_at)) %>
<div class="new_comment">
    <%= render "info_item/new_comment", :item => @review %>
</div>