<div class="content_block_inside">
    <h2><%= @review.title %></h2>
    <p><%= raw @review.content %></p>

    <div class="fields_group">
      <table>
          <tr>
            <th><%= t("general.name") %></th>
            <th><%= t("reviews.checkpoint_pass") %></th>
          </tr>
        <% @review.checkpoints.each do |checkpoint| %>
            <tr>
              <td><%= checkpoint.name %></td>
              <td><%= image_tag checkpoint.pass ? "good_thumb.png"  : "bad_thumb.png" %></td>
            </tr>
        <% end %>
      </table>
        <p>
          <%= t("reviews.severity") + ": " + t("reviews.severity_#{@review.severity}")%><br/>
          <%= image_tag "severity_#{@review.severity}_small.png" %>
        </p>
    </div>


    <h3><%= t("comments.comments") %></h3>
    <%= nested_comments(@review, @review.comments.arrange(:order => :created_at)) %>
    <div class="new_comment">
        <%= render "shared/new_comment", :item => @review %>
    </div>

    <%= link_to t("general.edit"), edit_review_path(@review), :class => "button" %>
    <%= link_to t("general.delete"), @review, :confirm => t("general.are_you_sure_to_delete"), :method => :delete, :class => "button" %>
</div>