<% title t("reviews.title") + @review.title %>

<div class="block">
    <%= render "shared/vote_fields", :item => @review %>
    <span class="trivial"><%= @review.reported_on_string %></span>
    <br/>
    <% if @review.author %>
        <%= t("info_items.posted_by")  %> <%= link_to @review.author.login_name, @review.author %>
    <% end %>
    <br/>
    <%= render "shared/show_tags", :item => @review %>
    <br/>
</div>

<table>
    <tr>
        <th></th>
        <th></th>
    </tr>
    <% if @review.vendor %>
        <tr>
            <td><b><%= t("vendors.vendor") %></b></td>
            <td><%= link_to @review.vendor.full_name, @review.vendor %></td>
        </tr>
    <% end %>
    <tr>
      <td><b><%= t("reviews.faults") %></b></td>
      <td><%= @review.get_faults %></td>
    </tr>
    <tr>
        <td><b><%= t("reviews.content") %></b></td>
        <td><%= t("general.none") if @review.content.blank? %></td>
    </tr>
</table>

<%= content_tag(:div, @review.content.html_safe, :class => "block round" ) if @review.content.present? %>

<% if @review.images.size > 0 %>
    <b><%= t("images.images") %></b>
    <div id="gallery" class="block round">
        <%= render :partial => "images/image", :collection => @review.images %>
    </div>
<% end %>

<br/>
<% if the_author_himself(Review.name, @review.id, true, false) %>
    <%= link_to t("general.edit"), edit_review_path(@review) %> |
<% end %>

<%= link_to t("general.back_to_list"), review_path %>


<hr/>

<%= render "comments/comments", :item => @review %>
