<% title t("reviews.title") + @review.title %>
<span class="trivial"><%= @review.reported_on_string %></span>

<table>
  <tr>
    <th></th>
    <th></th>
  </tr>

<% if @review.vendor %>
    <tr>
        <td><b><%= t("vendors.vendor") %></b></td>
        <td><%= link_to @review.vendor.name, @review.vendor %>    <span class="trivial"><%= @review.vendor.address %></span> </td>
    </tr>
<% end %>
<tr>
  <td><b><%= t("reviews.faults") %></b></td>
  <td><%= @review.faults.join(" | ") %></td>
</tr>
<tr>
    <td><b><%= t("reviews.content") %></b></td>
</tr>
</table>

<%= @review.content.html_safe %>


<% if @review.images.size > 0 %>
    <div id="gallery" class="block">
      <div class="block_inside">
          <% @review.images.each do |image| %>
              <%= get_thumbnail(image, true) %>
          <% end %>
      </div>
    </div>
<% end %>

 <% if the_author_himself(Review.name, @review.id, true, false) %>
    <p><%= link_to t("general.edit"), edit_review_path(@review), :class => "button" %></p>
<% end %>

<hr/>

<%= render "comments/comments", :item => @review %>
