<div class="content_block_inside">
    <h2><%= @review.title %></h2>
    <span class="trivial"><%= @review.reported_on_string %></span>
    <div class="clues">
        <% clues = get_clues_of_item(@review); clues.each_with_index do |clue, index| %>
            <%= content_tag(:small, clue) %> <%= "|" if index < clues.size - 1 %>
        <% end %>
    </div>
    <% if @review.vendor %>
        <p><%= link_to @review.vendor.name, @review.vendor %></p>
    <% end %>
    <p><%= raw @review.content %></p>
    <% if @review.checkpoints.size > 0 %>
      <%= t("reviews.checkpoints") %>
      <table>
          <tr>
            <th><%= t("general.name") %></th>
            <th><%= t("reviews.checkpoint_pass") %></th>
          </tr>
        <% @review.checkpoints.each do |checkpoint| %>
            <tr>
              <td><%= checkpoint.name %></td>
              <td><%= image_tag checkpoint.pass ? "correct_icon.gif"  : "wrong_icon.gif" %></td>
            </tr>
        <% end %>
      </table>
    <% end %>
    <div>
      <%= get_severity_image(@review) %>
      <br/>
      <% @review.faults.each do |fault| %>
        <b><%= fault %></b>
      <% end %>
    </div>

    <% if @review.vendor and @review.vendor.address %>
        <%= render "shared/display_map", :address =>  @review.vendor.address %>
    <% end %>

    <% if @review.images.size > 0 %>
        <div id="gallery" class="block">
          <div class="block_inside">
              <% @review.images.each do |image| %>
                  <%= get_thumbnail(image, true) %>
              <% end %>
          </div>
        </div>
    <% end %>

     <% if the_author_himself(Review.name, @review.id, true, false) %>
        <%= link_to t("general.edit"), edit_review_path(@review), :class => "button" %>
    <% end %>

    <hr/>

    <h3><%= t("comments.comments") %></h3>
    <%= nested_comments(@review, patch_ancestry(@review.comments.arrange(:order => :created_at))) %>

    <%= render "shared/new_comment", :item => @review if current_user %>

</div>