<% title t("reviews.title"), false%>

<div class="recipe_block grid_9 to_left mt10">
    <div class="clearfix box_shadow ">
        <%= render "users/author_panel", author: @review.author %>
    </div>

    <div class="mt20 clearfix">
        <div class="box_shadow p5">
            <% if current_user_has_permission? :normal_user %>
                <div class="fr">
                    <%= render "shared/vote_fields", :item => @review %>
                </div>
                <div class="fr">
                    <%= render "albums/collect_fields", :item => @review %>
                </div>
            <% end %>
            <p>
                <%= @review.content %>
            </p>

            <div class="clearfix mt10">
                <% @review.get_images_with_objects(:waterfall).each do |hash| %>
                     <div class="fl mr5">
                        <% if hash[:object] %>
                            <div class="hint_box">
                                <%= link_to image_tag(hash[:picture_url], width: 100, height: 100), hash[:object] %>
                                <span class="fix_hint b_black white f11"><%= hash[:object].name %></span>
                            </div>
                        <% else %>
                            <%= link_to image_tag(hash[:picture_url], width: 100, height: 100), hash[:picture_url], rel: "facebox" %>
                        <% end %>
                     </div>
                <% end %>
            </div>

             <% if the_author_himself(Review.name, @review.id, true, false) %>
                <div class="mt5">
                    <%= link_to t("general.edit"), edit_review_path(@review), class: "button" %>
                    <%= link_to t("general.delete"), @review, :confirm => t("general.are_you_sure_to_delete"), :method => :delete, :class => "button" %>
                </div>
            <% end %>
        </div>
    </div>

    <div class="mt10">
        <%= render "comments/comments", :item => @review %>
    </div>
</div>


<div class="related_items_block grid_3 mt10 to_right box_shadow p5 overflow_hidden">
    <%= render "products/related_products", products: @related_products %>
</div>


