<% title @review.title %>
<span class="trivial"><%= @review.reported_on_string %></span>
<div class="clues">
    <% clues = get_clues_of_item(@review); clues.each_with_index do |clue, index| %>
        <%= content_tag(:small, clue) %> <%= "|" if index < clues.size - 1 %>
    <% end %>
</div>
<% if @review.vendor %>
    <p><%= link_to @review.vendor.name, @review.vendor %></p>
<% end %>
<p><%= raw @review.content %></p>
<div>
  <%= get_severity_image(@review) %>
  <br/>
  <% @review.faults.each do |fault| %>
    <b><%= fault %></b>
  <% end %>
</div>

<%= render "shared/display_map", :location => @review.vendor if @review.vendor %>

<% if @review.images.size > 0 %>
    <div id="gallery" class="block">
      <div class="block_inside">
          <% @review.images.each do |image| %>
              <%= get_thumbnail(image, true) %>
          <% end %>
      </div>
    </div>
<% end %>

<br/>
 <% if the_author_himself(Review.name, @review.id, true, false) %>
    <%= link_to t("general.edit"), edit_review_path(@review), :class => "button" %>
<% end %>

<hr/>

<%= render "comments/comments", :item => @review %>
