<div class="content_block_inside">
    <h2><%= @review.title %></h2>
    <p><%= raw @review.content %></p>


    <% if @review.checkpoints.size > 0 %>
      <%= t("reviews.checkpoints") %>
      <table>
          <tr>
            <th><%= t("general.name") %></th>
            <th><%= t("reviews.checkpoint_pass") %></th>
          </tr>
        <% @review.checkpoints.each do |checkpoint| %>
            <tr>
              <td><%= checkpoint.name %></td>
              <td><%= image_tag checkpoint.pass ? "good_thumb.png"  : "bad_thumb.png" %></td>
            </tr>
        <% end %>
      </table>
    <% end %>
    <div>
      <%= t("reviews.severity") + ": " + t("reviews.severity_#{@review.severity}")%><br/>
      <%= image_tag "severity_#{@review.severity}_small.png" %>
    </div>

    <% if @review.vendor and @review.vendor.address %>
        <%= render "shared/display_map", :address =>  @review.vendor.address %>
    <% end %>

    <div id="gallery" class="block">
      <div class="block_inside">
          <% @review.images.each do |image| %>
              <%= get_thumbnail(image, true) %>
          <% end %>
      </div>
    </div>

     <% if the_author_himself(Review.name, @review.id, true) %>
        <%= link_to t("general.edit"), edit_review_path(@review), :class => "button" %>
        <%= link_to t("general.delete"), @review, :confirm => t("general.are_you_sure_to_delete"), :method => :delete, :class => "button" %>
    <% end %>

    <hr/>

    <h3><%= t("comments.comments") %></h3>
    <%= nested_comments(@review, patch_ancestry(@review.comments.arrange(:order => :created_at))) %>

    <%= render "shared/new_comment", :item => @review if current_user %>

</div>