<% title "解馋分享" %>

<div class="fl">
    <div class="grid_9">
        <div class="box_shadow p5">
            <div class="clearfix">
                <% if current_user_has_permission? :normal_user %>
                    <div class="fr" align="right">
                      <%= render "votes/vote_fields", :item => @review %>
                    </div>
                <% end %>
                <p class="ml10" style="width: 600px;">
                    <blockquote><span class="quoted"><%= @review.content %></span></blockquote>
                </p>
            </div>

            <% if the_author_himself(Review.name, @review.id, true, false) %>
                <div class="mt10 p5 clearfix">
                    <%= link_to "", edit_review_path(@review), class: "btn btn_edit" %>
                    <%= link_to "", @review, :confirm => t("general.are_you_sure_to_delete"), :method => :delete, :class => "btn btn_delete" %>
                </div>
            <% end %>

            <%= render "votes/fans", item: @review %>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="fl" style="width: 720px;">
        <div id="masonry_container" class="mt10 clearfix">
            <% (@review.recipes + @review.products + @review.images).each do |item| %>
                <%= render "reviews/review_item", item: item %>
            <% end %>
        </div>
    </div>

    <div class="clearfix"></div>
    <div class="grid_9 mt10">
        <%= render "comments/comments", :item => @review %>
    </div>
</div>

<div class="grid_3">
    <%= render "users/author_panel", author: @review.author %>
    <div class="mt5"></div>
    <%= render "products/related_products", products: @related_products %>
</div>
