<span class="vote_fields <%= item.id.to_s %> clearfix">
    <% if current_user_has_permission?(:normal_user) && !the_author_himself(item.class.name, item.id, false, false) %>
        <%= link_to t("votes.like"), like_votes_path(:item_id => item.id, :item_type => item.class.name), :method => :put, :remote => true,
                :class => (item.fan_ids.include?(current_user.id) ? "vote_button liked" : "vote_button to_like")  %>
    <% end %>

    <span class="votes ml2 f12 trivial" style="vertical-align: top;"><%= link_to "#{item.votes}个人喜欢", "#", class: "show_users_btn" %></span>
    <div class="users_short_list display_none">
      <% item.fans.each do |user| %>
         <div class="fl user">
            <%= link_to image_tag(user.get_avatar(:thumb), width: 24, height: 24, class: "mr2"), user %><br/>
            <%= link_to user.login_name, user %>
        </div>
      <% end %>
    </div>
</span>
