<div class="fields_group">
    <h3><%= t("profile.my_recent_reviews") %></h3>
    <ul>
    <% current_user.info_items.where(:_type => "Review").desc(:updated_at).limit(3).each do |review| %>
       <li><%= link_to review.title, review %></li>
    <% end %>
    </ul>
    <%= link_to t("general.more"), "#" %>
</div>

<div class="fields_group">
    <h3><%= t("profile.my_badges") %></h3>
    <% if current_user.badge_ids %>
        <% current_user.badge_ids.uniq.each do |badge_id| %>
          <% badge = Badge.find(badge_id) %>
            <p><%= link_to badge.name + (  current_user.badge_ids.count(badge_id) > 1 ? "×#{ current_user.badge_ids.count(badge_id)}" : ""), badge %></p>
        <% end %>
    <% end %>
</div>

<div class="fields_group">
    <h3><%= t("profile.my_groups") %></h3>
    <% if current_user.groups %>
        <% current_user.groups.each do |group| %>
          <p><%= link_to group.name, group %></p>
        <% end %>
    <% end %>
</div>

