<% title t("profile.edit_profile") %>
<%= form_for :profile, current_user.profile, :url => profile_update_path, :as => :post, :html => {:multipart => true} do |f| %>
    <div class="field">
        <h3><%= current_user.login_name %></h3>
        <%= get_avatar(current_user) %>
        <p>
          <%= t("profile.change_avator") %><br/>
          <%= f.file_field :avatar %> <br/>
        </P>
    </div>
    <div class="field">
        <%= content_tag(:span, current_city.name, :id => "current_city_name") %>(<%= link_to t("address.change_city"), locations_edit_current_city_path(:popup => true), :rel => "facebox" %>)
    </div>
    <div class="field">
      <%= t("profile.receive_mails") %>
      <%= f.check_box :receive_mails, {}, true, false %>
    </div>

    <div class="fields_group">
        <h3><%= t("profile.interested_places") %></h3>
        <span class="trivial"><%= f.label :watched_distance, t("location.address_hint") %></span>
        <p><b><%= f.label :watched_distance, t("profile.watched_distance") %></b></p>
        <%= f.select :watched_distance, options_for_select((GlobalConstants::PROFILE_MIN_WATCHED_DISTANCE..GlobalConstants::PROFILE_MAX_WATCHED_DISTANCE).map{|e| [e, e]}, f.object.watched_distance) %>
        <div id="locations_list">
            <% f.object.watched_locations.each do |location| %>
                <p id="<%= location.id.to_s %>">
                    <%= content_tag :span, location.address %>
                    <%= link_to t("general.delete"), profile_delete_watched_location_path(:location_id => location.id), :method => :put, :remote => true %>
                </p>
            <% end %>
        </div>
        <p><%= link_to  t("profile.add_place"), profile_new_watched_location_path(:popup => true), :rel => "facebox", :class => "button" %></p>
    </div>

    <%= render "show_case" %>

    <%= f.submit t("general.submit"), :class => "button" %>
<% end %>
