<h1>Profile#edit</h1>
<p>Find me in app/views/profile/edit.html.erb</p>

<%= form_for :profile, @profile, :url => profile_update_path, :as => :post, :html => {:multipart => true} do |f| %>

    <div class="field">
        <b> <%= t("profile.avatar") %></b><br/>
        <%= f.file_field :avatar %> <br/>
        <b><%= t("general.image_link") %></b> <br/>
        <%= f.text_field :remote_avatar_url %>
    </div>

    <div class="field">
        <%= f.fields_for :address do |builder| %>
          <b><%= t("address.city") %></b><br/>
          <%= builder.text_field :city_token, 'data-pre' => (@profile.address.city ? [{ :id => @profile.address.city.id, :name => @profile.address.city.name }] : []).to_json %>
        <% end %>
    </div>

    <div class="field">
      <b><%= t("profile.display_articles") %></b><br/>

      <%= f.check_box :display_articles, {}, true, false %>
    </div>

    <div class="field">
      <b><%= t("profile.display_reviews") %></b><br/>

      <%= f.check_box :display_reviews, {}, true, false %>
    </div>

    <div class="field">
      <b><%= t("profile.receive_mails") %></b><br/>
      <%= f.check_box :receive_mails, {}, true, false %>
    </div>

    <%= f.submit t("general.submit") %>
<% end %>