<% title t("menu.edit_profile"), false %>

 <h1 class="mb5"><%= t("menu.edit_profile") %></h1>
<%= form_for current_user.profile, :html => {:multipart => true} do |f| %>
    <%= render "#{current_user.profile.current_step}", :f => f %>

    <div class="mt10">
        <%= submit_tag t("profile.previous"), :name => "previous_button", :class => "button"  unless current_user.profile.first_step? %>
        <%= submit_tag current_user.profile.last_step? ? t("general.submit") : t("profile.next"), :class => "button" %>
        <br/>
    </div>
<% end %>

