<dl class="tab">
    <dt><span><%= t("users.basic_info") %></span></dt>
    <dd>
        <div class="block round">
            <%= form_for current_user, :html => {:multipart => true} do |f| %>
                <div class="block round">
                    <%= render "shared/text_field", :f => f, :field => :login_name, :label => t("user_basic.login_name") %>
                    <p>
                      <b><%= t("user_basic.avatar") %></b><br/>
                      <%= image_tag current_user.get_avatar, :class => "avatar" %><br/>
                      <%= t("user_basic.change_avator") %><br/>
                      <%= f.file_field :avatar %> <br/>
                    </P>
                </div>
                <div class="actions">
                    <%= f.submit t("general.submit"), :class => "button" %>
                </div>
            <% end %>
        </div>
    </dd>
</dl>