<h2><%= t("profile.new_watched_location") %></h2>

<%= form_tag profile_create_watched_location_path, :remote => true do%>
    <b><%= t("location.city") %></b><br/>
    <%= current_city.name %>
    <%= hidden_field_tag :city, current_city.name, :class => "map_city" %>
    <br/>
    <b><%= t("location.street") %></b><br/>
    <%= text_field_tag :street, "", :class => "map_street" %>

    <div class="actions">
        <%= submit_tag t("general.submit"), :class => "button" %>
    </div>
<% end %>
