<h1>Profile#show</h1>
<p>Find me in app/views/profile/show.html.erb</p>

<p>
  <b>City:</b>
  <%= current_user.profile.address.try(:city).try(:name) %>
</p>

<p>
  <p><%= t("profile.my_reviews") %></p>
  <% @my_reviews.each do |review| %>
    <%= render "shared/info_item", :item => review %>
  <% end %>
</p>

<p>
  <p><%= t("profile.my_badges") %></p>

  <% @my_badges.each do |badge| %>
    <p><%= link_to badge.name + ( @my_badge_ids.count(badge.id) > 1 ? " #{@my_badge_ids.count(badge.id)}" : ""), badge %></p>
  <% end %>
</p>

<%= link_to t("general.change"), profile_edit_path %>
