<% title t("profile.show_profile") %>

<div class = "tab_control" >
    <div class="tabContainer ">
        <div class = "selected">
            <a id= "basic_info" class="tab " href="" data-page = '.basic_info' >
            <%= t("users.basic_info") %>
            </a>
        </div>
        <div class = "unselected">
            <a id= "my_followings"  class="tab  " href=""  data-page = '.my_followings' >
            <%= t("profile.my_followings") %>
            </a>
        </div>

        <div class = "unselected">
            <a class="tab  " href=""  data-page = '.my_fans' >
            <%= t("profile.my_fans") %>
            </a>
        </div>
    </div>

    <div class="tabContent block round">
        <div class = "basic_info display">
            <br/>
            <b><%= t("user_basic.login_name") %></b><br/>
            <%= current_user.screen_name %><br/>
            <b><%= t("general.email_address") %></b><br/>
            <%= current_user.email %><br/>
            <b><%= t("user_basic.avatar") %></b><br/>
            <div class="img_frame">
                <%= image_tag current_user.get_avatar, width: AVATAR_WIDTH, height: AVATAR_HEIGHT, rel: "facebox" %>
            </div>
            <br/>
            <b><%= t("user_basic.biography") %></b><br/>
            <%= current_user.profile.biography %><br/>
        </div>
        <div class = "my_followings display_none">
          <br/>
            <dd>
                <% current_user.relationships.each do |r| %>
                    <% item = r.item %>
                    <% if item.class.name == "User"  %>
                        <%= render item %>
                    <% end  %>
                <% end %>

                <hr/>

                <% current_user.relationships.each do |r| %>
                    <% item = r.item %>
                    <% if item.class.name == "Product"  %>
                        <%= render item %>
                    <% end  %>
                <% end %>

                <hr/>

                <% current_user.relationships.each do |r| %>
                    <% item = r.item %>
                    <% if item.class.name == "Vendor"  %>
                        <%= render item %>
                    <% end  %>
                <% end %>
            </dd>
        </div>
        <div class = "my_fans display_none">
          <br/>
            <dd>
                <% current_user.followers.each do |r| %>
                    <% item = r.item %>
                    <%= render item %>
                <% end %>
            </dd>
        </div>
    </div>
</div>
<div class="actions">
  <%= link_to t("menu.edit_profile"), edit_profile_path(current_user.profile), :class => "button" %>
</div>