<% title t("profile.show_profile") %>

<dl class="tab">
    <dt><span><%= t("users.basic_info") %></span></dt>
    <dd>
        <b><%= t("user_basic.login_name") %></b><br/>
        <%= current_user.screen_name %><br/>
        <b><%= t("general.email_address") %></b><br/>
        <%= current_user.email %><br/>
        <b><%= t("user_basic.avatar") %></b><br/>
        <%= image_tag current_user.get_avatar, :class => "avatar" %><br/>
    </dd>
    <dt><span><%= t("users.preference") %></span></dt>
    <dd>
        <h3><%= t("profile.home_page") %></h3>
        <table>
            <tr>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th><%= t("profile.show_watching_locations_panel") %></th>
                <th><%= render "toggle_row", :field => :show_watching_locations_panel %></th>
            </tr>
            <tr>
                <th><%= t("profile.show_joined_groups_panel") %></th>
                <th><%= render "toggle_row", :field => :show_joined_groups_panel %></th>
            </tr>
        </table>

        <hr/>

        <h3><%= t("profile.interested_places") %></h3>
        <%= render :partial => "watched_location", :collection => current_user.profile.watched_locations %>
        <p><b><%= t_with_colon("profile.watched_distance") %></b>
        <%= current_user.profile.watched_distance.to_s %>
        <%= t("profile.wathced_distance_unit") %></p>

        <hr/>

        <h3><%= t("profile.concern_settings") %></h3>
        <p>
            <%= t("profile.receive_mails") %>
            <%= render "toggle_row", :field => :receive_mails %>
        </p>
        <p>
            <b><%= t_with_colon("profile.concern_days") %></b>
            <%= current_user.profile.concern_days %>
        </p>
    </dd>
    <dt><span><%= t("profile.my_groups") %></span></dt>
    <dd id="joined_groups">
       <%= render :partial => "group", :collection => current_user.groups %>
    </dd>
    <dt><span><%= t("profile.my_badges") %></span></dt>
    <dd>
        <%= render :partial => "badge", :collection => current_user.badges %>
    </dd>
    <dt><span><%= t("profile.my_followings") %></span></dt>
    <dd>
        <% current_user.relationships.each do |r| %>
            <% item = r.get_item %>
            <%= r.get_item.name if item.respond_to?(:name) %>
        <% end %>
    </dd>
    <dt><span><%= t("users.recent_activities") %></span></dt>
    <dd/>
    <dt><span><%= t("profile.my_recent_posted_items") %></span> </dt>
    <dd>
        <table>
            <tr>
                <th><%= t("general.title") %></th>
                <th><%= t("comments.comments") %></th>
            </tr>
            <%= render :partial => "recent_item", :collection => @recent_items %>
        </table>
    </dd>
</dl>

<div class="actions">
  <%= link_to t("menu.edit_profile"), edit_profile_path(current_user.profile), :class => "button" %>
</div>