<div class="content_block_inside">
    <h2><%= t("profile.profile") %></h2>
    <div class="field">
        <h3><%= current_user.login_name %></h3>
        <%= get_avatar(current_user) %>
    </div>
    <div class="fields_group">
        <h3><%= t("profile.interested_places") %></h3>
        <% current_user.profile.watching_addresses.each do |address| %>
            <%= address.city.name %>: <%= address.detail %>
        <% end %>
    </div>

    <div class="fields_group">
        <h3><%= t("profile.my_recent_reviews") %></h3>
        <ul>
        <% @my_recent_reviews.each do |review| %>
           <li><%= link_to review.title, review %></li>
        <% end %>
        </ul>
        <%= link_to t("general.more"), "#" %>
    </div>

     <div class="fields_group">
            <h3><%= t("profile.my_badges") %></h3>
            <% if current_user.badge_ids %>
                <% current_user.badge_ids.uniq.each do |badge_id| %>
                  <% badge = Badge.find(badge_id) %>
                    <p><%= link_to badge.name + (  current_user.badge_ids.count(badge_id) > 1 ? "×#{ current_user.badge_ids.count(badge_id)}" : ""), badge %></p>
                <% end %>
            <% end %>
     </div>

    <%= link_to t("general.change"), profile_edit_path, :class => "button" %>
</div>
