<% title t("profile.show_profile") %>
    <div class = "basic_info display">
        <b><%= t("user_basic.login_name") %></b><br/>
        <%= current_user.login_name %><br/>
        <b><%= t("general.email_address") %></b><br/>
        <%= current_user.email %><br/>
        <b><%= t("user_basic.avatar") %></b><br/>
        <%= image_tag current_user.get_avatar(:thumb) %>
        <%= link_to t("user_basic.crop_avatar"), crop_user_path(current_user) if current_user.avatar? %><br/>
        <b><%= t("user_basic.biography") %></b><br/>
        <%= current_user.profile.biography %><br/>
        <div class="mt10">
            <%= link_to t("menu.edit_profile"), edit_profile_path(current_user.profile), :class => "button" %>
        </div>
    </div>
</div>