<%= form_for(@tip) do |f| %>
  <%= render "shared/error_messages", :target => @tip %>

  <%= f.hidden_field :type  %>
  <%= f.hidden_field :title %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.label f.object.title, :maxlength => 20 %>
  </div>
  <div class="field">
    <%= f.label "content" %><br />
    <%= text_area_tag "content", f.object.current_content, :maxlength => 2000, :rows => 8 %>
  </div>
  <div class="actions">
    <%= f.submit t("general.submit") %>
  </div>
<% end %>
