<div class="tip_item">
    <%= link_to tip.title, tip %><br/>
    <%= tip.content %>
    <% if has_permission?(:user) %>
        <div class="tip_vote">
            <%= tip.votes %>
            <%= link_to "up", vote_tip_path(tip, :delta => 1), :method => :put %>
            <%= link_to "down", vote_tip_path(tip, :delta => -1), :method => :put %>
        </div>
     <% end %>
</div>