<% title t("tips.all_tips") %>

<div class="search_fields">
  <%= form_tag "/tips", :method => :get do %>
    <%= text_field_tag :q %>
    <%= submit_tag t("general.search"), :class => "button" %>
  <% end %>
</div>

<div id="tips_list">
  <%= paginate @unsorted_tips %>
  <% @tips.each do |tip| %>
    <%= render "tip_item", :item => tip  %>
  <% end %>
</div>

<div class="actions">
    <%= link_to t("tips.new"), new_tip_path, :class => "button" %>
</div>
