<div id="search_results">
    <% if @exact_match %>
        <%= render "info_items/info_item", :item => @exact_match %>
    <% else %>
        <%= t("tips.exact_tip_not_found", :title => params[:search]) %><br/>
        <%= t("tips.please_create") %> <%= link_to params[:search], new_tip_path(:title => params[:search]) %> <%= t("tips.tip") %><br/>

        其他结果:
        <% @results.each do |tip| %>
            <%= render "info_items/info_item", :item => tip  %>
        <% end %>
    <% end %>
</div>