<% title @tip.title %>
<p>
  <%= render "shared/show_tags", :item => @tip %>
</p>

<p>
  <b><%= t("general.content") %></b>
  <%= @tip.content %>
</p>

<div class="actions">
  <%= link_to_unless is_already_collected(@tip),  t("tips.collect"), collect_tip_path(@tip), :method => :put, :class => "button" %>
</div>

<p class="nav_links">
    <%= link_to t("tips.show_revisions"), revisions_tip_path(@tip) %> |
    <%= link_to t("general.edit"), edit_tip_path(@tip) %> |
    <%= link_to t("general.back_to_list"), tips_path %>
</p>

<hr/>

<%= render "comments/comments", :item => @tip %>

