<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @tip.title %>
</p>

<p>
  <b>Content:</b>
  <%= @tip.content %>
</p>


<%= link_to t("general.edit"), edit_tip_path(@tip) %> |
<%= link_to 'Back', tips_path %>
