<div class="listed_item commentable clearfix box_shadow mt10 mb10 p5 hover_area vote_fields <%= solution.id.to_s %>" xmlns="http://www.w3.org/1999/html">
    <%= content_tag :span, "", class: "existed_solution_item_id #{solution.item.id.to_s}" if solution.item %>
    <% item = solution.item %>
    <% item_path = {:controller => item.class.name.downcase.pluralize, :action => "show", :id => item.id, force: true} if item %>

    <% if current_user && current_user != solution.author %>
        <div class="fl mr10 clearfix">
            <%= form_tag url_for(controller: "desires", action: "vote", method: :post) do %>
                <%= hidden_field_tag "solution_id", solution.id %>
                <%= link_to "赞成", like_votes_path(:item_id => solution.id, :item_type => solution.class.name), :method => :put, :remote => true,
                    :class => "btn btn_positive lighter_touch fl " + (solution.is_fan?(current_user) ? "voted" : ""), title: (solution.is_fan?(current_user) ? "取消赞同" : "赞同")  %><br/>
                <%= link_to "反对", hate_votes_path(:item_id => solution.id, :item_type => solution.class.name), :method => :put, :remote => true,
                    :class => "mt5 btn btn_negative lighter_touch fl " + (solution.is_hater?(current_user) ? "voted" : ""), title: (solution.is_hater?(current_user) ? "取消反对" : "反对")  %>
            <% end %>
        </div>
    <% else %>
        <div class="fl mr10 clearfix">
            <%= content_tag :span, solution.fan_ids.size, class: "votes_background f15 white", style: "text-align: center;" %>
        </div>
    <% end %>

    <div class="fl clearfix" style="width: 650px">
        <div class="fl">
            <%= link_to solution.author.login_name, solution.author %><br/>
            <span class="votes trivial"><%= "#{solution.fan_ids.size}" %></span><span class="trivial">赞同</span>
            <%= content_tag :span, "来自 ", class: "trivial" if solution.fans.size > 0 %>
            <span class="fans_list">
                <% solution.get_fans(current_user, 3).each_with_index do |fan, index| %>
                    <span class="fan <%= fan.id.to_s %>">
                        <%= link_to fan.login_name, fan, class: 'trivial ml2 mr2' %>
                    </span>
                <% end %>
            </span>
            <%= content_tag :span, " 等" if solution.fans.size > 3 %>
        </div>

        <div class="fr">
            <%= link_to image_tag("grey.gif", class: 'lazy', "data-original"=> solution.author.get_avatar(:thumb, false), width: 25, height: 25, alt: solution.author.login_name), solution.author %>
        </div>
        <div class="clearfix"></div>

        <div class="clearfix">
            <div class="fl mr10 hint_box">
                <% if item.is_a? Place %>
                  <%= render "places/place_image", place: item, size: 46 %>
                <% else %>
                  <%= link_to(image_tag(item.get_image_url(:thumb), width: 100, height: 100, alt: item.name, title: t("object_types.#{item.class.name.downcase}") + " - " + item.name), item.get_image_url , rel: "facebox") %>
                <% end %>
            </div>
            <div class="fl" style="width:540px;">
                <p>
                  <%= content_tag :span, t("object_types.#{item.class.name.downcase}"), class: "icon icon_#{item.class.name.downcase}", width: 12, height: 12 %>
                  <span class="trivial"><%= t("object_types.#{item.class.name.downcase}")%>：</span>

                  <% if (item.is_a?(Product) || item.is_a?(Tuan)) && item.price %>
                      <%= solution.name %>
                      <span class="f11 berry_pink"><%= (t("money.yuan_mark1") + item.price_as_money_string) %></span>
                      <%= new_tab_link_to "", {:controller => "home", :action => "gateway", :url => item.url, :force => true}, :class => "btn btn_buy ml5" if item.url.present? %>
                      <!--<= link_to "管理", [:administrator, item], :class => "button ml10" if current_user_has_permission? :administrator %>-->
                  <% else %>
                      <%= new_tab_link_to "#{solution.name}", item_path %>
                  <% end %>
                </p>
                <%= truncate_content(item.instruction, 100) if item.is_a?(Recipe) %>
                <% unless (item.is_a?(Product) || item.is_a?(Tuan)) %>
                    <%= new_tab_link_to "[查看#{t("object_types.#{item.class.name.downcase}")}]", item_path %>
                <% end %>
                <% if item.is_a?(Recipe) %>
                  <p class="trivial">
                    作者： <%= item.author.login_name %>
                  </p>
                <% end %>

                <% if solution.content.present? %><blockquote><span class="quoted"><%= truncate_content solution.content, 20 %></span></blockquote><% end %>
            </div>
            <!--<div class="fr clearfix">-->
              <!--< if rank <=3 && solution.votes > 0 %>-->
                <!--<span class="f18 fr trivial"><= rank %></span><div class="clearfix"></div>-->
              <!--< end %>-->
            <!--</div>-->
        </div>
        <div class="fl mt5">
            <span class="fl trivial"><%= solution.created_at.strftime("%y-%m-%d") %></span>
            <span class="fl trivial ml10"><%= link_to_function t("comments.new"), "show_embedded_comments(this);" %> (<span class="comments_counter"><%= solution.comments.size %></span>)</span>
            <% if the_author_himself(solution, true) %>
              <span class="fl ml10 display_on_hover">
                  <%= link_to "删除", solution, :confirm => t("general.are_you_sure_to_delete"), :method => :delete %>
              </span>
            <% end %>
        </div>
        <div class="clearfix"></div>
        <div class="embedded_comments display_none">
            <%= render "comments/comments", item: solution %>
        </div>
    </div>
</div>

