<div class="block round p5 b_azure_gray clearfix ">
    <% item_path = {:controller => solution.item.class.name.downcase.pluralize, :action => "show", :id => solution.item.id, force: true} %>
    <% if solution.author %>
        <div class="clearfix">
            <div class="fl mr10">
                <%= link_to image_tag(solution.author.get_avatar(:thumb, false ), width: 48, height: 48), solution.author %>
            </div>
            <div class="fl" style="min-height: 50px;">
                <span class="f12"><%= link_to solution.author.login_name, solution.author %></span><br/>
                <% if solution.content.present? %><blockquote><span class="quoted"><%= solution.content %></span></blockquote><% end %>
            </div>
        </div>
    <% end %>
    <h3 class="mt5">
        <span class="trivial"><%= t("object_types.#{solution.item.class.name.downcase}")%></span>
        <%= content_tag :span, t("object_types.#{solution.item.class.name.downcase}"), class: "icon icon_#{solution.item.class.name.downcase}", width: 12, height: 12 %>
        <span class="trivial">：</span>
        <%= new_tab_link_to "#{solution.name}", item_path %>
        <% if solution.item.is_a?(Product) && solution.item.price? %>
            <span class="f11 berry_pink"><%= (t("money.yuan_mark1") + solution.item.price_as_money_string) %></span>
        <% end %>
    </h3>
    <div class="item clearfix">
        <div class="fl mr10" style="width:100px;">
            <%= new_tab_link_to image_tag(solution.item.get_image_url(:thumb), class: "thumbnail", title: solution.name), item_path %><br/>
        </div>
        <div class="fl" style="width: 228px;">
            <%= solution.item.instruction if solution.item.is_a?(Recipe) %>
            <%= new_tab_link_to "[查看#{t("object_types.#{solution.item.class.name.downcase}")}]", item_path %>
        </div>
    </div>
    <div class="clearfix"></div>

    <%= render "solutions/voters_list", solution: solution %>

    <% if @my_vote.blank? && current_user && current_user != solution.author %>
        <%= render "solutions/vote_fields", solution: solution %>
    <% end %>
</div>