<div class="fl solution_option img_frame mb5 mr5 <%= selected ? "selected" : "" %> <%= solution.id.to_s %>">
    <% item = solution.product || solution.recipe || solution.place %>

    <div class="f12" style="top:0px;left:0px;height: 20px;">
        <% ratio = ((solution.desire.fans_count == 0 ? 0 : (solution.fan_ids.size.to_f / solution.desire.fans_count.to_f)) * 100) %>
        <b class="ratio f16 ml2 <%= ratio >= 50 ? "berry_red" : "" %> <%= ratio < 1 ? "berry_azure" : "" %>"><%= ratio.round(0).to_s + "%" %></b>
        <!--< if solution.voter_ids.include? current_user.id.to_s %>-->
            <!--<span class="trivial">你投了</span>-->
        <!--< end %>-->
        <%= content_tag :span, "", class: "fr icon icon_#{item.class.name.downcase}" %>
        <%= content_tag :span, t("object_types.#{item.class.name.downcase}"), class: "fr trivial" %>
    </div>
    <% if item.present? %>
        <!--<= new_tab_link_to image_tag("grey.gif", "class" => 'lazy', "data-original"=> item.get_image_url(:thumb), width: 120, height: 120, title: t("object_types.#{item.class.name.downcase}") + " - " + item.name), {:controller => item.class.name.downcase.pluralize, :action => "show", :id => item.id, force: true} %>-->
        <!--< pic_url = item.get_image_url(:thumb) %>-->
        <!--< pic_url = pic_url.present? ? pic_url : "/assets/not_found.png" %>-->
        <%= image_tag("grey.gif", class: 'lazy', "data-original"=> item.get_image_url(:thumb), width: 100, height: 100, alt: item.name, title: t("object_types.#{item.class.name.downcase}") + " - " + item.name) %>
    <% end %>
    <% if item.present? %>
        <div class="f12" style="width: 100px; height: 26px; overflow: hidden;">
            <% if solution.author %>
                <%= content_tag :span, "来自", class: "trivial mr2" %>
                <!--<= new_tab_link_to image_tag("grey.gif", class: 'lazy', "data-original"=> solution.author.get_avatar(:thumb, false ), width: "24", height: "24"), {controller: "users", action: "show", id: solution.author.id, force: true} %>-->
                <%= new_tab_link_to solution.author.login_name, {controller: "users", action: "show", id: solution.author.id, force: true}, class: "trivial ml2" %>
            <% else %>
                <%= content_tag :span, "我们猜你喜欢", class: "trivial" %>
            <% end %>
        </div>
    <% end %>

    <div class="solution_detail <%= selected ? "" : "display_none" %>">
        <%= render solution %>
    </div>
</div>