<div class="solution_fields clearfix">
    <%= form_tag url_for(controller: "desires", action: "solve", method: :post, id: solution.desire_id) do %>
        <div class="block round p5 clearfix" id = "solution_fields" >
            <%= hidden_field_tag "solution[product_id]", "", id: "product_id" %>
            <%= hidden_field_tag "solution[recipe_id]", "", id: "recipe_id" %>

            <!--hidden attributes-->
            <h2><%= "分享解馋攻略：" %></h2>
            <div class="clearfix">
                <div class="fl" >
                    <div id="image_container" class="img_frame b_white">
                        <div>
                            上哪买？<%= link_to_function "添加商品", "link_product()", class: "btn btn_add_product lighter_touch"%>
                        </div>
                        <div>
                            自己做？<%= link_to_function "添加菜谱", "link_recipe()", class: "btn btn_add_recipe lighter_touch"%>
                        </div>
                    </div>
                </div>
                <div class="fl ml2" >
                    <!--if change the default text, also need to change the js -->
                    <%= text_area_tag "solution[content]", "说说解馋理由吧...",
                                    :maxlength => get_max_length(solution, :content), 'data-comment_max_len' => get_max_length(solution, :content),
                                    :class => "char_aware not_cleared" %>
                    <%= content_tag :span, "", class: "char_saver display_none" %>
                    <%= content_tag :span, "", class: "char_counter block trivial" %>
                </div>
            </div>

            <div class= "fr m5"><%= submit_tag t("reviews.submit"), id: "solution_submit", class: "btn btn_submit_post" %> </div>
        </div>
    <% end %>

    <%= render "solutions/product_linker" %>
    <%= render "solutions/recipe_linker" %>
</div>