<div class="solution_item">
    <% item_path = {:controller => item.class.name.downcase.pluralize, :action => "show", :id => item.id, force: true} %>
    <div class="fl mr10">
        <%= new_tab_link_to image_tag(item.get_image_url(:thumb), width: 120, height: 120, title: t("object_types.#{item.class.name.downcase}") + " - " + item.name), item_path%>
    </div>

    <div class="fl" style="width:200px;">
        <p>
            <span class="trivial">
              <%= t("object_types.#{item.class.name.downcase}")%>
                <%= content_tag :span, t("object_types.#{item.class.name.downcase}"), class: "icon icon_#{item.class.name.downcase}" %>
                <%= "：" %>
            </span>
            <%= new_tab_link_to item.name, item_path %>
            <% if item.is_a?(Product) && item.price? %>
                <span class="f11 berry_pink"><%= (t("money.yuan_mark1") + item.price_as_money_string) %></span>
            <% end %>
        </p>
        <%= truncate_content(item.instruction, 80) if item.is_a?(Recipe) %>
        <%= new_tab_link_to "[查看#{t("object_types.#{item.class.name.downcase}")}]", item_path %>
    </div>
</div>