<div class="fl solution_option img_frame m5">
    <% item = solution.product || solution.recipe || solution.place %>
    <div class="">
        <div class="solution_hint display_none">
            <%= link_to_function "点击查看", 'popup_dialog($(this).parents(".solution_option").find(".solution_detail"));', class: "button" %>
        </div>
        <div class="fix_hint b_white_alpha30 black f12" style="top:0px;left:0px;height: 20px;">
            <% ratio = ((solution.desire.votes_count == 0 ? 0 : (solution.votes.size / solution.desire.votes_count)) * 100) %>
            <b class="f16 ml2 <%= ratio > 50 ? "berry_red" : "" %> <%= ratio < 1 ? "berry_azure" : "" %>"><%= ratio.to_s + "%" %></b>
            <% if solution.voter_ids.include? current_user.id.to_s %>
                <span class="trivial">你投了</span>
            <% end %>
            <%= content_tag :span, t("object_types.#{item.class.name.downcase}"), class: "fr icon icon_#{item.class.name.downcase}" %>
        </div>
        <% if item.present? %>
            <!--<= new_tab_link_to image_tag("grey.gif", "class" => 'lazy', "data-original"=> item.get_image_url(:thumb), width: 120, height: 120, title: t("object_types.#{item.class.name.downcase}") + " - " + item.name), {:controller => item.class.name.downcase.pluralize, :action => "show", :id => item.id, force: true} %>-->
            <%= link_to_function image_tag("grey.gif", class: 'lazy', "data-original"=> item.get_image_url(:thumb), width: 120, height: 120, title: t("object_types.#{item.class.name.downcase}") + " - " + item.name), 'popup_dialog($(this).parents(".solution_option").find(".solution_detail"));' %>
        <% end %>
        <% if item.present? %>
            <div class="fix_hint b_white_alpha30 black f12" style="width: 120px">
                <% if solution.has_creator? %>
                    <%= new_tab_link_to image_tag("grey.gif", class: 'lazy', "data-original"=> solution.creator.get_avatar(:thumb, false ), width: "24", height: "24"), {controller: "users", action: "show", id: solution.creator.id, force: true} %>
                <% end %>
                <%= "#{truncate_content(item.name, 25)}" %>
            </div>
        <% end %>
    </div>
    <div class="solution_detail display_none">
        <%= render solution %>
    </div>
</div>