<div class="voters_list">
    <span class="trivial"><%= "#{solution.voter_ids.size}票" %>(<%= ((solution.desire.voter_ids.size == 0 ? 0 : (solution.voter_ids.size / solution.desire.voter_ids.size)) * 100).to_s + "%" %>)</span>
    <%= link_to_function "查看全部", 'popup_dialog($(this).parents(".voters_list").find(".voters_details"));' %>
    <br/>
    <% votes = solution.votes.desc(:created_at).to_a %>
    <!--voters_summary-->
    <div>
        <hr/>
        <% votes.take(2).each do |vote| %>
            <%= link_to image_tag(vote.voter.get_avatar(:thumb, false ), width: 24, height: 24), vote.voter %>
            <span class="f12 ml2 mr5"><%= link_to vote.voter.login_name, vote.voter %></span>
            <% if vote.content.present? %><blockquote><span class="f12 quoted"><%= truncate_content vote.content, 20 %></span></blockquote><% end %>
            <span class="ml2 trivial display_inline_block"><%= time_ago_in_words(vote.created_at) + t("general.ago") %></span>
            <hr/>
        <% end %>
    </div>

    <div class="voters_details display_none">
        <hr/>
        <% votes.each do |vote| %>
              <%= link_to image_tag(vote.voter.get_avatar(:thumb, false ), width: 24, height: 24), vote.voter %>
              <span class="f12 ml2 mr5"><%= link_to vote.voter.login_name, vote.voter %></span>
              <% if vote.content.present? %><blockquote><span class="quoted"><%= vote.content %></span></blockquote><% end %>
              <span class="ml2 trivial display_inline_block"><%= time_ago_in_words(vote.created_at) + t("general.ago") %></span>
              <hr/>
        <% end %>

        <% if current_user %>
            <% followed_user_ids = current_user.relationships.select{|r| r.target_type == User.name}.map(&:target_id) %>
            <% followed_voter_ids = votes.select{|vote| followed_user_ids.include?(vote.voter_id.to_s)}.map(&:voter_id) %>
            <% unless followed_voter_ids.empty? %>
                <% followed_users = User.any_in(_id: followed_voter_ids) %>
                <span>你关注的人中投票的有：</span><br/>
                <% followed_users.each do |user| %>
                    <%= link_to image_tag(user.get_avatar(:thumb), width: 24, height: 24), user, class: "m2", alt: user.login_name, title: user.login_name %>
                <% end %>
            <% end %>
        <% end %>
    </div>
</div>