<div class="vote_fields clearfix <%= solution.id.to_s %>">
    <!--<div class="fr"><span class="votes f15"><= "#{solution.fan_ids.size}" %></span>赞同</div><div class="clearfix"></div>-->
    <!--< if solution.votes > 0 %><span class="trivial fr"><= "来自 " + solution.fans.limit(3).map(&:login_name).join(', ') + " 等" %></span><div class="clearfix"></div>< end %>-->
    <!--<div class="fans_list">-->
        <!--< solution.fans.limit(3).each do |fan| %>-->
            <!--<span class="fan <= fan.id.to_s %>"><= link_to image_tag(fan.get_avatar(:thumb, false ), width: 24, height: 24, title: fan.login_name), fan %></span>-->
        <!--< end %>-->
    <!--</div>-->
    <div class="fr">
        <% if current_user && current_user != solution.author %>
            <%= form_tag url_for(controller: "desires", action: "vote", method: :post) do %>
                <%= hidden_field_tag "solution_id", solution.id %>
                <%= link_to "赞成", like_votes_path(:item_id => solution.id, :item_type => solution.class.name), :method => :put, :remote => true,
                              :class => "btn btn_positive lighter_touch fl " + (solution.is_fan?(current_user) ? "voted" : ""), title: (solution.is_fan?(current_user) ? "取消赞同" : "赞同")  %>
                <%= link_to "反对", hate_votes_path(:item_id => solution.id, :item_type => solution.class.name), :method => :put, :remote => true,
                              :class => "btn btn_negative lighter_touch fl ml5 " + (solution.is_hater?(current_user) ? "voted" : ""), title: (solution.is_fan?(current_user) ? "取消反对" : "反对")  %>
            <% end %>
        <% end %>
    </div>
</div>