<p class="trivial">得到<b class="f16 ml5"><%= ((solution.desire.voter_ids.size == 0 ? 0 : (solution.voter_ids.size / solution.desire.voter_ids.size)) * 100).to_s + "%" %></b>投票 (<span><%= "共#{solution.voter_ids.size}票" %></span>) </p>
<% solution.votes.desc(:created_at).limit(3).each do |vote| %>
    <hr/>
    <div class="fl mr10">
        <%= link_to image_tag(vote.voter.get_avatar(:thumb, false ), width: "24", height: "24"), vote.voter %>
    </div>
    <div class="fl">
        <span class="f12 mr5"><%= link_to vote.voter.login_name, vote.voter %></span>
        <% if vote.content.present? %><blockquote><span class="quoted"><%= vote.content %></span></blockquote><% end %>
    </div>
    <div class="clearfix"></div>
<% end %>
<%= "..." %>
<br/>
<% if current_user %>
    <% followed_users = solution.voters.select{|voter| current_user.relationships.map(&:target_id).include?(voter.id.to_s)} %>
    <% unless followed_users.empty? %>
        <span>你关注的人中投票的有：</span><br/>
        <% followed_users.each do |user| %>
            <%= link_to image_tag(user.get_avatar(:thumb), width: 24, height: 24), user, class: "m2", alt: user.login_name, title: user.login_name %>
        <% end %>
    <% end %>
<% end %>