<div class="map_input">
    <b><%= t("location.city") %></b><br/>
    <%= content_tag(:span, current_city.name, :id => "current_city_name") %>
    <%= f.hidden_field :city, :class => "map_city" %>
    <br/>
    <b><%= t("location.street") %></b><br/>
    <%= f.text_field :street, :class => "map_street" %>
    <p><span id="map_address_span"></span><%= render "locations/map_indicator" %></p>
</div>

 <div class="block">
    <div class="image_frame">
        <%= gmaps("map_options" => { "center_latitude" => true, "center_on_user" => true, "auto_adjust" => true}) %>
    </div>
 </div>