<%= f.fields_for association do |ff| %>
    <div class="map_input">
        <b><%= t("location.city") %></b><br/>
        <%= content_tag(:span, current_city.name, :id => "current_city_name") %>(<%= link_to t("address.change_city"), locations_edit_current_city_path(:popup => true), :rel => "facebox" %>)
        <%= ff.hidden_field :city, :class => "map_city" %>
        <br/>
        <b><%= t("location.detail") %></b><br/>
        <%= ff.text_field :detail, :class => "map_detail" %>
        <p><span id="map_address_span"></span><%= render "locations/map_indicator" %></p>
    </div>
<% end %>

 <div class="block_inside">
    <div class="image_frame">
        <%= gmaps("map_options" => { "detect_location" => true, "center_on_user" => true, "auto_adjust" => true}) %>
    </div>
 </div>
