<h2><%= t("home.change_city") %></h2>

<%= form_tag :controller => "locations", :action => "update_current_city" do%>

  <div class="field">
    <b><%= t("address.province") %></b><br/>
    <%= select_tag "select_province", options_for_select(get_provinces_for_select, current_city.province.id), :class => "select_province" %>
  </div>
  <div class="field">
    <b><%= t("address.city") %></b><br/>
    <%= select_tag "select_city", options_for_select(get_cities_of_provinces(current_city.province), current_city.id), :class => "select_city"  %>
  </div>
  <div class="actions">
    <%= submit_tag t("general.submit"), :class => "button" %>
  </div>
<% end %>
