<% title t("location.nearby") %>
<h3><%= @location.address %><span class="trivial"> (<%= current_user.profile.watched_distance %><%= t("location.miles") %>)</span></h3>
<span class="trivial"><%= t("location.show_nearby_tip") %></span>

<ul id="markers_list">

</ul>
<div class="block_inside">
  <div class="image_frame">

    <%= gmaps("map_options" => { "auto_adjust" => true },
              "markers" => { "data" => @markers_json, "options" => {"custom_infowindow_class" => "yellow", "list_container" => "markers_list" } },
              "circles" => { "data" => @circles_json}) %>
  </div>
</div>