<% title t("location.nearby") %>
<h3><%= @location.address %><span class="trivial"> (<%= current_user.profile.watched_distance %><%= t("location.miles") %>)</span></h3>
<span class="trivial"><%= t("location.show_nearby_tip") %></span>

<ul id="markers_list">
  <% @markers_data.to_a.each do |marker| %>
    <li><%= link_to marker["title"], review_path(:id => marker["id"]) %></li>
  <% end %>
</ul>
<div class="block_inside">
  <div class="image_frame">

    <%= gmaps("map_options" => { "auto_adjust" => true, "list_container" => "markers_list" },
              "markers" => { "data" => @markers_data.to_json },
              "circles" => { "data" => @circles_json}) %>
  </div>
</div>