<%= form_for(@image) do |f| %>
  <%= render "shared/error_messages", target: @image %>

  <div class="field">
    <%= f.label :caption %><br />
    <%= f.text_field :caption %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <b><%= t("images.image") %></b><br/>
    <%= image_tag "grey.gif", "class" => 'lazy', "data-original"=>  @image.picture.url %><br/>
    <%= f.file_field :picture  %> <br/>
  </div>
  <div class="actions">
    <%= f.submit class: "button" %>
  </div>
<% end %>
