<b><%= f.label :images, t("images.images") %></b>
<%= mark_required(item, :images) %>
<%= content_tag(:span, t("reviews.upload_image_tip")) if item.is_a?(Review) %>

<br/>
<div id="image_uploader"></div>
<div class="images">
    <%= render :partial => "images/image", :collection => item.images %>
</div>

<noscript><p><%= t("general.javascript_please") %></p></noscript>