<b><%= f.label :images, t("images.images") %><%= mark_required(item, :images) %></b>
<br/>

<%= hidden_field_tag "authenticity_token", form_authenticity_token, :id => "tokentag" %>

<div id="uploader">
    <noscript><p><%= t("general.javascript_please") %></p></noscript>
</div>

<div id="images_container" class="block">
    <%= render :partial => "images/single_image_field", :collection => item.images, :as => :image %>
</div>
