<b><%= f.label :images, t("images.images") %></b>
<%= mark_required(item, :images) %>
<%= content_tag(:span, t("reviews.upload_image_tip"), :class => "trivial") %>

<br/>
<div id="image_uploader"></div>
<div id="images_container" class="block round">
    <%= render :partial => "images/single_image_field", :collection => item.images, :as => :image %>
</div>

<noscript><p><%= t("general.javascript_please") %></p></noscript>