<h1><%= @image.caption %></h1>
<b><%= t("general.description") %></b>
<p><%= @image.description %></p>
<b><%= t("images.image") %></b><br/>
<%= image_tag "grey.gif", "class" => 'lazy', "data-original"=> @image.picture_url %><br/>
<%= @image.picture_url %><br/>

<div class="actions">
    <%= link_to t("general.edit"), edit_image_path(@image), class: "button" %>
</div>
