<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/themes/redmond/jquery-ui.css", "token-input-facebook", "facebox", "slimbox2", "application", "home", "tag_cloud", "comment", "top_menu", "kandytabs", "form", "/uploadify/uploadify", "jquery.jgrowl", "jquery.bubblepopup.v2.3.1", "thumbnails" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js", "jquery.rails.js",
                             "application", "jquery.tokeninput", "facebox", "slimbox2", "jquery.pageless.min", "jquery.jgrowl", "kandytabs.pack", "jquery.bubblepopup.v2.3.1.min", "jquery_validate/jquery.validate.min", "jquery_validate/localization/messages_cn",
                             "jquery.metadata"%>
  <%= yield :header_including if content_for?(:header_including) %>
  <%= include_tiny_mce_if_needed %>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <%= csrf_meta_tag %>
  <meta name="google-site-verification" content="GF_EoI9-lwWznbOBC3y1-joOBGeE7EBPEfui_-4vMZo" />
  <title><%= t("site.name") %><%= " " + @content_for_title if show_title? %></title>
</head>
<body>

<%= display_flash %>
<div id="main">
  <div id="container">
    <div class="skinny">
        <%= render "shared/top_menu" %>
        <% if home_page? %>
            <%= yield %>
        <% else %>
          <div id="content_area" class="block square">
            <%= content_tag(:h1, @content_for_title) if show_title?  %>
            <%= yield %>
          </div>
        <% end %>
	</div>
  </div>
</div>

<div id="footer">
  <div class="skinny">
    <div class="footer_column long">
        <h3><%= t("site.name") %></h3>
        <p><%= t("footer.general") %></p>
    </div>

    <div class="footer_column">
        <h3><%= t("footer.links") %></h3>
        <ul>
            <li><a href="http://railscasts.com/">Ruby On Rails</a></li>
        </ul>
    </div>

    <div class="footer_column">
        <h3><%= t("footer.links") %></h3>
        <ul>
            <li><a href="">Your site</a></li>
            <li><a href="">Your site</a></li>
        </ul>
    </div>
  </div>
</div>

<%= yield :deferred_javascript if content_for?(:deferred_javascript) %>
</body>
</html>
