<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/themes/redmond/jquery-ui.css", "application" %>
  <%= javascript_include_tag "application", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js" %>
  <%= yield :header_including if content_for?(:header_including) %>

  <!--<meta name="google-site-verification" content="GF_EoI9-lwWznbOBC3y1-joOBGeE7EBPEfui_-4vMZo" />-->
  <% if has_meta_tag? %>
      <meta name="description" content="<%= @meta_tag %>" />
  <% end %>
  <%= csrf_meta_tag %>
  <title>
    <% if home_page? %>
        <%= [t("site.name"), t("site.description"), t("site.mark")].join(' - ') %>
    <% else %>
        <%= @content_for_title + ' - ' if show_title? %><%= t("site.mark") %>
    <% end %>
    <%= t("site.name") %><%= " " + @content_for_title if show_title? %></title>
</head>
<body>

<%= display_flash %>
<div id="main" class="container_12">
  <div id="container">
    <%= render "shared/quick_login"  %>
    <%= render "shared/top_menu" %>
    <div id="content_area" class="block">
        <%= content_tag(:h1, @content_for_title, :class => "title") if show_title?  %>
        <%= content_for?(:content) ? yield(:content) : yield %>
    </div>
  </div>
</div>

<div id="footer">
  <div class="skinny">
    <div class="footer_column long">
        <h3><%= t("site.name") %> <%= t("footer.general") %></h3>
    </div>

    <div class="footer_column">
        <h3><%= t("footer.links") %></h3>
        <ul>
            <li><a href="http://railscasts.com/">Ruby On Rails</a></li>
        </ul>
    </div>

    <div class="footer_column">
        <h3><%= t("footer.links") %></h3>
        <ul>
            <li><a href="">Your site</a></li>
            <li><a href="">Your site</a></li>
        </ul>
    </div>
  </div>
</div>

<%= yield :deferred_javascript if content_for?(:deferred_javascript) %>
</body>
</html>
