<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/themes/redmond/jquery-ui.css", "token-input-facebook", "uniform.aristo", "facebox", "slimbox2", "application", "home", "comment", "tab_control", "form", "/uploadify/uploadify" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js", "jquery.rails.js",
                             "application", "jquery.tokeninput", "jquery.uniform.min", "facebox", "slimbox2", "jquery.pageless.min",
                             "jquery.metadata"%>
  <%= yield :header_including if content_for?(:header_including) %>
  <%= include_tiny_mce_if_needed %>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <%= csrf_meta_tag %>
  <title><%= t("site.name") %><%= ": #{@sub_title}" if @sub_title.present? %></title>
</head>
<body>

<!-- BEGIN :: Notice Board -->
<div id="notice_board">
   <% flash.each do |name, msg| %>
       <%= content_tag :div, :class => "flash_#{name}" do -%>
           <%= msg %>
       <% end -%>
   <% end %>
</div>
<!-- //END :: Notice Board -->

<div id="main">
    <div class="container">
        <div id="header">
            <ul class="menu" id="top_menu">
                <li><%= link_to t("menu.home"), root_path %></li>
                <li><%= link_to t("menu.articles"), articles_path %></li>
                <li><%= link_to t("menu.reviews"), reviews_path %></li>
                <li><%= link_to t("menu.badges"), badges_path %></li>
                <% if current_user %>
                    <li><%= link_to t("menu.prfile"), profile_edit_path %></li>
                    <li><%= link_to t("authentication.log_out"), log_out_path %></li>
                <% else %>
                    <li><%= link_to t("authentication.log_in"), new_sessions_path %></li>
                    <li><%= link_to t("authentication.sign_up"), new_user_path %></li>
                <% end %>
            </ul>
            <div id="logo">
                <h1><%= t("site.name") %></h1>
                <small><%= t("site.description") %></small>
            </div>
        </div> <!--end of header -->

        <div id="content_block" class="block">
            <%= yield %>
        </div> <!--end of content -->

	</div> <!--end of container -->
</div> <!--end of main -->

<div id="footer">
    <div class="container">

        <div class="footer_column long">
            <h3>银筷子</h3>
            <p>需要进一步使用Photoshop来美化页面。</p>
        </div>

        <div class="footer_column">
            <h3>More Links</h3>
            <ul>
                <li><a href="http://vectortuts.com">VECTORTUTS</a></li>
                <li><a href="http://activeden.net">FlashDen</a></li>
                <li><a href="http://audiojungle.net">AudioJungle</a></li>
                <li><a href="http://freelanceswitch.com">FreelanceSwitch</a></li>
                <li><a href="http://faveup.com">FaveUp</a></li>
            </ul>
        </div>

        <div class="footer_column">
            <h3>RSS</h3>
            <ul>
                <li><a href="">RSS Feed</a></li>
                <li><a href="">What is RSS?</a></li>
            </ul>
        </div>
    </div>
</div>

<%= yield :deferred_javascript if content_for?(:deferred_javascript) %>
</body>
</html>
