<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/themes/redmond/jquery-ui.css", "token-input-facebook", "uniform.aristo", "facebox", "slimbox2", "application", "home", "tag_cloud", "comment", "kandytabs", "form", "/uploadify/uploadify", "jquery.jgrowl", "jquery.bubblepopup.v2.3.1" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js", "jquery.rails.js",
                             "application", "jquery.tokeninput", "jquery.uniform.min", "facebox", "slimbox2", "jquery.pageless.min", "jquery.jgrowl", "kandytabs.pack", "jquery.bubblepopup.v2.3.1.min",
                             "jquery.metadata"%>
  <%= yield :header_including if content_for?(:header_including) %>
  <%= include_tiny_mce_if_needed %>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <%= csrf_meta_tag %>
  <title><%= t("site.name") %><%= " " + @content_for_title if show_title? %></title>
</head>
<body>

<%= display_flash %>

    <div id="header">
        <div class="container">
            <div id="logo">
                <%= link_to image_tag("yin11_logo.png", :border => 0, :width => 211, :height => 76), root_path  %>
                <h1><%= t("site.name") %></h1>
                <small><%= t("site.description") %></small>
            </div>
            <div id="quick_auth">
              <% unless current_user %>
                <%= render "shared/quick_login" %>
              <% end %>
            </div>
        </div>
    </div> <!--end of header -->

    <div class="container">
        <% unless hide_top_menu? %>
            <%= render "shared/top_menu" %>
        <% end %>

        <% if home_page? %>
            <%= yield %>
        <% else %>
          <div class="block square">
            <%= content_tag(:h1, @content_for_title) if show_title?  %>
            <%= yield %>
          </div>
        <% end %>
	</div>

    <div id="footer">
      <div class="container">
        <div class="footer_column long">
            <h3>银筷子</h3>
            <p>需要进一步使用Photoshop来美化页面。</p>
        </div>

        <div class="footer_column">
            <h3>More Links</h3>
            <ul>
                <li><a href="http://vectortuts.com">VECTORTUTS</a></li>
                <li><a href="http://activeden.net">FlashDen</a></li>
                <li><a href="http://audiojungle.net">AudioJungle</a></li>
                <li><a href="http://freelanceswitch.com">FreelanceSwitch</a></li>
                <li><a href="http://faveup.com">FaveUp</a></li>
            </ul>
        </div>

        <div class="footer_column">
            <h3>RSS</h3>
            <ul>
                <li><a href="">RSS Feed</a></li>
                <li><a href="">What is RSS?</a></li>
            </ul>
        </div>
      </div>
    </div>

<%= yield :deferred_javascript if content_for?(:deferred_javascript) %>
</body>
</html>
