<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <%= stylesheet_link_tag "application" %>
    <!--"http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/themes/redmond/jquery-ui.css" -->
    <%= yield :head if content_for?(:head) %>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <% if has_meta_tag? %>
      <meta name="description" content="<%= @meta_tag %>" />
    <% end %>
    <%= csrf_meta_tag %>
    <title>
        <%= (@content_for_title + '_') if @content_for_title %><%= [t("site.name"), t("site.description")].join('_') %>
    </title>
    <% if request.host.include? "chixinbugai.com" %>
        <!--weibo verification-->
        <meta property="wb:webmaster" content="3cb8f8b3350ab818" />
        <meta name="google-site-verification" content="nWzf6pxwY2_AJjgrdYq1wfjcuU1xzJvFtJXD9M1PI8k" />

        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-29310451-1']);
            _gaq.push(['_trackPageview']);

            (function() {
              var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
              ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    <% end %>
</head>
<body>

<%= render "shared/header" %>
<div id="main" class="container_12 mt10">
  <div id="container">
    <div id="content_area" class="block">
        <%= content_tag(:h1, @content_for_title, :class => "mb5") if show_title?  %>
        <%= content_for?(:content) ? yield(:content) : yield %>
    </div>
  </div>
</div>

<div id="footer">
  <div class="container_12 p5">
    <div class="grid_6">
        <h3><%= t("site.name") %></h3>
    </div>

    <div class="grid_3">
        <% unless request.host.include? "chixinbugai.com" %>
            友情链接
            <ul>
                <li><a href="http://chixinbugai.com/">吃心不改</a></li>
            </ul>
        <% end %>
    </div>

    <div class="grid_3">
        <ul>
            <li><%= new_tab_link_to t("syncs.sites.sina"), YIN11_SINA_WEIBO, class: "auth_btn_16 via_sina_small" %><%= new_tab_link_to t("syncs.follow_us_on_sina"), YIN11_SINA_WEIBO %></li>
        </ul>
    </div>
  </div>
</div>

<%= hidden_field_tag "current_user_id", current_user.id.to_s, id: "current_user_id" if current_user %>

<%= javascript_include_tag "application" %>
<%= display_flash %>
<%= yield :foot if content_for?(:foot) %>

</body>
</html>
