<!DOCTYPE html>
<html>
<head>
  <title>
    <% if @page and (%w( show published print ).include?(params['action'])) %>
      <%= @show_diff ? ' (changes)' : '' %>
    <% else %>
      <%= @title %>
    <% end %>
  </title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js", "jquery.rails.js" %>
  <%= csrf_meta_tag %>
</head>

<body>

<div id="Container">
    <div id="Content">
        <h1 id="pageName">
        <% if @page and %w( show published print ).include?(@action_name) %>
          <%= (@show_diff ? ' (changes)' : '') %>
        <% else %>
          <%= @title %>
        <% end %>
        </h1>

        <div class="navigation">
            <span class="skipNav"><a href='#navEnd'>Skip the Navigation Links</a> | </span>
        <%- if params['action'] != 'published' then -%>
            <%= list_item 'Home Page', {:action => 'index'}, 'Home, Sweet Home', 'H' %> |
            <%= list_item 'All Pages', {:action => 'list'}, 'Alphabetically sorted list of pages', 'A' %> |
            <%= form_tag({:action => 'search'},{'id' => 'navigationSearchForm', 'method' => 'get', 'accept-charset' => 'utf-8' }) do %>
                <%= text_field_tag "query", "Search"  %>
                <%= submit_tag t("wiki.search") %>
            <% end %>
        <% else %>
            <%= list_item 'Home Page', {:action => 'index'}, 'Home, Sweet Home', 'H' %> |
            <%= list_item 'Feeds', {:action => 'feeds'}, 'Subscribe to changes by Atom' %>
        <% end %>
          <span id='navEnd'></span>
        </div>


        <!-- BEGIN :: Notice Board -->
        <div id="notice_board">
            <% flash.each do |name, msg| %>
                <%= content_tag :div, :class => "flash_#{name}" do -%>
                    <%= msg %>
                <% end -%>
            <% end %>
            </div>
        <!-- //END :: Notice Board -->

        <%= yield %>

    </div> <!-- Content -->
</div> <!-- Container -->
</body>
</html>
